[2019-07-23 16:51] designatednerd commented on #660
@victormihaita can you paste your build phase in here? I'm thinking there might be some stray quotes or somesuch going on.

[2019-07-23 17:20] victormihaita commented on #660
`# Do some magic so we can make sure `FRAMEWORK_SEARCH_PATHS` works correctly when there's a space in the scheme or the folder name.
QUOTED_FRAMEWORK_SEARCH_PATHS=\"$(echo $FRAMEWORK_SEARCH_PATHS | tr -d '"' | sed -e 's/ \//" "\//g')\"

# Get the first result searching for the framework
APOLLO_FRAMEWORK_PATH="$(eval find ${QUOTED_FRAMEWORK_SEARCH_PATHS} -name "Apollo.framework" -maxdepth 1 -print

[2019-07-23 18:59] designatednerd commented on #660
Hm. Yeah that looks correct - @victormihaita I'm going to open a separate issue so you and I can hunt your issue down and @Dino4674 and I can continue to hunt his down

[2019-07-23 19:02] designatednerd opened #661 "Build issues with 0.13.0"
@victormihaita was reporting some issues in #660 that I think are different than the main issue in that thread. This is his build script:

[code]

He also [says](https://github.com/apollographql/apollo-ios/issues/660#issuecomment-514227975):

[2019-07-23 19:03] designatednerd commented on #661
@victormihaita Can you add a couple details:

- Are you using Carthage or drag-n-drop to integrate? Instructions for [Cocoapods](https://www.apollographql.com/docs/ios/installation/#if-you-are-integrating-apollo-using-cocoapods) are pretty obviously different so I'm assuming that's not how you're integrating, but if you are, you should definitely follow those instructions instead.
- What is the ex

[2019-07-23 19:05] designatednerd commented on #660
@Dino4674 I think I missed something critical here earlier - I'm not actually positive we're able to parse `.gql` schema files completely correctly. Can you see if getting a `.json` file works better for you?

[2019-07-23 19:11] victormihaita commented on #661
I don't use Carthage and the error is:
[code]

[2019-07-23 19:15] designatednerd commented on #661
@victormihaita Are you using the manual integration then?

If you add an `echo $(pwd)` right before the last line, are you getting the correct directory that holds (directly or indirectly) all of your GraphQL files?

[2019-07-23 19:17] cmcaboy commented on #660
@designatednerd We are following the docs line by line. It instructs us to add the .graphql files as the last step, but this new version assumes you already have .graphql files during the build steps, which sounds like a communication miss. We are using a .json file format and am running into the same issue as @Dino4674.

Let us know if you need any information from us to help track down @Dino4674

[2019-07-23 19:19] designatednerd commented on #660
@cmcaboy Can you link me to what you're having trouble with - I thought I'd changed that order but it's very possible I missed someplace where the instructions are different.

[2019-07-23 19:21] victormihaita commented on #661
I get the root path to my project if I run `echo $(pwd)`
- My .graphql files are  the root project under this path:
`Root/Sources/Architecture/Data/GraphQL`

[2019-07-23 19:24] akhilpothana commented on #660
@designatednerd @cmcaboy and I are working together. Trying to get a basic iOS project running. We're following the installation guide to the t. I downloded the schema.json, added it to my target, copied the build script and tried to build my project but I'm getting the same error as [this](https://github.com/apollographql/apollo-ios/issues/660#issuecomment-514204923)

[2019-07-23 19:25] victormihaita commented on #661
I found the issue. If I switch to this it will work:
`--includes=./Sources/Architecture/Data/GraphQL/*.graphql`

[2019-07-23 19:25] designatednerd commented on #660
Yep, that's because there are no GraphQL queries in your codebase at the moment - I'm updating the docs as we speak

[2019-07-23 19:26] designatednerd commented on #660
If you go through to the "Creating `.graphql` files with your queries or mutations" section, that should get that issue resolved. Basically, once there's a `.graphql` file with a valid query in there, it should stop that whining

[2019-07-23 19:26] victormihaita commented on #661
But in my case, the GraphQL folder includes other folders that have .graphql files.
If I include this: `--includes=./Sources/Architecture/Data/GraphQL/*.graphql` it's not going to work, because the .graphql file is still under a child folder.

[2019-07-23 19:27] cmcaboy commented on #660
@designatednerd Awesome! Thank you so much.

[2019-07-23 19:28] victormihaita commented on #661
so the issue is that the script is not searching under the child folders, and instead is finding only the direct .graphql files in a directory

[2019-07-23 19:37] designatednerd commented on #660
@cmcaboy @akhilpothana Take a look at #662, let me know if you're still having issues after that order swap

[2019-07-23 19:38] designatednerd commented on #661
Hm - I don't think that's intended behavior, I'm pretty sure the glob is supposed to search child directories as well. I'll ping the CLI team and see what I can figure out.

[2019-07-23 19:47] cmcaboy commented on #660
@designatednerd We did get passed that error, but we ran into another error. I'm not sure if it is related. We may be missing something.

[code]

[2019-07-23 19:58] designatednerd commented on #660
Yep, check out the release notes for [0.13.0](https://github.com/apollographql/apollo-ios/releases) - just nuke your local `node_modules` that's within your source root and that'll check everything back out.

I'll add that to the general docs.

[2019-07-23 20:06] cmcaboy commented on #660
@designatednerd That worked! Thank you!

[2019-07-23 20:08] JakeDawkins commented on #661
Hi @victormihaita 👋 Can you try changing your glob to use `**` like `--includes=./Sources/Architecture/Data/GraphQL/**/*.graphql`?

I _think_ that's the issue you're having. The glob you have only searches that one folder, the `**` is to search all folders under that path.

Alternatively, you could probably also use `--includes=./**/*.graphql` or `--includes=**/*.graphql` as long as there are no s

[2019-07-23 20:24] victormihaita commented on #661
@JakeDawkins All the solutions that you provided worked. Thank you :)
@designatednerd Thanks for the support. Keep up the great work!

[2019-07-23 20:36] Dino4674 commented on #660
@designatednerd I tried with different `schema.json` (link bellow) and code generated successfully with newest Apollo CLI and Apollo pod. I also had to add at least one `.graphql` file for build to succeed and it was the first time I saw something inside `API.swift` instead of the empty file with single `import Apollo` header.

We will need to convert our schema to `json` since Apollo iOS library

[2019-07-23 20:47] designatednerd commented on #661
Updated the glob in #662 to make sure it searches recursively

[2019-07-23 20:53] designatednerd commented on #660
@Dino4674  I've updated the instructions for setup in #662 to make sure you add a `.graphql` file *before* setting up the build step, and to have better info about how to troubleshoot if you get some of the errors you were getting.

I would say your question about SDL format support is probably a better one for the [apollo-tooling](https://github.com/apollographql/apollo-tooling) repo - that's the

[2019-07-23 22:43] akhilpothana opened #663 "Can't access result from mutation"
I am trying to make a simple mutation to register a user. When I call `.perform(mutation: GraphQLMutation)`, it works and a user is created in the database. I'm trying to now get information back from the server using the code below.

[code]

When I only access and print `result` in my mutation call, this is the data I get back, so I know I'm getting something:

But when I try to access any of the

[2019-07-23 22:46] casey-chow commented on #663
Are you on 0.13.0? If so, see [release notes](https://github.com/apollographql/apollo-ios/releases/tag/0.13.0):

[2019-07-23 22:48] akhilpothana commented on #663
Ugh this must be it. I was reading the notes earlier in relation to a build issue I was having and totally missed this bullet point. I will try this out. Thank you!

[2019-07-24 06:59] sovannarithsok opened #664 "Command PhaseScriptExecution failed with a nonzero exit code ( on version 0.13.0)"
Currently I use **Apollo 0.11.1** with pod, It works well. After I upgrade to a new version **0.13.0** I got error when build as below:

    Duplicate "graphql" modules cannot be used at the same time since different
    versions may have different capabilities and behavior. The data from one
    version used in the function from another could produce confusing and
    spurious results.
    at ins

[2019-07-24 07:05] victormihaita commented on #664
I think you have to delete all the `node_modules`, change the build phase to the new one and that's it.

[2019-07-24 07:38] designatednerd commented on #661
Gonna close this out since that's now merged to master and live in the documentation. Please feel free to reopen if you run into further issues!

[2019-07-24 07:38] #661 closed

[2019-07-24 07:39] designatednerd commented on #660
@Dino4674 I'm gonna close this out since I've merged the updated instructions in #662 and your remaining question is one that needs to be addressed to the apollo-tooling repo - please feel free to open another issue if you run into more problems!

[2019-07-24 07:39] #660 closed

[2019-07-24 07:40] designatednerd commented on #663
@akhilpothana please let me know if this worked!

[2019-07-24 07:41] designatednerd commented on #664
@sovannarithsok  - Yep, if you look for the `node_modules` that lives in your source root and delete it, the next time you rebuild it'll check out a fresh copy and you won't have the conflict anymore. Please confirm that this worked and we can close this one out!

[2019-07-24 07:56] designatednerd commented on #568
Hey @MKGitHub @dannymout @blommegard are y'all still having these issues with lib version 0.13.0 and Xcode 11 b4? I was at least able to get the library building and passing tests on b4 yesterday, but it'd be helpful to know if you're still seeing problems (and if you are, if you're building with Carthage, Cocoapods, or something else).

[2019-07-24 07:57] designatednerd commented on #531
This has been addressed by switching to the updated code generation in 0.13.0!

[2019-07-24 07:57] #531 closed

[2019-07-24 08:10] sovannarithsok commented on #664
@designatednerd @victormihaita I already tried to replace a new script as below:

    SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
    cd "${SRCROOT}/${TARGET_NAME}"
    "${SCRIPT_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --
    includes=./**/*.graphql --localSchemaFile="schema.json" API.swift

And also delete node module in source project, delete Derived data, clean project

[2019-07-24 08:17] designatednerd commented on #664
So that appears to be a different error - `Error: Can only create NonNull of a Nullable GraphQLType but got: EventInput.`. Have you made any changes to your `.graphql` files since they were successfully building with the old version of the CLI?

[2019-07-24 08:24] designatednerd commented on #535
Since I haven't heard back here in a couple weeks, I'm going to close this one out. If you're still running into problems, please feel free to reopen this issue with more details or open a new one. Thank you!

[2019-07-24 08:24] #535 closed

[2019-07-24 08:26] designatednerd commented on #473
Documentation of this as expected behavior was added and shipped as part of `0.13.0` - gonna close this out, thanks for bringing this up!

[2019-07-24 08:26] #473 closed

[2019-07-24 08:26] sovannarithsok commented on #664
@designatednerd I didn't change any code in my   `.graphql` files. Why it affect to them?

[2019-07-24 08:30] designatednerd commented on #432
@mrackwitz We've upgraded to a new version of the CLI with version 0.13.0 - is that still causing issues? If it is, I'd still recommend opening an issue on the Tooling repo, but it'd be helpful to know.

[2019-07-24 08:30] noahemmet opened #665 "Error: Introspection result missing directive locations"
Hi! I'm upgrading to [version 0.13.0](https://github.com/apollographql/apollo-ios/releases/tag/0.13.0) and I'm running into some issues with the build script. When I run it, I get the following error:

[code]

My build script is set up like so:

[code]

A few notes:
- I'm using Xcode 13 and Swift Package Manager, which was working with version 0.12.0.
- I'm not using any `@directives` in my `.grap

[2019-07-24 08:33] designatednerd commented on #664
Just trying to narrow down what might be causing the problem! Are you able to tell which `.graphql` file is making it throw this error?

[2019-07-24 08:35] noahemmet commented on #665
Looks like the error message was added in https://github.com/graphql/graphql-js/pull/1429/, in response to https://github.com/dotansimha/graphql-code-generator/issues/556#issue-356000347.

So yeah, I think it's a backend issue. It's a bit late over here and I'm a bit blurry, so I'll tackle this in the morning, but any thoughts on how much backend work this might be? I can't tell how much the intro

[2019-07-24 08:37] designatednerd commented on #665
Definitely seems like the error is in parsing the schema - if you try to parse it locally using the apollo CLI, is it parsing?

I honestly haven't the faintest idea how much work that is on the BE, I'm pretty purely a mobile dev. I know the team has tried to keep the changes as minimal as possible but I'd look at the migration guides from 1.x to 2.x for the CLI, that might have some suggestions

[2019-07-24 08:37] designatednerd commented on #665
@noahemmet Since it seems like this is an issue with some combo of backend and tooling rather than with iOS specifically, do you mind if we close this out?

[2019-07-24 08:38] noahemmet commented on #665
Go for it!

[2019-07-24 08:38] #665 closed

[2019-07-24 08:40] sovannarithsok commented on #664
@debergalis I have 1 `graphql` file called `Event.graphql` contains:

[code]

Then build failed with EventInput above.

[2019-07-24 08:44] designatednerd commented on #664
What happens if you remove the `!` on the parameter in `AddNewEvent`? It looks like the error is essentially saying "Can't force-unwrap something that's not optional"

[2019-07-24 08:55] sovannarithsok commented on #664
@designatednerd after remove `!` I get a new error.
`GraphQLError: Cannot query field "addEvent" on type "Mutation"`

In my `schema.json` also contains that mutation.

[2019-07-24 09:02] designatednerd commented on #664
Yeah that's damned weird - I'll ping some colleagues and see if they've got any ideas as well

[2019-07-24 09:21] martijnwalraven commented on #664
@sovannarithsok What does your schema look like? Does your `Mutation` type contain an `addEvent` field?

[2019-07-24 09:41] sovannarithsok commented on #664
@martijnwalraven Sure it contains `addEvent` I tried add `?` it show another error.

[code]

[2019-07-24 09:44] designatednerd commented on #664
Hm - that's odd. are you using `--input=./**/*.graphql`? We ran into some issues yesterday where the previous glob I'd had in the set up wasn't searching recursively. I updated the docs but maybe you have the old glob?

[2019-07-24 09:48] sovannarithsok commented on #664
@designatednerd  in apollo documentation I see only `--includes=./**/*.graphql` not  `--input=./**/*.graphql`

[2019-07-24 10:24] hfabisiak commented on #616
How should the script in build phases look like if I'm using Swift Package Manager and app is targeted for macOS and iOS?

[2019-07-24 10:32] designatednerd commented on #664
🤦‍♀️`--includes` is what I meant - sorry, been working with a bunch of different CLIs and I keep getting them mixed up.

[2019-07-24 12:26] martijnwalraven commented on #664
@sovannarithsok `?` is not valid GraphQL syntax, so that may explain the error you're getting after adding that, it won't be able to parse your file.

Could you post the `Mutation` and `EventInput ` types from your schema here just in case?

[2019-07-24 13:03] sam961 commented on #664
Iam facing this error  after i updated pod to latest version
``++ npx --no-install apollo codegen:generate --target=swift '--includes=./**/*.graphql' --localSchemaFile=schema.json API.swift
Loading Apollo Project [started]
Loading Apollo Project [completed]
Generating query files [started]
Generating query files with 'swift' target [title changed]
file:///Users/samkad/Desktop/EasyGifts/EasyGifts-N

[2019-07-24 13:49] designatednerd commented on #664
@sam961 I recall getting something like this when I wasn't passing the correct path to my `schema.json` file - can you double check that a) The path hasn't changed and b) You're passing the path using quotation marks? ie, `--localSchemaFile="path/to/schema.json"`

[2019-07-24 13:53] sam961 commented on #664
the schema.json is inside the folder of the ios project Ex: Desktop/MainProject/A/schema.json should i add path ?

[2019-07-24 13:56] designatednerd commented on #664
@sam961 The path should be relative to wherever you're running the CLI from. So if `MainProject` is your root, your path would be  `"A/schema.json"`

[2019-07-24 14:00] sam961 commented on #664
<img width="597" alt="Screen Shot 2019-07-24 at 4 58 38 PM" src="https://user-images.githubusercontent.com/4921874/61799747-576ffc00-ae34-11e9-9089-9e392b4a1176.png">

I a screenshot for the path ... i added the path as u stated but i got this
`Error: Error initializing Apollo GraphQL project "Unnamed Project": Error:
 ›   Error in "Loading schema for Unnamed Project": Error: Unable to read file

[2019-07-24 14:04] sam961 commented on #664
I added the schema to the root ... but i dont know why iam getting this error too `++ npx --no-install apollo codegen:generate --target=swift '--includes=./**/*.graphql' --localSchemaFile=schema.json API.swift
Loading Apollo Project [started]
Loading Apollo Project [completed]
Generating query files [started]
Generating query files with 'swift' target [title changed]
file:///Users/samkad/Desktop/E

[2019-07-24 14:04] designatednerd commented on #664
It looks like it's looking specifically for a file called `EasyGifts-Newschema.json` - if the file you're trying to  load is `schema.json` and it's in the `EasyGifts-New` folder (can't really tell from this screenshot) you need to add a slash in there - `EasyGifts-New/schema.json`.

^This is all assuming you're running the script from the `EasyGifts` folder. If you're running from the `EasyGifts-N

[2019-07-24 14:07] designatednerd commented on #664
With the stuff you just posted it does seem like it's still not quite finding the schema properly. Can you please paste in your exact build script?

[2019-07-24 14:07] sam961 commented on #664
[code]
This is from the documentation

[2019-07-24 14:09] sam961 commented on #664
I removed the node_modules from the project then i run this command :
`sudo npm install -g apollo` inside the PROJECT
also  i updated the pod to 0.13.0
is it correct procedure ?

[2019-07-24 14:10] designatednerd commented on #664
OK, just trying to narrow down possibilities of what's happening. If you're still getting that error when your `schema.json` file is in the same folder as the script is being run from (basically whatever `echo $(pwd)` returns if you add it right below the `cd` command), then it sounds like you may need to re-download a newer version of the schema from your backend.

And the pod has to be 0.13.0 fo

[2019-07-24 14:13] sam961 commented on #664
node_modules is deleted from the project .... could these node_modules be in another location ?

[2019-07-24 14:14] designatednerd commented on #616
@hfabisiak It *should* be able to use the same build phase as the carthage/drag-n-drop one [in the documentation](https://www.apollographql.com/docs/ios/installation/#if-youre-not-integrating-apollo-using-cocoapods). If it doesn't work can you please open a new issue?

[2019-07-24 14:15] designatednerd commented on #664
If you've installed globally and the build script is finding it, then yes, they're in another location but you don't need to delete them. Are you able to build with v0.13.0? If not, which error are you receiving?

[2019-07-24 14:18] DmitryVanyshkin opened #667 "Command PhaseScriptExecution failed with a nonzero exit code (0.13.0)"
I update apollo-iOS to a new version (0.13.0)
When I trying to make codegen for schema.json file I get error while running shell-script
i recieve message like this one:
`++ npx --no-install apollo codegen:generate --target=swift '--includes=./**/*.graphql' --localSchemaFile=schema.json API.swift
Loading Apollo Project [started]
Loading Apollo Project [completed]
Generating query files [started]
Ge

[2019-07-24 14:20] sam961 commented on #664
Actually i cannot figure what is going on
I entered this : `MacBook-Pro:~ samkad$ apollo -v
apollo/2.16.1 darwin-x64 node-v10.15.1`
outside the root file ... and the command still work ....
My project now has no node_modules
I added the schema.json to the root and inside  another folder in order to make sure that the localschema path is correct...
Now i got this error `++ npx --no-install apollo c

[2019-07-24 14:22] sam961 commented on #664
Note : the graphql files are inside a folder ... could this be the problem ?
Desktop/Project/schema.json
Desktop/Project/A/schema.json
Desktop/Project/A/Graphql/*.graphql

[2019-07-24 14:33] designatednerd commented on #667
Hey Dmitry, have you added any `.grapqhl` query files to your project yet? It looks like it won't generate any code because it can't find the files.

[2019-07-24 14:35] designatednerd commented on #664
So if you're running the command from `Desktop/Project` that should theoretically find `Desktop/Project/schema.json`. Can you double-check what folder this is running in by adding `echo $(pwd)` between the line where you `cd` and the line where the script is run?

[2019-07-24 14:38] DmitryVanyshkin commented on #667
Yes, I have already added them to my project. I use apollo-ios for 3 months and it generated API.swift successfully in the previous version but after update of schema.json and apollo-ios version I get some problems.
<img width="1440" alt="Снимок экрана 2019-07-24 в 17 34 34" src="https://user-images.githubusercontent.com/43039535/61802539-4ecdf480-ae39-11e9-8521-73a173cd50a7.png">

[2019-07-24 14:46] designatednerd commented on #667
It looks like it's not finding them - that's the `→ No operations or fragments found to generate code for` error. it looks like you're using the proper glob to search recursively for them, so that's not the issue. Can you validate that when you add `echo $(pwd)` right after the next-to-last line of the script that `schema.json` is in that same directory? Otherwise you'd need to pass the relative p

[2019-07-24 15:11] DmitryVanyshkin commented on #667
Thanks, when I add `echo $(pwd)` i get out of build errors, but no API.swift file generated now

[2019-07-24 15:21] designatednerd commented on #667
That's...weird. `echo $(pwd)` should just print out the working directory, but it shouldn't cause the errors to stop. Are you at least getting the correct working directory? ex, if you change it to ` echo "Working dir = $(pwd)"` does what gets printed there seem correct?

[2019-07-24 16:09] DmitryVanyshkin commented on #667
Yes, it prints correct directory, where schema.json and .graphql file and .swift files are placed

[2019-07-24 17:32] sam961 commented on #664
The path for the echo was :
/Users/samkad/Desktop/EasyGifts/EasyGifts-New

[2019-07-24 19:06] joninsky commented on #667
I'm having the same issue. I used the `echo $(pwd)` command and I am in the same directory as my `schema.json` file. I also re-introspected the `schema.json` file from my server.

I also upgraded to Xcode 10.3 this morning. There was a separate Xcode 10.3 issue I had to fix related to simulators not showing up. Finally, `.graphql` syntax highlighting stopped working in Xcode 10.3 eventhough the ap

[2019-07-24 19:34] Kaakati commented on #664
Hello @designatednerd

I'm facing a problem where it says:
-
Generic parameter 'Query' could not be inferred
Generic parameter 'Mutation' could not be inferred

nothing really changed in the GraphQL files, except that I updated to 0.13.0 and downloaded the Schema from the backend.

[2019-07-24 19:37] designatednerd commented on #667
@DmitryVanyshkin And if you comment out the `echo` line does it go back to giving you the same errors you were getting before? What happens if you do the Derived Data Dance (quit Xcode, delete `~/Library/Developer/Xcode/DerivedData`, start Xcode again, rebuild)?

[2019-07-24 19:37] designatednerd commented on #667
@joninsky The 10.3 syntax highlighting issue is related to [UUIDs in the plugin](https://github.com/apollographql/xcode-graphql/pull/20) - hopefully I can get that merged and updated shortly. Can you link to which of Dmitry's messages contains the error you're getting?

[2019-07-24 19:40] designatednerd commented on #664
@Kaakati Can you please double-check the update instructions in the [0.13.0 release notes](https://github.com/apollographql/apollo-ios/releases/tag/0.13.0) and then open a new issue if you're still having problems? I'm already having trouble trying to keep things straight here 😛

[2019-07-24 19:43] designatednerd commented on #664
@sam961 If you're running it from that folder and `schema.json` is directly in that folder (NOT in a subfolder of `EasyGifts-New`, it should be picking it up.

Can you do me a favor and try the Derived Data Dance (quit xcode, delete `~/Library/Developer/Xcode/DerivedData`, restart Xcode, rebuild)? There's something REALLY bizarre going on here and maybe that'll clear out some cobwebs.

[2019-07-24 19:59] sam961 commented on #664
Yes the `schema.json` is inside `EasyGifts-New`
From the error it seems it is reading it .... but iam stuck in that error
`Unknown fragment "ProductDetails"`
I tried deleting the derived data ,,, and restarted the laptop
also i tried to downgrade to 0.10.0
Now iam tring to remove cocoapods and reinstalling it
:(

[2019-07-24 20:06] designatednerd commented on #664
You should only need to downgrade to 0.12.0 to have it use the old CLI. I don't know that reinstalling coocapods will do anything because the error is coming from the typescript processor installed via NPM

[2019-07-24 20:14] AnthonyMDev commented on #516
It seems to me like the solution would just be having the watcher call `cancel()` on itself in it's own `deinit` block.

[2019-07-24 20:16] designatednerd commented on #516
If it's being retained by the Apollo store, wouldn't `deinit` never get called?

[2019-07-24 20:31] joninsky commented on #667
I deleted the `node_modules` folder in my project and it will successfully do the code generation now.

However, I am at a new issue where all my queries that I am passing into the `ApolloClient`'s are compile time flagged as `Controller.swift:47:28: Generic parameter 'Query' could not be inferred`

It looks like some people on the other thread are having the same issue.

[2019-07-24 20:40] designatednerd commented on #667
@joninsky and anyone else running into that issue: Please  see the [0.13.0 release notes](https://github.com/apollographql/apollo-ios/releases/tag/0.13.0) - that's got info on how to fix that (spoiler: it's about the change from a tuple to a `Result`)

[2019-07-24 20:48] trevor-scheer commented on #664
@sam961 can you paste
1) the fragment it's not able to find? `fragment ProductDetails { ... }`
2) the path where that fragment lives
3) the exact command you're running (I'm interested in the `--includes` flag)

If either of you can create and share a minimum reproduction, that would be very helpful for us to correctly (and quickly!) identify the issue.

[2019-07-24 21:02] designatednerd commented on #664
I've been working with @sam961 directly and it appears his issue was that the `.graphql` file that had, among other things, the `ProductDetails` fragment, had a syntax error at the top and was not getting parsed correctly. Interestingly, the `.graphql` file that had the syntax error was never mentioned in the errors we hit.

I figured this out this by pasting the contents of the file that containe

[2019-07-24 21:06] DmitryVanyshkin commented on #667
Yes, if I comment echo line the same error goes back. About DerivedData - there is no such folder, but I use clean Build (cmd+shift+K) and it doesn't resolve my problem.

[2019-07-24 21:14] joninsky commented on #667
Thank you @designatednerd ! So happy to have someone working full time on this library. 🙏🏽🙏🏽🙏🏽 I'm thrilled we have release notes with breaking changes now!

[2019-07-24 21:16] designatednerd commented on #667
@DmitryVanyshkin Yeah theoretically that and deleting Derived Data do the same thing, in practice I've found sometimes I still need to nuke it from orbit, just to be sure.

Can you send me your project via email? ellen at apollographql dot com. I'll try to take a look in the morning.

[2019-07-24 21:20] AnthonyMDev commented on #516
Ahhhh I looked at this last quite a while ago. I forgot about that part. Yes, we would need to figure that out.

[2019-07-24 21:38] designatednerd commented on #667
OK the look was quicker than I thought - seems like there was a syntax error in the `.graphql` file (similar to #664), and fixing that brought up a whole mess of other issues.

Anyone else reading: If you're having problems with this, I've been able to identify bad syntax really easily using [this formatter](http://toolbox.sangria-graphql.org/format) - it can't tell you if you're using the wrong q

[2019-07-24 21:43] DmitryVanyshkin commented on #667
Thank you a lot! That was rather stupid mistake from me. You are my hero!!

[2019-07-24 21:43] #667 closed

[2019-07-25 04:21] casey-chow commented on #516
Sounds like it's time for some good old DisposeBags.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-25 05:36] johndpope commented on #461
Can someone please check the front-page ios repo
this update fixes some things - but it's still not generating
https://github.com/apollographql/frontpage-ios-app/pull/16
I'm on xcode 10.1 -

![Screen Shot 2019-07-25 at 3 34 35 pm](https://user-images.githubusercontent.com/289994/61848538-ccedd200-aef1-11e9-8225-af16a844dce0.png)
![Screen Shot 2019-07-25 at 3 34 26 pm](https://user-images.githubuse

[2019-07-25 06:17] emanShedeed opened #668 "I got the same error when I update graphql to 0.13.0.. do you know why ?"
I got the same error.. do you know why ?

<img width="1215" alt="capture d ecran 2018-10-17 a 13 15 26" src="https://user-images.githubusercontent.com/5727223/47104324-24e30400-d20f-11e8-827c-36b399f9cf5d.png">
<img width="709" alt="capture d ecran 2018-10-17 a 13 18 47" src="https://user-images.githubusercontent.com/5727223/47104356-37f5d400-d20f-11e8-984e-843cce2eb3a1.png">

_Originally posted b

[2019-07-25 06:21] emanShedeed commented on #668
![Screen Shot 2019-07-25 at 7 53 27 AM](https://user-images.githubusercontent.com/42905983/61850637-17049280-aeb5-11e9-93b8-4a3db6cf1088.png)

[2019-07-25 07:19] Kaakati commented on #664
Thanks :D It's all good now, have a great day.

[2019-07-25 12:10] designatednerd commented on #668
Hi Eman, this is covered in the [0.13.0 release notes](https://github.com/apollographql/apollo-ios/releases/tag/0.13.0) - it's because we've switched from a tuple of nullable parameters to a `Result`.  The error is a bit crap but unfortunately that's from Swift, not us.

I'm going to close this out since it's covered in the release notes, but thanks for at least bringing it up here so people take

[2019-07-25 12:10] #668 closed

[2019-07-25 12:12] designatednerd commented on #664
Hey @sovannarithsok were you able to figure out the original issue here?

[2019-07-25 12:36] designatednerd commented on #516
@casey-chow That...might be difficult given that we don't (and don't intend to) use Rx on this project 😃

[2019-07-25 17:28] AnthonyMDev commented on #567
I've been approved to contribute so I'll get a unit test and PR out to you today!

[2019-07-25 18:13] lbasile opened #670 "Build error: Result namespace clash w/ Alamofire"
Upgrade to Apollo 13.0 produced this error when installed with Alamofire:

There are two Result types in this setup with the same name:
Apollo.Result
Alamofire.Result

I worked around this in the meanwhile by renaming `Result` to `ApolloResult`.

Using Cocoapods for dependency management.

[2019-07-25 18:21] giladronat opened #671 "Node LTS Version Out of Date"
Currently, the CLI script installs the exact Node version specified using nvm (#434) and switches to it, then installs Apollo locally (which is not ideal in my opinion #401). That Node version should be LTS but appears to be out of date (currently 8.15.0, [LTS](https://nodejs.org/) is at 10.16.0). I'm not sure if simply updating `REQUIRED_NODE_VERSION` is the best solution hence the issue instead

[2019-07-25 19:01] designatednerd commented on #670
omg hi @lbasile! 👋

So two things here - the first is that I removed our custom `Result` type in 0.12.0, so it seems like there might be some gremlins in your system if it's still there. Mind commenting out the pod -> `pod install` -> commenting it back in to see if that gets rid of the old one?

For the error check the [bit of the 0.13.0 release notes about `Result`](https://github.com/apollograp

[2019-07-25 19:04] designatednerd commented on #671
@giladronat OMG hi!

Yeah - it'd be nice to have that be a minimum rather than an exact version. You're welcome to tackle that in a PR if you want, otherwise I'll try to deal with that when I'm less [melted](https://www.nytimes.com/2019/07/25/world/europe/heatwave-record-temperatures.html) next week.

[2019-07-25 19:28] giladronat commented on #671
@designatednerd Hi hi! It's so cool to see you working on the framework; you're doing a fantastic job thus far.

I don't know that I fully understand the [reason](https://github.com/apollographql/apollo-ios/pull/434#issue-244629165) an exact version was instated in the first place. Would making it a minimum version break anything for anyone?

If you think changing it to a minimum version requireme

[2019-07-25 19:33] designatednerd commented on #671
Reading that PR, the reasoning is somewhat similar to what I've had to do in terms of pinning our dependencies: Making sure everyone is running the same version of Node so that when something breaks, we've got a cleaner path to debugging.

Maybe let's start by updating to the current LTS version, and I'll add a note to your earlier thing about looking at whether we should go back to specifying jus

[2019-07-25 19:34] designatednerd commented on #401
Note mostly to self: Need to look at whether to switch back to only requiring a major version of node rather than pinning to an exact one.

[2019-07-25 22:52] MKGitHub commented on #568
Building with Carthage = still problems

[2019-07-25 22:55] MKGitHub commented on #568
Building with Carthage = still problems

[2019-07-26 01:59] sovannarithsok commented on #664
@designatednerd I rolled back to use version 0.11.1 for temporary solution. I will try new version in few day later. Thanks for your time.

[2019-07-26 11:48] designatednerd commented on #664
@sovannarithsok OK cool - i'm gonna close this issue out since it's gotten a bit confusing with multiple different problems, please open a new issue when you try again if you're still having problems!

[2019-07-26 11:48] #664 closed

[2019-07-26 12:05] designatednerd commented on #568
@MKGitHub Couple questions:

- What libs are you trying to build, just `Apollo` or also `ApolloSQLite` and/or `ApolloWebSocket`?
- What are the errors that you are receiving?

[2019-07-26 12:07] designatednerd commented on #193
@lilyball OK finally gathering the courage to dive into typescript and deal with this. So I can understand better what's happening here, is `Self` a type in your GraphQL schema?

[2019-07-26 12:14] designatednerd commented on #294
This is now included with everything as of 0.13.0!

[2019-07-26 12:14] #294 closed

[2019-07-26 14:10] designatednerd commented on #606
@Vuong-Dao Can you send along your schema file? Otherwise I'll need to close this out.

[2019-07-26 14:13] designatednerd commented on #400
@koenpunt Can you send me an example of what the current code looks like so I can take a stab at fixing this in the codegen?

[2019-07-26 14:25] designatednerd commented on #399
Hi! [Tooling PR 1441](https://github.com/apollographql/apollo-tooling/pull/1441) adds generated `CaseIterable` conformance for all known cases. Please head over there and let me know if you see any problems with that implementation!

[2019-07-26 14:26] designatednerd commented on #455
hello - [Tooling PR 1441](https://github.com/apollographql/apollo-tooling/pull/1441) removes the `as!` in getters for double-optionals. Please let me know if you have any suggestions further there!

[2019-07-26 14:27] designatednerd commented on #179
Hello! [Tooling PR 1441](https://github.com/apollographql/apollo-tooling/pull/1441) switches `operationDefinition` and `fragmentDefinition` to use multi-line string literals. Please head over there and let me know if there's anything I missed!

[2019-07-26 14:28] designatednerd commented on #530
Hello! [Tooling PR 1441](https://github.com/apollographql/apollo-tooling/pull/1441) removes the `as!` when the property is a double-optional. Please head over there and let me know if you have any further questions. Thanks!

[2019-07-26 14:29] designatednerd commented on #533
I'm going to close this one out since there hasn't been any response in a couple of weeks - if you do have more information, please feel free to reopen or file a new issue. Thank you!

[2019-07-26 14:29] #533 closed

[2019-07-26 14:30] koenpunt commented on #400
What kind of example do you mean? It's been a while that this happened, and we've been avoiding union types because of it.

But you should be able to reproduce the issue by generating a client for a schema that returns a list of a union types, then add a new type to the union, and then run the query in the app (without regenerating the client that is).

[2019-07-26 14:31] designatednerd commented on #560
@attheodo Since I haven't heard back on this one in over 2 weeks, I'm going to close it out. Please feel free to reopen if you're still seeing this on newer versions, or open a new issue. Thank you!

[2019-07-26 14:31] #560 closed

[2019-07-26 14:32] designatednerd commented on #400
Basically what did the getter for `public var nodes: [Node]` look like before - I think I understand what you mean, but I'm still ramping up and it would be helpful to know what it looked like before to make sure I *actually* know what you mean.

[2019-07-26 14:35] koenpunt commented on #400
It was the same, but without the filter;

[code]

Also see my PR on the codegen here: https://github.com/apollographql/apollo-tooling/pull/656

[2019-07-26 14:42] designatednerd commented on #400
🤦‍♀️Welp, I totally missed that was a PR on the tooling repo. I'll take a look!

[2019-07-26 15:58] #671 closed

[2019-07-26 15:58] designatednerd commented on #670
@lbasile Any luck?

[2019-07-26 15:59] designatednerd commented on #663
Given that this is covered in the release notes for `0.13.0`, I'm gonna close this one out. Please reopen if you're still having problems!

[2019-07-26 15:59] #663 closed

[2019-07-26 16:04] designatednerd commented on #440
Anyone on this thread able to try with the updated codegen in `0.13.0` and get better results?

[2019-07-26 16:04] designatednerd commented on #414
Anyone on this thread: Has this improved since `0.13.0` swapped out the underlying CLI?

[2019-07-26 19:15] lilyball commented on #193
No, but `self` is a field, and each field in the query is given a nested type named after it in the generated Swift code.

[2019-07-26 19:16] lilyball commented on #193
Which is to say, if I use `selfView: self { … }` instead of `self { … }` then the generated code declares `public var selfView: SelfView? { … }` instead.

[2019-07-26 20:32] designatednerd commented on #193
OK - that will help me at least come up with some kind of test for it, at least. Thank you!

[2019-07-26 20:44] designatednerd commented on #461
@johndpope Went through and updated all the things and closed all the PRs and issues today. Sorry it's been a bit abandoned - FYI we're probably going to switch to a new sample app at some point soonish, but I don't have an ETA on that.

[2019-07-26 21:16] ScottRobbins commented on #453
the `returnCacheDataAndFetch` does do this. However, `returnCacheDataElseFetch` I do not believe does.

[2019-07-26 21:31] designatednerd commented on #453
That is correct - the `else` is basically "Attempt to load from cache, then attempt to load from internet if that failed. The `and` is basically "Attempt to load from cache, then attempt to load from internet no matter what". I recently updated [the documentation](https://github.com/apollographql/apollo-ios/issues/179) on these, so hopefully that will help others running into the same issue.

Anyt

[2019-07-26 21:40] johndpope commented on #461
thank you

[2019-07-28 01:36] tyrong commented on #616
@designatednerd hey what was the outcome of this? Using the same build phases script from, still getting error `echo` "error: Couldn't find Apollo.framework in`

[2019-07-28 09:26] designatednerd commented on #616
@tyrong Mind opening a new issue on that?

[2019-07-28 12:47] tyrong opened #676 "Swift package manager xcode 11 couldn't find Apollo"
I see that this issue has been raised a couple of times. I'm not sure if they managed to resolve the issue or not, but i am still get this error. (Other issues are closed)

Intended outcome:
Build project after following install guide

Actual outcome:
`error: Couldn't find Apollo.framework in FRAMEWORK_SEARCH_PATHS; make sure to add the framework to your project.`

`FRAMEWORK_SEARCH_PATHS` is empt

[2019-07-28 13:58] blommegard commented on #568
Hi @designatednerd

Everything seems to build just fine in Xcode 11 b4 as you said.

The problem now is when archiving using Carthage and seems to be related to this known issue in b4:
[code]

Discussed here as well: https://github.com/Carthage/Carthage/issues/2825

[2019-07-28 15:09] bidluo commented on #634
I think this is just a pipe dream tbh, for anyone in the future looking for a solution the best possible alternative is to use silent push to trigger a query/mutation and this is probably preferred from a battery life point too.
Not sure how much I can document since I haven’t even got the existing subscription logic to work lol.

Going to close this and I’d probably recommend referring people her

[2019-07-28 15:09] #634 closed

[2019-07-29 07:49] emanShedeed opened #677 "upload Multi Part file"
![Screen Shot 2019-07-29 at 8 53 09 AM](https://user-images.githubusercontent.com/42905983/62030900-6107b400-b1e6-11e9-8c10-8541ca406eb1.png)
![Screen Shot 2019-07-29 at 8 54 36 AM](https://user-images.githubusercontent.com/42905983/62030913-68c75880-b1e6-11e9-98ff-3ff26c351c7b.png)
how can I send graphql file to the mutation and how it expects string?

[2019-07-29 10:11] RolandasRazma opened #678 "crash if ApolloClient released before GraphQLQueryWatcher"
While trying to write better test for https://github.com/apollographql/apollo-ios/pull/552 I discovered that if `ApolloClient` released before` GraphQLQueryWatcher` app will crash with trace:

* thread #7, queue = 'com.apollographql.ApolloClient', stop reason = EXC_BAD_ACCESS (code=1, address=0x185fc44b4)
  * frame #0: 0x0000000106ca3657 libobjc.A.dylib`objc_msgSend + 23
    frame #1: 0x0000000106

[2019-07-29 10:29] halonsoluis commented on #676
It happens also when added via CocoaPods

[2019-07-29 10:37] designatednerd commented on #676
@halonsoluis If the [updated Cocoapods installation instructions](https://www.apollographql.com/docs/ios/installation/#if-you-are-integrating-apollo-using-cocoapods) don't help, can you open that as a separate issue please? I want to try and keep SPM vs CP issues on their own threads since there can be such wildly different underlying problems. Thank you!

[2019-07-29 10:39] designatednerd commented on #677
Right now this is not supported - the multi-part file upload is following [the GraphQL multi-part request spec](https://github.com/jaydenseric/graphql-multipart-request-spec) where you'd need to create a separate mutation for just the `profile_image`.

I am going to tag this as an enhancement though - it does seem like a reasonable thing to add support for, I just need to look a bit deeper into *h

[2019-07-29 10:41] designatednerd commented on #678
Good catch - I think in theory if a client hits `dealloc` we should probably kill all the query watchers, I'm just not sure how complex that will be in practice.

[2019-07-29 10:45] designatednerd commented on #634
OK, thanks very much for sharing!

[2019-07-29 10:46] designatednerd commented on #568
@blommegard Thanks for sharing that link - gotta love beta season!

@MKGitHub Any info on the issues you're having, or were the the same as @blommegard's?

[2019-07-29 10:57] ValCanBuild commented on #392
I agree that in general that's a better user experience but I'm currently adopting requirements from an android app that behaves in this way which is why I requested the feature. I'm currently doing this myself using RxSwift but i rather have native support.

Sorry i can't give you a better reason :(

[2019-07-29 11:08] designatednerd commented on #392
OK - that helps though, the fact that it's trying to match an android experience with an option that doesn't exist on iOS. I'll see what I can do, though I don't have a timeline for you, I've got some other stuff I'd like to get shipped this week.

[2019-07-29 12:46] designatednerd commented on #676
@tyrong Please check out the updated script in #679

[2019-07-29 12:55] designatednerd commented on #549
Hey all, since I haven't heard back from the OP in a couple weeks, I'm going to close this one out. Please open a new issue if you're still running into problems. Thank you!

[2019-07-29 12:55] #549 closed

[2019-07-29 12:59] designatednerd commented on #158
Since we haven't heard back in a couple weeks, I'm going to close this out. Please open a new issue if you're still running into problems. Thank you!

[2019-07-29 12:59] #158 closed

[2019-07-29 13:02] designatednerd commented on #548
Hi, since I haven't heard back on this issue in a couple weeks, I'm going to close it out. Please feel free to reopen with more info!

[2019-07-29 13:02] #548 closed

[2019-07-29 13:03] designatednerd commented on #288
Since I haven't heard back from OP in a couple weeks, I'm going to close it out. Please feel free to reopen or open a new issue if you're still seeing this in newer versions!

[2019-07-29 13:03] #288 closed

[2019-07-29 13:04] designatednerd commented on #354
Since I haven't heard back in a couple weeks on this one, I'm going to close it out. If you're still having this issue, please feel free to reopen or open a new issue if it's a problem on newer versions!

[2019-07-29 13:04] #354 closed

[2019-07-29 13:05] designatednerd commented on #357
Since I haven't heard back in a couple weeks and #413 has been merged, I'm going to close this one out. Please feel free to reopen if it's still causing issues in newer versions!

[2019-07-29 13:05] #357 closed

[2019-07-29 13:07] designatednerd commented on #384
Since we haven't heard back on this issue in a couple weeks, I'm going to close this one out. Please feel free to open a new issue if you're still having problems!

[2019-07-29 13:07] #384 closed

[2019-07-29 13:07] designatednerd commented on #449
Since I haven't heard back from OP in a couple weeks, I'm going to close this out. If you're still having problems, feel free to reopen or open a new issue. Thank you!

[2019-07-29 13:07] #449 closed

[2019-07-29 13:09] designatednerd commented on #502
Since I haven't heard back from OP in a couple weeks, I'm going to close this question out with my suggestion of making a `convenience init` as the official one. Please feel free to stop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) if you have more questions!

[2019-07-29 13:09] #502 closed

[2019-07-29 13:12] designatednerd commented on #454
The poster behind #634 seems to have run straight into a brick wall with this. It doesn't seem like there's a great way to support multiple web socket protocols without quite a bit more work.

Unfortunately that's not really a priority for Apollo at the moment, so I'm going to close this out, but I'd be happy to work with anyone interested in putting a PR together for this.

[2019-07-29 13:12] #454 closed

[2019-07-29 13:15] designatednerd commented on #457
Since I haven't heard back from OP in a couple weeks, I'm going to close this out - please open a new issue if you're still having problems!

[2019-07-29 13:15] #457 closed

[2019-07-29 13:16] designatednerd commented on #462
Since I haven't heard back on this question in a couple weeks, I'm going to close it out. If you've got further questions, please feel free to stop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) anytime!

[2019-07-29 13:16] #462 closed

[2019-07-29 13:16] designatednerd commented on #477
Since I haven't heard back here in a couple of weeks, I'm going to close this issue out. If you're still having problems with newer versions of Apollo, please open a new issue. Thank you!

[2019-07-29 13:16] #477 closed

[2019-07-29 13:18] designatednerd commented on #514
Since I haven't heard back on this for a couple weeks, I'm going to close this issue out. Please open a new issue if you're seeing this on newer versions of our SDK. Thank you!

[2019-07-29 13:18] #514 closed

[2019-07-29 13:23] halonsoluis opened #680 "Version too old for Codegen to work"
In check-and-run-apollo-cli.sh the required version of Apollo is set to 1.9, this version is not aware of some of the changes done in the CLI. Is just too old.

Updating this line to 2.16 fixes the issues:

[2019-07-29 13:25] designatednerd commented on #680
Hello! This should have been addressed in `0.13.0` - what version are you using, and how are you integrating it?

[2019-07-29 13:28] halonsoluis commented on #680
It looks like I'm used an old version (0.11.1).
Just noticed when trying to create a PR.

[2019-07-29 13:41] designatednerd commented on #680
OK! If this is working for you with `0.13.0`, do you mind closing this out?

[2019-07-29 13:55] halonsoluis commented on #680
Tested, Working, closed 😉
Thanks for such a fast support 💪🏻

[2019-07-29 13:55] #680 closed

[2019-07-29 15:53] designatednerd commented on #676
Updated script is now merged and [up on our documentation site](https://www.apollographql.com/docs/ios/installation/#if-you-are-integrating-apollo-using-spm--xcode-11-beta) - going to close this out, please reopen or open a new issue if you're having problems. Thank you!

[2019-07-29 18:55] MKGitHub commented on #568
@designatednerd Same same, can you make a beta branch with the fix?

[2019-07-29 20:13] #567 closed

[2019-07-29 20:14] AnthonyMDev commented on #678
This is going to be related to #516. I'm going to try to find some time to look into how we can make this week at some point in the near future.

[2019-07-29 20:22] designatednerd commented on #568
@MKGitHub @blommegard Correct me if I'm wrong, but the way I'm reading that I think you have to apply that at the application level, not at the library level

[2019-07-30 01:53] Vuong-Dao commented on #606
Sorry for lately in response @designatednerd
You can download this [schema](https://drive.google.com/open?id=107BTH7XcJFnf7kic9i6SsS6ikMy9_rg5) and here is the query

`query getAllContents($languages: [Language!]) {
    contents(languages: $languages) {
        edges {
            node {
                id
                pictureUrl
            }
        }
    }
}`

[2019-07-30 09:39] Drusy commented on #670
Having the same issue here, there is a conflict using Alamofire as NetworkTransport.

Using
[code]
Result in the following error: `Generic type 'Result' specialized with too many type parameters (got 2, but expected 1)`

And using `Swift.Error` to override `Alamofire.Result`:

[code]
Result in `Type 'AlamofireTransport' does not conform to protocol 'NetworkTransport'`

Here is a minimalist Alamofi

[2019-07-30 11:48] moax commented on #667
Im trying to build the API.swift file for days now and I continue to run into the same error.

[code]

I only use the schema.json file within the project folder and the codegen script is opening the file. I checked this by adding characters to the json file leading to an exact error message.

I checked the scheme for correct formatting and uploaded the valid but optimized version to my server and

[2019-07-30 11:57] designatednerd commented on #145
Throwing this link on here as a note to self and for anyone curious about what this is all about: https://blog.apollographql.com/understanding-pagination-rest-graphql-and-relay-b10f835549e7

[2019-07-30 12:00] designatednerd commented on #667
It looks like the script isn't finding the query files from this error: `→ No operations or fragments found to generate code for.`

Can you take a look at what you're passing in for `--includes`? It doesn't seem to be present in the output above. Without that, the script has no idea where to look for `.graphql` files and it won't work.

[2019-07-30 12:00] #676 closed

[2019-07-30 12:01] designatednerd commented on #670
@Drusy Thanks for clarifying.

@lbasile Any luck?

[2019-07-30 12:13] Drusy opened #681 "File upload v0.13 - Missing documentation"
Could you provide a concret example how to use file upload for Apollo v0.13 ?
An official documentation is required for such a "complex" feature.

For example:
- How the `.graphql` file should look ?
- Where GraphQLFile instances should be passed ?

In addition, why the `upload` function of `HTTPNetworkTransport` is not part of the `NetworkTransport` protocol ? This would be nice for people using

[2019-07-30 12:22] designatednerd commented on #681
@Drusy It's not on the protocol mostly because if it were, it'd need to be implemented in the Web Socket transport, where it doesn't really make a lot of sense. You should still be able to add it to your custom transport though!

Thanks for filing, will try to get a better example of this together soon.

[2019-07-30 12:52] moax commented on #667
This is the code from build phase:
`cd "${SRCROOT}/${TARGET_NAME}"
"${APOLLO_FRAMEWORK_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --localSchemaFile=schema.json --includes=./*.graphql API.swift
echo $(pwd)
`
I left "--includes=.." out as it was giving me duplication errors, but I guess I am wrong with that. After adding "--includes=.." again it throws this errors:

` ++ npx

[2019-07-30 13:34] designatednerd commented on #667
The query is not formatted correctly, which is why you're getting those errors. You'd need something more like:

[code]

To get a list of aircraft that returns every aircraft's ID from the schema you sent. Try messing around with [GraphiQL](https://github.com/graphql/graphiql) or a similar tool on your site, that should help you come up with valid queries.

[2019-07-30 15:33] designatednerd opened #682 "Call For Suggestions: Swift Code Generation"
Hi everyone! As I've been working on the Codegen stuff (particularly diving into the TS codebase this last week), it's become abundantly clear that we should move the "Generation" portion of the codegen out of our tooling repo and into Swift code.

I've been trying to clean up some small stuff, but clearly anything big is going to require some really significant changes. And frankly, if I'm going

[2019-07-30 17:15] mariorsjr opened #683 "Error when using useGETForQueries"
Developing for WatchOS 6, when I use
`private lazy var networkTransport = HTTPNetworkTransport(
        url: URL(string: self.graphQLEndpoint)!,
        useGETForQueries: true
    )`
`private(set) lazy var client = ApolloClient(networkTransport: self.networkTransport)`

I am receiving the following error when I try to fetch:
`... /Pods/Apollo/Sources/Apollo/GraphQLGETTransformer.swift, line 50`

[2019-07-30 17:39] akhilpothana commented on #663
@designatednerd sorry! yes that was the issue. All fixed!

[2019-07-30 17:40] #683 closed

[2019-07-30 17:41] mariorsjr commented on #683
The issue was in another file of my project.
Sorry for that

[2019-07-30 18:17] designatednerd commented on #663
Awesome, thanks for letting us know!

[2019-07-30 18:18] designatednerd commented on #683
No worries, thanks for closing it for me 😄

[2019-07-30 20:20] joninsky commented on #682
Please {
}
No
{
}

[2019-07-30 20:56] designatednerd commented on #682
@joninsky

[code]

[2019-07-31 00:57] jtrainer commented on #511
@designatednerd Sorry for lack of response until now, finally got some time to look at this again.

The instructions from #109 to add ~/.bash_profile did not fix the problem for us.

Instead, we updated to the latest version of Apollo-iOS using cocoapods and modified our pre-build script to install 2.16.x: of Apollo client and this continues to work on our CI, BuddyBuild.

[code]

[2019-07-31 07:13] mdilaveroglu commented on #627
Het @rajkhatri

Can you show me an example go how you are handling token expiration on pre-flight? I can't manage to do it somehow.

[2019-07-31 14:56] designatednerd commented on #606
Hey, apologies for the delay in getting back to you.

I'm not quite sure how this is related, but from the schema it looks like `contents` and `contentSubjects` are two different queries, and only `contentSubjects` actually takes a `languages` argument. Does this issue go away if you switch to using `contentSubjects` instead of `contents` within your query?

[2019-07-31 19:33] joninsky commented on #682
Ah! Yeah that was not a very constructive comment. I guess what I am trying to say is that the current generated code is slightly... off. Here is a code sample from my `API.swift` file

[code]

And here is how xCode usually generates code.

[code]

I know complaining about spacing is a reach but my larger point is ...

If the code generator managed to generate code that was closer to what swift de

[2019-07-31 19:50] designatednerd commented on #682
Oh yeah, this is *absolutely* one of the reasons I want to move the codegen to swift - that way it will be easier for the community to make PRs when something like spacing is off. I think at that point you're talking about 2 vs 4 space indents, correct?

It's not Xcode itself generating the code - it's the Node `apollo` package, which contains our CLI client that includes our Swift code generator

[2019-08-01 02:07] JakeTorres opened #684 "Apollo iOS Guide"
URL: https://www.apollographql.com/docs/ios/initialization/#example-advanced-client-setup

// MARK: - Retry Delegate

extension Apollo: HTTPNetworkTransportRetryDelegate {

  func networkTransport(_ networkTransport: HTTPNetworkTransport,
                        receivedError error: Error,
                        for request: URLRequest,
                        response: URLResponse?,

[2019-08-01 08:57] designatednerd commented on #684
As the top of that section says: `This code assumes you've got the following external classes:`. This is something the example code is assuming you are providing on your end.

You're not the first person to ask about this, I'll make it clearer in the docs.

[2019-08-01 09:02] designatednerd commented on #684
Updated to read `This code assumes you've got the following classes in your own code (these are **not** part of the Apollo library):`

[2019-08-01 09:02] #684 closed

[2019-08-01 12:15] gmoraleda commented on #440
I got it working with some minor tweaks:

1. Updated the version of apollo cli in Pods/Apollo/scripts/check-and-run-apollo-cli.sh:
`REQUIRED_APOLLO_CLI_VERSION=2.16`
2. Modified the run script:
SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
`"${SCRIPT_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --includes=./**/*.graphql --localSchemaFile="**${SRCROO

[2019-08-01 13:17] yousafiqbal1994 opened #686 "Parsing response in latest apollo V 0.13.0"
Hello community. I was using older version 0.11.0 of apollo. In the latest version there are modification to closures. I was able to parse the response in older version like this:

            let doctorsListQuery = DoctorListingQuery(name: item)

            apolloAuthClient.fetch(query: doctorsListQuery, cachePolicy: .returnCacheDataElseFetch, queue: DispatchQueue.main) {
                (result

[2019-08-01 13:20] yousafiqbal1994 commented on #686
@designatednerd can you please look into it. Thanks

[2019-08-01 13:52] designatednerd commented on #686
Hey Yousaf, this is now using the [Swift Result](https://developer.apple.com/documentation/swift/result) enum in order to return things. [Here's a good overall primer from Paul Hudson](https://www.hackingwithswift.com/articles/161/how-to-use-result-in-swift), but In the example you've shared here's a rough outline how of that would change:

[code]

One thing to be aware of is that `graphQLResult`

[2019-08-01 13:54] designatednerd commented on #686
@yousafiqbal1994 If you've got more questions please feel free to stop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) and ask away! I'm going to close this out since it's more of a question than a problem, and I want to try and keep the Issues for things that are actually not working. Thanks!

[2019-08-01 13:54] #686 closed

[2019-08-01 13:57] designatednerd commented on #440
@gmoraleda Yes, that change on the required CLI version is included in `0.13.0`, and then the change to the run script is required to use the updated CLI.

Since I haven't heard back from anyone else and it seems like upgrading to `0.13.0` should fix the problem as long as your graphQL is valid, I'm going to close this issue out. Please open a new issue if you are still having problems with this!

[2019-08-01 13:57] #440 closed

[2019-08-01 14:12] yousafiqbal1994 commented on #686
Ok. Thank you so much. @designatednerd

[2019-08-01 14:13] gmoraleda commented on #440
@designatednerd mmm... I deintegrated the Pods and reinstalled them but the script inside was still the same (not version pinned in the Podfile). I had to manually edit the script.
Is that change in the most current Prod version?

[2019-08-01 14:17] gmoraleda commented on #440
Nevertheless the run scrip suggested in the documentation had to be modified as well:
`--localSchemaFile="${SRCROOT}/schema.json"`
Otherwise it didn't find the schema.

[2019-08-01 14:32] Robin-Kunde-ck commented on #682
I've been gearing up to create an internal of apollo-tooling to address some Swift codegen issue, so this is welcome news. A couple of things I'd like to address:

* eliminate double optionals (why `Swift.Optional<Int?>` instead of just `Int?`)
* option to disable generation of setters (we only use immutable objects, so no setters would be a significant compile time and code size improvement)

[2019-08-01 14:52] designatednerd commented on #440
I will double check that this is in the instructions, but you do need to put in a path to the schema file if it's not in the same folder as  `"${SRCROOT}/${TARGET_NAME}"`

As for why it stayed the same version after de/re-integration, Cocoapods stopped automatically pulling updates to the master repo on `pod install` a while back [because it almost broke Github](http://blog.cocoapods.org/Master-Sp

[2019-08-01 15:06] designatednerd commented on #682
In turn:

**Optionals**

The double optionals thing is a bit of a pain because of the way the server handles whether an optional property which is sent to the server is present or absent. The issue is that you can have three potential cases:

1. The value is not set
2. The value is set but nil
3. The value is set as the correct type

In case 1, the value is not sent to the server at all - this ind

[2019-08-01 16:24] gmoraleda commented on #440
Wow... that was an informative article! 😅
Thanks again for your support. Now that I got it working is time to play around with Apollo.
Cheers!

[2019-08-02 01:36] JakeTorres commented on #684
get it, thanks
maybe I can do it from Alamofire

[2019-08-02 06:54] simonboots opened #687 "Support Catalyst builds"
We're using Apollo for our iOS project and want to bring it over to macOS using Catalyst. With the current build configuration, Xcode does not recognise Apollo to be Catalyst compatible.

[2019-08-02 08:40] designatednerd commented on #684
I don't think Alamofire provides those classes either - since those are logic that's specific to your app, they'd usually be coming from your own code.

[2019-08-02 09:56] JakeTorres commented on #684
I get other problem that "(lldb) po error.localizedDescription
"Error at path \"getCurrPositionList.data.pagerInfo.total)\": couldNotConvert(value: 0, to: Swift.String)""
same api web is work but iOS not with swift request!

[2019-08-02 12:37] designatednerd commented on #684
That's likely related to something that's going to go in with #402 if you're using `--passthroughCustomScalars`. Right now it's trying to convert everything to a `String` but it is valid GQL to have the underlying value be an `Int`. That PR will allow correct parsing of things returned as an `Int`.

[2019-08-03 14:32] #687 closed

[2019-08-04 05:20] JakeTorres commented on #23
Sript phase: SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
"${SCRIPT_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --includes=./**/*.graphql --passthroughCustomScalars --localSchemaFile="schema.json" API.swift

I do it in: JSONStandardTypeConversions
typealias Long = Int64
extension Long: JSONDecodable, JSONEncodable {
    public init(jsonValue value

[2019-08-04 05:21] JakeTorres commented on #684
Sript phase: SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
"${SCRIPT_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --includes=./**/*.graphql --passthroughCustomScalars --localSchemaFile="schema.json" API.swift

I do it in: JSONStandardTypeConversions
typealias Long = Int64
extension Long: JSONDecodable, JSONEncodable {
    public init(jsonValue value

[2019-08-05 11:38] designatednerd commented on #684
@JakeTorres You should not need to create a separate `typealias`, in theory the codegen should treat `Long` as a custom scalar and generate code for it.

Do you mind moving this thread over to our [Spectrum chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) and tagging me on there? We can take a look at some possibilities of what's going wrong. Thank you!

[2019-08-05 13:55] JakeTorres commented on #684
thanks a lot! I create a new file and custom the Long class, everything is ok when  get it in API.swift and run it

public class Long: JSONDecodable, JSONEncodable {
    required public init(jsonValue value: JSONValue) throws {
        guard let _ = value as? Int64 else {
            throw JSONDecodingError.couldNotConvert(value: value, to: Int64.self)
        }
        guard let _ = value as? Int

[2019-08-05 15:48] Robin-Kunde-ck commented on #682
@designatednerd Thanks for the double optional explanation. It makes sense for the case of sending data, but it's a bummer that it makes receiving data more complicated. I think this would be another candidate for adding an option for turning this behavior off during code gen.

[2019-08-05 15:59] designatednerd commented on #682
In _theory_, a double-optional should never get generated for anything receiving data, since you're able to specify what fields you want back in your query, whereas with an input object you can leave some things absent.

[2019-08-05 17:13] Robin-Kunde-ck commented on #682
Ok, good to know. It might just be something we're doing then.

[2019-08-05 17:15] designatednerd commented on #682
@Robin-Kunde-ck If you are seeing that, let me know where in a separate ticket plz

[2019-08-05 17:30] designatednerd commented on #684
You should not have to create a file for the `Long` class,  the codegen should create that custom scalar for you. If you create a file for it, it will probably conflict with the generated code.

Please ask any further questions on our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts). Thank you!

[2019-08-05 17:36] designatednerd commented on #636
I took a stab at this in our current typescript setup and it was NOT straightforward. Probably going to punt on this to until I implement Swift codegen (#682).

[2019-08-05 18:59] designatednerd commented on #573
Any kind of validation on this is going to have to wait until we're doing codegen in Swift

[2019-08-05 19:02] designatednerd commented on #179
So there are some improvements to this which will go out with `0.14.0` - there's now a comment on the generated code which will show what's going out. The problem at the moment is that swift multiline strings and GraphQL multiline strings both use the same triple-`"` delimiter, and there's not a super elegant way around that in typescript.

I'm going to look at using some of the new(ish) string li

[2019-08-05 19:20] designatednerd commented on #218
This is fixed by #402 and will ship with `0.14.0`

[2019-08-05 19:25] designatednerd commented on #414
Hey all - since I haven't heard back from anyone on this, I'm going to close this one out. If you're still running into problems, please open a new issue. Thank you!

[2019-08-05 19:25] #414 closed

[2019-08-05 19:28] designatednerd commented on #611
Heads up: I was not able to get a good line on making this work with JS, but it's definitely high priority for the Swift Codegen stuff I'm gonna be working on.

I'd be happy to review a PR on [apollo-tooling](https://github.com/apollographql/apollo-tooling) for it though!

[2019-08-06 12:25] gmoraleda opened #694 "Perform mutation: Returning GraphQLSelectionSet in a generic way"
I'm trying to create a function to retrieve the correct `Mutation` according to different cases in an enum.
I'm having problems declaring it in a generic way. This is the function where I switch the parameter `type` and return the appropriate function.

[code]

I wrote an RxSwift wrapper around Apollo using the same signature for `perform` and `fetch`:
[code]

If my return type for the link functi

[2019-08-06 13:01] Cleversou1983 opened #695 "Problem uploading a file with GraphQLFile"
Currently I have a mutation like this:

mutation uploadFile($file:Upload!) {

}

extension UploadFileMutation {
    public typealias Upload = GraphQLFile
}

I've made an extension, so the compiler doesn't complain about the type

When I try use GraphQLFile as parameter
Cannot convert value of type 'UploadFileMutation.Upload' (aka 'GraphQLFile') to expected dictionary value type 'Optional<JSONEncod

[2019-08-06 14:46] designatednerd commented on #694
So it looks like the `link` method doesn't have a generic type the way the `perform` method does, so it can't return `Mutation.Data` directly . What happens if you change the signature to:

[code]

[2019-08-06 14:52] designatednerd commented on #695
This is related to #681 (missing documentation).

If you take a look at the [expected string in the multi-part form data](https://github.com/apollographql/apollo-ios/blob/master/Tests/ApolloTests/MultipartFormDataTests.swift#L28) and the [docs for the multi-part upload spec](https://github.com/jaydenseric/graphql-multipart-request-spec?#operations) you can see the type of query you'd want to have

[2019-08-06 16:14] gmoraleda commented on #694
It complains: Mutation is not used in the function signature :-(

[2019-08-06 18:06] Cleversou1983 commented on #695
Thanks a lot for your help, Ellen... I hope the example arrive soon, I still don't have success sending GraphQLFile to a GraphQL on a rails server...
Cheers!
Cleverson

[2019-08-06 18:30] designatednerd commented on #694
That seems real weird, since it returns `Single<Mutation.Data>` - did you update the return value as well?

[2019-08-06 18:34] designatednerd commented on #695
Is the issue you're having on the server side? If so, can we close this issue out?

If not, can you be more specific about what's going wrong?

[2019-08-06 18:39] gmoraleda commented on #694
Yes, I did:
<img width="1566" alt="image" src="https://user-images.githubusercontent.com/25835012/62566787-1511da80-b88a-11e9-8cfa-8db780033515.png">

[2019-08-06 18:41] Cleversou1983 commented on #695
To be honest, I'm not sure if is server side issue...

I'm doing:
let file= GraphQLFile(fieldName: "file", originalName: "file", mimeType: "image/png", data: imageData!)
let mutation = UploadFileMutation(file: file)

I then create an extension
extension UploadFileMutation {
    public typealias Upload = GraphQLFile
}

Then in this line,
  public var variables: GraphQLMap? {
    return ["file": fil

[2019-08-06 18:58] designatednerd commented on #695
You should not need to create that typealias yourself - can you post the generated code for `UploadFileMutation` please?

[2019-08-06 18:59] designatednerd commented on #694
What's going on with the `->` character there? is that a custom operator?

[2019-08-06 19:18] gmoraleda commented on #694
Is just the font type ([FiraCode](https://github.com/tonsky/FiraCode)). Sorry about that :-)

[2019-08-06 19:55] Cleversou1983 commented on #695
Sure! Thanks a lot, Ellen! Cheers!

public final class UploadFileMutation: GraphQLMutation {
  public let operationDefinition =
    "mutation UploadFile($file: Upload!) {\n  uploadFile(input: {file: $file}) {\n    __typename\n    attachment {\n      __typename\n      id\n    }\n    errors\n  }\n}"

  public let operationName = "UploadFile"

  public var file: Upload

  public init(file: Upload) {

[2019-08-06 20:20] designatednerd commented on #694
OK! just wanted to rule that out as a possibility.

I just realized why that won't work though: Because it'd require you to know what the mutation was when you called the function, which is explicitly what you don't want.

I'm still not sure why `Single<GraphQLSelectionSet>` doesn't work, the `associatedType` declaration indicates that `Data` must conform to `GraphQLSelectionSet. I'll have to take

[2019-08-07 09:09] designatednerd commented on #400
@koenpunt When you get the repro, can you post it here? Thanks!

[2019-08-07 09:20] kimdv commented on #695
Hi!
Hope this can help

This is my mutation
[code]

This is my swift method:

[code]

`performUpload` is just a generic method for sharing the upload function.

I have also added a type alias for my `Upload` file `public typealias Upload = String`

[2019-08-07 11:52] Cleversou1983 commented on #695
@kimdv Thanks a lot friend! I'll try that!

One question  the performUpload you've talked about just execute te mutation within Apollo? Thanks!!!!!!!!

[2019-08-07 11:55] kimdv commented on #695
[code]

Here it is

[2019-08-07 11:57] kimdv commented on #695
And related to this.

@designatednerd the reason I first had added the upload method to `ApolloClient` was for the same result type. Now we get a more generic one, and not the same as "normal" mutation.

I think we should make is similar somehow

[2019-08-07 12:02] Cleversou1983 commented on #695
@kimdv Thanks a lot my friend, I'll try that now, I really appreciate your help!
Cheers!

[2019-08-07 12:31] Cleversou1983 commented on #695
@kimdv Kim! I'm having trouble using NetworkTransport, can you provide me te example on how you are instantiating networkTransport, on the line return networkTransport.upload( ??
Thanks a lot!!!

[2019-08-07 13:02] Cleversou1983 commented on #695
I got a response from my backend developer, my mutation is now returning this, shouldn't the. be Content-Disposition: form-data, multipart-data instead?

2019-08-07T12:55:07.405171+00:00 app[web.1]: UploadFile
2019-08-07T12:55:07.405173+00:00 app[web.1]: --apollo-ios.boundary.0D94B585-41E9-42A6-B29F-7BBAE60AF397
2019-08-07T12:55:07.405175+00:00 app[web.1]: Content-Disposition: form-data; name="fil

[2019-08-07 13:21] kimdv commented on #695
I don't understand the question?

The mutation and file creation looks good.
Is the server not accepting it?

[2019-08-07 13:26] Cleversou1983 commented on #695
@kimdv On the server, instead of multipart / form-data, the server is getting:
Content-Disposition: form-data; name="file"; filename="file"

[2019-08-07 13:33] kimdv commented on #695
The implication is based on this [specification](https://github.com/jaydenseric/graphql-multipart-request-spec?#operations)

[2019-08-07 14:02] Cleversou1983 commented on #695
Yes, when I'm using Altair GraphQL, I'm able to send uploads...
My code is this, maybe I'm still doing something wrong? Many many thanks, Kim!

if let imageData = image.jpegData(compressionQuality: 0.7) {

            self.UIManager.disableUI()

            let fileFieldName   = "file"
            let file            = GraphQLFile(fieldName: fileFieldName, originalName: fileFieldName, mimeType: "i

[2019-08-07 16:49] designatednerd commented on #400
@koenpunt Indicated [on the tooling repo](https://github.com/apollographql/apollo-tooling/pull/1462#issuecomment-519027426) that he is no longer able to reproduce. Closing this, please open a new issue if you run into something like this in the future!

[2019-08-07 16:49] #400 closed

[2019-08-07 18:30] Cleversou1983 opened #698 "Upload not working to Apollo Server using v0.13.0"
Hello! I'm struggling to make a file upload to a server, I've opened this issue to report everything steps, from IOS to the Apollo Server logs:

To show that our GQL Server is compliant with the standard  here is a success CURL real example:

/// APOLLO SERVER

curl http://madari-staging.herokuapp.com/graphql \
  -F operations='{ "query": "mutation($image: Upload!, $clientId: String!, $clientSecre

[2019-08-07 20:25] designatednerd commented on #23
`Int` support for custom scalars has (finally) shipped in `0.14.0`.

@JakeTorres Can you please take your question to our [Spectrum chat](https://spectrum.chat/apollo/apollo-ios?tab=posts)? it's not quite related to this issue. Thank you!

[2019-08-07 20:25] #23 closed

[2019-08-07 20:26] designatednerd commented on #698
Firstly, please check out #695 to see if any of the suggestions there help you. If they do, you can skip the rest of this, just let us know what helped.

If they don't, I have a few questions for you:

- Am I correct from reading the logs that your actual GraphQL mutation is:

[code]
- Why is `input` using a `{bunch of variables surrounded by a closure}` instead of an `InputType`?
- Why are `error

[2019-08-07 20:27] designatednerd commented on #218
Shipped with `0.14.0`!

[2019-08-07 20:27] #218 closed

[2019-08-07 20:27] designatednerd commented on #193
Fix shipped with `0.14.0`!

[2019-08-07 20:27] #193 closed

[2019-08-07 20:28] designatednerd commented on #530
Fix to prevent double-optionals using `as!` shipped with `0.14.0`. If further problems arise after using that version, please open a new issue. Thank you!

[2019-08-07 20:28] #530 closed

[2019-08-07 20:28] designatednerd commented on #399
Built-in `CaseIterable` support for known cases shipped with `0.14.0`!

[2019-08-07 20:28] #399 closed

[2019-08-07 20:29] designatednerd commented on #399
Do note that if you used @zigfried5's workaround, you'll need to remove it since it'd be a redeclaration of `CaseIterable` conformance once you upgrade to `0.14.0`

[2019-08-07 20:30] designatednerd commented on #455
Shipped with `0.14.0`!

[2019-08-07 20:30] #455 closed

[2019-08-07 21:02] designatednerd commented on #694
Apologies, I got sidetracked today. Will take a look in the morning!

[2019-08-07 22:10] Cleversou1983 commented on #698
Hi, @designatednerd ! This was a trial and error... I've tried with upload Input as well, as you can see here...

/// SWIFT
if let imageData = image.jpegData(compressionQuality: 0.7) {

            let fileFieldName   = "file"
            let file            = GraphQLFile(fieldName: fileFieldName, originalName: fileFieldName, mimeType: "image/jpeg", data: imageData)

            let uploadInput

[2019-08-07 23:34] sashaweiss commented on #682
Would love the ability to specify whether the generated types should be `public` or `internal`! I'm using Apollo in an SDK, and don't necessarily want to expose the GraphQL types to consumers of said SDK.

I bet it wouldn't have to be too granular even to be really useful - like either I'm publicly exposing some GraphQL types (and consequently I might as well expose all of them) or I'm exposing my

[2019-08-08 07:12] gmoraleda commented on #694
No worries. We got it working writing a second perform function, where we return `GraphQLSelectionSet`:
[code]
It's redundant, but it works... 🤷‍♂
Our link function now looks like this:

[code]

I still wonder why returning `Mutation.Data` doesn't conform to `GraphQLSelectionSet`...

[2019-08-08 08:01] designatednerd commented on #682
@sashaweiss Yeah I think it'd have to be an all or nothing option, but this is definitely on the list (#149 first asked for this....some time ago).

[2019-08-08 08:05] designatednerd commented on #694
Ah nice! I suspect there's some awkwardness with the compiler just not quite putting all the generics and protocols together without that little bit of help you're giving it to get it to go "OH, _that_'s what you're trying to do!"

I'm going to close this out since there's now a workaround available.

[2019-08-08 08:05] #694 closed

[2019-08-08 08:15] designatednerd commented on #695
Looks like [Altair is using the `FormData` type](https://github.com/imolorhe/altair/blob/47796b7b6a5d04c3ae4f4968ed8b36f829d03ab3/src/app/services/gql/gql.service.ts#L121) to do uploads - under the hood, [it looks like that's using `multipart/form-data` rather than just `form-data`](https://developer.mozilla.org/en-US/docs/Web/API/FormData).

I would talk to your backend person about [the spec](ht

[2019-08-08 09:18] designatednerd commented on #698
Hey - so looking at the stack trace, the server is throwing an error in Ruby [here](https://github.com/rails/rails/blob/5-2-stable/actionpack/lib/action_dispatch/http/parameters.rb#L117). What server are you using - the whole Apollo Server is written in JS, so it's some other GraphQL server.

I believe as I indicated in #695 you'll need to talk to your backend dev - I didn't realize when I replied

[2019-08-08 10:43] #698 closed

[2019-08-08 11:16] designatednerd commented on #101
Since I haven't heard back on this one in a couple weeks, I'm going to close it out. Please feel free to stop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) with any further questions. Thank you!

[2019-08-08 11:16] #101 closed

[2019-08-08 12:49] Cleversou1983 commented on #695
Hi Ellen... The awkward thing is that the CURL example from specifications work with our backend...

curl http://madari-staging.herokuapp.com/graphql
-F operations='{ "query": "mutation($image: Upload!, $clientId: String!, $clientSecret: String!) { uploadFile( input: { file: $image clientId: $clientId, clientSecret: $clientSecret } ) { errors attachment { id } } }", "variables": { "clientId": "fGw

[2019-08-08 13:12] Rudiney commented on #695
The "back-end guy" checking in here to help my co-work @Cleversou1983 on this issue.
AFAIK the back-end should follow the specs as we are using the suggested [jetruby/apollo_upload_server-ruby](https://github.com/jetruby/apollo_upload_server-ruby) ruby gem.

The spec shows a `cURL` example we could successfully run (as above) so maybe it helps lighten up the problem here. That is a public availabl

[2019-08-08 13:15] Rudiney commented on #695
So im not sure what is the problem here but there is something strange if the request... Again, the above CURL should work publicly if it helps us debug. I thing the server is ok...

hope it help guys, thanks!

[2019-08-08 16:44] designatednerd commented on #695
OK so I see a couple possibilities here:

- Is the `boundary` coming through correctly with the header? The "unexpected token" seems like maybe it's related to that.
- Looks like `curl` is uploading the data as `application/octet-stream` rather than `image/jpg'. What happens if you change the MIME type of the `GraphQLFile` to that?

[2019-08-08 16:47] Nomad-Go opened #700 "Apollo 0.14.0 Apollo CLI mismatch"
After upgrading to Apollo 0.14.0 and building my project the code generation build phase seems to have trouble upgrading the latest Apollo CLI on my behalf.

![Screen Shot 2019-08-08 at 9 41 56 AM](https://user-images.githubusercontent.com/42352379/62721609-712b4a80-b9c1-11e9-824d-11b418ac8d81.png)

[2019-08-08 16:48] Nomad-Go commented on #700
A simple `sudo npm install -g apollo` fixes the issue. Mostly wanted to put this here for reference.

[2019-08-08 16:56] designatednerd commented on #700
Ah, good to know - another good trick is to delete the `node_modules` folder that gets put into the root of your repo. That'll cause node to reinstall the latest version of the Apollo CLI.

I'm not sure what's going on there with your permissions, though - that seems like it might be a bigger knot to untangle 😛

Gonna close this issue since it's got a workaround - if someone else runs into this an

[2019-08-08 16:56] #700 closed

[2019-08-08 19:08] sashaweiss commented on #682
So it was! Great to hear.

[2019-08-08 20:14] designatednerd commented on #682
For anyone interested I'm shoving all the things that I'm hoping to address into [this project](https://github.com/apollographql/apollo-ios/projects/2).

[2019-08-08 21:04] sashaweiss opened #701 "Unable to conform to `NetworkTransport`"
In a very weird situation, feels like a Swift type-checker bug - I am unable to conform to the `NetworkTransport` protocol.

Using Apollo 0.14.0, Xcode 10.2.1, in a Swift 5 project, the following code:

[code]

is getting a "Type 'Foo' does not conform to protocol 'Network Transport'" error - but the signature in that snippet was autogenerated by the "insert stubs" quickfix after creating the empt

[2019-08-08 21:13] sashaweiss commented on #701
Update: I was shadowing an Apollo type:
[code]
in an (apparently misguided) attempt to "re-export" as part of the Pod I'm writing..._not doing_ that seems to fix this problem, which tbh makes sense since `Cancellable` is part of the signature of `send`.

Doing:
[code]
works.

[2019-08-08 21:13] #701 closed

[2019-08-09 10:13] designatednerd commented on #701
@sashaweiss Thanks for posting your solution!

[2019-08-09 14:40] designatednerd commented on #695
OK - well, I figured at least one thing out that I'll be fixing - it looks like the `Content-Type` is getting hammered with `application/json` even after it's been set.

@kimdv I could use your help on another bit - looking at what comes out of using [`RequestCreator.requestMultipartFormData`](https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/RequestCreator.swift#L31), I'm not

[2019-08-09 15:34] gaoshanyu opened #702 "Xcode 10 server bot: Apollo iOS requires version 2.16.x of the Apollo CLI to be installed either globally or in a local node_modules directory."
I tried use Xcode server bot for CI, but bot response me Apollo missing:

I can use Xcode to build my project succeed, please help to find the root cause, thank you so much.

Environment:
Xcode: 10.3

[code]

I use CocoaPods to manage the framework:
[code]

Apollo Api Generate Script:
[code]

[2019-08-09 17:54] designatednerd commented on #702
It should give you a warning about that and then try to install it locally - does it refuse to install locally? If so, maybe give `npm install apollo -g` a try on the Xcode bots machine.

[2019-08-09 20:12] sashaweiss commented on #682
Another idea - separating generated queries by file. Looks like TypeScript/Flow already have an option for this via `apollo codegen:generate`? Would be nice to have a file per query, each with the one query class in it.

Again, thanks for doing this!

[2019-08-10 01:22] gaoshanyu commented on #702
@designatednerd Hi Ellen, thank you for the very quickly reply. I did use the command for my iMac which I used for Xcode Server Bot:
`

`

It's different with `npm install apollo -g`? I'll try it again.

The detail error log as the picture:
<img width="731" alt="Screen Shot 2019-08-09 at 11 25 21 PM" src="https://user-images.githubusercontent.com/10546774/62815793-65ba5980-bb50-11e9-88ff-ec8ccde27

[2019-08-10 01:27] gaoshanyu commented on #702
The Swift version of my project is 4.2.

And a warm warning, CLI apollo@2.17.2 cannot work well with apollo-ios@0.14.0 with Xcode 10.3 and Swift 4.2, I've got too many duplicate errors with them, so I downgrade apollo-ios to 0.13.0 with CLI apollo@2.16.1.

[2019-08-10 01:48] gaoshanyu commented on #702
@designatednerd Hi Ellen, I get the same error after command `npm install apollo -g` for the Xcode Server Bot.

[2019-08-10 02:09] gaoshanyu commented on #702
@designatednerd Hi Ellen, good news, my bot is working after I add `export PATH=$PATH:/usr/local/bin` on the first line of Apollo Api Generate Script, the full script as below:

[code]

Thanks!

[2019-08-10 09:35] designatednerd commented on #702
OK cool - glad that helped. Be aware though, Apollo [switched to Swift 5 a few releases ago](https://github.com/apollographql/apollo-ios/blob/master/CHANGELOG.md#v0100), so I can't make you any guarantees about how anything after that release is going to work with 4.2.

I'm going to close this issue since you were able to find a workaround. Thanks for sharing your path to figuring it out, that'll

[2019-08-10 09:35] #702 closed

[2019-08-10 09:40] designatednerd commented on #682
Yes, for sure. Right now this is possible if you tell the script to output to a folder (which you have to pre-create) rather than to a single `API.swift` file, but it's super non-obvious on how to get it working.

[2019-08-10 16:52] sashaweiss commented on #682
Oh fascinating - I saw that option in the help page, but it said it only applied to TS/Flow. If the option already exists, even better! Thanks!

[2019-08-10 17:14] designatednerd commented on #682
Yeah I think at the moment it's semi-unofficial in that passing in the actual parameter doesn't do squat, you have to pass in a folder rather than a file for output. Planning to make that significantly more explicit in the next version

[2019-08-12 04:44] ParvinderParashar opened #705 "iOS sdk integration issue; schema file not found;"
Hi Everyone
I am trying to integrate apollo ios sdk through pods. i have installed sdk through pods and done changes as per documentation.
while building the project i am getting this error
""" Loading Apollo Project [started]
CLIError: Error in "Loading schema for Unnamed Project": Error: Unable to read file schema.json. ENOENT: no such file or directory, open 'schema.json'
"""
though i have sche

[2019-08-12 04:56] #705 closed

[2019-08-12 05:19] tomasholicky opened #706 "Compiler error - Instance member 'resultMap' cannot be used"
Compiler error:

<img width="1139" alt="Screenshot 2019-08-11 at 22 00 09" src="https://user-images.githubusercontent.com/8051677/62846263-8df6a500-bc83-11e9-853a-d7587d957bd7.png">

I tried generate code with SDK versions from 0.10.1 to 0.14.0, but I still get error above.

Could anybody try to generate code with schema and query, which I attached to this issue.

Thank you!

[schema_query.zip](ht

[2019-08-12 06:46] kimdv commented on #695
@designatednerd There is something a [line 37](https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/RequestCreator.swift#L37).
That should convert a GraphQLMap.

But I also thing that `map` is just a name.
But correct me if I'm wrong! 🤷‍♂️

[2019-08-12 08:40] designatednerd commented on #695
Yeah I've been working on testing with [yoga's upload engine](https://github.com/prisma/graphql-yoga/tree/master/examples/file-upload) and it would reject anything that didn't have a section explicitly named `map`.

Working on a PR.

[2019-08-12 08:55] kimdv commented on #695
hmm okay!
We use [absinthe](https://github.com/absinthe-graphql/absinthe) for our backend.

[2019-08-12 09:26] designatednerd commented on #706
Oof, yeah this is a weird edge case. The problem is that a `Type` type is getting generated because of this section of your query:

[code]

That `Type` is conflicting with swift's existing `Type`, which is the metatype of the type it's being called on. This would require some significant workarounds to fix at the code-gen level, since we'd have to add backtick-escaping for this but check that it d

[2019-08-12 09:28] designatednerd commented on #695
For everyone here: #707 should help significantly with a lot of these issues.

[2019-08-12 09:29] designatednerd commented on #681
This is now up with #707 - I also made some changes to simplify the upload system while trying to document it, so thank you for encouraging me to do that!

[2019-08-12 09:30] designatednerd commented on #677
OK I *think* with #707 this should now be supported way better. Please take a look at that PR and let me know if you have questions.

[2019-08-12 09:31] designatednerd commented on #670
Since I haven't heard back on this one for a couple weeks, I'm going to close it out. If you're still running into problems on this, please open a new issue. Thank you!

[2019-08-12 09:31] #670 closed

[2019-08-12 17:14] tomasholicky commented on #706
It works!

Thanks a lot for quick support.

[2019-08-12 17:14] #706 closed

[2019-08-12 18:10] designatednerd commented on #706
Woot, thanks for letting me know it worked 😃

[2019-08-12 18:13] designatednerd commented on #568
I'm going to close this out since we haven't seen new issues with b5 around this. If you're seeing issues with anything beyond b4, please open a new issue. Thank you!

[2019-08-12 18:13] #568 closed

[2019-08-12 18:14] designatednerd commented on #432
Since I haven't heard back in this issue for a couple weeks, I'm going to close it out. If you're still having issues, in this particular case I'd recommend opening an issue on `apollo-tooling`, though be aware of #682 where i'm taking suggestions for Swift codegen.

[2019-08-12 18:14] #432 closed

[2019-08-12 18:20] designatednerd commented on #397
Since I haven't heard back on this in a few weeks, I'm going to close it out. If you're still having problems, please open up a new issue. Thank you!

[2019-08-12 18:20] #397 closed

[2019-08-12 18:21] designatednerd commented on #453
Since I haven't heard back on this one in a couple weeks, I'm going to close it out. If you're still having problems around this, please open a new issue or drop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) if you've got questions. Thanks!

[2019-08-12 18:21] #453 closed

[2019-08-12 18:34] designatednerd commented on #190
I've added this note to our docs in #708 - I'll close this out once that's merged.

[2019-08-12 18:39] designatednerd commented on #372
Thanks everyone for your suggestions on this - I don't think we have an official recommendation but I know folks searching for how to do this will appreciate it.

For what it's worth I would personally recommend pulling things into frameworks and/or pods per API - @OrestNazarewycz gave a great reason for it but it also helps in terms of being able to reuse that framework for assorted extensions.

[2019-08-12 18:39] #372 closed

[2019-08-12 20:07] designatednerd commented on #190
Merged!

[2019-08-12 20:07] #190 closed

[2019-08-12 20:08] designatednerd commented on #606
Since I haven't heard back on this in a couple weeks and we've shipped `0.14.0` which gets rid of some crashes around double-optionals, I'm going to go ahead and close this out. @Vuong-Dao If you're still having problems, feel free to reopen. Anyone else, please open a new issue. Thank you!

[2019-08-12 20:08] #606 closed

[2019-08-13 08:36] blommegard commented on #568
@designatednerd Yes, you are correct! 👍

[2019-08-13 14:23] acarrera94 commented on #682
+1 for using codables with vars. That will definitely make debugging easier.
And couple of suggestions related to SwiftUI and Combine:
1. Usage of combine, under the hood and it might be nice to have queries return a Combine Publisher instead of a cancellable directly.
2. Codable structs that conform to "Identifiable", when they have an ID would be awesome.

I would love to help once we get starte

[2019-08-13 14:26] designatednerd commented on #682
Oof, I wish on Combine. We still support back to iOS 9, and Combine won't be available on anything below 13. I'm considering some kind of wrapper in the future but unfortunately that's not in the immediate cards.

*Excellent* idea on Identifiable, this isn't going to be out until after 5.1 lands so I think that's a perfect use case for it.

[2019-08-13 14:29] designatednerd opened #710 "Codegen: Add `Identifiable` conformance"
Great idea from [the thread seeking Swift codegen suggestions](https://github.com/apollographql/apollo-ios/issues/682#issuecomment-520856397) - anything that has a GraphQLID should conform to `Identifiable`.

Note: `Identifiable` is part of the Swift 5.1 release, so it will need to wait until that gets finalized. That's likely well before the updated codegen gets finalized, though.

[2019-08-13 14:29] designatednerd commented on #682
Added #710 because I have the memory of a goldfish and don't want to forget that one 😄

[2019-08-13 14:30] acarrera94 commented on #682
Another option is to look into [OpenCombine](https://github.com/broadwaylamb/OpenCombine) But maybe an extensions project would work!

[2019-08-13 14:32] designatednerd commented on #682
Definitely something to look into in the future, but I think for step 1 I'm reluctant to rely so completely on an experimental lib for the architecture.

I also harbor hopes and dreams that Combine will come to open-source swift in the future, but I have a feeling that'll be a bit if it happens at all

[2019-08-13 21:12] Cleversou1983 opened #711 "How use now URLSessionConfiguration with ApolloClient?"
let configuration = URLSessionConfiguration.ephemeral
configuration.httpAdditionalHeaders = [
                "Authorization" : "Bearer \(AppParameters.authorizationBearer)"
 ]

Passing a configuration is no longer supported (it's a shame, it worked perfectly), how can I achieve this now? Thanks...

[2019-08-13 22:31] #711 closed

[2019-08-14 09:18] mdilaveroglu opened #713 "Add a way to differentiate multiple network transports in delegate functions"
In our app, we are using 3 different endpoints and we have 3 different schemas. 2 of which require an Authorization token.  But their way of sending these tokens in headers are different. We need a way to check the network transport to set the correct headers.

[code]

[2019-08-14 09:44] designatednerd commented on #713
You should be able to just compare like this:

[code]

Is that not working?

[2019-08-14 09:50] designatednerd commented on #711
You should be able to hand that configuration to your `URLSession` that you can hand to the client.  This feature is merged but not released yet, it's going to go out with `0.15.0`

[2019-08-14 09:54] mdilaveroglu commented on #713
Nope.

`Binary operator '==' cannot be applied to two 'HTTPNetworkTransport' operands`

[2019-08-14 10:14] designatednerd commented on #713
Ergh, I thought you got that automatically with classes, but I was probably thinking of `NSObject` subclasses. I'll add some kind of `Equatable` conformance.

[2019-08-14 10:49] Cleversou1983 commented on #713
I achieve this strict comparing, using '===' instead '=='

[2019-08-14 11:25] designatednerd commented on #713
^ ah yeah I think that compares the instances. You can also do that, but it certainly doesn't hurt to have the equatable conformance.

[2019-08-16 09:14] designatednerd commented on #695
Significant changes shipping with `0.15.0` - @Cleversou1983 if you're still having trouble after that upgrade and you can't work it out with your BE dev, please open a new issue and we'll try to figure it out.

[2019-08-16 09:14] #695 closed

[2019-08-16 09:15] designatednerd commented on #713
Equatable conformance has shipped with `0.15.0`.

[2019-08-16 09:15] #713 closed

[2019-08-16 09:16] designatednerd commented on #677
Significant improvements to both this and the documentation have shipped with `0.15.0`. If you're still having problems after upgrading, please open a new issue. Thank you!

[2019-08-16 09:16] #677 closed

[2019-08-16 09:16] designatednerd commented on #681
Significant changes to this along with way better documentation of this functionality have shipped with `0.15.0`.

[2019-08-16 09:16] #681 closed

[2019-08-16 09:18] designatednerd commented on #188
Two new options for this have shipped with `0.15.0`:

- You can now pass in a `URLSession` rather than just a `URLSessionConfiguration`, so you can set up any existing mocking libraries that take advantage of intercepting things in a session or using `NSURLProtocol` for mocking.
- There is now an `ApolloClientProtocol` you can use to fully mock anything the client is doing.

If you have further re

[2019-08-16 09:18] #188 closed

[2019-08-16 09:20] designatednerd commented on #228
As of `0.15.0`, we now support passing in a `URLSession` rather than just a `URLSessionConfiguration`, so you are able to take advantage of the `URLSessionDelegate` methods in order to facilitate this.

If you are still having problems with this after upgrading, please open a new issue. Thank you!

[2019-08-16 09:20] #228 closed

[2019-08-16 09:20] designatednerd commented on #61
As of `0.15.0`, we now support passing in a `URLSession` rather than just a `URLSessionConfiguration`, so you are able to take advantage of the `URLSessionDelegate` methods in order to facilitate this.

If you are still having problems with this after upgrading, please open a new issue. Thank you!

[2019-08-16 09:20] #61 closed

[2019-08-16 09:21] designatednerd commented on #77
As of `0.15.0`, the `HTTPNetworkTransport` initializer now takes a `URLSession` directly rather than a `URLSessionConfiguration`, so you should now be able to pass in a background session directly to the initializer.

If you are still having problems after upgrading, please open a new issue. Thank you!

[2019-08-16 09:21] #77 closed

[2019-08-16 10:58] designatednerd commented on #682
OK awesome suggestions everyone - I'm going to close this particular issue out, you can follow the remainder of the project through the [Swift Codegen Github Project](https://github.com/apollographql/apollo-ios/projects/2) - if there's specific functionality you want, please open a new issue and we'll chat on that thread. Thank you all!

[2019-08-16 10:58] #682 closed

[2019-08-16 11:10] designatednerd opened #718 "Primary Maintainer Out of Office August 20-September 3"
Starting Tuesday, August 20th I will be AFK for two weeks because I'm moving continents. Please be advised that during this time, responses to issues and PRs will be considerably slower than usual.

I will be back on September 3rd and will hack my way through whatever y'all have found then, but if you run into any super-urgent issues which are not solved by rolling back to an earlier version of th

[2019-08-16 11:33] torycons opened #720 "Crash when gets new interface type from server"
### **Version**
- ApolloClient 0.14.0

### **Problem**

when I have the following types:
[code]

and my app use query from this fragment.

[code]
Later, I add another implementation of `Notification` below

[code]

Without updating app with the new schema, my app will crash when I tried to read `id` from  `NotificationShare`. The crash happens in generated `API.swift` below

[code]

It seems that

[2019-08-16 12:39] designatednerd commented on #720
Woof, yeah, that's unfortunate. For now you'll need to regenerate your code off the new schema, but you're correct that shouldn't happen in theory.

If you'd like to take a stab at fixing it in typescript, please take a look at our [tooling repo](https://github.com/apollographql/apollo-tooling) and the [`apollo-swift-codegen` package](https://github.com/apollographql/apollo-tooling/tree/master/pac

[2019-08-16 17:11] sashaweiss opened #721 "Swift generation using field name vs GraphQL type for struct name"
Hi! First off, loving using Apollo and thanks for your hard work especially on the Swift integration.

Question/Issue: generated queries seem to use the name of a field as the name of the struct representing that field, rather than the name of the GraphQL type for the field, which is causing some namespacing headaches for me. For example, I have a project with a GraphQL query like below (types fro

[2019-08-16 22:18] Cleversou1983 commented on #681
@designatednerd Ellen, finally got it working! I really appreciate your help and support! Thanks so much!!!!!!!!!

[2019-08-17 06:44] designatednerd commented on #645
To-Done!

[2019-08-17 06:44] #645 closed

[2019-08-17 07:58] designatednerd commented on #721
Good question! I'll try to break it down into a few separate points:

- We don't necessarily want to have everything line up by the underlying type of the return value, since that can cause some confusion. This is particularly true when a type doesn't have all its required properties present because only one or two were requested. For example, if `Widget` has both `id` and `name` as required prope

[2019-08-17 07:59] designatednerd commented on #681
Yay! Glad it's working now!

[2019-08-19 09:00] designatednerd commented on #721
@sashaweiss Did this answer your question? If it did, we can close this issue out. If not, let me know what else I can help with.

[2019-08-19 09:54] designatednerd opened #723 "Apollo iOS Developer Survey [until 6 September!]"
Hey everyone! I'm doing a survey of the people using the Apollo iOS SDK to try and get a better grip on current uses and pain points, as well as get some feedback on ideas I'm looking at for the future. This is going to allow myself and the Apollo team to prioritize some future work and help get a long-term roadmap hammered out.

[Here is the link to the survey](https://docs.google.com/forms/d/e/1

[2019-08-19 15:04] sashaweiss commented on #721
Yes! Thanks for the detailed response.

[2019-08-19 15:04] #721 closed

[2019-08-19 15:17] designatednerd commented on #721
You're welcome!

[2019-08-19 17:59] cltnschlosser opened #724 "Xcode 11 warning for Optional.none in generated code"
`Assuming you mean 'Optional<Optional<MyType>>.none'; did you mean 'MyType.none' instead?`

[code]

The codegen should generate `Optional<MyType?>.none` (or maybe `?? nil`) instead of `.none`.

[2019-08-20 00:06] Cleversou1983 opened #725 "How to completely clear cache?"
Hi there, I'm using: ApolloRequestObject.shared.privateClient.clearCache() (a singleton for the my private client) to clear the cache when the user logout, on login I'm trying using:
apollo.fetch(query: query, cachePolicy: .fetchIgnoringCacheCompletely)

But both ways doesn't work, only when I restart the simulator....

Thanks for your help!

[2019-08-20 06:13] designatednerd commented on #724
Yeah when I updated this it was originally returning `nil`, but `nil` is not actually a valid return type for `Swift.Optional`, at least in Swift 5. I'm not sure what's changed in 5.1 to elicit this warning.

I'll take a look at this when I get back!

[2019-08-20 06:16] designatednerd commented on #725
Couple questions:

- What kind of cache are you using, in-memory or SQLite?
- Does the same issue happen on a device, or just in the simulator?

[2019-08-20 11:44] Cleversou1983 commented on #725
@designatednerd

- I'm using the default caching
- It happens both in the simulator and on a device

When the user log-in, I search for user info and grab the token, when de user logout and login with a different account, the user data doesn't change...

[2019-08-20 12:06] cltnschlosser commented on #724
The warning only shows up when MyType is an enum that has a none case. See https://bugs.swift.org/browse/SR-2176

[2019-08-20 12:17] designatednerd commented on #725
if you're using CocoaPods, I'd try throwing a breakpoint into the `clearCache` method to see if it's actually getting called - that might at least help figure out what's going on (or not).

[2019-08-20 12:27] Cleversou1983 commented on #725
I've put the breakpoint and yes, it's being called...

        ApolloRequestObject.shared.privateClient.clearCache().andThen { (_) in
            DispatchQueue.main.async {
                Defaults.removeAll()
                self.performSegue(withIdentifier: self.segueToCheck, sender: nil)
            }
        }

[2019-08-20 12:39] Cleversou1983 commented on #725
Other thing I've noticed here, the server provides me an access token, first time I log in, it works, then I logout, log in again, grab another token and the data doesn't update, I used this token in Altair, and has the same cache problem... Maybe it's a server side problem? Thanks for your help!

[2019-08-20 12:46] ppowers10 commented on #329
I have been having the same issue as @qalvapps.  His statement: `I have custom scalars working when parsing network response as is described in your linked issue. The issue is that Apollo doesn't use custom scalars when serializing persisted data from SqlNormalizedCache` seems to be the same thing I'm facing.

A couple things to note:
- We are using ` --passthroughCustomScalars`
- When we fetch th

[2019-08-20 16:57] koenpunt commented on #723
Do you mean monthly users?

[2019-08-20 19:33] Cleversou1983 commented on #725
Nevermind, it was a backend problem... Thanks a lot anyway!

[2019-08-20 19:33] #725 closed

[2019-08-20 19:40] sashaweiss commented on #721
Eventually got around to implementing the rename you mentioned, and wanted to follow up that that approach looks like it'll work great for me. Thanks again!

[2019-08-21 04:26] designatednerd commented on #725
Thanks for letting us know!

[2019-08-21 04:27] designatednerd commented on #723
Yes! I'll update that question

[2019-08-21 07:26] vankien96 opened #727 "Problem with Upload type"
I have some problem when I work with apollo client. Please help me figure out it.
1. I have a mutation:
[code]
And in file swift generate automatic by Apollo, I see avatar as type String. I don't understand that.
[code]
2. I see in document have a method ```apollo.upload(file)``` but i can't see any method can upload and send data together. i need use UploadNetworkTransport to do that. is that rig

[2019-08-21 07:36] victormihaita commented on #727
For number 3:
[code]

[2019-08-21 07:54] vankien96 commented on #727
@victormihaita
Thank you so much.

[2019-08-21 08:32] victormihaita opened #728 "Crash when uploading - JSONEncodable error"
When trying to upload file using the mutation I get into an JSONEncodable error:
![Screenshot 2019-08-21 at 11 23 26](https://user-images.githubusercontent.com/43206741/63415792-edcd1880-c406-11e9-98c0-71cc3b41cd34.png)

This is the mutation that I use:
[code]

The `UserArtworkCreateInput` contains one parameter of type Upload which has the following format when the mutation is performed:
![Screen

[2019-08-21 08:37] designatednerd commented on #329
OK thank you very much for the detailed info - I'll see what I can do about this when I get back from moving.

[2019-08-21 08:40] designatednerd commented on #727
Thanks @victormihaita!

@vankien96 Regarding why it's typed as a `String`, it's a bit of a long story, but the short version is that an `Upload` is a custom scalar that eventually is `String` under the hood. That `String` eventually gets replaced with a multipart-form object under the hood.

Does that answer your questions?

[2019-08-21 08:43] designatednerd commented on #728
This is a bit of a limitation of uploading at the moment - you need to pass the upload in as one of the root parameters, so you will need to split up `Data` into its individual parameters.

Please check out the [docs I recently added after some changes to uploading](https://www.apollographql.com/docs/ios/mutations/#uploading-files), and please let me know if you have further questions. Thank you!

[2019-08-21 10:24] vankien96 commented on #727
@designatednerd
And about question number 2. i have to use upload function of NetworkTransport instead of upload function of ApolloClient. Is that right?.
This is my code:
[code]

[2019-08-21 11:16] MatrixSenpai opened #729 "Build error when including a type and set of types"
Running into an issue with conflicting types.

I have a schema definition that follows this format:
[code]

When trying to define it in Apollo on the iOS client, I get the build error 'Cannot convert value of type 'Match.Winner.Type' to 'GraphQLFragment.Type'. My definitions are
[code]

If I remove the definition for the `teams` field, `Team` gets created as a `GraphQL Fragment`. If I add it, `Tea

[2019-08-21 11:24] MatrixSenpai commented on #729
As an addendum to this, I created two new fragments, `WinningTeam` and `ParticipatingTeams` and assigned them to `winner` and `teams`, respectively. However, those fragments are exactly the same, and this is not necessarily expected behavior. If I try to assign either of those fragments to both fields, the build fails the same way

[2019-08-21 12:21] kimdv commented on #442
I think we also should consider autogenerate the `Hashable` interface

[2019-08-21 14:20] kimdv commented on #145
This might also solve the problem for watching paginated queries

https://spectrum.chat/apollo/apollo-ios/pagination-watchquery~3e3a3a93-cb84-4962-8573-7d683a09f1d4

https://blog.apollographql.com/pagination-and-infinite-scrolling-in-apollo-client-59ff064aac61

[2019-08-21 15:03] koenpunt commented on #516
Would be a breaking change, but making the store not retain the watcher, and require the developer to retain a reference to the watcher for as long as it's needing the watcher could work, right?

[2019-08-22 04:01] #727 closed

[2019-08-22 06:47] pradipwalghude commented on #395
Showing Recent Messages
Command PhaseScriptExecution failed with a nonzero exit code

Facing the same issue with Xcode 10.2 .
I have used below script. Please correct me if I am wrong.

APOLLO_FRAMEWORK_PATH="$(eval find $FRAMEWORK_SEARCH_PATHS -name "Apollo.framework" -maxdepth 1)"

if [ -z "$APOLLO_FRAMEWORK_PATH" ]; then
echo "error: Couldn't find Apollo.framework in FRAMEWORK_SEARCH_PATHS; mak

[2019-08-22 07:03] LucaGaspa commented on #727
@vankien96 I have a very similar issue. Can you tell me how you reach the solution?

[2019-08-22 09:08] vinamelody opened #731 "Task failed with exit code 65:"
Hi, in my new project, I specify this in `Cartfile`:

[code]

Here's the command line output:

[code]

And here's the cat of the log:

[code]

[2019-08-22 10:52] koenpunt commented on #720
Ah, so it still happens; this is essentially a duplicate of #400 (closed).

[2019-08-22 12:58] diegoventura opened #732 "HTTPNetworkTransport still using completion handler blocks"
The latest release (`0.15.0`) introduced the ability to use a `URLSession` instead of a `URLSessionConfiguration`, this allows using a background session on the `HTTPNetworkTransport`.

However, `HTTPNetworkTransport` [is still using](https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/HTTPNetworkTransport.swift#L108) completion handler blocks, which are not supported in a backg

[2019-08-22 16:01] jjatie commented on #467
Any update on this?

[2019-08-22 20:59] DmitryVanyshkin opened #733 "GenericScalar type generates as String"
Server of my app use JWT for authorization. So, when I perform mutation to verify token, I recieve field with GenericScalar type. The main problem that Apollo-ios recognise it as String and throws error when parces response.
<img width="383" alt="Снимок экрана 2019-08-22 в 23 57 04" src="https://user-images.githubusercontent.com/43039535/63549246-b65e8900-c538-11e9-8125-f9f595c27b2b.png">
<img wid

[2019-08-23 15:22] Greensource commented on #733
Exact same issue for me. In my opinion, regarding the GenericScalar definition, Apollo SDK should generate a var of type `Any` instead of `String`.

[2019-08-23 20:08] designatednerd commented on #732
Remind me why a completion handler can't be used in a background session? I thought when you got the background wakeup call you got a completion block to fire when your action had completed.

[2019-08-23 20:13] designatednerd commented on #729
I'll take a deeper look into this when I get back from moving, but I know we've had some issues with fragments that have the same name as the type name.

In general I'd expect the fragment name to be something more like `TeamDetails` or `TeamIDAndName` rather than having the same exact name as the type itself.

[2019-08-23 20:16] designatednerd commented on #731
This looks like it's caused by the Carthage problems in #386 - can you try the [workarounds suggested here](https://github.com/apollographql/apollo-ios/issues/386#issuecomment-507247115), particularly if you're not actually using your `tvOS` target?

[2019-08-23 20:21] designatednerd commented on #395
Hey @pradipwalghude please check out the [updated instructions](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) - if they are not working, please open a new issue and include info about a) What dependency management you're using and b) exactly what error you are receiving when the build fails. Thank you!

[2019-08-23 20:23] designatednerd commented on #442
Yes `Hashable` is definitely happening in addition to equatable - I've been doing that in some behind the scenes stuff prepping for updated codegen

[2019-08-23 20:28] designatednerd commented on #733
For clarity when I look into this when I get back: Are you using the `passthroughCustomScalars` option with Codegen, or not? If you try the opposite of what you're doing now, does that make things better or worse? 🙃

[2019-08-23 20:29] ppowers10 commented on #329
@designatednerd I think we found the underlying issue.  Some of our Queries variables contain `.`.  One of the value is the version of the app which the graphql server wants to know.  In doing this, the `shouldComputeCachePath` check will fetch the variables and create a string for the cacheKey.  The issue is that you have other logic in the framework which will strip the `.` at certain points due

[2019-08-23 20:32] designatednerd commented on #329
Oof, yeah, that would definitely break the hell out of trying to parse key paths. Thanks for the info!

[2019-08-24 07:30] MatrixSenpai commented on #729
Fair enough, but either way, it produces unexpected results

[2019-08-24 08:07] diegoventura commented on #732
I thought it too, but when I'm getting the following crash when fetching the query.

[code]

[2019-08-24 08:09] DmitryVanyshkin commented on #733
I didn't have this option, but with `passthroughCustomScalars` it makes a lot of errors, such as "Use of undeclared type 'GenericScalar"
<img width="563" alt="Снимок экрана 2019-08-24 в 11 09 12" src="https://user-images.githubusercontent.com/43039535/63634477-9d042c80-c65f-11e9-9f04-d5dc22aa9541.png">
<img width="703" alt="Снимок экрана 2019-08-24 в 11 08 39" src="https://user-images.githubuserco

[2019-08-24 13:50] vinamelody commented on #731
Hi, decided to use Cocoapods for now :)

[2019-08-24 13:50] #731 closed

[2019-08-24 16:51] koenpunt commented on #733
For `passthroughCustomScalars` to work you have to define the type yourself.

Could be as simple as;

[code]

You can see the default type conversions here;
https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/JSONStandardTypeConversions.swift

[2019-08-24 16:55] koenpunt commented on #733
Or for the `DateTime` scalar;

[code]

[2019-08-25 14:21] faithYoshimura commented on #395
I was able to resolve this error by carthage rebuild.
may be it works bellow.

`carthage bootstrap --platform iOS`

[2019-08-25 19:01] pradipwalghude opened #736 "Command PhaseScriptExecution failed with a nonzero exit code . (Xcode 10.3 )"
Showing Recent Messages
Command PhaseScriptExecution failed with a nonzero exit code

Facing the same issue with Xcode 10.2 .
I have used below script. Please correct me if I am wrong.
Below error facing in swift 5.0 and Xcode 10.3 . Please help me asap

APOLLO_FRAMEWORK_PATH="$(eval find $FRAMEWORK_SEARCH_PATHS -name "Apollo.framework" -maxdepth 1)"

if [ -z "$APOLLO_FRAMEWORK_PATH" ]; then
echo

[2019-08-25 19:27] designatednerd commented on #736
Yeah this is unfortunately a [known issue](https://github.com/apollographql/apollo-ios/issues/386#issuecomment-507247115) - please see that link for a detailed explanation. Seems like you already found a workaround though!

[2019-08-25 19:29] designatednerd commented on #732
Blargh. Will take a look when I get back.

[2019-08-25 19:35] designatednerd commented on #729
Yeah agreed. I’ll see what I can do when I’m back.

[2019-08-26 07:10] pradipwalghude commented on #386
But issues are not resolved? Provide me the solution asap?

[2019-08-26 07:12] pradipwalghude commented on #386
Facing issue on below Xcode version:
macOS 10.14.4
Xcode 10.3
Swift 5.0

[2019-08-26 17:48] pradipwalghude commented on #386
I have uses swift 5 & Xcode 10.3 and Appolo  pod version 0.15.0 . But still facing issue.
Could you please tell where is issue? Have test with latest Xcode ?

I have installed Apollo by cocoa pods.

[2019-08-28 12:33] maximedegreve commented on #386
I'm having the same issue, unfortunately using `--platform ios,macos` isn't working.

Xcode: 10.3 (10G8)
macOS: 10.14.5
Swift: 5.0

[2019-08-28 14:46] DmitryVanyshkin opened #740 "Apollo Websocket gives 4000 error"
Good afternoon! Using Apollo GraphQL and Apollo WebSocket in my app. So, when I'm trying to connect to websocket it disconnects immediately, then reconnects and thar repears again.
So, i recieve result with failure and error such this one:
<img width="305" alt="Снимок экрана 2019-08-28 в 17 45 33" src="https://user-images.githubusercontent.com/43039535/63866274-a53fcd00-c9bb-11e9-8998-bde3f32f45fc

[2019-08-28 14:51] maximedegreve commented on #386
Thank you for your response @designatednerd. Unfortunately still getting errors:

**Command:**
`carthage update --platform macOS --verbose`

**Error:**
`    /bin/sh -c /Users/maximedegreve/Library/Caches/org.carthage.CarthageKit/DerivedData/10.3_10G8/apollo-ios/0.15.0/Build/Intermediates.noindex/ArchiveIntermediates/ApolloWebSocket/IntermediateBuildFilesPath/Apollo.build/Release/Apollo.build/Scrip

[2019-08-29 07:26] DmitryVanyshkin commented on #733
Oh, I prefer to not use `GenericScalars`, but when I try to do @koenpunt's suggestions they work

[2019-08-29 07:26] #733 closed

[2019-08-29 11:53] DmitryVanyshkin commented on #740
@designatednerd small update until I try to user your solution.

[2019-08-29 13:02] ShreyanshAlchemy commented on #77
Any suggestion after upgrading 0.15.0, how to add configuration in apollo client?

[2019-08-29 13:29] SandeepZap opened #741 "Unable to Compile Apollo version 0.15.0 with Xcode 10.2 no API.swift file is created."
Using Apollo version 0.15.0
Npm version 6.10.3
Node version v12.9.1

**Not able to compile the project with Legacy Build System and New Build System**

[2019-08-29 14:21] DmitryVanyshkin commented on #740
Sorry, I was rather retarded. That was token problem, not WebSocket library

[2019-08-29 14:21] #740 closed

[2019-08-29 15:47] jordanhbuiltbyhq opened #742 "User-friendly localizedDescription from query fetch Error"
This is a refile of #477. Apologies for not getting back on time. We continue to see the `error.localizedDescription` is not something you want to show to the user. Testing it on 0.15.0 we get:
`"Received error response (500 internal server error): {\"errors\":[{\"message\":\"Invalid client auth token.\",\"extensions\":{\"code\":\"INTERNAL_SERVER_ERROR\"}}]}\n"`

[2019-08-29 21:10] jordanhbuiltbyhq opened #743 "Command PhaseScriptExecution failed due to "No such file or directory" caused by space"
My macOS project is located in /Volumes/Macintosh HD/.... which is a different volume than my current volume (working in Catalina). I'm seeing an error trying to build the project:

A space in the path breaks the run script. I'm using:
[code]

[2019-08-30 23:06] lilyball commented on #193
I finally got around to testing this and `apollo` version `2.18.0` is still broken. I see escaping in most places, except I'm seeing `public var `self`: Self?` and this is wrong.

I think the problem is the type is `Self?` instead of `Self`. `escapeIdentifierIfNeeded` seems to be doing just bare string matching. We should probably have `escapeTypeNameIfNeeded` that handles types. Not just `Self?`

[2019-09-01 13:20] muhammadfaheem-pycom opened #747 "Error initializing Apollo GraphQL project "Unnamed Project": Error: Error in "Loading schema for Unnamed Project": TypeError: Cannot read property 'reduce' of undefined"
`Now using node v8.15.0 (npm v6.4.1)
 ›   Warning: apollo update available from 2.16.3 to 2.17.4.
++ npx --no-install apollo codegen:generate --target=swift '--includes=./**/*.graphql' --localSchemaFile=schema.json API.swift
 ›   Warning: apollo update available from 2.16.3 to 2.17.4.
Loading Apollo Project [started]
{ Error: Error in "Loading schema for Unnamed Project": TypeError: Cannot read pr

[2019-09-02 06:35] js opened #748 "Tests fails to build on fresh checkout"
I get 30 build errors or so for the StarwarsAPI target when I build the tests, all in API.swift, they're all in the form of:
[...]/apollo-ios/Tests/StarWarsAPI/API.swift:585:58: Value of optional type '[HeroAndFriendsNamesWithIDsQuery.Data.Hero.Friend?]?' must be unwrapped to refer to member 'filter' of wrapped base type '[HeroAndFriendsNamesWithIDsQuery.Data.Hero.Friend?]'

I also see the generat

[2019-09-02 12:54] PhillipFraThailand opened #749 "Swift 11, SwiftUI, Xcode11 beta, Apollo GraphQL, WatchOS6"
Hey guys I'm new here, and in general in all of this so please bear with me.

I am looking into how to setup Xcode11 / SwiftUI with Apollo in a WatchOS6 project, and are having a hard time finding some good resources on exactly how to do this.

I am following [this guide](https://www.apollographql.com/docs/ios/installation/)

I have installed 'Apollo (0.15.0)' via CocoaPods into my Xcode 11 swiftU

[2019-09-02 16:44] casey-chow commented on #749
So this looks to be the root of your issue:

`/Users/phillipeismark/Library/Developer/Xcode/DerivedData/WatchOS6GraphQLApolloIOS-azskjqtoubvpapbsywgnrrcfftaq/Build/Intermediates.noindex/WatchOS6GraphQLApolloIOS.build/Debug-watchsimulator/WatchOS6GraphQLApolloIOS WatchKit Extension.build/Script-76EAEB00231D38DC00BE1CF5.sh: line 14: /Users/phillipeismark/Library/Developer/Xcode/DerivedData/WatchOS6G

[2019-09-03 04:23] ShreyanshAlchemy commented on #112
Does anyone have suggestion for how to pass access token in a header file?
My Apollo version is latest 0.15.0

[2019-09-03 07:52] PhillipFraThailand commented on #749
Hey Casey-chow, thanks for your reply.

Does that mean that I need to replace everything that's inside ${} like ${PODS_ROOT} to a directory of where to find it so it looks like:

${/Users/phillipeismark/sandbox/WatchOS6Apollo/Pods/Apollo/scripts}?

Or is it only some of them or one of them?

"${SRCROOT}/ and ${TARGET_NAME}", or "${SCRIPT_PATH}" only?

[2019-09-03 08:29] PhillipFraThailand commented on #749
Hey guys a little update to provide some more hopefully useful information.

I made a new project and I made some changes to the script so that it looks like this now:

`SCRIPT_PATH="/Users/phillipeismark/sandbox/WatchOS6Apollo/Pods/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
"${SCRIPT_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --includes=./**/*.graphql --localSchemaFile

[2019-09-03 09:22] PhillipFraThailand commented on #412
Hey Arieleelkin, I am currently having some issued with the script and I'm trying different stuff out. What do I need to put instead of this line? My script currently looks like this

[2019-09-03 11:57] romainbiard commented on #412
Apollo version 0.15 is working well with this script:

SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
"${SCRIPT_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --includes=./**/*.graphql --localSchemaFile="API/GraphQL/schema.json" API/GraphQL/API.swift

[2019-09-03 12:16] PhillipFraThailand commented on #412
Hey romainbiard thanks for your answer.
I currently have the script in my project and I get this error when I try to run the project.

Do I need to change anything in the script? I have tried to change the variables in the script to the directories paths and stuff but I get the same error.

[2019-09-03 12:20] PhillipFraThailand commented on #412
I am starting to suspect that it might have something to do with it being a WatchOS6 project.

If any of you could please take a look at the picture in case anything is off?

![Screen Shot 2019-09-03 at 2 18 53 PM](https://user-images.githubusercontent.com/33216628/64172745-f76a6d80-ce55-11e9-8a29-c582fd4b1bf3.png)

[2019-09-03 12:55] PhillipFraThailand commented on #412
I have made a new project that's a normal SwiftUI project for the phone and not the watch.

I am getting these errors:

Showing All Messages
/Users/phillipeismark/sandbox/SwiftUIApollo/Pods/Apollo/scripts/check-and-run-apollo-cli.sh: line 61: npx: command not found

Apollo iOS requires version 2.17.x of the Apollo CLI to be installed either globally or in a local node_modules directory.

Installin

[2019-09-03 13:01] PhillipFraThailand commented on #749
I have made a new project that's a normal SwiftUI project for the phone and not the watch.

I am getting these errors:

Showing All Messages
/Users/phillipeismark/sandbox/SwiftUIApollo/Pods/Apollo/scripts/check-and-run-apollo-cli.sh: line 61: npx: command not found

Apollo iOS requires version 2.17.x of the Apollo CLI to be installed either globally or in a local node_modules directory.

Installin

[2019-09-03 14:25] romainbiard commented on #412
1)Install Homebrew
`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`

2)Install node and npm
`brew install node npm`

[2019-09-03 16:35] casey-chow commented on #749
So it looks like you don't have NPM installed. You can install it [here](https://www.npmjs.com/get-npm).

[2019-09-03 18:01] designatednerd commented on #718
I'm back! Closing.

[2019-09-03 18:01] #718 closed

[2019-09-03 18:02] designatednerd commented on #741
It looks like you need to update your local version of the Apollo CLI - 2.x has a different set of arguments than 1.x did.

[2019-09-03 18:03] designatednerd commented on #742
@jordanhbuiltbyhq Thanks for re-filing! I'll take a look and see what I can figure out. I suspect that's from `GraphQLError` not using the `message` as the localized description

[2019-09-03 18:04] designatednerd commented on #743
Oof, I thought I'd validated `PODS_ROOT` fixed that but apparently it didn't. Whee! I'll see what I can figure out.

[2019-09-03 18:19] designatednerd commented on #747
I wholeheartedly agree this procedure isn't great, and we're working on [a project to replace it](https://github.com/apollographql/apollo-ios/projects/2), and our tooling team is working on a project to make it possible to not need to rely on node for the CLI 🤞.

I would recommend on the CocoaPods front running `pod outdated` - this will force CocoaPods to fetch all updates to the main Spec repo (

[2019-09-04 03:41] designatednerd commented on #748
In theory this should be fixed by `2.17.4` - I'm not sure why it wouldn't be updating, though. Potentially because you're using a global instead of a local install?

We're working on getting ourselves out of node hell fwiw

[2019-09-04 03:44] designatednerd commented on #749
The instructions for this with Xcode 11 haven't been updated as Xcode 11 is still in Beta, but I'm gonna be honest: You're almost certainly better off using Swift Package Manager with Xcode 11.

You'd still need to install `npm` globally for now, but we're working on getting things packaged as a binary so iOS devs don't have to fight with it.

[2019-09-04 08:48] PhillipFraThailand commented on #749
Hey Designatednerd, so if I understand correctly you are recommending that I stop using CocoaPods in favor of SPM? But I still need to use npm to install npm globally? Does that mean that I need to write $ npm install -g apollo inside of my project, and does that also replace CocoaPods or do I still need the pod init and install and all that jazz or how is it all connected?

My understanding so fa

[2019-09-04 09:10] PhillipFraThailand commented on #412
Hey romainbiard, I have installed that and I am getting this warning when I install apollo with npm:

npm WARN ts-node@8.3.0 requires a peer of typescript@>=2.0 but none is installed. You must install peer dependencies yourself

do you know how to do this?

[2019-09-04 13:31] designatednerd commented on #749
In Xcode 11, you can [add swift packages directly](https://medium.com/better-programming/add-swift-package-dependency-to-an-ios-project-with-xcode-11-remote-local-public-private-3a7577fac6b2) without having to do all the nonsense with the command line. The [SPM Beta instructions](https://www.apollographql.com/docs/ios/installation/#if-you-are-integrating-apollo-using-spm--xcode-11-beta) are design

[2019-09-04 13:33] designatednerd commented on #412
@PhillipFraThailand I've answered this question on [your other issue](https://github.com/apollographql/apollo-ios/issues/749) - let's try to keep discussion on that issue for clarity please.

[2019-09-04 13:42] PhillipFraThailand commented on #749
Okay, I am starting to get a better understanding about all of this, but is there a resource with all the information? I tried with CocoaPods first as the guide was saying, then I found out that didn't work unless you had something called NPM installed, and then I found out CocoaPods don't work with Xcode 11 beta, so I used SPM, and now I'm finding out that I should use SPM through Xcode and not t

[2019-09-04 14:09] designatednerd commented on #749
SPM will not work without NPM either. Let me try to share some details:

- **SPM** is the _Swift Package Manager_. It is used for pulling in the dependencies of a Swift project. It has existed since Swift 2, but has only been integrated into Xcode with Xcode 11.

  Previously, you had to use command line to add or manage packages. With Xcode 11, you do not need to, and in fact **should not**, use

[2019-09-05 06:00] PhillipFraThailand commented on #749
Thank you so much for the clarification, this was very helpfull.
I have now installed Apollo through the integrated SPM and not the terminal.

Now I get an error that looks more fixable:

`Loading Apollo Project [failed]
→ Error initializing Apollo GraphQL project "Unnamed Project": Error: Error in "Loading schema for Unnamed Project": TypeError: Cannot read property 'reduce' of undefined
 ›   Err

[2019-09-05 08:38] #741 closed

[2019-09-05 08:41] SandeepZap commented on #741
Update Apollo CLI version has fixed this issue

[2019-09-05 10:10] koenpunt commented on #749
For what it's worth; the firebase cli is written in javascript too, but is bundled as a single binary.

This can be done with tools like https://github.com/zeit/pkg or https://github.com/nexe/nexe, and would thus not require users to do the npm dance, which could be a short term solution.

Although I can see having parser/generator for code in a single place, in a single language has its merits to

[2019-09-05 16:30] designatednerd commented on #749
@koenpunt yeah the tooling team is working on something for this, hoping to land it soon!

[2019-09-05 16:31] designatednerd commented on #749
@PhillipFraThailand Can you confirm which beta of Xcode you're using?

[2019-09-05 16:54] PhillipFraThailand commented on #749
I Am using version 11.0 beta 6

[2019-09-05 17:32] designatednerd commented on #741
Cool, thanks for letting us know!

[2019-09-05 18:45] michaelryannewell commented on #388
There is no result, error, just a response that can be mapped to result or error. The code below highlights the new syntax:

[code]

[2019-09-05 18:51] designatednerd commented on #388
Yep - this is also a totally valid way to access the `Result`. Personally I prefer the `switch` way of accessing it as I find it a bit easier to read:

[code]

[2019-09-05 18:53] designatednerd commented on #77
There's [some stuff with the delegate callbacks I missed](https://github.com/apollographql/apollo-ios/issues/732) that I need to deal with in order to make it fully functional 🤦‍♀

Please follow that issue for further updates.

[2019-09-05 18:53] designatednerd commented on #740
Thank you for letting us know @DmitryVanyshkin!

[2019-09-05 18:55] designatednerd commented on #193
Ergh, I agree - I'm going to add a task for this to the [iOS Swift Codegen](https://github.com/apollographql/apollo-ios/projects/2) project so I don't forget about it.

@lilyball If you're interested in making a fix on the TypeScript stuff in the meantime, we'd love to see a PR on the [tooling repo](https://github.com/apollographql/apollo-tooling)

[2019-09-05 18:56] designatednerd opened #752 "Make sure types are always escaped correctly"
We've had to make several fixes related to #193 - we should absolutely have a centralized way of escaping types rather than forcing everything to escape them as needed.

[2019-09-05 18:58] michaelryannewell commented on #388
Thank you @designatednerd  I learned something new today!

You can view the result enum for Swift in the docs as Swift > Result

/// A value that represents either a success or a failure, including an
/// associated value in each case.
public enum Result<Success, Failure> where Failure : Error {

    /// A success, storing a `Success` value.
    case success(Success)

    /// A failure, storing a

[2019-09-05 19:02] designatednerd commented on #112
@ShreyanshAlchemy [Here's our documentation on advanced client setup](https://www.apollographql.com/docs/ios/initialization/#advanced-client-creation), including an example that shows how to add information to a request header using the [`HTTPNetworkTransportPreflightDelegate`](https://github.com/apollographql/apollo-ios/blob/0b53ff292d0af939043e2af9594627365aa859f3/Sources/Apollo/HTTPNetworkTrans

[2019-09-05 20:54] designatednerd commented on #749
OK, so I just tried it out with 11.0 beta 7 on Catalina Beta 7, and everything seems to work fine on my end.

I also ruled out the possibility it's because you've got spaces in your project path - I created a folder and project called `SPM Space Test` and everything worked fine.

It seems like the script is dying importing your schema from the error message - can you validate that your `schema.jso

[2019-09-06 06:05] PhillipFraThailand commented on #749
Hey there is no property called reduce.

The JSON file passed the tool.

My tree looks like this:

<img width="303" alt="image" src="https://user-images.githubusercontent.com/33216628/64404471-56a9c700-d07c-11e9-8ca3-c431ef8e6668.png">

Theres currently two json files, but I have tried with only having one and the other.

I can't attach the schema here so I'll send you a mail with it.

Thanks for

[2019-09-06 18:57] JimRoepcke commented on #747
I'm having the same problem. I have verified the schema.json file is valid.

First I had to change line 3 of the Run Script Build Phase script for Xcode 11 / SPM here...

to

(I'm using Xcode 11 beta 7 build 11M392r)

Finally, getting this far, I'm now having the same error as OP.

[code]

The Run Script build phase does a `cd` so I wasn't sure if it was unable to find `schema.json` as specified i

[2019-09-06 19:36] JimRoepcke commented on #747
Update: I discovered the problem was my schema.json file. It was valid json. I downloaded it from GraphiQL, but it seems it wasn't in the right format. I tried a different schema.json file from another project and building succeeded.

[2019-09-06 20:04] designatednerd commented on #747
@JimRoepcke That's REAL odd that you had to change the path to the `scripts` folder, it should only be a file under `apollo-ios`, and I used the same b7 build (on Catalina) and the original path worked. Was this on Mojave that you had to use the alternate path?

Thank you for sharing your solution - @muhammadfaheem-pycom I got your email and was about to look at it, but did you also download from

[2019-09-06 21:21] JimRoepcke commented on #747
@designatednerd I'm running Catalina b7 as well. I was also surprised. When I imported Apollo as a package dependency I checked all three packages so I was very surprised that all three packages weren't in the `checkouts` directory, that the contents of the Apollo package were there instead!

This is a brand new vanilla project, just for experimentation. I haven't done any messing around with buil

[2019-09-06 21:36] JimRoepcke commented on #747
I wonder if this has something to do with it... continuing to investigate.

![image](https://user-images.githubusercontent.com/39997/64461959-aa83d280-d0b3-11e9-8742-dc27d3d71424.png)

Even though I selected all three packages and they're all listed in the project, only one is appearing there.

[2019-09-06 21:41] JimRoepcke commented on #747
I deleted the `checkouts` directory and chose File > Swift Packages > Reset Package Caches. The resulting `checkouts` directory has the same layout as before... the Apollo package is directly inside the `checkouts` folder, and there are `Starscream` and `SQLite.swift` folders inside `checkouts` with the contents of those repos.

[2019-09-06 21:55] designatednerd commented on #747
weird as hell. I'll have to look into that next time I boot into Catalina

[2019-09-08 13:08] dallasjohnson opened #754 "When trying integrate Apollo using SPM inside Xcode Unit tests will not compile."
I have been able to get it to run the app but my unit tests target for my app will not compile.
The error seems to be caused by:
`CompileSwift normal i386 (in target 'ApolloWebSocket' from project 'Apollo')`

If I remove this import from the ApolloWebSocket classes then it creates more errors since `ApolloWebSocket` and `SplitNetworkTransport` need the Apollo module.

I'm running Xcode Version 11.

[2019-09-09 19:17] designatednerd commented on #754
Hi @dallasjohnson - I'll see if I can repro. In the meantime can you give any further details on that error, or is that all the compiler's giving you?

Are you actively using the `ApolloWebSocket` target in your project?

[2019-09-09 19:42] designatednerd commented on #723
This survey is now closed. I'll be going through the answers and stuff this week to try and hammer out a longer term roadmap. I'll try to share any interesting bits that I find!

[2019-09-09 19:42] #723 closed

[2019-09-09 20:43] Kaakati commented on #634
@designatednerd I came across this because I'm looking for a solution for Subscriptions on rails, I've been trying to work around it, but the only feasible solution for me is to use one of the Swift ActionCable libraries with Apollo, I just hope I don't get conflict in Starscream library.

The React version already found their way around it, I hope soon we can get something on rails.

[2019-09-10 02:39] bidluo commented on #634
@Kaakati another solution (and the one I went with) was to ditch WebSockets entirely and just use silent push so it's a bit more streamlined. So the server will send a type and an id then the client will make a request using graphql.

It adds a bit of overhead but it just means I don't have to maintain two different systems and deal with manually serialising data since it uses graphql anyway. Also

[2019-09-10 16:09] designatednerd commented on #736
Since I haven't heard back on this one in a couple weeks I'm going to close it out as stale - please feel free to reopen or file a new issue if a different version of either Xcode or Apollo has come out since this was filed.

[2019-09-10 16:09] #736 closed

[2019-09-10 16:10] designatednerd commented on #728
Since I haven't heard back on this one in a couple weeks, I'm going to close this out. Please feel free to reopen if you're still having issues, or open a new issue. Thank you!

[2019-09-10 16:10] #728 closed

[2019-09-10 19:55] aamir-nazir opened #757 "Error in "Loading schema for Unnamed Project""
I have added schema.json after downloading it from endpoint but still facing this issue.

→ Error initializing Apollo GraphQL project "Unnamed Project": Error: Error in "Loading schema for Unnamed Project": Error: Unable to read file schema.json. ENOENT: no such file or directory, open 'schema.json'
 ›   Error: Error initializing Apollo GraphQL project "Unnamed Project": Error:
 ›   Error in "Load

[2019-09-10 20:12] designatednerd commented on #757
Hey Aamir, looks like wherever you put the `schema.json` file, the script is not finding it. Can you add a couple details here to help troubleshoot:

- How are you integrating the Apollo library - CocoaPods, Carthage, or Swift Package Manager?
- Where are you putting `schema.json` in relation to your `.xcodeproj` or `.xcworkspace`?

[2019-09-10 23:58] designatednerd commented on #754
@dallasjohnson I was able to get this building on the GM on both Catalina and ~Mojito~ Mojave. Can you let me know how things are different on your end?

[SPMTest3.zip](https://github.com/apollographql/apollo-ios/files/3598169/SPMTest3.zip)

[2019-09-11 05:34] pradipwalghude commented on #736
Facing same issue with XCode 10.3 .
It is working with XCode 10.1 but not working with latest XCode version.

[2019-09-11 06:31] aamir-nazir commented on #757
Hey @designatednerd

I have been integrating Apollo using CocoaPods and following installation guide from https://www.apollographql.com/docs/ios/installation/.

For downloading `schema.json` I followed instructions from: https://www.apollographql.com/docs/ios/downloading-schema/

Generated `schema.json` is residing in same directory where  `.xcodeproj` or `.xcworkspace` are.

Xcode: 10.2

Podfile.

[2019-09-11 14:44] #752 closed

[2019-09-11 15:52] designatednerd commented on #757
OK! I think the issue is that the schema is in the same folder as the `xcodeproj`/`xcworkspace` - it needs to be one directory up. This isn't super clear in the docs, I'll make sure to clarify it.

[2019-09-11 15:57] aamir-nazir commented on #757
@designatednerd going one folder up takes me out of the project, is that what you mean? Here are the paths of different files in project.

MyPorject/xcodeproj
MyPorject/xcworkspace
MyPorject/schema.json

[2019-09-11 16:08] designatednerd commented on #757
Sorry, I guess that'd be one directory down - [here's the doc update i'm proposing](https://github.com/apollographql/apollo-ios/pull/758), let me know what you think of that!

[2019-09-11 16:19] aamir-nazir commented on #757
This time I put `schema.json` one level deeper: `MyPorject/MyPorject/schema.json`
But it didn't work, same error.

Here are the complete error logs:
[code]

[2019-09-11 16:21] designatednerd commented on #757
OK! That's actually a different error - it's not seeing any `.graphql` files to generate code for. If you add a simple `.graphql` file with a query, that error should go away.

[2019-09-11 16:30] aamir-nazir commented on #757
Actually Apollo found `schema.json`, when placed at: `MyPorject/MyPorject/schema.json`
Now I tried placing `.graphql` in same directory. This time it's different error.

[code]

[2019-09-11 16:47] aamir-nazir commented on #757
@designatednerd I got it working, primarily the issue was incorrect placement of `schema.json` and `.graphql` files which was causing errors.

Mentioning correct path/position of these files in documentation would saves a lot time of many developers. Thanks

[2019-09-11 20:13] designatednerd commented on #757
Yep, let me know if the PR I opened is helpful in this regard - can we close this issue out and move discussion to that PR?

[2019-09-11 20:28] designatednerd commented on #736
Hey Pradip, Can you please open a new issue with the following details:

- Xcode version
- Which dependency manager you are using, Carthage, Cocoapods, or Swift Package Manager
- A copy of the error text you are receiving

And then I'll work with you on that issue to figure out what's going on. Thank you!

[2019-09-11 20:37] guilhermekrz commented on #351
Any update on this? A considerable part of my build time is being spent on this code generation step. For now, I think I will resort to manually invoking it when necessary

[2019-09-11 21:11] designatednerd commented on #351
There are [a few workarounds](https://github.com/apollographql/apollo-ios/issues/147) available on [different issues](https://github.com/apollographql/apollo-ios/issues/143) that are [related to this problem](https://github.com/apollographql/apollo-ios/issues/636).

Right now dealing with Xcode 11 stuff is my priority since it just hit GM, but I'm going to try to get on this early as part of the [

[2019-09-12 05:52] aamir-nazir commented on #757
Yes I think we can close this issue. Even I can contribute in enhancement of Apollo Installation Docs if it's possible and fine for you.

[2019-09-13 00:33] jordanhbuiltbyhq opened #761 "The output path must be specified in the arguments for Swift and Scala"
I'm receiving the following error with version 0.15.2:

[code]

[code]

I did delete the local `node_modules` directory. `apollo -v` shows `apollo/2.18.2 darwin-x64 node-v8.15.0`. Installed via CocoaPods and using Xcode 11 GM. Let me know what more info you need!

[2019-09-13 03:37] jordanhbuiltbyhq opened #762 "Command PhaseScriptExecution failed due to "/Volumes/VolumeName: is a directory""
I have my project stored in my Catalina volume (due to issue #743 lol). I'm currently in my Macintosh HD volume trying to run the app but am receiving the following error:

[code]

[2019-09-13 04:25] #762 closed, assigned to nobody

[2019-09-13 09:09] abernix commented on #761
My fly-by hunch: https://github.com/apollographql/apollo-tooling/commit/7e273f7539b9d8749873299587bf2f0803704fac#r35069355

[2019-09-13 17:53] designatednerd commented on #761
Update: It turns out it wasn't that, it was an issue where when `--localSchemaFile` was the last argument before the output path, an updated tool to allow ingestion of multiple local schema files was seeing `API.swift` as a second schema file being passed in (that's also where we were getting that weird warning about the output path). Tooling team is working on a fix/workaround.

[2019-09-13 20:36] designatednerd commented on #748
@js Were you able to ever get another look at this?

[2019-09-14 07:37] kimdv commented on #564
@DmitriyTerekhin did you find any solution?

Out system have a `exchangeRefreshToken` mutation so we cannot place a 401 in front of the GraphQL endpoint.

We always get a 200 in return, but if our token is invalid, then we get error in the list.

@designatednerd is there a way to trigger the retry based on errors in the responses errors list?
Like a delegate we can implement, `func shouldRetry(_ n

[2019-09-14 15:55] aamir-nazir opened #765 "Error: No operations or fragments found to generate code for"
When I add query in existing `.graphql` file it generates following error, however creating new `.graphql` not updating `API.swift` file and project is being compiled successfully. Apollo won't complain even if I use wrong query name in newly generated `.graphql`.

[code]

[2019-09-14 16:32] aamir-nazir commented on #765
Found a syntax error in Graphql query. However Apollo's error was not descriptive and misleading.

[2019-09-14 16:32] #765 closed

[2019-09-16 17:33] jordanhbuiltbyhq commented on #743
That gets the full path, though it is still failing to find the file at that location the way that's formatted.

[code]

logs

[code]

[2019-09-16 17:40] designatednerd commented on #743
So I have a couple questions:

- Does the file actually exist at that path when you go to it from Finder?
- If it does, when you drag the file from the Finder into Terminal, how does the path differ from what you're seeing in the output here?

[2019-09-16 17:44] jordanhbuiltbyhq commented on #743
Yes. It appears exactly the same. Strange. Confirmed I can directly cd into that location.
/Volumes/Catalina\ -\ Data/Users/jordan/Downloads/projectname/Pods/Apollo/scripts/check-and-run-apollo-cli.sh

[2019-09-16 17:51] designatednerd commented on #743
Well that's damned weird. Especially if you can `cd` over to it. I assume `6` is the last line of this script?

Just for funsies, what happens if you hardcode that path - does it work or fail?

[2019-09-16 18:13] designatednerd commented on #564
At the moment the retry delegate is only fired off if there's an error at the network level (basically, from middleware), since you can get a partial success/partial error response from a GraphQL server, and having that check every single call could add a significant amount of overhead. I'm looking at ways to make this better in the long term, but I don't have anything ready quite yet.

One thing

[2019-09-16 18:51] jordanhbuiltbyhq commented on #743
So it's failing on the `cd` line, and then also failing on the last line. Even when I hardcode the path to that folder, the same one I can `cd` into via Terminal.

Could it be a permissions issue accessing it in the different volume?

[2019-09-16 20:27] designatednerd commented on #743
that's certainly what i'm thinking - what do you get when you `ls -la` after `cd`'ing into that volume in the terminal?

[2019-09-16 20:48] jordanhbuiltbyhq commented on #743
[code]

[2019-09-16 22:20] designatednerd commented on #743
Weird, read and execute permissions both appear to be global, although maybe there's something where it's not working because it's on a different volume?

What happens when you try to execute it directly from your Catalina partition (rather than from your Mojave partition)?

Overall I think "Running this from a different volume" is going to be somewhat of an edge case, though 😄

[2019-09-16 22:27] jordanhbuiltbyhq commented on #743
That's fair! 😛 If I move it over to my current partition then build/run it works without issue. (even without the prinf)

[2019-09-16 22:29] designatednerd commented on #743
OK. Mind if we close this out?

[2019-09-16 22:29] jordanhbuiltbyhq commented on #743
That'd be ok with me.

[2019-09-16 22:35] #743 closed

[2019-09-17 18:07] adamirowe opened #768 "New mutation not generating in API.swift"
I added a new mutation that was working fine in xCode 10.3, but when the project is built using xCode 11.0 (any iteration) the added mutation, nor its input, are no longer generated.

I am on an older version of the pod (`0.10.1`) with apollo-cli at `1.9.2`. Everything I've read indicates this is the correct version of the pod to use.

Nothing else has changed in our setup besides a new version of

[2019-09-17 18:23] adamirowe commented on #768
For reference, the mutation file is getting added in the
`npx --noinstall apollo codegen:generate '--queries'`
command.

I am also getting the following warning message - `Warning: apollo update available from 1.9.2 to 2.17.2`

[2019-09-17 18:26] adamirowe commented on #768
I should also mention that I did try to upgrade to a newer version of the pod in another branch before coming back to this branch.

[2019-09-17 18:36] designatednerd commented on #768
I would double-check the Build Phase Run Script you're using against the [current one for CocoaPods](https://www.apollographql.com/docs/ios/installation/#if-you-are-integrating-apollo-using-cocoapods) -  the previous one was relying on a few assumptions about where frameworks would be that the current one is not relying on.

The current version of the lib is `0.15.3`, but there are [a number of br

[2019-09-17 18:39] adamirowe commented on #768
Alright, just realized what was going on. Mutation had been amended to not request anything back as payload, which was breaking the generation script apparently (but not failing at that point). Adding a trivial payload property to the mutation got it working again.

Now to upgrade the pod to the 20th century...

[2019-09-17 18:39] #768 closed

[2019-09-17 20:34] adamirowe opened #769 "Type does not conform to protocol 'GraphQLOperation'"
I just upgraded our version of Apollo to `0.15.3` and nearly every query we use has a compile error of

`Type 'xxx' does not conform to protocol 'GraphQLOperation'`

If I add the Protocol stubs that xCode is suggesting (`public var operationName: String`), the errors go away. But since this is a dynamically generated file that's obviously not going to work next time I build.

Am I understanding co

[2019-09-17 20:39] designatednerd commented on #769
You should have some updated codegen that will run when this is built, and which will automatically generate operation names. If it does not, try cleaning your build folder and running it again.

[2019-09-17 20:48] adamirowe commented on #769
So after updating npm to the latest version, I got past those errors. Now I'm just getting an undefined error, the dreaded:

`Command PhaseScriptExecution failed with a nonzero exit code`

I have a bunch of lint warnings about nesting too deep, but none that are serious.

[2019-09-17 20:57] adamirowe commented on #769
It looks like I need to go through and update a bunch of GraphQL -> Result types that weren't showing up in the build error logs. Will let you know if that fixes anything.

[2019-09-17 20:59] designatednerd commented on #769
Yes - I would recommend reading through [the changelog](https://github.com/apollographql/apollo-ios/blob/master/CHANGELOG.md) for breaking changes you want to be aware of - that's definitely one of them.

I would also recommend clicking on that error in Xcode if it's still showing up, the Apollo CLI will probably have more to say about what went wrong in the details

[2019-09-18 14:30] designatednerd commented on #627
Please take a look at PR #770 which introduces a delegate to handle errors in the GraphQL response body

[2019-09-18 15:48] adamirowe commented on #769
So after a bunch of cleaning and rebuilding, closing and opening xcode, and making sure all updates were made as per the changelog, I finally got the project to build with 0.15.3. Unfortunately, we're now seeing the schema being unable to be built on CircleCI.

While I investigate why, it came to me that I have now updated the apollo cli to the latest version and when I switch back to another bran

[2019-09-18 16:00] designatednerd commented on #769
...yeah...this is why #766 is a thing, to be honest.

Generally the `check-and-run-cli` script should check that you have the proper version installed and use a local version and IN THEORY should also work on CI, but sometimes it doesn't.

We're moving to including the binaries with the pod very shortly to avoid all this nonsense.

[2019-09-18 16:16] adamirowe commented on #769
Ok, so yeah that is a big change but a welcome one for us, I'm assuming. Since we've never updated the pod version while I've been a part of the project I'm unsure of how changes to the required CLI version may have affected compiling on CircleCI. Based on your last comment on #766, it looks like you are planning to merge that sometime today? Would that increase the version of the pod to install s

[2019-09-18 19:03] designatednerd commented on #769
yeah there will be a new version when that gets merged.

There isn't a chart, but if you look in `check-and-run-apollo-cli.sh` for whatever version you have checked out, it should indicate which `major.minor` version is appropriate

[2019-09-18 19:42] adamirowe commented on #769
So in order to fix the build issues on CircleCI, we had to change the BuildPhase script for `Fetch GraphQL Schema` from
`apollo schema:download --endpoint="$GRAPHQL_URL" "${SRCROOT}/${TARGET_NAME}/API/schema.json`

to

`${PODS_ROOT}/Apollo/scripts/check-and-run-apollo-cli.sh schema:download --endpoint="$GRAPHQL_URL" "${SRCROOT}/${TARGET_NAME}/API/schema.json"`

If anyone runs in to a similar issue

[2019-09-19 13:05] emanShedeed opened #775 "Upload Multi part file"
Using Apollo (0.15.1)
<img width="925" alt="Screen Shot 2019-09-19 at 3 02 40 PM" src="https://user-images.githubusercontent.com/42905983/65246396-c7c29300-daee-11e9-98ef-51dbd6b287db.png">
mutation addRoom($roomImages:[Upload!],$moveID:ID!,$name:String!,$dimension:String!,$description:String!,$budget:Float!){
    addRoom(data: {
            moveID:$moveID
            name:$name
            dimens

[2019-09-19 13:18] sivakumaraketi commented on #371
SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
"${SCRIPT_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --includes=./**/*.graphql --localSchemaFile="schema.json" API.swift
I am using this but gives error Error: No operations or fragments found to generate code for.
    at write (~/node_modules/apollo/lib/commands/client/codegen.js:61:39)
    at Task.ta

[2019-09-19 15:55] designatednerd commented on #775
The primary issue is that because `Upload` is a scalar that's a `String` under the hood, the mutation needs to take an array of Strings which will be replaced by the `upload` function by the array of files.

The secondary issue is you need to use the `upload` instead of the `perform` function.

For reference, [here is the documentation with an example of how to upload files](https://www.apollograp

[2019-09-19 16:20] designatednerd commented on #371
@sivakumaraketi Can you please take a look at the [troubleshooting guide](https://www.apollographql.com/docs/ios/installation/#troubleshooting)?

If that doesn't help, please open a new issue which includes what version of the Apollo iOS library you're using. The steps to help figure things out are going to be pretty different for older versions like this vs. current versions, and I'd like to disa

[2019-09-19 17:08] designatednerd commented on #769
OK cool - thank you for the heads up on that, I'll update the docs there.

Anything else or can we close this issue out?

[2019-09-19 17:14] adamirowe commented on #769
All set for now.

[2019-09-19 17:14] #769 closed

[2019-09-19 17:23] designatednerd commented on #769
@adamirowe please see https://github.com/apollographql/apollo-ios/pull/776 for updated docs, lmk if you have feedback

[2019-09-19 18:05] thonydam opened #777 "Mutations always publish result to store"
When performing a mutation, the result always gets published to the store.

[code]

I see why we might want to publish the result if the changes affect any watch query. Does it make sense to also be able to specify the cache policy for mutations as we do for queries?

Versions
Apollo-iOS 0.15.3

[2019-09-19 19:06] designatednerd commented on #777
Makes sense to me - I'll talk to the person who originally wrote the code to see what the thought was on always publishing on a mutation though.

[2019-09-20 05:52] emanShedeed commented on #775
I just follow the doc and an error request time out is appearing here is the code
<img width="907" alt="Screen Shot 2019-09-20 at 7 51 23 AM" src="https://user-images.githubusercontent.com/42905983/65302444-81674580-db7b-11e9-9dda-e78abb4993be.png">

[2019-09-21 16:34] designatednerd commented on #775
Hey Eman, a request timeout indicates that your server is not responding quickly enough.

You will want to a) Check the request timeout being set on your `URLSession` if you're using a custom one (it's using the default session with all its presets if you're not passing one in) and b) work with the team working on your server to see what issues are occurring on their end that are causing a respons

[2019-09-21 16:58] designatednerd commented on #777
So I talked to @martijnwalraven and he made several good points:

- Mutation results always come from the server (never the cache, because the mutation needs to be executed on the server). Therefore, it doesn’t really make sense to expose the same cache policies as we do for queries.
- Publishing mutation results to the store is important not only for watch queries, but also for future queries tha

[2019-09-22 07:53] sauvikaktivo opened #782 "Availilability of zipping payload while performing `mutation` query"
## The Problem I am facing

For my current project I have a mutation query

[code]
Sometimes (it's unavoidable in current architecture) the total mutation payload data becomes more than `10MB` in size, then, we are unable (or takes too much time for weak cellular networks) to upload the payload.

## The solution I am seeking

I want to zip the payload which is getting prepared under `ApolloClient.

[2019-09-23 06:07] victormihaita commented on #775
@designatednerd Do you think that in the near future we will have the functionality to use a mutation with an object parameter that includes a file to upload? Or at least to have the file and the object in the same time as parameters?

[2019-09-23 07:48] cczufish opened #783 "Building for Mac Catalyst is not supported by the legacy build system."
when I try ipad app transfer to Mac app

Building for Mac Catalyst is not supported by the legacy build system.

[2019-09-23 18:31] adamirowe opened #785 "Syntax highlighting not working in xCode 11?"
Tried to active syntax highlighting after updating to xCode 11, and none of my .graphql files are getting updated. Does this script need to be updated?

https://www.apollographql.com/docs/ios/installation/#optional-installing-the-xcode-add-ons-to-get-syntax-highlighting

Any way to get it added as an official xCode extension?

[2019-09-23 18:41] designatednerd commented on #783
@cczufish I don't believe this has to do with Apollo directly, it has to do with which build system you're using on your project. Please go to `File > Workspace Settings` and check what's set up there.

[2019-09-23 18:43] designatednerd commented on #785
Because of changes to the Xcode extension system since Xcode 8, it can't be added as an official extension.

You need to download a new version of the plugin that has the updated UUID for this version of Xcode from the [Xcode-GraphQL Repo](https://github.com/apollographql/xcode-graphql) and reinstall.

If that doesn't work, let me know.

[2019-09-23 19:03] adamirowe commented on #785
Yeah it's odd. I'm getting the indentations and code completion but not the coloring that I did in xCode 10 (I'm in dark mode, btw).

[2019-09-23 21:23] bizmedia opened #786 "Extra argument 'configuration' in call"
I try to initialise Apollo client and get error: **Extra argument 'configuration' in call**.  What's wrong with my code:

[code]

I use Xcode Version 11.0 (11A420a)

[2019-09-24 01:28] cczufish commented on #783
building setting -> supported platforms  -> macOS

[2019-09-24 01:28] bizmedia commented on #786
Solved:
[code]

[2019-09-24 01:28] #786 closed

[2019-09-24 14:32] wnagrodzki opened #788 "Optional errors array in GraphQLResult"
Hi :)

Current GraphQLResult's API provides us with optional `errors` array.

[code]

This seems consistent with the documentation:

Looking from the client perspective: Is there a difference between `nil` and empty array `[]`?

What is your opinion of collapsing those two cases into one, empty array?

[code]

[2019-09-24 14:47] designatednerd commented on #783
I was referring to the build system setting shown here:
<img width="535" alt="Screen Shot 2019-09-24 at 9 44 49 AM" src="https://user-images.githubusercontent.com/1976498/65522187-015d1a80-deb0-11e9-9339-d7ccc38844e5.png">

My guess is that your `Build System` in `Shared Workspace Settings` is `Legacy Build System` given the error you're receiving. Click that drop-down to switch to the new build s

[2019-09-24 16:11] designatednerd commented on #785
Yerp, broken, looks like Apple changed a couple things. Please follow [this issue on the plugin repo](https://github.com/apollographql/xcode-graphql/issues/23) for further updates.

[2019-09-24 16:52] designatednerd commented on #788
I definitely see where you're coming from, but I don't think a non-nullable array of errors would work for several reasons:

- [the big one] It'd conflict with the GraphQL philosophy of "Everything is nullable unless you explicitly specify that it's not".
- I'd find it fairly odd if `data` was nullable but `errors` was not, even though both can be returned as a `null` value from the server.
- It w

[2019-09-24 16:54] designatednerd commented on #782
That's not currently something we handle - I'll mark this as an enhancement but I'll admit this is likely pretty low on our priority list at the moment, especially because mutations are very rarely this big.

I'd *strongly* recommend breaking that mutation up into smaller pieces, and I'd talk to your BE team about why they need all that data at once if they don't have the ability to upload those H

[2019-09-24 17:00] designatednerd commented on #775
Not in the near future - right now fixing codegen is a higher priority, to be honest. There's some stuff I'd need to look at with the mutation generation in general that *may* help this, but I don't want to give false hope that this is getting addressed anytime soon.

[2019-09-24 17:02] designatednerd commented on #786
@bizmedia Thanks for posting the solution - Yes, there were some changes to `HTTPNetworkTransport` and it now takes a `URLSession` directly rather than a `URLSessionConfiguration`

[2019-09-24 20:32] wnagrodzki commented on #788
Yes, it does. I can see the benefits of the approach you took.

I seems I got this expectation at back of my head that API would be tailored to reflect constraints from [documentation](https://graphql.github.io/graphql-spec/June2018/#sec-Response) like:

You helped me to see it from another point of view, thanks.

[2019-09-24 20:43] wnagrodzki commented on #788
Sure

[2019-09-24 20:59] #788 closed

[2019-09-24 21:01] designatednerd commented on #754
Since I haven't heard anything back on this and Xcode 11's final edition has come out, I'm going to close this issue out. If you're still having problems with this, please open a new issue. Thank you!

[2019-09-24 21:01] #754 closed

[2019-09-24 21:02] designatednerd commented on #747
@JimRoepcke @muhammadfaheem-pycom Are you all seeing this on the final version of Xcode 11?

[2019-09-24 21:06] JimRoepcke commented on #747
I'm using Xcode 11 GM Seed 2 (which is the same build as Xcode 11 final) and I'm still seeing the Apollo package being splayed into the checkouts directory instead of being in its own sub-folder of checkouts like the other packages, so I've still had to modify the script.

Also, I've found that when Xcode is building for SwiftUI Previews instead of a regular build, "cd ../../SourcePackages/checkou

[2019-09-24 21:07] designatednerd commented on #749
Hey @PhillipFraThailand, I'm sorry I got sidetracked on this. I opened the file you sent me and it appears the schema format is out of date. Compare your format to that of the [Star Wars API](https://github.com/apollographql/apollo-ios/blob/master/Tests/StarWarsAPI/schema.json) in this test repo.

Did you download this from the `iGraphQL` tool or using the Apollo CLI? My understanding is `iGraphQL

[2019-09-24 21:14] designatednerd commented on #747
That's really odd - I just added Apollo to a brand new project on the MAS version of Xcode 11 and here's the file structure I got:

<img width="1153" alt="Screen Shot 2019-09-24 at 4 12 38 PM" src="https://user-images.githubusercontent.com/1976498/65550880-2b313400-dee6-11e9-9f14-1c5a5598c9a7.png">

@JimRoepcke Can you open a new issue on the Swift UI thing please? I think there may be some other

[2019-09-24 21:41] JimRoepcke commented on #747
Same version of Xcode... I just created a new project SPMTest and added Apollo as a Swift package dependency. It chose version 0.15.3.

I get this build error:

![image](https://user-images.githubusercontent.com/39997/65552498-611beb80-ded9-11e9-859b-6ddc1460882f.png)

[2019-09-24 21:45] designatednerd commented on #747
@JimRoepcke Try building from `master` - 0.16.0 hasn't been released yet but I did merge a fix for that issue with #784

[2019-09-24 21:58] JimRoepcke commented on #747
I made a new project again, SPMTest2, added Apollo from `master`, built, and looked at the SourcePackages folder...

![image](https://user-images.githubusercontent.com/39997/65553423-b2c57580-dedb-11e9-831c-3ecc0031421a.png)

I'm on macOS Catalina b7. What OS are you running on?

[2019-09-24 21:59] designatednerd commented on #747
Mojave current. It looks like yours is identical to mine though @JimRoepcke

[2019-09-24 22:02] JimRoepcke commented on #747
The contents of your `checkouts` folder is `apollo-ios`, `SQLite.swift` and `Starscream`.

My `checkouts` folder contains `SQLite.swift` and `Starscream`, but rather than having an `apollo-ios` folder, the contents the apollo-ios folder are splayed into the `checkouts` folder.

[2019-09-24 22:05] designatednerd commented on #747
How are you checking out Apollo?

[2019-09-24 22:06] designatednerd opened #791 "Improve How We Get Node Binaries"
As (extensively) discussed in #766, including the binaries for codegen in the repo will bloat the repo over the long term. While this is better than Node Hell, it's still not great as a long-term solution.

We need to evaluate a few of the suggested ideas for this, including:

- A separate GH repo which can be added as an SPM/Carthage/Pod dependency (concern: Is this just moving the repo bloat pro

[2019-09-24 22:12] JimRoepcke commented on #747
![image](https://user-images.githubusercontent.com/39997/65554022-392e8700-dedd-11e9-807a-b561daf5f1f7.png)

![image](https://user-images.githubusercontent.com/39997/65554090-6b3fe900-dedd-11e9-890b-cb6568aea563.png)

![image](https://user-images.githubusercontent.com/39997/65554109-7abf3200-dedd-11e9-945d-c21a1fed757f.png)

![image](https://user-images.githubusercontent.com/39997/65554118-80b5130

[2019-09-24 22:13] designatednerd commented on #747
So that's checking it out directly - you have to use `https://github.com/apollographql/apollo-ios.git`, otherwise it'll just check the repo out directly instead of referring to the `Package.swift` file.

[2019-09-24 22:17] designatednerd commented on #747
<img width="735" alt="Screen Shot 2019-09-24 at 5 16 41 PM" src="https://user-images.githubusercontent.com/1976498/65554429-23c25880-deef-11e9-8bc0-e1093db3c8ec.png">

[2019-09-24 22:26] JimRoepcke commented on #747
Confirmed, that changes the layout of the checkouts directory for me. Thanks!

[2019-09-24 22:45] designatednerd commented on #761
Updated CLI (and CLI installation instructions) shipped with `0.16.0`

[2019-09-24 22:45] #761 closed

[2019-09-24 22:56] designatednerd commented on #377
This should now be greatly improved with `0.16.0`, which basically removes any need to use NPM.

Please check out our [updated installation instructions for setting up a build script](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) for full details. Thank you!

[2019-09-24 22:56] #377 closed

[2019-09-24 22:58] designatednerd commented on #401
This should now be greatly improved with `0.16.0`, which basically removes any need to use NPM.

Please check out our [updated installation instructions for setting up a build script](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) for full details. Thank you!

[2019-09-24 22:58] #401 closed

[2019-09-25 01:58] designatednerd commented on #777
@thonydam Does this answer your question as to why this is set up this way?

[2019-09-25 13:13] zzal commented on #791
While we’re here, why not leaving the "iOS" terminology in favour of something more relevant. Like "apollo-swift" of "apollo-for-macOS-iOS-iPadOS-watchOS-tvOS".
Just saying.

[2019-09-25 13:21] designatednerd commented on #791
@zzal I don't believe that's relevant to this issue - if you'd like to start a longer discussion about that please open a new issue (short answer: The lib itself is already just `Apollo`, and renaming the repo comes with a pile of issues that I don't think are worth the semantic clarity).

[2019-09-25 20:33] crabman448 commented on #377
@designatednerd  Thank you for working hard on this library ❤️

[2019-09-25 22:35] designatednerd commented on #382
Shipped with `0.16.0`!

[2019-09-25 22:35] #382 closed

[2019-09-25 22:36] designatednerd commented on #783
@cczufish did that fix your issue?

[2019-09-26 15:51] an-indya opened #793 "Error when parsing enum value in Apollo Swift Codegen"
Here is my graphql file:
[code]
I am using Cocoapods and I followed all the steps including the script in the Build Phase. However, I am getting this error when building - `Cannot convert value of type 'CourseDetails.ActivityLibrary.Status.Type' to expected argument type 'JSONDecodable.Type`

The API.swift file generates the enum like this

[code]

Any idea how to resolve this?

[2019-09-26 16:01] adamirowe opened #794 "Crashlytics reporting an Apollo caused crash"
[code]

![image](https://user-images.githubusercontent.com/43765296/65704846-49697200-e055-11e9-89b3-45bb0a4b961f.png)

The device that crashed was an `iPhone xR` running `12.4.1 (16G102)`

[2019-09-26 16:47] designatednerd commented on #794
Hey Adam, can you please send over the full crash log? It would help to know what thread crashed and what else was going on at the time. The thread you're showing is only showing things in the in-memory normalized cache, so I'm not really sure what's hitting the main thread here.

[2019-09-26 16:51] adamirowe commented on #794
I'd prefer to email it, if that's ok. Where should I send?

[2019-09-26 17:51] thonydam commented on #777
@designatednerd Thank for your answer.
I do agree with your first 2 bullets points. For the 3rd one, I would say it depends of the mutation and the data coming back in that request.

I think the SDK should expose `shouldPublishResultToStore` parameter in the mutation, maybe default to true. This will give more control to the client in what happens under the hood.

[2019-09-26 18:39] designatednerd commented on #794
ellen [at] apollographql dot com

[2019-09-26 18:41] designatednerd commented on #777
I'm gonna tag this as an enhancement - heads up that dealing with caching stuff is a bit lower on my priority list at the moment, but we'd certainly welcome a PR.

[2019-09-26 18:43] designatednerd commented on #793
Yeah that's bizarre - as you can see from the very first line of declaration, it *does* conform to `Apollo.JSONDecodable`. Do you mind sending your schema over so I can get a look on my end?

[2019-09-26 18:46] designatednerd commented on #793
Oh wait! I think I may see the problem. There's two different `Status` things going on here: The enum value and the name of the class. Try using an alias in the innermost part of the query like so:

[code]

I *think* that will unconfuse the compiler, since it'll cause the codegen to rename that class so it doesn't collide with the enum.

[2019-09-26 19:21] an-indya commented on #793
That fixed it!!! Thank you so much!

[2019-09-26 19:36] designatednerd commented on #793
hooray! mind if I close out this issue then?

[2019-09-26 19:39] designatednerd commented on #794
For anyone else who finds this:

- SDK version was 0.15.3
- Happened once (so far)
- Not really a lot I can tell from the overall stack trace since a lot of stuff is `(Missing)`, especially on the main thread.

If you've got a similar stack trace showing up, give a holler - it's a little hard to pin down a pattern with a single occurrence.

[2019-09-26 19:40] designatednerd commented on #785
I'm gonna close this out - please follow the issue on the plugin repo to get updates on what's going on with this. Thanks!

[2019-09-26 19:40] #785 closed

[2019-09-26 20:50] wtrocki commented on #464
Any update

[2019-09-26 21:16] parrotbait commented on #147
Thank you so much. I've tested this and it's made a huge difference for my project. A single API.swift file used to take Xcode ~450 seconds. We don't even have that complex setup. I moved codegen away from being an automatic step because it was such a productivity kill.

With multiple files (I now have 34 files instead of 1) and compilation time from clean is down to a much more manageable 200 sec

[2019-09-26 21:31] philfi opened #795 "Unable to find codegen script for macOS"
Have a macOS target that is used infrequently and just noticed that its failing the codegen step because it can't find the script in Apollo.framework. The specific error message is `...Build/Products/Debug/Apollo-macOS/Apollo.framework/check-and-run-apollo-cli.sh: No such file or directory`

Compared the contents of Apollo.framework between the macOS build product with the contents of the iOS buil

[2019-09-26 22:37] designatednerd commented on #795
Hm, that shouldn't be the case - the script should be there but it would be in a different place, but that should have been accounted for in a difference in the setup instructions for mac apps at the time.

I'd advise taking a look at what was in the `docs/source/installation.md` file when the `0.10.1` tag was created - that would give you a better idea of the script we were advising at that point

[2019-09-26 22:37] wtrocki commented on #464
Good post as base: https://stackoverflow.com/questions/51720378/how-to-implement-graphql-subscription-using-apollo-ios-client

[2019-09-27 11:21] maximedegreve commented on #386
Hey @designatednerd any update on this? ☺️

[2019-09-27 12:35] an-indya commented on #793
Yes sure.

[2019-09-27 12:35] #793 closed

[2019-09-27 14:09] philfi commented on #795
ah yes I see that it should be a different path: https://github.com/apollographql/apollo-ios/blob/47e33163a2b0f5415135d16cac9d29e453a04be2/docs/source/installation.md
thanks!

[2019-09-27 14:09] #795 closed

[2019-09-27 14:50] designatednerd commented on #386
@maximedegreve Can we move this to a new issue since this is about a `macOS` build rather than watch/tvos? Please let me know there what happens when you open the project from `Carthage/Checkouts/apollo-ios`

[2019-09-27 14:57] DrLou opened #796 "Unable to resolve build file: XCBCore.BuildFile..."
The workspace has a reference to a missing target..
PACKAGE-TARGET:ApolloTestSupport
PACKAGE-TARGET:StartWarsAPI

where are these targets?

Xcode 11 (fresh install)

[2019-09-27 14:59] designatednerd commented on #796
Hey Lou, can you describe a bit more what you're trying to do here? Are you trying to download and open the workspace from this repo? Are you trying to add Apollo to your project through a dependency manager?

[2019-09-27 15:55] DrLou commented on #796
Git clone, directly from within Xcode - attempt to Build, install on iPhone device. Initial build successfully pulls in: Starscream and SQLite.swift. Seems perfectly reasonable so far...

Build of targets: Apollo, ApolloSQLite, ApolloWebSocket all build without error - (with, I imagine, nothing to install directly onto phone?)

I understood the project to be a standalone iOS app - have I got it wr

[2019-09-27 16:01] designatednerd commented on #796
Yeah `Apollo`, `ApolloSQLite`, and `ApolloWebSocket` are all frameworks. The app is `TestHostiOS` in the list of targets in the `Apollo` project. You'll need to install that if you want to stuff on device, but IIRC it doesn't really do anything other than provide a blank test host to make sure we can run stuff on iOS devices.

What are you trying to figure out?

[2019-09-27 16:11] DrLou commented on #796
Really only trying to do this, per your docs:

(Already running the StarWars example server)

[2019-09-27 16:28] designatednerd commented on #796
Yeah in theory you should be able to each lib on device by selecting its scheme from the drop-down, and using the test option (the wrench) instead of the run option (the play button).

If that's not working in practice still, let me know.

[2019-09-27 16:56] designatednerd commented on #748
Since I haven't heard back on this in a couple weeks, I'm going to close it out. If you run into a similar problem, please open a new issue. Thank you!

[2019-09-27 16:56] #748 closed

[2019-09-27 17:09] DrLou commented on #796
Not working. Testing Overview:
I see four targets - all being built for _real_ device iPhone7
First: **_Build for Testing:_**
Apollo: Succeeds
ApolloSQLite: Succeeds
ApolloWebSocket: Succeeds
(in no case is anything installed onto iPhone7 device)

Apollo-package: FAIL
ApolloTests and ApolloPerformanceTests BOTH report:
Unable to resolve build file: XCBCore.BuildFile (The workspace has a reference

[2019-09-27 17:46] designatednerd commented on #796
Aha, looks like I forgot something crucial: If you run the tests from the framework's scheme on a device, it won't work because of that error you're getting about "logic testing not supported".

Because of some silliness with Carthage, the scheme for `Test Host iOS` isn't shared. You'll need to create one locally, then in the test section of the scheme set it up to run `ApolloTests` and `ApolloCac

[2019-09-27 20:26] DrLou commented on #796
OK. To keep things consistent with your device, I've changed destination to iPhone 11 Pro Max (Simulator)- easy enough to do (but the goal remains to run/test on real iPhone device, of course)

Have got no target called **TestHost iOS**, as your screenshot shows...

Here's the project view blowup:
![image](https://user-images.githubusercontent.com/153913/65798027-aab94000-e13e-11e9-9bd9-a2c3e704fe

[2019-09-28 01:29] designatednerd commented on #796
Aha! That screenshot helps immensely - I think the issue is that you've opened `Package.swift` rather than `Apollo.xcworkspace`. The way this project is set up, you'll want to use the workspace rather than just the package setup.

SPM support is designed to allow easy *integration*, but if you want to run the tests, you'll need to use the full workspace.

[2019-09-28 03:33] DrLou commented on #796
Can you give me a clear list of bullet point items to execute?

IE; I have _no idea_ what you're talking about...

What is SPM? And I have zero interest in running any tests at all. What I do want? Is the simplest example of an iOS app, deployed to a physical iPhone7, which will show us an interface to the StarWars server - which we have running.

Specifically, what does 'use the full workspace' m

[2019-09-28 15:09] designatednerd commented on #796
Hi Lou - sorry for the frustration. I made some assumptions about your prior experience with iOS in my answers, and it also appears some Xcode behavior has changed recently. Let me back up a little and explain a couple things:

- `SPM` is Swift Package Manager, which was integrated into Xcode with Xcode 11, which was released last week. It allows you to integrate swift "packages" (ie, dependencies

[2019-09-30 00:50] designatednerd commented on #794
Adam's had a few more recurrences - can you give this post a 😕if you're also seeing this issue?

[2019-10-01 07:13] maximedegreve opened #799 "No such module 'SQLite'"
To continue the issue that I brought up in: https://github.com/apollographql/apollo-ios/issues/749
We can reproduce it on two computers (prob even more) here at work with an empty directory with a Carthage file in it:

[code]

and command:

[code]

Result:
![screenshot_2019-09-27_at_15 40 24](https://user-images.githubusercontent.com/980622/65778376-b9532780-e13d-11e9-8ed9-ee0ab876305d.png)

When

[2019-10-01 07:13] maximedegreve commented on #386
Yes here you go @designatednerd https://github.com/apollographql/apollo-ios/issues/799

[2019-10-01 14:26] designatednerd commented on #799
Aha! Thanks for the detail - I think you've found a hole in our Carthage instructions. Try adding the `SQLite` dependency that's in [`Cartfile.private`](https://github.com/apollographql/apollo-ios/blob/master/Cartfile.private) to your own Cartfile.

Basically, we moved that to a `Cartifle.private` so that people only using the `Apollo` lib don't have to deal with the `SQLite` and `Starscream` depe

[2019-10-01 16:05] maximedegreve commented on #799
@designatednerd I've just tried again but still seem to get the same issue:

**Cartfile**:
[code]

[2019-10-01 16:58] koenpunt commented on #212
This is also an issue when using default values for `@include(if: ...)` statements, since those require the value to be set.

Take for example this query;

[code]

The generated struct initializer looks good;

[code]

But when serialized, the arguments look like this:

[code]

Which causes the `@include(if: ...)` to bark;

[code]

But if the serialized arguments would look like this:

[code]

The

[2019-10-01 17:30] designatednerd commented on #212
Yep - this is something I'll be trying to take a look at as part of the Swift Codegen project,

[2019-10-01 17:59] designatednerd commented on #799
That's very odd. I just got it to build without issue in the dir for a new project, now trying it in a totally empty dir with that cartfile and `carthage update --platform macos,ios`. I'm running version `0.33.0` of Carthage and I'm on macOS 10.14.6, what versions of each of those are you running?

[2019-10-01 18:07] cltnschlosser opened #800 "Question: Should Pods/Apollo/scripts/apollo be a preserved path?"
Right now when you pod install the extracted cli gets deleted and has to be extracted again. This isn't a huge issue, but is there any reason that the `apollo` directory isn't preserved?

[2019-10-01 18:44] designatednerd commented on #800
Ooh, good question. The main reason is that when a new version of the CLI is included, we *want* to nuke the old one, but there's already code in the `run-bundled-codegen` script to handle that. Let me muck around with it a bit and see what I can figure out.

[2019-10-01 19:41] cbiggin opened #801 "Different/wrong path in script for archiving using SPM"
I'm using the SPM and for the most part, the directions listed [here](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) are correct. For compiling/running on your device and simulator, they work fine.

However when archiving to upload to the AppStore (ie, `Xcode -> Product -> Archive`), it fails.

In the script phase, instead of:

    cd "../../SourcePackage

[2019-10-01 20:15] cbiggin commented on #801
Here are the ${BUILD_ROOT} variables:

Simulator/device:

    /Users/colin/Library/Developer/Xcode/DerivedData/OBFUSCATED_PRODUCT_NAME_DIRECTORY/Build/Products

Archive:

    /Users/colin/Library/Developer/Xcode/DerivedData/OBFUSCATED_PRODUCT_NAME_DIRECTORY/Build/Intermediates.noindex/ArchiveIntermediates/PRODUCT_NAME/BuildProductsPath

[2019-10-01 20:46] designatednerd commented on #801
Errrrgh that's really obnoxious. It looks like everything is moved to a totally different root folder on archiving. I need to figure out a way to get the checkout path but there doesn't seem to be an env variable for it, nor does there seem to be one for the root of the derived data directory....

As a temporary fix you can use this to determine if it's building or archiving:

[code]

[2019-10-01 21:45] maximedegreve commented on #799
All the same.

<img width="1073" alt="Screenshot 2019-10-01 at 22 45 25" src="https://user-images.githubusercontent.com/980622/66003162-39aabd00-e49d-11e9-82f9-cb691c13b82c.png">

[2019-10-01 21:50] maximedegreve commented on #799
I've also just tried to clean
[code]

But not luck... 😭

[2019-10-01 21:50] designatednerd commented on #799
I see the folder you're using has spaces in it (`untitled folder 11.22.57`) - my recollection is Carthage doesn't play super-nice with that in all circumstances. Do you mind adding underscores in place of spaces and seeing if that fixes the issue?

[2019-10-01 21:51] designatednerd commented on #799
For what it's worth, here's what I'm seeing:
<img width="846" alt="Screen Shot 2019-10-01 at 4 50 52 PM" src="https://user-images.githubusercontent.com/1976498/66003400-a60cc880-e46b-11e9-88d7-f4b2db2c831f.png">

[2019-10-01 21:52] maximedegreve commented on #799
I got very excited about what you said but no luck. 😞
<img width="1172" alt="Screenshot 2019-10-01 at 22 52 00" src="https://user-images.githubusercontent.com/980622/66003485-22200400-e49e-11e9-98a1-b803936b0a43.png">

[2019-10-01 21:57] designatednerd commented on #799
@maximedegreve What's the exact command you're using - is it `carthage update --platform macOS --verbose` or `carthage update --platform macos --verbose`? In theory the capitalization shouldn't matter (and if it did it should just cause the damned build to fail), but as you can see I'm running the same command on my end and not reproducing the issue

[2019-10-01 22:00] maximedegreve commented on #799
I'm using

[code]
Also tried without verbose.

Probably won't make a difference but here are the files and logs: https://www.dropbox.com/s/18y9fjams6ukufz/files.zip?dl=0

[2019-10-01 22:14] designatednerd commented on #801
@cbiggin Please see #802 for a more permanent solution

[2019-10-01 22:20] levous opened #803 "NVM not in the run script path"
code gen run script failed with: "env: node: No such file or directory"

I struggled with this all day.  First of all, it had worked in Xcode 11 Beta.  When I upgraded to release Xcode 11, the script began failing.

I tried both Carthage and Swift Package Manager.  Eventually, I found I could run successfully copy the execution line from build output and run the script in terminal.  By adding the

[2019-10-01 22:30] designatednerd commented on #799
The good news is I downloaded the files from Dropbox and was able to build just fine:

<img width="828" alt="Screen Shot 2019-10-01 at 5 24 46 PM" src="https://user-images.githubusercontent.com/1976498/66005277-8f1ca500-e470-11e9-8610-44575ea8a79a.png">

The bad news is this really doesn't help in terms of figuring out why it's not working on your end.

One thing I noticed in your screenshot here

[2019-10-01 22:33] designatednerd commented on #803
@levous What version of the library are you using? What is your build phase run script? There have been some changes recently so I want to see if those might be the source of your issues.

[2019-10-01 23:11] cbiggin commented on #801
OK, that fixes the script execution. But I'm still getting `No such module ApolloWebSocket` & `No such module Apollo` error messages.

Typically when you get those messages, you need to update your frameworks path but how can you put a search-path to the SPM in there?

[2019-10-02 00:28] designatednerd commented on #801
Weird - which targets are you using? In theory Xcode should do all that work for you automagically

[2019-10-02 00:39] designatednerd commented on #800
OK I tried this out and it looks like that's not really possible with the behavior of `preserve_paths` - It only preserves the paths *after* re-pulling. The [docs](https://guides.cocoapods.org/syntax/podspec.html#preserve_paths) say that the preserved paths are "Any file that should not be removed after being downloaded." - as far as I can tell, the "after being downloaded" part is the issue - it

[2019-10-02 06:01] maximedegreve commented on #799
Both for my own project as the `Apollo.xcworkspace` is showing the new one.
<img width="1512" alt="Screenshot 2019-10-02 at 06 59 43" src="https://user-images.githubusercontent.com/980622/66021373-6d5c0600-e4e2-11e9-85f8-726dbdde771f.png">

[2019-10-02 07:26] PhillipFraThailand commented on #749
Hey Ellen, sorry I got caught up in some other stuff too. I actually ended up making the queries myself. Apollo is still on the table but for now I'm good with just doing one call and then i'll return when I need to make more than just one. I found out that the query that works in the tool I checked the query with added stuff to the call behind the scenes, so I had to make my HTTP request look lik

[2019-10-02 08:00] diegoventura commented on #732
👋 any update on this?

[2019-10-02 16:30] designatednerd commented on #732
Not at the moment - I think we're probably going to have to add some additional protocol methods to make this work correctly, and I'm in the middle of about 14 other things. Would be more than happy to look at a pull request if you've got more time!

[2019-10-02 16:32] designatednerd commented on #799
Yep I've also installed Carthage with Homebrew, so that's not the difference either. I'm still seeing that orange hammer in the top right - if you mouse over that, does it give you details of why it's appearing?

[2019-10-02 16:35] designatednerd commented on #749
Ok, no worries - I'd still love to know where you got the schema, so I can see if maybe that might be the issue.

[2019-10-02 17:30] interstateone opened #805 ".shasum file contains absolute path that differs between computers"
The .shasum file used by Apollo 0.16 has content like this:  `13febaa462e56679099d81502d530e16c3ddf1c6c2db06abe3822c0ef79fb9d2  /Users/USER/APP_NAME/TARGET_NAME/../Pods/Apollo/scripts/apollo.tar.gz`

We commit the Pods/ directory to our project repo. Because the tarball path is absolute it'll differ between machines that check out the project and run the build phase. This means that the path in th

[2019-10-02 17:40] designatednerd commented on #805
The problem with making it a relative path is that the full path comes back from the `shasum` method. In theory we could just drop the path and only have the raw `shasum`, but I'd have to do some mucking around with that.

Personally my strategy if I were checking Pods in (which I normally do) would be to `gitignore` the `.shasum` file - that way each computer building is able to check that it has

[2019-10-02 17:56] interstateone commented on #805
Ah, I see, thanks for explaining. I think I'd prefer to drop the path that shasum outputs then (ignoring a file in a dependency directory seems like a very specific and uncommon thing to do when integrating), but gitignoring the file is fine as a workaround.

[2019-10-02 17:58] designatednerd commented on #805
OK - lemme see what I can do for the next version

[2019-10-02 18:27] designatednerd commented on #805
@interstateone OK That wasn't as bad as I feared - #806 has this change.

[2019-10-02 18:43] designatednerd commented on #800
@cltnschlosser Does this answer your question or do you have an alternate suggestion?

[2019-10-02 18:52] designatednerd commented on #803
I *think* this might be related to a change I just snuck into #806 - previously the `PATH` didn't necessarily hit the included node binary, now it does. Try checking that branch (`update/sha`) out and seeing if that fixes your problem.

[2019-10-02 19:00] interstateone commented on #805
That's awesome, thanks for such a quick turnaround!

[2019-10-02 19:01] designatednerd commented on #805
Luckily I am procrastinating from doing something significantly more difficult

[2019-10-02 19:30] cltnschlosser commented on #800
Yeah, thanks for looking into this!

[2019-10-02 19:30] #800 closed

[2019-10-02 20:31] designatednerd commented on #800
Cool - FYI for anyone looking at this in the future, I'm deleting the branch

[2019-10-02 22:02] designatednerd commented on #805
This is now merged and ready to go out with 0.16.1, hopefully in the next day or so (I'd like to also get #804 in there as well). Will leave open until that ships.

[2019-10-03 06:53] maximedegreve commented on #799
When I hover it nothing appears, but clicking on it shows the same modal.
<img width="1512" alt="Screenshot 2019-10-02 at 06 59 43" src="https://user-images.githubusercontent.com/980622/66105219-d4e18680-e5b2-11e9-9c84-4f68362d2fb9.png">