[2020-09-24 17:13] designatednerd commented on #1407
We do not provide an internet check class, nor do we have plans to do so.

If you're using iOS 12 and above, the recommend way of doing things is [using `NWPathMonitor`](https://medium.com/@rwbutler/nwpathmonitor-the-new-reachability-de101a5a8835). If you're storing the most recent result from `NWPathMonitor` the preflight delegate would be a reasonable place to check it.

Please note that the Pre

[2020-09-25 10:58] tapannathvani commented on #1407
Can we know when can we have 0.34.0?

[2020-09-25 17:16] designatednerd commented on #1407
Release candidate 2 is available now, gonna let it bake over the weekend and put it out monday night (US-Central time) if I don't hear any major showstoppers.

[2020-09-28 04:42] tapannathvani commented on #1407
Thanks for the quick response.

[2020-09-28 04:42] #1407 closed

[2020-09-28 13:52] angelu25 opened #1413 "No such file or directory: run-bundled-codegen.sh"
I imported via cocoa pods the Apollo, actually it installed 0.30.

I added exactly the same script as here:
https://www.apollographql.com/docs/ios/installation/#troubleshooting
schema.json is under project folder, under the target folder name.
But I keep receiving:
![image](https://user-images.githubusercontent.com/6308120/94440933-75588f80-01a2-11eb-8095-c1d6862880b1.png)
Actually there is no dat

[2020-09-28 13:56] designatednerd commented on #1413
Hi, it looks like you're using the Swift Package Manager run script rather than the CocoaPods run script [outlined in this step of the setup instructions](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step), because the CocoaPods script should be looking in `Pods/apollo-ios/scripts` rather than doing the weird dance of diving through derived data that the SPM

[2020-09-28 14:01] angelu25 commented on #1413
OMG!!! True. Wee can close the ticket!!!!

[2020-09-28 14:01] #1413 closed

[2020-09-28 14:47] angelu25 opened #1414 "How to inject HTTP headers before fetching a query"
Do you know a mechanism to do that?

[2020-09-28 15:31] designatednerd commented on #1414
This is covered in the [Advanced Client Creation](https://www.apollographql.com/docs/ios/initialization/) section of our docs.

Fair warning that this will be changing significantly very soon with the release of what's now in RC for #1386 (which I'm hoping to release tonight). The PR has a link to the updated docs for advanced client creation as well.

[2020-09-29 09:55] #1414 closed

[2020-09-29 09:57] angelu25 opened #1415 "Error not parsed"
Hi,

I have a GraphQL which is returning the following:
![image](https://user-images.githubusercontent.com/6308120/94543867-da67c000-024a-11eb-803f-e76731c18064.png)
But the generated code is not parsing the error, but just giving data:
![image](https://user-images.githubusercontent.com/6308120/94543972-fa977f00-024a-11eb-8689-7fa93a3d05f9.png)
Could you help to identify how to get the errors?

[2020-09-29 13:22] pgawlowski opened #1416 "Overwrite whole cache after fetch."
Hello again.

My application is trying to archive offline first mode.
We are using BigQuery to fetch all the data required for app to be usable and focus on offline cache mutations with custom made syc feature.

The problem is that after synchronization we are trying to refresh whole cache data. Some of our tasks can fail, most will be successful.
To avoid too much noise with cache handling, right

[2020-09-29 14:21] designatednerd commented on #1415
Weird - that does look like properly formatted JSON for the error - can you confirm what version of the SDK, Xcode, and Swift you're using here?

[2020-09-29 14:25] designatednerd commented on #1416
Oof, that's a tough one. This is part of why sync is so hard (and frankly why I have zero interest in handling it on our end).

The first thing that jumps to mind is making a second instance of whatever cache you're using, swapping in a store with that cache, and then putting the old one back if things fail. I won't say that won't be a giant pain, but off the top of my head that's at least somethi

[2020-09-29 15:15] designatednerd commented on #1393
OK - do you mind if we close out this issue?

[2020-09-29 15:16] designatednerd commented on #1378
Since I haven't heard back in 3 weeks, I'm going to close this out. @michaelxbarrett Please reopen if you're still experiencing problems. Anyone else with similar problems, please open a new issue. Thank you!

[2020-09-29 15:16] #1378 closed

[2020-09-29 15:16] #1403 closed

[2020-09-29 15:56] designatednerd commented on #1406
Hi! Since this is pretty clearly documented and I haven't heard anything back in a week, I'm going to close this out - @tapannathvani if you're still having problems please reopen. Anyone else having similar problems, please open a new issue. Thank you!

[2020-09-29 15:56] #1406 closed

[2020-09-29 15:57] designatednerd commented on #1349
@pgawlowski Were you ever able to get a sample together? If not, do you mind if we close this issue out?

[2020-09-29 15:58] designatednerd commented on #1350
@pgawlowski Were you ever able to resolve this issue? Anything I can do to help here or do you mind if I close this out?

[2020-09-29 16:00] designatednerd commented on #1332
Hey all - I'm going to close this out since I haven't heard back in a few weeks. My best recommendation would be to get things building locally with Fastlane since you can get feedback much more easily than you can from Travis itself. I've generally found in the past that once something is building locally with Fastlane, it's much more likely to succeed on any CI platform if you're building using

[2020-09-29 16:00] #1332 closed

[2020-09-29 17:37] dchohfi opened #1418 "Question about ApolloInterceptor"
Hey, amazing rewrite of the http architecture, good naming and nice usage of open/close principles.

Just one stuff, I'm not sure how many times the `interceptAsync` method gets called, as it receives both request and an option response, I think this will be called twice, I'm correct?

If this is correct, talking about an interceptor that adds authentication token to the request, might be better t

[2020-09-29 17:41] pgawlowski commented on #1350
Hey @designatednerd
Actually yes. The main problem was old cache + messed id's.
Thank you for your help.

[2020-09-29 17:41] #1350 closed

[2020-09-29 17:43] pgawlowski commented on #1349
Hey @designatednerd

Sorry for not providing my sample code. It's still on my personal ToDo however I am totally sucked into other work. Let's close this issue right now. Hope I will provide some sample that will be helpful to validate this issue in some time - maybe during my vacations :)

Thanks for everything!

[2020-09-29 17:43] #1349 closed

[2020-09-29 18:14] designatednerd commented on #1418
Each interceptor is called once - they're called in sequence based on the order of the array passed in from the `InterceptorProvider`.

[2020-09-29 18:28] dchohfi commented on #1418
So the interceptor isn't called before each request and after each response?

[2020-09-29 18:44] dchohfi commented on #1418
Oh, I see. They get called in order depending on how you declare at your own implementation of `NetworkInterceptorProvider`.

Following the documentation it says:
[code]

By doing this, we are adding the token interceptor at the end of the chain, so after all the requests are done, does it make sense to add the token interceptor after the request is made?

[2020-09-29 19:46] bharath2020 commented on #1393
Ok

[2020-09-29 21:07] #1418 closed

[2020-09-29 21:08] dchohfi commented on #1418
Thank your for your response! Now I get it, sorry about that.

[2020-09-29 21:15] dchohfi opened #1419 "JSONRequest losing headers when useGETForQueries is true"
## Bug report

After migrating my project to the new version, I'm not able to use a service that has authentication via header.

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.34.0
- Xcode version: 12.0.1
- Swift version: 5.3

## Steps to reproduce

Create an interceptor that adds a header to the request, the NetworkTransporter must have `useGETForQ

[2020-09-29 21:16] dchohfi commented on #1419
I would love to send a PR to fix it, just want to confirm before if this is what is happening.

[2020-09-29 23:08] #1393 closed

[2020-09-29 23:38] #1419 closed

[2020-09-30 12:39] RomanTysiachnik opened #1421 "Massive API.swift file"
## Feature request

Generate each query, mutation, fragment and scalar type in a separate file.

## Motivation

We use Apollo in production on a pretty large project.
Right now our generated `API.swift` file is almost 10 Mb and it has 255,000+ lines of code.
After we create a new query/mutation, the file may be overwritten completely, that it is impossible to understand anything in git.
Moreover,

[2020-09-30 12:51] TizianoCoroneo commented on #1421
If you provide a folder path instead of a file path to the generate command, it will do exactly this: a separate file for everything.

[2020-09-30 13:08] angelu25 commented on #1415
SDK 0.33.0
Xcode 11.5
Swift 5

[2020-09-30 13:10] RomanTysiachnik commented on #1421
@TizianoCoroneo

Could you share an example, please?

[2020-09-30 13:18] TizianoCoroneo commented on #1421
This is the script as is in [the docs](https://www.apollographql.com/docs/ios/installation/):
[code]

If you make a folder named `API` just next to your `API.swift` file, and then remove the `.swift` extension from the last argument of the script, it should work:
[code]

[2020-09-30 13:24] RomanTysiachnik commented on #1421
I'm using Swift scripting to generate API from this [doc](https://www.apollographql.com/docs/ios/swift-scripting/):
[code]

And I couldn't find a way to get rid of that massive file.

[2020-09-30 13:42] RomanTysiachnik commented on #1421
Ok. I guess I've managed how to handle that, there's another `init` that allows you to specify output format:

[code]

Closing the issue :)

[2020-09-30 13:42] #1421 closed

[2020-09-30 14:00] benoitletondor commented on #1379
Reopening this one as the bug seems to be back with 0.34.0 :/ Let me know if you need help on my side

[2020-09-30 14:05] benoitletondor commented on #1379
@designatednerd I haven't tested 0.33.0 so I'm not sure when the regression happened

[2020-09-30 14:17] designatednerd commented on #1379
That's odd, because the test added is passing - I actually spent quite a bit of time making it pass. 🙃 Do you mind opening a new issue with a link to this one since it's in a different version?

[2020-09-30 14:21] benoitletondor commented on #1379
Sure

[2020-09-30 14:21] #1379 closed

[2020-09-30 14:22] benoitletondor opened #1422 "Query watcher not being called when cache is updated on an element by another query/subscription/mutation"
## Bug report

Query watcher not being called when cache is updated on an element of a collection that is added after calling watch

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.34.0
- Xcode version: 12.0.1
- Swift version: 5.3

## Steps to reproduce

I've been trying a lot of things on that one and wasn't able to find a way to fix my problem. So

[2020-09-30 14:29] benoitletondor commented on #1422
To add more to this, I feel like this is not related to collections only. If you have 1 query that watches something, then another query/mutation updates this cache indirectly (not using the same query, but another query that contains the same element with the same `uuid`), it doesn't work.

[2020-09-30 15:10] angelu25 opened #1424 "Why the response is not being triggered and no interceptors are dispatched?"
I'm building the client like this:
![image](https://user-images.githubusercontent.com/6308120/94703838-90143b00-033f-11eb-8033-3f2727a09fbe.png)
This is my Interceptor Provider:
![image](https://user-images.githubusercontent.com/6308120/94703879-9c989380-033f-11eb-8fab-ea802d571565.png)
And this is an example of the query fetch:
![image](https://user-images.githubusercontent.com/6308120/94703946-a

[2020-09-30 15:29] designatednerd commented on #1415
I've got no idea why that's not parsing the error - I put a test together and this is passing (different `"data"` key name since I'm using a local type for this test):

[code]

[2020-09-30 15:31] designatednerd commented on #1422
Do you have any thoughts on why the test that was added would be passing, but what you're working with would not be working?

[2020-09-30 15:35] designatednerd commented on #1424
You are not actually including anything that calls the network, it looks like. You will need to include the `NetworkFetchInterceptor`, probably between request and response logging interceptors.

I don't know why the response logging interceptor would be showing a 200 response when there's nothing that came through, because the request never went out to the network.

[2020-09-30 17:00] benoitletondor commented on #1422
I'm afraid no, but all I can tell is that it works with 0.32.0 and not with 0.34.0

[2020-09-30 19:27] knox opened #1425 "Obsolete types GraphQLHTTPResponseError et. al."
## Bug report

With the new network stack (yeah!) a few types such as `GraphQLHTTPResponseError` became obsolte but did not get removed from code base yet.

## Versions

- `apollo-ios` SDK version: 0.34.0

## Steps to reproduce

"Find usages" of `GraphQLHTTPResponseError`, `GraphQLHTTPRequestError` and probably others.

[2020-09-30 19:55] qingqingliu opened #1426 "Enhance support for custom cache key resolver logic"
## Feature request

Add similar support of [CacheKeyResolver](https://github.com/apollographql/apollo-android/blob/main/apollo-normalized-cache-api/src/commonMain/kotlin/com/apollographql/apollo/cache/normalized/CacheKeyResolver.kt) as from Android Apollo Client library.

## Motivation

Current iOS library provides cacheKeyForObject on ApolloClient that allows you to provide custom cache key for r

[2020-09-30 20:34] designatednerd commented on #1426
We're going to be looking in late 2020-early 2021 at getting our mobile caching more aligned, both across iOS and android and with our web cache, and this is one of the things I'll definitely be considering.

I'm definitely open to discussion if you're interested in implementing this yourself.

[2020-09-30 20:38] designatednerd commented on #1425
`GraphQLHTTPRequestError` is still used, but good catch on the response error.

Please note that "find usages" isn't the be-all, end-all, especially for enum types - always worth doing a text search through the full codebase.

[2020-09-30 21:29] qingqingliu commented on #1426
Thanks @designatednerd for the follow up. I see this is being part of bigger alignment between iOS and Android, I would probably wait for an overall proposal first. Happy to contribute though once the proposal is in place

[2020-09-30 22:26] designatednerd commented on #1426
We're going to try to line up on what's best for both - the biggest issue right now is that iOS had a long period where no development took place (while Android was chugging along well with open-source contributions) and I'm still digging my way out of that hole.

[2020-10-01 06:34] knox commented on #1425
The problem here for me was that by not beeing broken because of a removed class my validations got semantically broken because they where still checking for that type.

Of course you're right about `GraphQLHTTPRequestError`. I've mistaken that.

But still, regarding your advise to check for "usages" with full text search i have to strongly disagree. In fact i heavily rely on this kind of type bas

[2020-10-01 07:46] angelu25 commented on #1424
Worked ;)

[2020-10-01 09:12] #1415 closed

[2020-10-01 09:13] bezoadam opened #1427 "Enum generation with `INIT` case"
## Bug report

Hi, enum is declared like this:
![Snímka obrazovky 2020-10-01 o 8 26 56](https://user-images.githubusercontent.com/25613125/94775340-ede86780-03bf-11eb-9f4e-f9cb5bc9f5a0.png)

and generated code throws these errors:
![Snímka obrazovky 2020-10-01 o 8 27 08](https://user-images.githubusercontent.com/25613125/94775447-18d2bb80-03c0-11eb-9fe5-b6f6d12420ef.png)

It looks like there is pr

[2020-10-01 09:19] angelu25 commented on #1424
It can now fetch the data, response is received:
![image](https://user-images.githubusercontent.com/6308120/94791351-cac9b200-03d7-11eb-9d99-78a0bacddbcf.png)
But when handling it:
![image](https://user-images.githubusercontent.com/6308120/94791434-e92fad80-03d7-11eb-934b-7777241fbad7.png)
It is entering the failure, but with a totally separate error:
![image](https://user-images.githubusercontent

[2020-10-01 10:14] #1424 closed

[2020-10-01 10:15] angelu25 opened #1428 "When adding interceptors, they don't parse properly errors"
SDK 0.34.0

I can fetch the data, response is received:
![image](https://user-images.githubusercontent.com/6308120/94791351-cac9b200-03d7-11eb-9d99-78a0bacddbcf.png)
But when handling it:
![image](https://user-images.githubusercontent.com/6308120/94791434-e92fad80-03d7-11eb-934b-7777241fbad7.png)
It is entering the failure, but with a totally separate error:
![image](https://user-images.githubuser

[2020-10-01 10:26] angelu25 commented on #1428
If I use LegacyInterceptorProvider it does work

[2020-10-01 13:57] designatednerd commented on #1428
You don't have a parsing interceptor happening here, so the data is not being parsed by the time it gets to the end of the interceptor chain. The parsing isn't done by the chain itself, it's done by the individual interceptors.

If you're creating your own interceptor provider, you have to provide _all_ the interceptors that you're planning to use, including the ones that do the parsing. A good pl

[2020-10-01 13:58] designatednerd commented on #1425
I agree that it's helpful, but particularly when it comes to removing stuff, I've found it better to belt-and-suspenders things (even in AppCode, which I have used before).

[2020-10-01 14:38] designatednerd commented on #1427
It's the codegen - it's not properly escaping the case named `init`, which is a reserved Swift keyword. Upcoming codegen should handle this better but it's gonna be a bit - is this schema already public or is it still being evolved?

[2020-10-02 05:59] bezoadam commented on #1427
Schema is partially public but I think there is not chance that there will be some changes. Anyway if I change `.init` to ``.init`` on lines where error is triggered, it disappears. But of course on next build code is regenerated. So I think this should be fixed in codegen.

[2020-10-02 12:20] designatednerd commented on #1427
Yeah, absolutely - fixing the current codegen is a pain (which is why it's being rewritten) so I was trying to make sure it was necessary before diving into it. 🙃

[2020-10-02 12:44] bezoadam commented on #1427
Thank you 👍

[2020-10-04 21:10] mattia opened #1433 "Failed codegen when using GitHub GraphQL schema"
## Bug report

While trying to use the [Swift scripting codegen tooling](https://www.apollographql.com/docs/ios/swift-scripting/) I was not able to generate the `API.swift` file given the corresponding schema file.

An error like this is generated

But using the GraphQL verification tool available in the [same repo](https://github.com/octokit/graphql-schema) it passes. (running `npm start validate

[2020-10-05 08:07] alizx commented on #442
looking forward to it

[2020-10-05 14:09] prateek3255 opened #1434 "Is it okay to git ignore API.swift?"
## Question

Since API.swift is auto-generated, is it good practice to add it to `.gitignore`?

We tried adding it to `.gitignore` but whenever someone new clones the repo, the code fails to compile because of a broken reference to API.swift, and hence we have to manually pass it for the very first time.

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version:

[2020-10-05 15:44] designatednerd commented on #1434
This is not a recommended practice - the exact problem you're having illustrates why this isn't a good idea.

[2020-10-05 15:48] prateek3255 commented on #1434
Okay, thanks for the clarification

[2020-10-05 15:48] #1434 closed

[2020-10-05 17:49] Renish-Development commented on #1019
@johntmcintosh , @designatednerd

How to use/implement Date type custom scalar in iOS?

I'm working with GraphQL. I have successfully implement Query and Mutation in iOS app.
I'm facing issue with Date Type. As per references, I have added --passthrough-custom-scalars in Run Script BUT I'm facing compilation issue.
**I'm facing issue with "--passthrough-custom-scalars" variable. I have added below

[2020-10-05 17:50] Renish-Development opened #1435 "Using a custom Date scalar"
@cerupcat @jzhw0130: You should be able to pass `--passthrough-custom-scalars` to `apollo-codegen` to avoid generating a `typealias` to `String` for custom scalars. You can then add your own alias and conversion code, see [here](https://github.com/apollographql/apollo-ios/issues/23#issuecomment-261697349) for an example.

_Originally posted by @martijnwalraven in https://github.com/apollographql/a

[2020-10-05 17:51] Renish-Development commented on #1435
How to use/implement Date type custom scalar in iOS?

I'm working with GraphQL. I have successfully implement Query and Mutation in iOS app.
I'm facing issue with Date Type. As per references, I have added --passthrough-custom-scalars in Run Script BUT I'm facing compilation issue.
**I'm facing issue with "--passthrough-custom-scalars" variable. I have added below code in Run script but I'm facing

[2020-10-05 18:55] designatednerd commented on #1433
I've definitely seen this from the `.graphql` version of the GitHub schema before, but it looks from the code like you're downloading the JSON version of it. Can you please confirm that and attach a copy of the schema you're getting from GitHub so I can take a look? Thank you!

[2020-10-05 19:00] designatednerd commented on #1435
Hi @Renish-Development - I updated your comment to add some formatting.

It looks like your type is called `Date` rather than `DateTime`, which would mean I believe you need to have your typealias be:

[code]

And then have your extension be on `Date` rather than `DateTime`. Give that a shot, let me know how it goes.

[2020-10-05 19:26] Renish-Development commented on #1435
@designatednerd , Swift Date is Not available. I'm using Xcode 12. Please look at the attached screen shot.

I'm also facing issue with execute --passthrough-custom-scalars. Please let me know what I missed for custom scalar

$APOLLO_FRAMEWORK_PATH/check-and-run-apollo-codegen.sh generate $(find . -name '*.graphql') --schema schema.json --output API.swift --passthrough-custom-scalars

<img width="

[2020-10-05 19:35] mattia commented on #1433
Yes, of course. The schema I'm downloading is from the [octokit repo](https://github.com/octokit/graphql-schema).
The files are:
 - [schema.graphql](https://gist.github.com/mattia/d2cc50fdbfc1a90e58c4c35716677052)
 - [schema.json](https://gist.github.com/mattia/4545c6371577d3a7c7c17722bf7266f2).

Thank you and have a nice day!

[2020-10-05 20:09] designatednerd commented on #1435
Argh, I meant `Foundation.Date`. I always forget what's swift and what's foundation📈

And `--output API.swift` has to be the last argument - move `--passthrough-custom-scalars` before that.

[2020-10-05 21:59] designatednerd commented on #1433
OK looks like I had it backwards, it's the JSON that's giving the weird error and the SDL that seems to be working fine. If you update your schema download options to downloading SDL instead of the default JSON option, that should work:

[code]

[2020-10-05 22:42] designatednerd commented on #1428
Is there anything else I can help with here, or can we close this issue out?

[2020-10-05 22:44] designatednerd commented on #1427
You'd need to make it

[code]

 rather than `".init"`, but if you're ok with that, I'm very OK with not diving into typsecript hell 😇. If that's cool with you, mind if we close this one out?

[2020-10-06 08:54] angelu25 commented on #1428
You can close it. Many thanks!

El mar., 6 oct. 2020 a las 0:43, Ellen Shapiro (<notifications@github.com>)
escribió:

--
*Jose Ángel Zamora Cobo*
Telecommunication Engineer
Android/iOS Senior Software Engineer
<https://www.credential.net/9643hskr>

[2020-10-06 09:53] danpalmer opened #1438 "Mismatched stores for ApolloClient/LegacyInterceptorProvider"
## Bug report

Caveat: this isn't quite a bug, perhaps more of a design bug, but we nearly shipped a bug in our app because of it. Also, I may just be missing things!

There are two ways to set up an `ApolloStore` for the networking in Apollo, and unless both are done, in the same way, I believe there can be inconsistencies.

For example, we previously did this in our `ApolloClient` setup:

[code]

[2020-10-06 10:29] tapannathvani opened #1439 "Can not find 'GenericScalar' in scope"
## Bug report

Backend is JWT and when i'll try to execute a mutation for tokenVerification it gives me an error. We have Payload (Scalar Type) as response it in. I have added --passthroughCustomScalars in run script also.

`SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
"${SCRIPT_PATH}"/run-bundled-codegen.sh codegen:generate --target=swift --includes=./**/*.graphql --lo

[2020-10-06 10:54] Renish-Development commented on #1435
@designatednerd , Its' not working. Please can I do any mistake or issue due to the updated version of Xcode 12. I'm using Xcode 12. Please check with your side and let me know it's work or not. Happy top share more information

[2020-10-06 17:06] #1428 closed

[2020-10-06 17:10] designatednerd commented on #1438
Is there a particular using you're not passing in the `store` parameter for `client` on that last version? eg:

[code]

That would ensure you have the same store in all places.

I do agree it's a little overcomplicated at the moment - I do plan to keep evolving this, and I appreciate the feedback.

[2020-10-06 17:13] designatednerd commented on #1435
I did notice that the param is `--passthroughCustomScalars` rather than `--passthrough-custom-scalars` - that could be part of it. If that's not what's not working, please let me know in more detail what isn't working and in what way it is not working. Thanks.

[2020-10-06 18:43] designatednerd commented on #1439
Hi! Can you clarify a bit:

- What is the name of your custom scalar type, `Payload` or `GenericScalar`?
- What is the underlying type of your custom scalar? It sounds like it's a string containing the JWT, I just want to double check
- Have you tried using a `typealias` to define the scalar type?

[2020-10-06 21:25] michael-mckenna opened #1440 "Add example for direct writing to the cache"
## Feature request

Add examples for writing directly to the cache, hopefully for all variants of the "write" function:
[code]

Looks like only `read` and `update` are in the docs at the moment.
https://github.com/apollographql/apollo-ios/blob/main/docs/source/caching.mdx#direct-cache-access

## Motivation

I'm new to GraphQL and using it for a side project has a learning experience. I don't want

[2020-10-06 21:57] designatednerd commented on #1440
Hi, I can certainly add one, but I will say that the idea is that you avoid manually reading from or writing to the cache unless you absolutely have to, and let the store handle most of the nonsense around dealing with cache keys and things like that.

If it's your first time messing around with it and you just want to get an idea of how it works, I'd recommend checking out the app from the [Tutor

[2020-10-07 17:11] danpalmer commented on #1438
Not particularly, but we did go through this stage on the way to our fully working version, which is pretty much what you have in your example. The fact that there were multiple opportunities for human error in getting to that working solution suggests there's a better design possible.

Ideally these would be caught by the type system, or made un-representable, as I don't believe they are states o

[2020-10-07 17:41] designatednerd commented on #1438
If you're not using a custom interceptor provider, the default initializer for `ApolloClient` initializes all this stuff for you - is that more what you're thinking?

[2020-10-08 07:02] mattia commented on #1433
Thanks for the reply. I've been real busy these days but I will try to come back to you in the next few days after trying your suggestion.

Thanks again! Have a nice day

[2020-10-08 10:52] danpalmer commented on #1438
I think that route is safe.

We were transitioning from the legacy networking stack where we used `HTTPNetworkTransportPreflightDelegate` though. To maintain compatibility we decided to use `LegacyInterceptorProvider` and add an additional interceptor that did what our preflight delegate implementation had previously done, hence ending up with needing to pass the store into two different places, a

[2020-10-08 15:13] danpalmer commented on #1438
Interesting! I'm not sure I quite understand what the use-case is for the client to have a different store to the interceptor provider? I can't see how that client store gets used apart from by the user... which means if I've understood correctly, it's not plugged in to the Apollo internals?

[2020-10-08 20:53] philfi commented on #1376
Hi @designatednerd,

I am encountering this issue in `0.33.0`, looking at #1383 I'm not quite certain it addressed the root issue given the shared `URLSession` isn't being used in `URLSessionClient`? I have a fairly reproducible case where this `invalidate` logic is getting hit but I'm still encountering this assertion error afterwards, confirmed with some debugging its definitely the same instanc

[2020-10-09 02:11] designatednerd commented on #1438
basically there are some people who use multiple clients with multiple stores, and there are some...odd ways people make that work.

[2020-10-09 21:55] lowki93 opened #1444 "Can't update the RequestBodyCreator for WebSocketTransport"
## Bug report

We use `WebSocketTransport` and we need to override the `requestBodyCreator` parameters.
We define `CustomBodyCreator`:
[code]

we put it when we initialize the `WebSocketTransport`:
[code]

But `requestBody` from our struct is never call.

There is a an extension for `RequestBodyCreator` that define the function in the protocol :
[code]

Why can put this default implementation in `

[2020-10-10 05:07] Mordil commented on #1421
So, I'm noticing we're getting massive differences in file sizes from the generated output depending on if we use the `apollo codegen:generate` command through the NPM installed CLI vs. the **SwiftCodegenLib**.

Like... one of our files is 15mb from **SwiftCodegenLib** but 224kb from the NPM CLI.

What could be causing such as massive difference?

[2020-10-10 05:13] Mordil commented on #1421
I just compared the commands, and it looks like the default `mergeInFieldsFromFragmentSpreads: true` is the source of the "bloat".

What is the cost/benefit of having that set to `true`, as it is by default?

[2020-10-10 11:41] gbrigens commented on #909
Am running to this error `Cannot find 'HTTPNetworkTransport' in scope` and `Cannot find type 'HTTPNetworkTransportDelegate' in scope` when am trying to make calls, ApolloClient Version 0.34.1

Here is my code;
[code]
I appreciate your feedback.

[2020-10-10 11:42] gbrigens opened #1446 "Am running to this error `Cannot find 'HTTPNetworkTransport' in scope` and `Cannot find type 'HTTPNetworkTransportDelegate' in scope` when am trying to make calls, ApolloClient Version 0.34.1"
Am running to this error `Cannot find 'HTTPNetworkTransport' in scope` and `Cannot find type 'HTTPNetworkTransportDelegate' in scope` when am trying to make calls, ApolloClient Version 0.34.1

Here is my code;
[code]
I appreciate your feedback.

_Originally posted by @gbrigens in https://github.com/apollographql/apollo-ios/issues/909#issuecomment-706535757_

[2020-10-10 16:47] designatednerd commented on #1446
Hi! In 0.34.0 after an RFC and multiple betas, we released an updated networking stack which removed these methods in favor of a `RequestChainNetworkTransport`. Please see the [0.34.0 release notes](https://github.com/apollographql/apollo-ios/releases/tag/0.34.0) for links to updated documentation.

[2020-10-10 19:47] gbrigens commented on #1446
@designatednerd this is my first time working with Apolloclient and GraphQL. I have ted the one from the link still running into errors `Cannot find 'NetworkInterceptorProvider' in scope`... Do you have an example that shows passing authorization headers?

[2020-10-11 00:41] designatednerd commented on #1446
Yes, the [tutorial bit on additional mutations](https://www.apollographql.com/docs/ios/tutorial/tutorial-mutations/) has an example

[2020-10-11 10:14] Hazem-Mohammed opened #1447 "Cannot query field "currencyTypes" on type "Query"."
Hello all,

This is my first time to work with GraphQl and i have a very weird issue if i try to add any new query to my .graphql file i get error Cannot query field on type
i faced this issue once and the solution was simply download the new schema file and it is work just fine now it doesn't work and if the Backend add any new query and i try to use it i get the same error even after update the

[2020-10-11 14:29] Hazem-Mohammed commented on #1447
finally i solved the issue.
i was downloading the schema file from terminal using this command:
apollo schema:download --endpoint=https://myEndPoint schema.json

that was working with me in past but for some unknown reason using this command cause the problem

The solution:
Download schema using CLI script:
SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
"${SCRIPT_PATH}"/r

[2020-10-11 14:29] #1447 closed

[2020-10-11 22:35] gbrigens commented on #1446
@designatednerd thank you for your help, hope in future there will be more tutorials on iOS. I have been searching for content online and there isn't much compared to Android.

[2020-10-11 22:35] #1446 closed

[2020-10-11 23:28] designatednerd commented on #1446
Yes, definitely in the long term plan to beef that up.

[2020-10-13 10:21] Narayane commented on #1422
I think I have the same problem but not on a collection. My watcher is not triggered anymore since I have updated Apollo from 0.33.0 to 0.34.1. I have a watcher in cachePolicy .returnCacheDataAndFetch on this Query.

[code]

And I have a mutation that updates my cache and normally triggered my watcher.
[code]
Since my Apollo pod upgrade, not working anymore. My watcher is not triggered when mutati

[2020-10-13 14:26] tspecht opened #1449 "Crash in Alamofire"
## Bug report

Since upgrading to the latest `0.34.0` release line with the revamped networking stack, we are seeing intermittent failures in conjunction with Alamofire. Is this a known issue?

[code]

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: `0.34.0`
- Xcode version: 11.7 as well as 12.0
- Swift version: 5.1 as well as 5.3

## Steps to reproduc

[2020-10-13 15:36] designatednerd commented on #1449
That's a new one on me - under the hood we're using the same `URLSessionClient` that wraps `URLSession` as we were previously, so there shouldn't be anything messing with `URLSession` that wasn't already happening before.

The crash is happening on the Alamofire queue, but it looks like it's happening pretty deep within foundation when a block operation tries to change a value and it triggers KVO,

[2020-10-14 10:48] RolandasRazma commented on #1376
Can confirm that it's not solved in 0.33.0. Just got assert while running tests

<img width="1024" alt="Screenshot 2020-10-14 at 11 44 45" src="https://user-images.githubusercontent.com/1027187/95979215-37e73980-0e13-11eb-9976-22d5d1f32349.png">

[2020-10-14 16:02] dhritzkiv commented on #1422
This is also occurring for me. 0.32.1 worked; but not 0.34.0 or 0.34.1

[2020-10-14 18:19] designatednerd commented on #1439
@tapannathvani Hi, do you have answers to any of the questions I asked?

[2020-10-15 00:37] designatednerd commented on #1422
@dhritzkiv That makes sense, the network stack and how it interacts with the cache changed completely in 0.34.0.

Apologies, I've been under the weather. I'm gonna do some digging starting tomorrow to try to figure out how I broke this without breaking the tests 🙃

[2020-10-15 00:39] dhritzkiv commented on #1422
No rush from me! I was able to roll back to 0.33.0 no problem

[2020-10-15 01:06] designatednerd commented on #1444
Hi, apologies for the delay, I was under the weather.

You can't override `ApolloRequestBodyCreator` because it's not intended to be overridden - that's why `RequestBodyCreator` is a protocol with a default implementation: That way your custom implementation can use the default implementation without having to implement it yourself if you don't need to.

That being said, there've been some changes

[2020-10-15 01:07] designatednerd commented on #1435
Hi @Renish-Development is there anything more I can help with here or can we close this issue out?

[2020-10-15 01:09] designatednerd commented on #1421
I'm very surprised to hear it's causing that big a jump. `mergeInFieldsFromFragmentSpreads` ensures that fields in spreads (the `...BlahFragment` operator) are actually on the returned object. It basically is the difference between calling `object.propertyFromFragment` and `object.fragment.propertyFromFragment` on literally everything, which can get REAL old.

@Mordil you've got my email, can you

[2020-10-15 02:27] designatednerd commented on #1444
OK updating a test, I am now seeing the issue you're having - looks like something I gave [literally an entire talk on](https://speakerdeck.com/designatednerd/protocols-all-the-way-down-dotswift-paris-january-2018?slide=63) just came to bite me because I have angered the gods of iOS development 🤦‍♀️

The issue is the default implementation is getting called even if it's overridden when the only ty

[2020-10-15 03:45] designatednerd commented on #1416
@pgawlowski Anything else I can help with here or do you mind if I close this out?

[2020-10-15 05:03] tapannathvani commented on #1439
Closing this issue as i am not using Payload response data now.

[2020-10-15 05:03] #1439 closed

[2020-10-15 07:57] TizianoCoroneo commented on #1421
In my codebase adding the `mergeInFieldsFromFragmentSpreads` option cause 220k+ lines of code to appear, mostly:
- getter/setters for each property in the fragment
- memberwise initializers that are omitted if a type contains a fragment

(I have to admit that we overuse fragments, and that's the main culprit.)

Might be interesting to use [dynamic member lookup with keypaths](https://www.avanderle

[2020-10-15 08:10] Narayane commented on #1422
I can wait 1 week to have feedback from you @designatednerd on this point.
If you need more time to investigate or to solve it, I could roll back to 0.33.0 to avoid blocking me in production

[2020-10-15 08:37] benoitletondor commented on #1422
Same here, I rollbacked to 0.32.1 so no rush from me, and thanks for taking time investigating this!

[2020-10-15 09:54] mefilt commented on #1449
I have some problem.
`Crashed: org.alamofire.session.rootQueue
0  libobjc.A.dylib                0x1c21f0ca0 objc_retain + 16
1  Foundation                     0x1afc271bc NSKeyValueWillChange + 400
2  Foundation                     0x1afc26e9c -[NSObject(NSKeyValueObservingPrivate) _changeValueForKeys:count:maybeOldValuesDict:maybeNewValuesDict:usingBlock:] + 424
3  Foundation

[2020-10-15 14:09] designatednerd commented on #1421
Yes. Also representing fragments as protocols means that you can have the properties straight on the object without duplication.

[2020-10-15 15:00] designatednerd commented on #1449
I see several people have 👍'd this - any further details from anyone would be helpful

[2020-10-15 16:49] designatednerd commented on #1449
Oh interesting - yes that definitely seems plausible. For what it's worth our codebase is entirely in Swift, which doesn't completely prevent us from using swizzling but does make it way more of a pain. Either way, we do not use any swizzling.

For others running into this issue, are you also using Firebase?

[2020-10-15 17:33] ethan021021 commented on #1449
@designatednerd I am also using Firebase

[2020-10-15 22:58] ferologics commented on #467
Is there a plan of implementation? I'd be happy to take a stab at this @designatednerd 🙂

[2020-10-16 00:17] designatednerd commented on #467
Yes, it's already in progress it's just hit a couple roadblocks, hoping to get back to it next week!

[2020-10-16 04:48] designatednerd commented on #1444
This has shipped with `0.35.0`.

[2020-10-16 05:03] mobile-simformsolutions opened #1451 "run-bundled-codegen.sh: No such file or directory"
## run-bundled-codegen.sh: No such file or directory

i'm implementing this demo as per the documentation (https://www.apollographql.com/docs/ios/tutorial/tutorial-obtain-schema) but after adding script into build phase it will showing me this error:

**Command PhaseScriptExecution failed with a nonzero exit code**
**Script-3E447D9625386A88004AD507.sh: line 10: /run-bundled-codegen.sh: No such fil

[2020-10-16 05:05] designatednerd commented on #1451
It looks like you may have skipped step 6, in which you add the build script where the script path is retrieved. It links to [these instructions](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) which are separated out by package manager.

[2020-10-16 05:36] mobile-simformsolutions commented on #1451
got it thanks but one suggestion for documentation please make one section where whole script was there.

[2020-10-16 05:36] #1451 closed

[2020-10-16 09:27] taher-mosbah opened #1452 "Help wanted migrating to new Networking stack"
## Question
Greetings 👋

We are trying to update our custom implementation of a `NetworkTransport` to the new networking stack in version 0.34 but can't seem to figure out where to start, we took a look at the release notes and the documentation `RequestChainNetworkTransport` seems promising but can't figure out how to achieve the same results.

Here is the current implementation:

[code]

feel fr

[2020-10-16 09:51] ferologics commented on #467
Is there a PR/branch that I can take a look at? I'm interested in seeing it under the hood. Also lmk if there's any way I could help 👐

[2020-10-16 14:37] designatednerd commented on #1451
Appreciate the feedback - for what it's worth the reason it's linked is because those instructions had been changing enough that having it in two places meant that it was going to constantly get out of sync.

[2020-10-16 16:47] designatednerd commented on #467
At the moment, no PRs - if you take a look in the `ApolloCodegenLib` and the corresponding tests, there's stuff already merged for input objects and enums. Going to be taking a crack at fragments next, which is going to be the vast majority of the work.

[2020-10-16 17:41] kylebrowning commented on #1196
@designatednerd does this mean we currently can't update fragments even though an interface for one does exist?

[2020-10-16 18:53] Nickersoft commented on #1440
@designatednerd Just to clarify, it is still the expectation though that you should use manual cache updating after mutations / incoming subscriptions, correct? Recently I started to receive JSON `missingValue` errors in my cache updates and I'm not sure if it has anything to do with the major architectural changes that have been going on.

[2020-10-16 19:28] designatednerd commented on #1440
Subscriptions don't hit the cache at all at the moment - I wasn't part of that decision but it makes sense from a standpoint of "This is constantly changing information, we don't necessarily want to cache all of it", and also from a performance standpoint. So yes, that you'd need to do manually.

Mutation results can update the cache, though if you're not using a `cacheKeyForObject` function that

[2020-10-16 19:30] designatednerd commented on #1196
You should be able to update anything non-optimisitcally using the [direct cache modification methods](https://www.apollographql.com/docs/ios/caching/#direct-cache-access) - this issue is just asking about _optimistic_ caching, which basically means "assume your query will succeed, and provide a rollback function for when it doesn't".

[2020-10-16 20:17] designatednerd commented on #1452
So it looks like you could probably get to this point with what you're doing by passing in a custom `RequestBodyCreator` to `RequestChainNetworkTransport` and then setting the `useGETForQueries` parameter to `true` - I believe almost all the rest of this is handled for you automatically in the RCNT otherwise.

[2020-10-16 23:26] jdevng opened #1453 "Swift scripting error with xcode 12"
## Bug report

Initialization of Codegen directory at

https://www.apollographql.com/docs/ios/swift-scripting/

results in error.

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.35
- Xcode version:  12.0.1
- Swift version: Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)

## Steps to reproduce
[code]

## Further details

Please repl

[2020-10-16 23:31] designatednerd commented on #1453
I think you mean `swift package --init` rather than `swift packet --init`

[2020-10-16 23:39] jdevng commented on #1453
I'm blind. Will delete :) Thank you. Should learn to copy!

[2020-10-16 23:39] #1453 closed

[2020-10-17 11:56] wongzigii opened #1456 "set the timeout of the ApolloCodegenLib"
I am following the guide to download zip file with CLI.
How can I set the timeout of the ApolloCodegenLib:CLIDownloader ?
My network is so bad :(

[code]

[2020-10-18 00:09] winstondu opened #1457 "Create WebsocketTransport without connecting automatically"
## Feature request

Currently, the designated initializer for the WebSocketTransport[ immediately connects the websocket. ](https://github.com/apollographql/apollo-ios/blob/cf537701e407bed1a13df6dd6288d641abdda42a/Sources/ApolloWebSocket/WebSocketTransport.swift#L128)

We wish to manually control when it does its first connection.

## Motivation

We want to our app's webservers to able to handle l

[2020-10-18 12:27] DiwakarThapa opened #1459 "allowSpecificHTTPSCertificateForHost warning in iOS 14"
I started receiving following warning on Xcode after I update my iPhone to iOS 14. How to fix this warning?
 ## Warning
nil host used in call to allowSpecificHTTPSCertificateForHost:
nil host used in call to allowAnyHTTPSCertificateForHost:
nil host used in call to allowSpecificHTTPSCertificateForHost:
nil host used in call to allowAnyHTTPSCertificateForHost:

## Network Transport
private  var net

[2020-10-18 21:19] namolnad opened #1460 "Initializer default values make it very easy to accidentally create 2 distinct ApolloStore's"
## Bug report

Currently it's very easy, through default initializer values, to end up with multiple ApolloStore's and the inability to properly invalidate your cache. I just spent a fair amount of time debugging this issue, which I think could be resolved by removing some default values in one or both the `ApolloClient`'s and `LegacyInterceptorProvider`'s initializers. The problem is as follows:

[2020-10-19 03:41] wongzigii opened #1462 "graphql file with description"
Any way to add description to graphql file? This results in errors in compile time.

A good example would be:

[code]

http://spec.graphql.org/draft/#sec-Descriptions

[2020-10-19 03:42] #1456 closed

[2020-10-19 18:26] designatednerd commented on #1460
Yeah this is basically a dupe of #1438 - I'm going to take a look at your solution, I was still pondering exactly how to get this set up in a friendlier way.

[2020-10-19 18:27] designatednerd commented on #1457
Seems like a reasonable request, and thank you for adding a PR! I'll keep feedback over on the PR just for the sake of clarity.

[2020-10-19 18:32] designatednerd commented on #1459
Wow, weird! Never seen that before. We're not doing anything that I'm aware of that should be calling any of those methods.

Would be curious if this is still happening in versions `0.34.0` and above - we made some pretty significant changes to the networking stack there.

[2020-10-19 18:33] designatednerd commented on #1456
For anyone stumbling across this, all of the methods to call into the codegen lib should have a `timeout` parameter.

[2020-10-19 18:36] namolnad commented on #1460
Yup, definitely a dupe — sorry for missing that and thanks for taking a look!

[2020-10-19 18:36] designatednerd commented on #1462
In theory that should not result in errors - can you give an example of a file where this is resulting in errors, along with the errors? Any information around your setup would also be really helpful.

[2020-10-20 00:03] #1457 closed

[2020-10-20 21:55] designatednerd commented on #1460
This has shipped with `0.36.0`!

[2020-10-20 21:55] #1460 closed

[2020-10-20 21:56] designatednerd commented on #1438
I've shipped the PR removing the default stores with `0.36.0` - I took a couple swipes at doing something else besides that, but everything I tried wound up *far* more complicated than "actually make people select what store they're passing".

Going to close this one out, please open a new issue if you think you've got a better suggestion!

[2020-10-20 21:56] #1438 closed

[2020-10-20 21:57] designatednerd commented on #1452
@taher-mosbah Anything else I can help with here?

[2020-10-20 23:33] designatednerd commented on #1416
Since I haven't heard back in a week, I'm going to close this out. @pgawlowski feel free to reopen if you have more questions - anyone else with similar problems, please open a separate issue. Thank you!

[2020-10-20 23:34] #1416 closed

[2020-10-20 23:36] designatednerd commented on #1377
@benoitletondor We've just shipped something that will allow you to delay starting the websocket after initialization, which in theory should allow you to not have to replace the `SplitNetworkClient`. Do you mind pulling `0.36.0` and letting me know if that gets you to where you need to be?

[2020-10-20 23:38] designatednerd commented on #1433
OK cool - I'm going to close this issue out for now, please let us know if using the Schema Definition Language version of their schema doesn't work by reopening this issue.

Anyone else having a similar problem, please open a new issue. Thank you!

[2020-10-20 23:38] #1433 closed

[2020-10-21 07:52] taher-mosbah commented on #1452
thanks for your answer, it's clear will try to implement as soon as I got the time 😄

[2020-10-21 07:52] #1452 closed

[2020-10-21 08:15] benoitletondor commented on #1377
Hey @designatednerd ,

Thank you for your help on that. Indeed, it would work for my use case as we can avoid starting the websocket until we have a proper authentication. As I said last time I already followed your advice of keeping the `HTTPNetworkTransport` instance so it's not really needed anymore on my side.

Thanks

[2020-10-21 09:09] danpalmer commented on #1438
Nice one! PRs look good. Straightforward approach sounds good – I can't see myself making the mistakes above if this was in place. Better API ergonomics can come later if they're needed at all.

[2020-10-21 15:13] designatednerd commented on #1377
@benoitletondor Do you mind if I close out this issue then?

[2020-10-21 15:25] benoitletondor commented on #1377
Be my guest ;)

[2020-10-21 15:42] #1377 closed

[2020-10-22 08:48] wongzigii commented on #1462
Just add

    """
    A simple GraphQL schema which is well described.
    """

to the first line of any .graphql file and you will see the error

    Showing Recent Messages
    Error: Syntax error in

    file:///Users/mac/a.graphql: Syntax

    Error: Unexpected Name "query".

[2020-10-22 13:34] martijnwalraven commented on #1422
I'm trying to reproduce this issue to investigate what could be going on, but it's been hard because unfortunately our tests aren't set up to run in real life conditions, where concurrency may play a role. The existing watcher tests all continue to pass, and so do some new ones I've been adding.

It would be helpful to learn more about the way people who experience this are using the framework, an

[2020-10-22 16:04] designatednerd commented on #1462
Are you trying to add this to your operation graphQL files, or to the Schema graphQL file? This syntax is intended for the schema - you can see an example in [the version of the GitHub Schema we're using for some tests](https://github.com/apollographql/apollo-ios/blob/main/Sources/GitHubAPI/schema.docs.graphql).

If you were to try to add this to an operation's graphQL file like:

[code]

That wou

[2020-10-22 20:53] malonehedges opened #1467 "Is there any way to have a hybrid cache instead of memory/disk exclusively?"
Is there any official (or community) support for a hybrid cache for Apollo iOS?

[2020-10-22 23:15] designatednerd commented on #1467
Not at this time but I have had at least one customer talk to us about this. We're gonna be doing some heavy work around the cache in the next couple months but probably after that we can take a look.

[2020-10-23 15:30] malonehedges commented on #1467
Awesome, would love to adopt a hybrid cache when one is available

[2020-10-24 17:46] MycujooMats commented on #1030
Any updates on this? We would love to use this library but we are currently stuck with a dependency conflict here.

[2020-10-26 12:40] RolandasRazma opened #1472 "some thoughts on Interceptors"
## Feedback

I just update from 0.33.0 to 0.36.0 and want to share some thoughts on Interceptors.

- confusing what does proceedAsync, handleErrorAsync, retry and kickoff do. If I have error in response and want to retry do I call retry? or kickoff?
- `Request`ChainNetworkTransport but you pass response Interceptors to it (as request and response interceptors are the same list)
- confusing that sa

[2020-10-26 16:04] RolandasRazma commented on #1472
comment about `TokenAddingInterceptor` is invalid as it is inserted in first place (so it can't be response)

[2020-10-26 16:54] designatednerd commented on #1472
- `proceedAsync` is called anytime you want to have the chain proceed to the next interceptor
- `handleErrorAsync` is called anytime you want to have the chain return an error to the original caller
- `kickoff` should only be called by you when you want to start the chain from scratch.
- `retry` should be called if you want to retry a request - it will [reset the interceptor index under the hood a

[2020-10-26 18:40] RolandasRazma opened #1473 "Crash in 0.36.0"
## Bug report

Crash using interceptors

<img width="1024" alt="Screenshot 2020-10-26 at 18 37 05" src="https://user-images.githubusercontent.com/1027187/97213977-4857c680-17ba-11eb-902d-90d617d3ef97.png">

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.36.0
- Swift version: 5.3

## Steps to reproduce

I have TokenAddingInterceptor that retrieves to

[2020-10-26 19:17] designatednerd commented on #1473
The crash is happening in the `URLSessionClient` rather than in any of the interceptors - it looks like the client either a) Hasn't had a chance to set up its `URLSession` or b) has had the session torn down.

Can you share how you're setting up your `TokenAddingService`?

[2020-10-26 23:52] designatednerd commented on #1435
You're far from the only person who's asked a ton of questions about this so I've added a page to our example playground to try and clarify this. Please see #1474 for further details

[2020-10-26 23:52] designatednerd commented on #94
I've (finally) added some actual documentation and an example for this with #1474 - would appreciate any feedback.

[2020-10-27 03:53] GlobesyncTechnologies commented on #1435
@designatednerd , Please add verify and step by step code or make tutorial as per latest version of GIT repo. Also I have not found proper documentation regarding custom scalar, pass token in API call, generate schema file with auth token and so on. I'm happy to help you anyway and if you can guide I will write tutorial for the same. Looking forward,,,

[2020-10-27 08:47] martijnwalraven commented on #1422
A few more thoughts after taking a closer look at this:

1) It seems any operations using the `WebSocketTransport` always ignore the cache completely starting in 0.33 (I believe https://github.com/apollographql/apollo-ios/commit/444c465671c786659599a16da4b2d23d43648a74 is where this change was introduced). That means subscription results are not actually published to the store, and thus will not t

[2020-10-27 09:08] RolandasRazma commented on #1376
still happening in 0.36.0

[2020-10-27 09:09] RolandasRazma commented on #1473
There is nothing interesting to see there. It just check for token validity if it it expired updates it from server and calls back. I will try to trace/fix crash as it's blocking us, but as its another race condition its not going to be simple as I can't even replicate it reliably. Sometimes it crashes every run (tests) sometimes I hit https://github.com/apollographql/apollo-ios/issues/1376 and so

[2020-10-27 10:18] RolandasRazma commented on #1473
I think its same bug as https://github.com/apollographql/apollo-ios/issues/1376

I can replicate it with example from https://www.apollographql.com/docs/ios/tutorial/tutorial-mutations/

[code]

[2020-10-27 10:39] RolandasRazma commented on #1473
This is how memory graph looks for crashing client

<img width="445" alt="Screenshot 2020-10-27 at 10 39 03" src="https://user-images.githubusercontent.com/1027187/97290611-b0e98680-1840-11eb-8bf9-e3690946ecf1.png">

[2020-10-27 10:44] RolandasRazma commented on #1473
and that makes me wonder...

NetworkFetchInterceptor:32 don't you need `self.currentTask?.cancel()` before it?

[2020-10-27 11:18] RolandasRazma commented on #1473
Ok, what's happening is that `RequestChain` (created in `RequestChainNetworkTransport`) lifetime is shorter than `LegacyInterceptorProvider` and `LegacyInterceptorProvider` does `shouldInvalidateClientOnDeinit` so what's happening is that `RequestChain` is created in `RequestChainNetworkTransport`, `LegacyInterceptorProvider` is released invalidating client and `RequestChain` knows nothing about i

[2020-10-27 11:24] RolandasRazma commented on #1473
sorry for spam @designatednerd

[2020-10-27 11:56] StanislavCekunov opened #1475 "GraphQLError parsing issue in response?.parsedResponse"
Hello Apollo community,
I am currently updating our codebase to support `RequestChainNetworkTransport` interface.
In a previous structure I used `HTTPNetworkTransportGraphQLErrorDelegate` to catch `GraphQLError` to initiate access token update and retryHandler to retry faild request.

With the new `RequestChain` structure I am perfoming same action inside ResponseCodeInterceptor. Though, `GraphQLE

[2020-10-27 12:57] vani2 opened #1477 "Using same query with different set of fields"
## Question

I have query of `draftProfile` and `profile`

[code]

Later I need to make the same query but only `profile` object.

[code]

If I declare these two queries I get the error `There are multiple definitions for the `fetchProfile` operation. Please rename or remove all operations with the duplicated name before continuing.`.

How I can make it possible?

## Versions

- `apollo-ios` SDK v

[2020-10-27 14:21] RolandasRazma commented on #1473
ok, I have workaround to unblock us (to not retain chain)

[code]

can't replicate with such change, but I see there is places where it is retained in apollo-ios itself (for example in LegacyCacheReadInterceptor), so most likely you still can hit it

[2020-10-27 15:58] designatednerd commented on #1477
You need to give the two queries different names. Maybe `FetchProfileWithDraft` for that top one?

[2020-10-27 16:01] designatednerd commented on #1475
I would probably do this check in an interceptor that runs after `LegacyParsingInterceptor` - that's where the actual parsing takes place, and after it's gone through that inteceptor, you should be able to access it using `response?.parsedResponse?.errors`.

[2020-10-27 16:37] designatednerd commented on #1435
@GlobesyncTechnologies Please see the PR I linked for an example of using a custom scalar. Please check out [our full tutorial](https://www.apollographql.com/docs/ios/tutorial) for full setup instructions.

[2020-10-27 17:14] StanislavCekunov commented on #1475
Thank you @designatednerd !
I have added a new interceptor `AccessTokenValidationInterceptor` right after `LegacyParsingInterceptor`.
Solved. 🙌

[2020-10-27 18:00] dhritzkiv commented on #1422
I'm not using WebSocketTransport, but 3. sound like it could be what's plaguing us! Will have some time in two weeks to poke around that

[2020-10-27 18:15] vani2 commented on #1477
Oh, yes, that's easy. Thanks.

[2020-10-27 18:15] #1477 closed

[2020-10-27 18:48] designatednerd commented on #1475
@StanislavCekunov Mind if we close this out?

[2020-10-27 18:49] #1475 closed

[2020-10-27 19:01] designatednerd commented on #1473
right - if you let go of the chain there there's nothing hanging on to it, so ARC smashes it.

I'm surprised the legacy interceptor provider is getting deallocated - that indicates that the Request Chain Network Transport itself is getting deallocated. I would really like to see how you're setting this stuff up for tests - it seems like maybe something is calling into an old instance of RCNT in di

[2020-10-28 00:12] Nealsoni00 commented on #1472
I was going through a similar thinking process as @RolandasRazma yesterday doing the same 0.33->0.36 migration. Would be super helpful if you added these explanations to the documentation for other people.

[2020-10-28 01:19] designatednerd commented on #1472
Have y'all had a chance to read through [the updated client creation documentation](https://www.apollographql.com/docs/ios/initialization/#advanced-client-creation), particularly the [section on how the request chain works](https://www.apollographql.com/docs/ios/initialization/#how-the-requestchain-works)? I would be particularly interested in where you feel like that's not clear enough. Thanks!

[2020-10-28 09:12] RolandasRazma commented on #1472
I did, I think for me most confusion would have been averted if:

- there would be 2 lists: pre server call and post server call having different call signature (no reply in "pre" ones)
- there would be no "Legacy" in class names as it made not clear what to use
- don't feel feel comfortable of just copying list of "default" interceptors as that list might change without the realising

[2020-10-28 09:18] RolandasRazma commented on #1473
`RequestChainNetworkTransport` is deallocated, but the problem is not that it is deallocated, the problem is that it doesn't cleanup properly while it does that

[code]

will make whole app crash in 1 second because `ApolloClient` will be deallocated together with `RequestChainNetworkTransport` while `RequestChain` will be retained by block (and it has to be)

[2020-10-28 10:00] RolandasRazma commented on #1473
this is the crash https://github.com/apollographql/apollo-ios/pull/1480

[2020-10-28 10:05] RolandasRazma commented on #1473
I guess easy workaround would be to remove force unwrap, but the real problem is that `RequestChain` don't know that it is no longer needed. Correct fix would be to add "cancel" for chain in `RequestChainNetworkTransport` as mentioned in https://github.com/apollographql/apollo-ios/issues/1473#issuecomment-717173144 the only difficulty it that there is multiple chains per transport and all of them

[2020-10-28 10:29] RolandasRazma commented on #1473
Created PR with workaround https://github.com/apollographql/apollo-ios/pull/1481 but somehow don't fee good about it :) It doe's work, but feels like some code smell

[2020-10-28 16:42] Narayane commented on #1422
@martijnwalraven I guess 3. could be an explanation for my case, I have a custom `NetworkTransport` implementation

[2020-10-28 22:37] designatednerd commented on #1472
One of the reasons I went with a single chain is we've had repeated feature requests to have the data associated with what was being requested passed through to the completion handler. I will be taking a look at some options based on feedback here, I think maybe there could be some other options that might make `NetworkTransport` unnecessary and allow the user to send data through any transport (i

[2020-10-28 23:12] designatednerd commented on #1472
@RolandasRazma @Nealsoni00 I've just opened a PR with updated docs. Would love your feedback on #1484.

[2020-10-29 01:13] #94 closed

[2020-10-29 01:13] #1435 closed

[2020-10-29 02:44] designatednerd commented on #1462
@wongzigii Any thoughts on my response?

[2020-10-29 02:44] designatednerd commented on #1459
@DiwakarThapa Is there any further information you can share here?

[2020-10-29 08:18] RolandasRazma commented on #1472
Everything could still work as it does now under the hood. 2 list would allow to not have "response" in pre list

that's not necessary true if there would be 2 lists as in most cases you need "pre action" and "post action"

I already migrated and now it's more clear what's going on so I'm not advocating for a change. Most likely all new users will do better as they have no expectations

[2020-10-29 13:19] andrewmawson commented on #747
@kieuquangloc Thats certainly helped me, thanks for sharing the info!

[2020-10-29 18:37] designatednerd commented on #1472
That's fair.

I think if we're gonna make one it's better to do it sooner rather than later, honestly. I also need to think a few things over, to be honest.

[2020-10-30 09:49] poorvasingh04 opened #1485 "XCode 12 : Could not find module ‘Apollo’ for target ‘arm64-apple-ios-simulator’; found: x86_64-apple-ios-simulator, x86_64"
## Bug report

XCode 12 : Could not find module ‘Apollo’ for target ‘arm64-apple-ios-simulator’; found: x86_64-apple-ios-simulator, x86_64
Unable to build app against iOS simulator using XCode 12.

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.27.1 and 0.36.0
- Xcode version: 12
- Swift version: 5

## Steps to reproduce
Build code against iOS simul

[2020-10-30 11:31] marioradonic opened #1486 "Race condition when unsubscribing"
## Bug report

I've been randomly (but often) getting `.unprocessedMessage` errors in my `.subscribe(...` handlers. I had a look at the code and it seems to me that there is a possible race condition.

When [unsubscribing](https://github.com/apollographql/apollo-ios/blob/e0f65fee8c197239dbefbf1386b8e7f83b684f25/Sources/ApolloWebSocket/WebSocketTransport.swift#L301) from a subscribe task websocket

[2020-10-30 13:23] gemmakbarlow opened #1487 "spectrum.chat/apollo link is unavailable, Heroku error shown"
## Bug report

Morning folks !

Not technically an Apollo bug, but I wanted to flag that https://spectrum.chat/apollo, linked from [CONTRIBUTING.md](https://github.com/apollographql/apollo-ios/blob/main/CONTRIBUTING.md), is currently returning a Heroku error.

<img width="1773" alt="Screen Shot 2020-10-30 at 9 15 04 AM" src="https://user-images.githubusercontent.com/337963/97709951-7d516b00-1a91-1

[2020-10-30 15:47] odanu opened #1488 "How to handle errors correctly"
Hi,
I am currently on the stage of migrating from 0.33 -> 0.36. Gone through all the provided documentation, but I am still confused on what would be the correct way of handling errors(also read the suggested article: https://medium.com/@sachee/200-ok-error-handling-in-graphql-7ec869aec9bc).

Before going to write this question, I just wanted to give it a try myself.
One of the most important use

[2020-10-30 16:21] RolandasRazma commented on #1488
Interesting, I thought it was me but maybe `InterceptorProvider.additionalErrorInterceptor` is not what we expect.
I just went through same update and have same problem as you do. what worked for me was:

[code]

[code]

[2020-10-30 16:24] designatednerd commented on #1487
Haha, i have the same problem with the ISP, particularly since they are _my_ ISP.

Spectrum is a chat platform that got bought out by GitHub about a year and a half ago - we'd been using them prior to that buyout and have been continuing to do so. Thanks for the heads up on this, but unfortunately there isn't much we can do about their deploys failing. Upside is it seems to be back up and running

[2020-10-30 16:24] #1487 closed

[2020-10-31 21:25] fassko commented on #1486
I was using GraphQL subscriptions with just one subscription. Otherwise, you can run into these weird side effects that you explained.

[2020-10-31 21:33] poorvasingh04 commented on #1485
@designatednerd yes. To compile with Xcode 12 against iOS simulator, we need to exclude arm64 architecture in app and all the linked pods. This is same issue as described here: https://stackoverflow.com/questions/63607158/xcode-12-building-for-ios-simulator-but-linking-in-object-file-built-for-ios

[2020-11-01 22:36] designatednerd commented on #1485
Interesting - there's a related suggestion in there about making sure that `ONLY_ACTIVE_ARCH` is set to yes for your debug setup. In a sample CocoaPods app I've got where that's set up I have not seen this issue.

I *think* as long as you're not building on a developer transition kit, setting that up should help with this, since it seems like Xcode is trying to build the universe, then complaining

[2020-11-01 22:38] designatednerd commented on #1486
@fassko Well, it was worth a shot 🙃

@marioradonic - Are you subscribing to the same `subscription` from your schema multiple times, or are there different `subscription`s defined that you're using? Basically, are your multiple subscriptions all returning the same information, or different information?

[2020-11-02 07:01] odanu commented on #1488
Just for the sake of understanding it better, what does it mean and why in some particular conditions it is not called. I guess some of the docs needs to be more explicit about the use cases when it should be used.

[2020-11-02 08:36] poorvasingh04 commented on #1485
ONLY_ACTIVE_ARCH is already set to Yes

[2020-11-02 09:08] marioradonic commented on #1486
@designatednerd I am using multiple. Basically, I am subscribing to entity A, and when it updates I subscribe to entity B, cancelling the previous B subscription if there was any. (this cancelled subscription causes the problem - if the message comes from the backend with the cancelled subscription id the first entity A subscriber and the new B subscriber get the error message.

I had another look

[2020-11-02 18:46] designatednerd commented on #1488
It only wouldn't be called if it doesn't exist. It's designed to be a place to have all errors, no matter what the origin, pass through before being handed back to the caller. This allows for things like error logging that are hard to do without a centralized error handler.

I'll work on clarifying this in the docs.

[2020-11-02 19:00] designatednerd commented on #1488
@odanu @RolandasRazma Added some docs on the additional error interceptor to #1484

[2020-11-02 19:00] designatednerd commented on #1485
🤔 That's...very odd if you're not on a developer transition kit. Are you on a developer transition kit?

[2020-11-02 19:05] designatednerd commented on #1486
In theory you shouldn't have to cancel any existing subscription to entity B - if you've already got a running subscription it should continue to get all updates.

It may help me understand a bit better if you can give a concrete example of what entity A and entity B are representing. To take an example from our sample code, if you've subscribed to all reviews of Star Wars episodes, then as soon a

[2020-11-02 19:23] poorvasingh04 commented on #1485
@designatednerd no. I am not in a developer transition kit. I am trying to build app against simulator for my UI tests but it fails with Xcode 12.1

[2020-11-02 20:08] designatednerd commented on #1485
Here's a couple other things I can think of that are unlikely but worth checking:

- If there's more than one target in your project, are all targets in your project set for `ONLY_ACTIVE_ARCH`, or just the main application?
- Is your scheme set to run the tests in release mode rather than debug mode?
- Is there something about XCUI tests that's trying to build the app for release even though your

[2020-11-03 01:24] designatednerd commented on #1488
OK, that's merged - is there anything else here I can help clarify, or do you mind if we close this out?

[2020-11-03 04:22] designatednerd commented on #1472
OK, I've merged #1464. I will continue to think about what could work to make it easier to deal with when an interceptor will be called - pre or post response - and see what I can come up with. However, I wanted to check - do you feel there's anything else here that still needs to be directly addressed before we can close this issue out?

[2020-11-03 07:06] odanu commented on #1488
I think you can close this ticket. Though you have to maybe give it a try for different  use cases around `additionalErrorInterceptor`. As written above, it looks like it  doesn't catch all the errors.

[2020-11-03 08:18] wongzigii commented on #1462
Good to know! Thanks @designatednerd

[2020-11-03 08:18] #1462 closed

[2020-11-03 09:07] RolandasRazma commented on #1472
I will close it

[2020-11-03 09:07] #1472 closed

[2020-11-03 16:53] designatednerd commented on #1472
@RolandasRazma thank you!

[2020-11-03 17:01] designatednerd commented on #1488
Here the issue would be that the `401` response code would be caught by the `ResponseCodeInterceptor` [and returned as an error through `handleErrorAsync`](https://github.com/apollographql/apollo-ios/blob/a00031c2a357c03a2f58a5dda0afb35462dfef42/Sources/Apollo/ResponseCodeInterceptor.swift#L44) (which in turn [calls the `additionalErrorInterceptor` if it exists](https://github.com/apollographql/ap

[2020-11-03 17:13] odanu commented on #1488
No Ellen. I was not referring this part. Let's sum up again the thoughts.
The documentation and you, assures that `additionalErrorInterceptor` gets called, having the error which was collected in any of the interceptors. Which basically means that no matter at which level of the request/response/parsing/etc an error occurs, it will arrive to the `additionalErrorInterceptor`.
Now as mentioned in th

[2020-11-03 18:23] designatednerd commented on #1488
Right, and my question is, what are the errors that are not passed through in your testing?

Note that if there is an _expected_ error, which is handled by the interceptor (for example, the auto-persisted-query-specific error which is handled by the `AutomaticPersistedQueryInterceptor`), then that is not passed on since that is an error that was expected and handled.

[2020-11-03 18:25] odanu commented on #1488
I will try to collect the information tomorrow;)

[2020-11-03 18:29] designatednerd commented on #1459
Since I haven't heard back in a couple weeks, I'm going to close this out - @DiwakarThapa if you get more info feel free to reopen. Anyone else with a similar problem, please open a new issue. Thank you!

[2020-11-03 18:29] #1459 closed

[2020-11-04 04:49] zinminphyo opened #1495 "How to fix that error?"
## Bug report

Please replace this line with a short description of the problem. Make sure you've read `CHANGELOG.md` in the root of the repo to make sure a new version hasn't already addressed your problem!

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.34.1
- Xcode version: 12.0
- Swift version: 5
<img width="1440" alt="Screen Shot 2020-11-04 at

[2020-11-04 08:12] odanu commented on #1488
So I can find 2 cases when `additionalErrorInterceptor` is not used:
1. when an interceptor caught the error triggered retry... the example with expired token
2. `GraphQLError` objects which arrive through `GraphQLResults.errors` array.

But I guess both of these cases is expected behaviour.

[2020-11-04 18:34] designatednerd commented on #1488
You're correct - because a `GraphQLResult` can contain partial results with an error explaining what's missing, simply having `errors` be non-empty doesn't indicate that a request failed.

You can see an example of where we're looking for _specific_ errors to handle in that array in the `AutomaticPersistedQueryInterceptor`, and if you know your backend will be returning _specific_ errors you need

[2020-11-04 18:35] designatednerd commented on #1495
@zinminphyo Can you please share more details about when and how this happened? It's not something I can necessarily tell you why it's happening without more detail.

[2020-11-05 12:12] Kevin94singh opened #1496 "Generate Apollo GraphQL Api Bitrise issue"
Hi,

When building on a local machine with Fastlane, everything works ok. However, when I try to upload my build with Bitrise, I'm getting an error:

[code]
**Our Generate Apollo GraphQL API script**

[code]

| - project_folder
    | project.xcodeproj
    | - target_folder
        | schema.json
        | AppDelegate.swift
        | ViewController.swift
        | etc...
    | - another_folders

[2020-11-05 22:30] designatednerd commented on #1496
If you're using `run-bundled-codegen` it shouldn't be an issue with NPM - the bundled codegen downloads Node and all dependencies as a workaround because we were having *so* many problems with NPM.  It certainly seems like another issue is happening that's causing the code generation to fail but isn't spitting out a reason correctly.

I take it things build correctly when you try to run this local

[2020-11-05 23:18] pallaviashim7 opened #1497 "ApolloClient Singleton with Authorization Header"
## Question

Hello,

The recommended usage for ApolloClient is to create just a single ApolloClient. Is there a way to do this and send an authorization header based on the logged in user?

[2020-11-06 08:03] Kevin94singh commented on #1496
Yes, when I run this locally with Fastlane, it builds correctly.

[2020-11-06 14:06] poorvasingh04 opened #1499 "How to parse enum using Apollo iOS sdk"
## Question
Our graphql server returns an enum value for a key in response. This enum is available in Types.graphql.swift.
After reading the response from apollo, we parse it using JSONSerialization.data()

let data = try JSONSerialization.data(withJSONObject: dict, options: [])

where dict is dictionary from response.

But in case there is a key with enum value, the parsing fails because JSOSeria

[2020-11-06 17:32] designatednerd commented on #1499
That seems...fairly unusual, but let's see what we can figure out:

- Where is this key in relation to `data` and `errors` - is it at the same level?
- Are you implementing Apollo's `JSONDecodable` or `JSONEncodable` protocol on the enum?
- Do you know why they're using it for a key rather than a value?

[2020-11-06 17:32] designatednerd commented on #1488
@odanu Anything else here or can I close this out?

[2020-11-06 17:33] designatednerd commented on #1496
Weird - and are you using Fastlane on bitrise as well, or something else?

[2020-11-06 17:33] #1497 closed

[2020-11-06 17:56] odanu commented on #1488
Oh sorry. All good. I had to close it earlier.

[2020-11-06 17:56] #1488 closed

[2020-11-06 20:01] designatednerd commented on #1499
(migrating to discussions since this is more a question than an issue)

[2020-11-06 20:01] #1499 closed

[2020-11-06 21:01] designatednerd commented on #1488
👍 Thank you!

[2020-11-07 09:30] Kevin94singh commented on #1496
Yes, we are using Fastlane. Our steps for a workflow are Activate SSH Key, Git Clone repository, and Fastlane (set to a version 2.x.x, that is currently 2.7.1).

[2020-11-07 23:32] designatednerd commented on #1496
Cool, thanks for clarifying - how are you setting things to "beta" - using a Scheme or a build configuration or some combination thereof?

[2020-11-08 22:39] DarrellRichards commented on #747
@kieuquangloc Perfect, downloading the schema from GraphiQL was causing my issue.

[2020-11-09 07:13] yayang commented on #1030
Hi, I have met a socket issue, either.
sometimes the connect doesn't receive anything from server side,  but webpage and android works well.
In my app, 2 parts use socket to fetch server data, one works well, but the other works bad sometimes.
Is that the same problem with this issue?

And I have found that you said "Fiiiiinally upgraded with #1394", and the you have mentioned starscrem 4.x.
But I

[2020-11-09 12:10] Kevin94singh commented on #1496
We have two schemes - "beta" and "prod". Each has its own target. The script is implemented in both targets .

[2020-11-09 16:04] designatednerd commented on #1496
And am I correct in assuming the `.graphql` files and `API.swift` output are in the same folder (under `"${SRCROOT}/ProjectName"`), just shared between both targets?

Honestly, if it's working locally and the only error info you're getting from Bitrise is a generic exit code 65, I'm not sure how much help I can be - you may want to reach out to them to see if you can get more detailed logs about w

[2020-11-09 16:07] designatednerd commented on #1030
Yep, the rollback was what "JK, undoing in 1395" in the next comment after woo hoo meant. 🤦‍♀️

Can you please open a separate ticket with more details about your issue, including what happens when it "works bad"? That's almost certainly a different problem.

[2020-11-10 08:03] yayang commented on #1030
Thank you for your quick reply, I can't reproduce it now.
But still I think it may occur under some vpn.

One thing I do can reproduce is that, at the beginning of app launching time(about 1-2 seconds), the request sent by apollo-ios could not receive any response. So for now, I have to delay all request from apollo-ios to avoid the problem.

[2020-11-10 16:42] RolandasRazma opened #1504 "callbackQueue is not used in WebSocketTransport"
## Bug report

https://github.com/apollographql/apollo-ios/blob/185d6b784538691b5a4287c25df9cae140abec02/Sources/ApolloWebSocket/WebSocketTransport.swift#L361 callbackQueue is unused

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.36.0

## Steps to reproduce

subscribe using any callbackQueue, callback is done on some internal one

[2020-11-10 16:44] RolandasRazma opened #1505 "WebSocketTransport.send completionHandler is called in non escaping manner in case of error"
## Bug report

https://github.com/apollographql/apollo-ios/blob/185d6b784538691b5a4287c25df9cae140abec02/Sources/ApolloWebSocket/WebSocketTransport.swift#L364

completionHandler is called in non escaping manner in case of error

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.36.0

[2020-11-10 17:27] abdimaye opened #1506 "Compatibility issues on Linux with CommonCrypto"
## Feature request

The CommonCrypto module is only available in Xcode 10+. It would be nice to have this replaced with an open source module such that the apollo client can run on other platforms.

## Motivation

We are currently trying to run parts of our codebase on Linux.

## Proposed solution

Replace CommonCrypto with an open source library. There are only two files in ApolloCore that use it

[2020-11-10 17:37] designatednerd commented on #1506
We don't *officially* support Linux, but I would very much like to. My thought is that we could make some kind of protocol that uses `swift-crypto` for Linux band still uses `CommonCrypto` on iOS etc. Would be more than open to a PR if you have some time, I'm buried at the moment.

[2020-11-10 17:39] designatednerd commented on #1505
Do you mean it's not called on the callback queue?

[2020-11-10 19:06] designatednerd commented on #1504
Welp, that's embarrassing. Fix is up in #1507.

[2020-11-10 19:25] RolandasRazma commented on #1505
Was thinking about @escaping but yes, calling it on callback cue would fix that

[2020-11-10 19:36] designatednerd commented on #1495
Since I haven't gotten any further details here, I'm going to close this out. @zinminphyo Please reopen with further details if you have them. Anyone else with a similar problem, please open a new issue. Thank you!

[2020-11-10 19:36] #1495 closed

[2020-11-10 20:54] designatednerd commented on #1505
It's declared as [`@escaping` here](https://github.com/apollographql/apollo-ios/blob/185d6b784538691b5a4287c25df9cae140abec02/Sources/ApolloWebSocket/WebSocketTransport.swift#L362) - declaring escaping does not require it to escape, though.

[2020-11-10 22:39] designatednerd commented on #1030
That, I've got no idea on. If you're able to create a more detailed example can you please open a separate issue? Thank you.

[2020-11-10 23:31] designatednerd commented on #1485
Were you ever able to figure this out?

[2020-11-11 11:33] RolandasRazma commented on #1505
sure, but it might break flow depending on what's happening internally

[code]

what order will be output depends on internal state and that's not great.

In any case, closing as https://github.com/apollographql/apollo-ios/pull/1507 fixes it

[2020-11-11 11:33] #1505 closed

[2020-11-11 11:35] #1504 closed

[2020-11-11 11:35] RolandasRazma commented on #1504
thanks

[2020-11-11 11:36] RolandasRazma commented on #1473
should I close this?

[2020-11-11 11:40] alcamla commented on #1233
hello @designatednerd, I am following the steps on the tutorial for iOS, I am getting the same error that @lastneutrino reported after running the Apollo CLI script:
`error: Unable to locate SourcePackages directory from BUILD_ROOT: '/Users/myUser/Library/Developer/Xcode/DerivedData/Build/Products'`
I have noticed that `BUILD_ROOT` is set to that folder directly, so there is no chance that the whi

[2020-11-11 11:59] alcamla opened #1509 "Apollo CLI step fails to locate SourcePackages directory"
## Bug report

I am following the steps on the tutorial for iOS. I added Apollo to the project using SPM. After adding the corresponding CLI script, and building the project, I get the following error:
`error: Unable to locate SourcePackages directory from BUILD_ROOT: '/Users/myUser/Library/Developer/Xcode/DerivedData/Build/Products'`
I have noticed that BUILD_ROOT is set to that folder directly,

[2020-11-11 15:33] Kevin94singh commented on #1496
Yes, it is shared between both targets. Prod build shows the same failure as a beta.

I'll try to get more detailed logs and let you know. Thank you for your time! 😊

[2020-11-11 17:16] designatednerd commented on #1473
I'll close it when it actually ships

[2020-11-11 19:11] designatednerd commented on #1504
Thank YOU for catching it

[2020-11-12 04:01] designatednerd commented on #1509
Ugh, I bet they changed the damned location of the source packages in 12.1 - it's definitely undocumented.

I'll get a look at this tomorrow, but I think I'm going to recommend trying the [Swift Scripting Setup](https://www.apollographql.com/docs/ios/swift-scripting/) - that doesn't have any dependency on going diving through the derived data folder.

[2020-11-12 11:40] DaTebe commented on #1346
@DiwakarThapa did you find a solution for your Problem? In our application, we have the same behaviour. Sometimes we run into a timeout, but the GraphQL Playground is always working.

[2020-11-12 16:39] pallaviashim7 commented on #886
@designatednerd Is this feature out yet?

[2020-11-12 16:52] pallaviashim7 commented on #886
@designatednerd I have the same question. Do we still need to do the workaround as you mentioned above?

[2020-11-12 18:03] designatednerd commented on #886
Yes, the workaround is still necessary

[2020-11-12 22:08] designatednerd commented on #1509
OK, so one thing that's helpful to understand is that `SourcePackages` should be in your `DerivedData` folder, in your application's folder.  at the same level as the `Build` folder, once your source packages have finished resolving. The loop is looking to find a folder which *contains* the `SourcePackages` folder for your app, rather than the source packages folder itself. Here's what that folder

[2020-11-12 22:53] alcamla commented on #1509
Hello @designatednerd, thanks for your reply. I haven't set this manually. Not sure if this is set per project, or is a global configuration that Xcode uses, but I have not modified it

[2020-11-12 23:22] designatednerd commented on #1509
I'm not sure what you mean by "A script to export your BUILD_ROOT variable" - in theory you should not need to export that for anything.

Are you able to replicate the issue in a fresh project? If you can't, that should at least give you a point of comparison in terms of how the BUILD_ROOT is getting set up. If you can, can you please either email it to me (ellen at apollographql dot com) or post

[2020-11-12 23:33] alcamla commented on #1509
Just wanted to confirm the value `BUILD_ROOT` is taking on my project

I was able to reproduce this issue on a fresh project, will email it to you

[2020-11-13 02:08] alcamla commented on #1509
I think I figured out what this issue is about. Seems that the BUILD_ROOT is set according to the configured build location. Under( Preferences -> Locations -> Derived Data, go to advance settings; the build location option should be set to `unique`. I had selected the `Custom` option, which was giving me the above mentioned issue. The whole lesson from this is that the [Swift Scripting Setup](htt

[2020-11-13 02:08] #1509 closed

[2020-11-13 02:57] designatednerd commented on #1509
Ahhhhh! Yeah that's a pretty significant footgun, I'll throw a quick note in the current instructions until I get a chance to rewrite everything

[2020-11-13 15:07] vishalverma-mk062 commented on #1346
For **Swift 3.x** / **Swift 4.0** / **Swift 5.0** users with **Alamofire >= 5.0**

Used request modifier to increase and decrease the timeout interval.

**Alamofire's** request creation methods offer the most common parameters for customization but sometimes those just aren't enough. The URLRequests created from the passed values can be modified by using a RequestModifier closure when creating req

[2020-11-13 16:20] poorvasingh04 commented on #1485
@designatednerd yes, my solution also worked. So, if some of the pods in the app still support arm64, you need to exclude it in podfile and build active architecture only for your main target. But I upgraded the libraries including Apollo and now it works for us. Thanks for your support!

[2020-11-13 20:36] designatednerd commented on #1485
Great - mind if we close this one out?

[2020-11-13 20:59] designatednerd commented on #1346
Alamofire probably won't help here, it's not really being used. You can set a `defaultTimeoutInterval` on a `URLSessionConfiguration`, which you then pass into `URLSessionClient`.

Again, GraphQL playground not timing out is because there's basically zero time between sending the request and receiving the response because it runs on the same server. For real requests on a device or a simulator, th

[2020-11-13 21:11] DaTebe commented on #1346
The thing is, while developing my software, everything is running locally. There should be no timeout at all. I do not have queries that take more than a glimps of a second normally. But sometimes it seems as if my requests are just going lost.

I think I just need to dig deeper into network communication. A lot of services in the backend are running in a docker environment. Maybe something is wro

[2020-11-14 20:50] fnky opened #1517 "Query variables escapes forward slash"
## Bug report

Query variable values escapes forward slash from `foo/bar` to `foo\/bar`.

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.36.0
- Xcode version: 12.2 (12B45b)
- Swift version: 5.3.1
- Package manager: SwiftPM

## Steps to reproduce

1. Define a query with variables:
[code]
2. Fetch the query with the variable set to a string, including

[2020-11-15 02:43] #1517 closed

[2020-11-15 02:44] fnky commented on #1517
Not sure if this is actually an issue.

[2020-11-16 00:30] designatednerd commented on #1517
Yeah I would definitely say it's worth trying this with an actual server - my recollection is that escaping strings is a requirement of JSON itself that's done by `NSJSONSerialization`, and that should be handled by the receiving server.

[2020-11-17 02:01] malonehedges opened #1522 "Uploading multiple arrays of files with length 1 fails"
I'm not sure if [this PR](https://github.com/apollographql/apollo-ios/pull/1279) is responsible for the change, but the v0.36 of Apollo iOS does not upload files with the index when the length of the array is 1. Hitting the same upload mutation with more than one file in each argument works.

It is currently sending something like this:
`{"0":["variables.media"],"1":["variables.editedMedia"]}`
whe

[2020-11-17 03:00] designatednerd commented on #1522
Oof, that's a fun hole in our test coverage 🙃 I'll poke at this.

[2020-11-17 03:26] designatednerd commented on #1522
So the bad news is, you're correct that it doesn't add the `.0`.

The good news is, [with the tests I've added, it uploads successfully to a super-basic graphQL server](https://github.com/apollographql/apollo-ios/commit/17abca604f35f939da06c637347b818b28fce139).

Have you had active upload failures with this? If so, what are you using to process the uploads?

[2020-11-17 03:26] designatednerd commented on #1522
(the super-basic server I'm using can be found [in this repo in the `SimpleUploadServer` folder if you want to run it. Requires npm.)

[2020-11-17 03:33] Trupti-nayak opened #1523 "Error decoding Array while using custom scalars in iOS swift"
### Apollo graphQL doesn't convert json array.

I have schema as show below. Here question_r is an array of dictionaries received as Json. I am facing issue converting it. Is there any way i can successfully decode it?

**This is the error:** couldNotConvert(value: <__NSSingleObjectArrayI ... to: Swift.Dictionary<Swift.String, Swift.Optional<Any>>)"

**This is the response in playground:**

[code]

[2020-11-17 03:40] designatednerd commented on #1523
OK, you are using `passthroughCustomScalars` - can i see the code where you're defining the `Json` type to make it conform to Apollo's `JSONDecodable` protocol?

[2020-11-17 04:25] Trupti-nayak commented on #1523
Here i am defining the type
[code]

[2020-11-17 05:20] designatednerd commented on #1523
So is `Json` always guaranteed to have an outer `[String: Any?]` dictionary? If it's not, then you probably need to typealias to `Any` instead, since otherwise that typealias will fail for an array.

I'm not positive what else you'd need to do in order to get it to work from there, though - maybe see if just changing the typealias works?

[2020-11-17 05:27] Trupti-nayak commented on #1523
I tried using Any it shows errors. But according to this comment is Any supported as custom scalars.
[link]https://github.com/apollographql/apollo-ios/issues/23

[2020-11-17 05:28] Trupti-nayak commented on #1523
<img width="822" alt="Screenshot 2020-11-17 at 10 57 59 AM" src="https://user-images.githubusercontent.com/25178032/99350179-c3952f80-28c3-11eb-832c-98b7fdace4b3.png">

[2020-11-17 06:05] designatednerd commented on #1523
It would be really helpful to see what those errors are.

[2020-11-17 06:33] Trupti-nayak commented on #1523
<img width="814" alt="Screenshot 2020-11-17 at 12 03 09 PM" src="https://user-images.githubusercontent.com/25178032/99354661-de1fd680-28cc-11eb-96c6-ee0ba7d475d8.png">

[2020-11-17 07:28] Trupti-nayak commented on #1523
Should there be a change in Schema.json
[code]

[2020-11-17 08:07] malonehedges commented on #1522
Uploading to a [graphene](https://graphene-python.org) server with [graphene-file-upload](https://github.com/lmcgartland/graphene-file-upload).

The scenario I am referencing is slightly different than your tests if I'm not mistaken though. It is uploading 2 files in their own arrays.
[code]
with the upload arrays with 1 item each.

More specifically, and I'm not sure if this is important, one of

[2020-11-17 09:04] Narayane commented on #1422
@designatednerd @martijnwalraven any progress?

[2020-11-17 15:26] designatednerd commented on #1523
It's not a question of the definition in the schema, it's more a question of what your server is doing under the hood to create that scalar and what its underlying type is - a dictionary or an array. If it can return either, that makes generating a type for it much more difficult since at that point it's basically `Any`.

I would give a shot to doing an `extension Json: JSONDecodable` that tries t

[2020-11-17 15:31] designatednerd commented on #1522
In theory optionality should not matter. I'll take a look at what I can set up, but I would also say there's almost certainly differences between [the reference implementation that's in Node](https://github.com/jaydenseric/graphql-upload) and the implementation you're using in Python.

[2020-11-17 15:39] designatednerd commented on #1422
not yet -  also, be aware that `parseResultFast` doesn't hit the cache, so you'd probably need to use the completion-closure based parsing.

[2020-11-17 16:41] Narayane commented on #1422
What?
A code example could save my day :)

[2020-11-17 17:21] malonehedges commented on #1522
That makes sense that graphene-file-upload may be implemented incorrectly. I think I'll have to add a mutation to upload single files in that case.

I was trying to run the tests locally last night but was having a connection error. What target device do you use when running tests?

[2020-11-17 17:57] designatednerd commented on #1522
you should be able to run any target, though you do have to start the Upload server and the Star Wars server locally since those are both set up to run on localhost

[2020-11-17 20:44] malonehedges commented on #1522
We're going to go with forking graphene-file-upload because it appears there are other issues as well with that library. Thanks for looking into this & writing some more tests @designatednerd! Closing now

[2020-11-17 20:44] #1522 closed

[2020-11-17 22:46] designatednerd commented on #1522
Cool - I'll probably merge the tests I wrote to make sure we've got a safety net on that edge case.

[2020-11-18 04:20] veeamd opened #1527 "Swift Package Manager dependency resolving with Error: Authentication failed because no credentials were provided."
## Bug report

I add apollo-ios as a dependency for my Swift package, but it always give me the error when resolving dependencies:
* Error while fetching remote repository: https://github.com/daltoniam/Starscream
    * Authentication failed because no credentials were provided.

Could someone help me figure out if this is actually a bug? Thanks a lot.

## Versions

Please fill in the versions you'

[2020-11-18 10:34] tychop opened #1528 "I get HTTP error 301 with my hasura subscription"
Hi all,

I'm trying to connect to a hasura instance, but get teh HTTP error 301:
(WebSocket) failure(Starscream.WSError(type: Starscream.ErrorType.upgradeError, message: "Invalid HTTP upgrade", code: 301))

Why would I get this error? Can't the apollo client handle redirects?
Or are websockets being blocked on the network I am trying to run on?

[2020-11-18 12:06] #1528 closed

[2020-11-18 18:49] designatednerd commented on #1527
Ugh, I've seen this issue transiently but haven't been able to reproduce it consistently - it doesn't make any sense because all of the packages we use are public. It seems like it's an SPM bug.

Do you mind trying to remove and re-add Apollo? In the past that's helped for some folks.

[2020-11-18 20:11] designatednerd commented on #1473
0.37.0 has shipped!

[2020-11-18 20:11] #1473 closed

[2020-11-18 22:56] veeamd commented on #1527
@designatednerd That didn't work out for me. I also removed all the cache or derived data before add back in.

[2020-11-18 23:15] veeamd commented on #1527
Yeah. At this point, I think it might be a bug in SPM

[2020-11-19 00:39] designatednerd commented on #1527
Mayyyybe you could try adding Starscream seperately before adding Apollo?

It also could be a matter of just coming back to it tomorrow - I'm still not super clear on where this particular gremlin lives in SPM.

[2020-11-19 07:11] malonehedges opened #1529 "Codegen generating double optionals"
Apollo iOS 0.36.0

Generation script:
[code]

With my schema that looks like this
<img width="319" alt="image" src="https://user-images.githubusercontent.com/12092296/99633069-2a653680-29f3-11eb-8f50-989badc46f22.png">

The generated code looks like this
<img width="858" alt="image" src="https://user-images.githubusercontent.com/12092296/99633136-4537ab00-29f3-11eb-8a72-522d2c7dc6c6.png">

when it

[2020-11-19 16:02] designatednerd commented on #1529
This is expected behavior for input objects.

`Boolean` is optional, but for input objects, you also have the option of not passing any value at all. If you pass a value of `null`, it will overwrite whatever is already on the server. If you do not pass any value at all, it will not affect what's already on the server.

In future codegen we'll be working with a custom enum that makes this clearer,

[2020-11-19 18:18] veeamd commented on #1527
@designatednerd Thanks your reply.
I think it's a bug in Xcode, as mentioned by circleci: https://support.circleci.com/hc/en-us/articles/360044709573-Swift-Package-Manager-fails-to-clone-from-private-Git-repositories

[2020-11-19 18:38] malonehedges commented on #1529
Ah gotcha, that makes sense 👍

[2020-11-19 18:40] malonehedges commented on #1529
The codegen init doesn't allow me to pass some of the values though, changing my schema to have develop required means it takes in a `String` in swift instead of `String?`

[2020-11-19 18:42] malonehedges commented on #1529
<img width="339" alt="image" src="https://user-images.githubusercontent.com/12092296/99709287-d76f9b80-2a53-11eb-8c63-eee5250c4f73.png">

<img width="614" alt="image" src="https://user-images.githubusercontent.com/12092296/99709306-dccce600-2a53-11eb-9535-9981f3f3323e.png">

[2020-11-19 18:43] malonehedges commented on #1529
Or do you mean I keep the schema as it was originally and use the double optionals with that context

[2020-11-19 19:48] designatednerd commented on #1529
@malonehedges mind if we close this out?

[2020-11-19 19:50] designatednerd commented on #1527
Blergh. Yeah wish I had a better fix for you. Since this is an 🍎 issue rather than an apollo one, do you mind if we close this out?

[2020-11-20 00:20] yliu342 opened #1530 "ApolloErrorInterceptor does not respect RequestChain callback queue"
Version: 0.34.1
Dependency Manager: SPM

Hi,

I've recently come across this issue when add an `additionalErrorInterceptor` to a chain request.
The protocol `ApolloErrorInterceptor` has a required method `handleErrorAsync(error:chain:request:response:completion:)`.

When implementing this method, I would like to call the completion on the callback queue which specified by the `RequestChain` object

[2020-11-20 04:02] designatednerd commented on #1530
Hi! This was fixed in 0.37.0 - please update to that version. Thank you!

[2020-11-20 09:48] poorvasingh04 commented on #1485
@designatednerd yes, we can close this now. Thanks you!

[2020-11-20 19:09] #1485 closed

[2020-11-20 19:15] designatednerd commented on #1530
Going to close this out as a duplicate of #1468.

[2020-11-20 19:15] #1530 closed

[2020-11-20 22:06] #777 closed

[2020-11-23 09:18] Trupti-nayak commented on #1523
thank you i got it working by assuming Json to be an array and converting a dictionary to array.

[code]

Although this would be a temp solution.

[2020-11-23 17:36] abdimaye commented on #1506
I started on these changes a couple of weeks ago but got sidetracked on other things... I'll create a draft PR now for visibility as there are more changes required than expected 😣.

[2020-11-23 22:08] designatednerd commented on #1523
I think it might be clearer to have the inner array initializer it be `self = [dict]`, and this doesn't cover the situation where an array wraps another array.

However, if you can guarantee that you either have a root dictionary _OR_ an array that wraps a dictionary, this should work longer-term. There's probably something recursive you can set up to make it work, but honestly, GraphQL isn't supe

[2020-11-23 22:23] designatednerd commented on #1527
Since I haven't heard back over the weekend and this is a known Apple issue, I'm going to close this out. I wish I had a better suggestion than "hit it with a hammer a bunch of times" but unfortunately I don't have a great one.

[2020-11-23 22:23] #1527 closed

[2020-11-23 22:24] designatednerd commented on #1529
Closing this out as intended behavior.

[2020-11-23 22:24] #1529 closed

[2020-11-23 22:24] designatednerd commented on #1496
@Kevin94singh any luck getting more details?

[2020-11-23 22:25] designatednerd commented on #1486
@marioradonic Can you share some examples of what's happening?

[2020-11-23 22:26] designatednerd commented on #1422
@Narayane @benoitletondor @dhritzkiv I *think* this should be resolved by `0.37.0`. Could y'all give that a try and let me know if it's still an issue on that version?

[2020-11-24 09:56] gurbela commented on #395
Try this:

Build phases > Add > New Run Script Phase

Code:

    # Type a script or drag a script file from your workspace to insert its path.
    # skip if we run in debug
    if [ "$CONFIGURATION" == "Debug" ]; then
    echo "Skip frameworks cleaning in debug version"
    exit 0
    fi

    APP_PATH="${TARGET_BUILD_DIR}/${WRAPPER_NAME}"

    # This script loops through the frameworks embedded in

[2020-11-24 10:01] ruizmarc opened #1536 "Fatal error: Optional is only JSONEncodable if Wrapped"
## Bug report

Everything was working fine in 0.36 but after updating to 0.37 this error message appears:

Fatal error: Optional is only JSONEncodable if Wrapped is: file Apollo/JSONStandardTypeConversions.swift, line 109

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.37
- Xcode version: 12.2
- Swift version: 5.3
- Package manager: Swift Package Ma

[2020-11-24 19:23] designatednerd commented on #1536
Can I see the code you're using to make `JSON` conform to the `JSONDecodable` protocol?

[2020-11-24 19:40] ruizmarc commented on #1536
Hi,

Since 0.30.0 we stopped using a custom function to map our JSON to a JSONDecadable/JSONEncodable, as for this changelog note.

It has been working fine as it is since 0.30.0 to 0.36.0. It has broken since we upgraded to 0.37.0

[2020-11-24 20:03] designatednerd commented on #1536
Hmmm. I'll have to look into that, that's odd.

[2020-11-24 20:06] designatednerd commented on #1536
@ruizmarc Can you share the full dictionary you're getting back so I can use it to do some testing please?

[2020-11-24 21:06] ruizmarc commented on #1536
Here you have the payload of the request: https://pastebin.com/eTbhsheb

Thanks for checking it!

[2020-11-24 22:02] designatednerd commented on #1536
So I pulled the payload in and the JSON was failing to parse until I found all the `\"` instances and changed them to `\\"`. These existed in a couple of the strings around terms and conditions (gotta love legalese!). Once I did that, the following sample query, which  assumes the custom JSON scalar type is named `CustomJSON` but which I believe should otherwise mirror your query's results, parses

[2020-11-25 00:35] winstondu commented on #142
@designatednerd , has there been any progress made on this?

I'm not fully familiar with the discussion around this, but here in broad strokes is what I am asking:
From a developer standpoint, I want to be able to specify in my query that I want to go to cache for some information that I am requesting, but not others. For example:

[code]

Currently, to do this the way I would want to, I end up wr

[2020-11-25 00:48] designatednerd commented on #142
There's several open pull requests from @Mordil on this if you'd like to take a look - they're going to be a bit since @martijnwalraven has taken a big sledgehammer to the cache and there'll need to be some fixups, but it'd be great to have feedback.

[2020-11-25 01:33] Mordil commented on #142
One of options we've been discussing is possible setting a TTL at a fragment level. Doing something so fine-grained as individual properties might get very hairy and not scale that well.

Thanks for the use case - it's good to know how developers are wanting to be able to use the framework, as I only know how I'm using it for the work I do

[2020-11-25 01:37] winstondu commented on #142
@Mordil , yes a TTL at a fragment level is more than fine. If you have a PR up for that, we would love to use it! It would save us a lot on server usage.

[2020-11-25 03:16] Mordil opened #1540 "Distinct GraphQL ID type for each object"
## Feature request

With the new Swift CodeGen engine, I'd like to see distinct types for each object's GraphQL id.

## Motivation

One of the great strength's is Swift's type system and it's near C++ level of zero-level abstraction.

If we were to change the `id: GraphQLID` of each GraphQL schema object into its own struct that has a single property (`GraphQLID`) it would make passing around data

[2020-11-25 07:35] dhritzkiv commented on #1422
@designatednerd A preliminary run using 0.37.0: it looks like the cache+watchers work as expected! Thanks. :)

[2020-11-25 10:19] ruizmarc commented on #1536
Hi!

Thanks for your investigation, unfortunately, it didn't worked taking out the quotes. However, looking at your example, I changed the code from:

[code]

to the following one worked even without removing the quotes:

[code]

So at this moment the app is working again with 0.37.0 with just changing this. I don't know if it is because it was not intended that we use jsonObject or it is really a

[2020-11-25 11:07] Narayane commented on #1422
@designatednerd Still an issue for me, watchers are not triggered in 0.37.0 with the code below in my custom `NetworkTransport`.

[code]

[2020-11-25 12:07] bezoadam commented on #1427
Yes closed. We fixed `SecuritySystemStateStatus` enum `INIT` to `INITIAL` 😎 but I think in future you should fix it :)

[2020-11-25 12:07] #1427 closed

[2020-11-25 17:30] Mordil commented on #1540
Would it make sense to turn `GraphQLID` into a protocol at that point?

And then each of the strongly-typed IDs can conform to it, as well as `String` itself:

[code]
(I'd definitely want some bikeshedding happening, I'm not sold on the API above)

[2020-11-25 23:46] designatednerd commented on #1536
What about using `result.data?.translations`? `JSONObject` is the name of the type, not the property, in my example.

If you can share the generated code for your query I can get you something more accurate.

[2020-11-25 23:56] designatednerd commented on #1422
@Narayane Yeah, the caching on custom network transports is basically broken at the moment, so that would make sense. The current workaround is to write a custom interceptor for your network usage similar to [the default Network interceptor](https://github.com/apollographql/apollo-ios/blob/main/Sources/Apollo/NetworkFetchInterceptor.swift) but using your own networking.

I'm working on a longer-te

[2020-11-25 23:58] designatednerd commented on #1427
Yeah we're definitely planning to fix this in new codegen.

[2020-11-26 00:10] designatednerd commented on #1540
Definitely not currently planned.

Two huge places I see this being a problem are with interface types and union types. If we used this in our Star Wars Schema, would we want to be generating `CharacterID` or `HumanID` and `DroidID`? If you pass `CharacterID(2001)`, should that look for a `Human` or a `Droid`? What if identifiers are unique per individual type but not per interface type? This also

[2020-11-26 00:16] Mordil commented on #1540
Isn’t that somewhat solved by having GraphQLID being a protocol? Although that drops the purpose of being strongly typed in those cases because now ANY GraphQLID can be passed

[2020-11-26 00:20] Mordil commented on #1540
and for union types, could an enum rather than a struct be a solution?

[code]

though your point still stands about the explosion of types which is already quite large.

[2020-11-26 01:00] designatednerd commented on #1540
yep. At that point we've done a whole lot of work to get back to where `String` was.

So the enum thing - this is something that bit me as I was working through codegen for union and interface types. There may be members of a union or interface that are impossible values for a particular instance because of various compounded type things. So you can't always just say well, we know this is a charac

[2020-11-26 06:14] martijnwalraven commented on #1540
I've used a similar tagged `Identifier` pattern myself in another project, so I definitely understand the benefits of type-safe identifiers. And I think it would be great if we could find a way to make something similar work with GraphQL.

I don't think focusing on `id` and `GraphQLID` is a workable solution though. GraphQL does not prescribe the use of `id`, or even how `GraphQLID` is meant to be

[2020-11-26 08:55] ruizmarc commented on #1536
Hi,

It also works with your suggestion:

[code]

What I was using is this: https://developer.apple.com/documentation/foundation/jsonserialization/1415493-jsonobject

But it is clear it is not necessary to use it anymore. We have been using apollo-ios since it very beginning and at some point in the past, that was the only way we could get it working, but with the pass of the time it has gotten mu

[2020-11-26 11:21] vfumin commented on #1530
Hi, i try to retry request from errorinterceptor, after refreshtoken, request sends, but i can't get completion event in fetch method

`

class RefreshTokenInterceptor: ApolloErrorInterceptor {

    private let requestManager: RequestManager
    private let bag = DisposeBag()

    init(requestManager: RequestManager) {
        self.requestManager = requestManager
    }

    /// Asynchronously hand

[2020-11-26 12:49] Max-Job commented on #1425
how I can handle server error?

[2020-11-26 13:03] knox commented on #1425
Try something like this
[code]

[2020-11-26 13:24] Max-Job commented on #1425
@knox oh! thank you so much! it works for me)
but now I have another problem:
if environment (API URL) doesn't exist [it's](https://github.com/apollographql/apollo-ios/issues/1425#issuecomment-734286610) not working

[2020-11-26 13:26] Max-Job commented on #1425
if I write incorrect url here, I cannot handle error and get status code
[code]

[2020-11-27 06:56] vfumin opened #1544 "chain.retry not call completion to fetch method"
Hi, i try to retry request from errorinterceptor, after refreshtoken, request sends, but i can't get completion event in fetch method

[code]

_Originally posted by @vfumin in https://github.com/apollographql/apollo-ios/issues/1530#issuecomment-734241073_

[2020-11-29 11:49] Dreamystify opened #1547 "How to use a non id field for identifiable?"
In my graphql server the query result objects have id's with the object type in them for example

agent_id instead of id for an agent object

When using it in a list in SwiftUI like

    List(agentData, id: \.agent_id) { agent in
        NavigationLink(destination: AgentDetailView(agentData: agent)) {
            AgentListItemView(agent: agent)
        }
    }

The agent_id for the identifier show

[2020-11-30 02:46] Dreamystify commented on #1547
I've even added the id field to the graphql server and apollo client in ios and still says it doesn't conform to identifiable, what am I missing?

[2020-11-30 02:54] Dreamystify commented on #1221
where do you add the extension? total noob here...

I have a swiftUI project  and my id field is agent_id, how do i make that identifiable?

[2020-11-30 03:54] designatednerd commented on #1547
Hi, so `Identifiable` is [a Swift stdlib protocol](https://developer.apple.com/documentation/swift/identifiable) that, right now, is not automatically conformed to by any Apollo code.

You will need to make a file separate from the generated `API.swift` (which gets constantly overwritten by automated codegen) where you will need to add `Identifiable` conformance to the nested `Agent` type. I *thin

[2020-11-30 03:55] designatednerd commented on #1221
Hi @Dreamystify please see my response on #1547. Thanks!

[2020-11-30 04:00] designatednerd commented on #1540
We should bring @benjamn in on this since I know there's some extent to which the IDs are being used in AC3 for Web, even though they aren't necessarily prescribed by the spec.

[2020-11-30 04:11] designatednerd commented on #1536
OK - I'm still not totally clear on where `jsonObject` is coming from as a property on `Data`, but maybe it was in an older version of the SDK.

In any case, it seems like we've gotten to the bottom of this - do you mind if we close this out?

[2020-11-30 04:29] designatednerd commented on #1544
Do you hit `onSuccess` or `onError` in that code? I have a sneaking suspicion your `disposeBag` is getting emptied before your subscription hits either of those.

[2020-11-30 04:31] designatednerd commented on #1544
Also, you may want to consider making this an `ApolloInterceptor` and putting it in the chain right after the `NetworkFetchInterceptor` rather than routing every single error through it, which is what you're doing with an `ApolloErrorInterceptor`.

[2020-11-30 04:40] designatednerd commented on #1425
@Max-Job Could you please open this as a different issue and provide more details like:
- What type of error are you expecting to receive in this instance?
- What is the type of error which you do receive?

[2020-11-30 05:18] vfumin commented on #1544
chain.retry is working, but after complete retry request, not calling resultHandler in fetch(query:, resultHandler:).

i try debugging and not calling  completion(.success(value)) in retrychain, but getting     self.callbackQueue.async
[code]

Main method for fetch data
[code]

[2020-11-30 06:46] Kevin94singh commented on #1496
@designatednerd  Hey, I'm in touch with a Bitrise team. We haven't resolved the issue yet.

[2020-11-30 08:47] TizianoCoroneo commented on #1536
`jsonObject` is in an extension of `GraphQLSelectionSet`, which `Data` conforms to. It just calls `resultMap.jsonObject`

[2020-11-30 09:07] ruizmarc commented on #1536
On my side, we can close the issue. Thanks for your time and kind attention.

[2020-11-30 10:59] martijnwalraven commented on #1540
As far as I know, Apollo Client 3 for web introduces a [`keyFields` configuration option](https://www.apollographql.com/docs/react/caching/cache-configuration/#typepolicy-fields), which isn't limited to `id` but allows you to specify one or more fields that acts as keys, similar to the `@key` directive.

[2020-11-30 12:27] vfumin commented on #1544
Even if remove refreshToken, don't call completionHandler in fetch(query:)
[code]

[2020-11-30 16:40] #1536 closed

[2020-11-30 16:56] cltnschlosser opened #1548 "apollo-tooling codegen: Struct name inconsistently generated"
Creating issue here for visibility, fix is https://github.com/apollographql/apollo-tooling/pull/2170

[2020-11-30 21:59] designatednerd commented on #1548
Thanks for the heads up - I'll leave this issue open until that gets merged into tooling and we get a release out with the new tooling version. I'll leave the discussion of the actual problem over in `apollo-tooling`.

[2020-11-30 22:04] designatednerd commented on #1544
I'm not totally sure what you mean by this - can you explain in a bit more detail, please?

Are you able via breakpointing to see where it stops being passed around? I don't see anything super obvious here in terms of why the completion wouldn't be called, unless maybe something has let go of the chain.

[2020-11-30 22:15] vfumin commented on #1544
Sorry for my bad english)
After chain.retry all interceptors of chains restart success, but i can't explain why not calling completion handler in the end of chain.
May be i can create test project for reproducing problem...

[2020-11-30 23:27] Dreamystify commented on #1547
Thank you for your help. I created the swift file and named it the same as the graphql file (GetAgents.swift) and placed in:
[code]
But i got nothing but errors I dont know what to do with, sorry

Showing Recent Issues
graphql/getAgents.swift:12:5: Expected 'func' keyword in instance method declaration
graphql/getAgents.swift:12:20: Found an unexpected second identifier in function declaration; is

[2020-12-01 03:04] designatednerd commented on #1547
It should not be related to the order of compilation, no.

One of the problems is mine: `associatedtype` is for the declaration of the protocol rather than the conformance, so that needs to be changed to `typealias ID = String`. I've got no idea where the rest of those errors are coming from, but it's certainly possible that changing to `typealias` would at least help.

The errors on line 12 don't

[2020-12-01 12:40] vfumin commented on #1544
Resolve problem with set parameter `queue: DispatchQueue.global(qos: .userInteractive)` to fetch method. With default value - DispatchQueue.main i can't get completion handler after retry.

[2020-12-01 13:25] rs658726 opened #1550 "Cannot query field "Access" on type "RootQueryType"."
Hello,

I'm fairly new to apollo and graphQL and I followed the tutorial but I'm getting an error when compiling:
`Queries.graphql:2: error: Cannot query field "access" on type "RootQueryType".`

My query looks like this in Xcode:
[code]

And this is what it looks like on our backend:
[code]
I'm really not sure what I'm doing wrong. Any help would be appreciated.

[2020-12-01 18:13] ts95 commented on #228
I recently updated Apollo to the latest version and had to refactor the auth layer because of breaking changes. In the process of refactoring I noticed that there's seemingly no way to supply a custom `URLSession` instance anymore to the network transport class. Previously it could be supplied to `HTTPNetworkTransport`, but since that class has been replaced by `RequestChainNetworkTransport` whose

[2020-12-01 18:41] ts95 commented on #228
I found out that Apollo's `URLSessionClient` class implements `URLSessionDelegate`, so I can simply subclass it and override this method:
[code]

The `URLSessionClient` instance can be passed to the `LegacyInterceptorProvider` initializer 👍

[2020-12-01 19:59] designatednerd commented on #228
You beat me to it! Yep, subclassing `URLSessionClient` is the answer.

[2020-12-01 21:49] designatednerd commented on #1550
Hi! It'd help to know what tutorial you're working with, as this code doesn't appear to be from anything we've put out for iOS at Apollo.

It'd also help to see the full schema. I'd want to look and see if your list of queries includes that `access(audioUuid)` bit - if a query isn't defined, you can't just ask for things by their ID.

[2020-12-01 22:14] designatednerd commented on #600
My god, it works now! Closing this out, at last.

[2020-12-01 22:14] #600 closed

[2020-12-01 22:44] designatednerd commented on #1146
Thanks to @martijnwalraven's hard work, all our tests are now passing with TSAN as of [version 0.38.0](https://github.com/apollographql/apollo-ios/releases/tag/0.38.0)! If you run into TSAN issues in that version or later, please open a new issue. Thank you!

[2020-12-01 22:44] #1146 closed

[2020-12-01 22:44] designatednerd commented on #1147
Thanks to @martijnwalraven's hard work, all our tests are now passing with TSAN as of [version 0.38.0](https://github.com/apollographql/apollo-ios/releases/tag/0.38.0)! If you run into TSAN issues in that version or later, please open a new issue. Thank you!

[2020-12-01 22:44] #1147 closed

[2020-12-01 22:44] designatednerd commented on #1150
Thanks to @martijnwalraven's hard work, all our tests are now passing with TSAN as of [version 0.38.0](https://github.com/apollographql/apollo-ios/releases/tag/0.38.0)! If you run into TSAN issues in that version or later, please open a new issue. Thank you!

[2020-12-01 22:44] #1150 closed

[2020-12-01 22:44] designatednerd commented on #1151
Thanks to @martijnwalraven's hard work, all our tests are now passing with TSAN as of [version 0.38.0](https://github.com/apollographql/apollo-ios/releases/tag/0.38.0)! If you run into TSAN issues in that version or later, please open a new issue. Thank you!

[2020-12-01 22:44] #1151 closed

[2020-12-01 22:44] designatednerd commented on #1011
Thanks to @martijnwalraven's hard work, all our tests are now passing with TSAN as of [version 0.38.0](https://github.com/apollographql/apollo-ios/releases/tag/0.38.0)! If you run into TSAN issues in that version or later, please open a new issue. Thank you!

[2020-12-01 22:44] #1011 closed

[2020-12-01 22:46] designatednerd commented on #139
We've recently made some substantial improvements to the cache and query watchers, including fixing some threading shenanigans. Would anyone who's had problems be willing to give version `0.38.0` a shot?

[2020-12-02 00:54] #955 closed

[2020-12-02 00:54] #1133 closed

[2020-12-02 01:06] designatednerd commented on #1550
I'm going to move this to Discussions since this is more of a question than an issue with the SDK itself

[2020-12-02 01:06] #1550 closed

[2020-12-02 03:47] designatednerd commented on #1544
That seems...really odd that that worked, but if at some point you are able to send me a project reproducing the problem, I'd happily take it. ellen at apollographql dot com.

[2020-12-02 04:02] designatednerd commented on #1540
One thing we also need to think about here is the `Identifiable` protocol - we definitely want to adopt that for SwiftUI reasons, and there's a bit of an open question as to whether we should be doing something like `keyFields` for that or whether we should only be auto-generating it for things with a `GraphQLID`. I'm not entirely sure how that fits in with this proposal, beyond "If we have too ma

[2020-12-02 04:05] Mordil commented on #1540
@designatednerd I think these two concerns are definitely related and for my purposes could potentially be solved together.

The root problem is that we would prefer compiler assistance in preventing sending an ID that represents `Bookings` in a mutation for `Customer`, as it stands with both accepting a `String`, it ignores the domain semantics of what that value actually represents.

How that is

[2020-12-02 13:46] vfumin commented on #1544
Yes, it's strange...problem not fixed

[2020-12-02 20:52] designatednerd commented on #1540
Right, that makes sense, although for some graphs that's total overkill since GraphQLIDs are generated as UUIDs unique not just to the type but across the graph. But I do think the "unique to a type, not across types" situation is way more common.

[2020-12-03 03:23] designatednerd commented on #1548
Updated CLI with your changes is shipped as part of 0.38.1! Thanks for your help!

[2020-12-03 03:24] #1548 closed

[2020-12-03 09:38] alexander-larsson commented on #137
Has there been any progress on this? I find it very cumbersome that types that are the same (in terms of what data they contain) are different depending on what query they are a part of. I have fiddled with different solutions but none has really worked out in a good way.

What I have tried:
Just mapping the types: Too much boilerplate.
Introducing a third type and mapping to that: Even more biole

[2020-12-03 13:43] alkincakiralar1996 commented on #1523
We had a similar problem above and we managed to solve it with the code below.

But because our api.swift file is rebuilt every time, typealias we defined freezes back to string.

[code]

How do we ensure that it stays the typealias we define every time ?

[2020-12-03 17:27] designatednerd opened #1555 "Add `deleteObject(key)` to `ReadWriteTransaction`"
As raised by #1551, when you remove something from a list its reference is deleted, but the object the reference was referring to may become orphaned if there are no other references to it.

Long-term we should be looking into something similar to what [the web client is doing with garbage collection](https://www.apollographql.com/docs/react/caching/garbage-collection/), but as a short-term workar

[2020-12-03 17:55] designatednerd commented on #1523
Definitely put it in a different file than `API.swift` - as you said, `API.swift` is constantly overwritten.

[2020-12-03 18:00] designatednerd commented on #137
This is something we're still looking into for new codegen, but after a year and a half of digging these are the potential issues I see:

- In many cases, input objects are defined differently in the schema than response objects, even if they're ultimately the same object.
- Input objects have to handle the difference between sending nothing (which doesn't touch any existing value on the server),

[2020-12-03 21:06] alexander-larsson commented on #137
I’m also having problems with very similar queries that return the same thing but they get different types. This happens for example when I apply different filters to essentialy the same query. Maybe I’m missing something here though?

[2020-12-03 23:21] designatednerd commented on #137
Are you talking about the different nested types that are generated per-query, or different `__typename` types from the server?

If it's the former, you probably want to look into [using fragments for the overlapping fields](https://www.apollographql.com/docs/ios/fragments/). If it's the latter, that's something altogether different.

[2020-12-03 23:21] ejensen opened #1556 "Unable to use v0.38.1 with Swift Package Manager"
## Bug report

When attempting to use Apollo v0.38.1 as a Swift Package, the package resolution fails due to the newly added unversioned inflectorkit dependency

<img width="1540" alt="error" src="https://user-images.githubusercontent.com/915431/101100360-3b798000-357b-11eb-8595-515db610ef10.png">

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.38.1

[2020-12-03 23:25] joel-perry commented on #1556
Was just on my way here to put this in.

[2020-12-03 23:29] designatednerd commented on #1556
what the....argh. Why on earth didn't I get this warning when I tried this with our SPM project 😡

On it.

[2020-12-03 23:45] designatednerd commented on #1556
ahhhh i see why I didn't - my SPM test project is pointed at `main` since I want to tag versions _after_ testing them, and because I wasn't using a version there, it didn't matter that `InflectorKit` wasn't using a version. Sneaky!

[2020-12-04 01:13] designatednerd commented on #1556
OK, pushed out `0.38.2`, this should now be updated.

[2020-12-04 01:13] #1556 closed

[2020-12-04 03:32] yliu342 commented on #1544
I'm also experiencing the same issue. If you use `chain.retry(request: request, completion: completion)` in `handleErrorAsync` the completion of the original request is not called.

Using a different queue suggested by @vfumin worked but not sure why

[2020-12-04 03:35] yliu342 commented on #1544
I also noticed there is a comment in the `ApolloErrorInterceptor` saying
[code]
Is that mean we should not even call completion when retry?

[2020-12-04 03:39] designatednerd commented on #1544
No, it means you should not call the completion block _in the error interceptor_ if you are retrying.

@yliu342 What version of the library are you on?

[2020-12-04 03:40] yliu342 commented on #1544
@designatednerd I'm on 0.37.0 using SPM

[2020-12-04 03:46] designatednerd commented on #1544
Interesting. Could you send me a reproduction (or your project if you're comfortable with it)? ellen at apollographql dot com

[2020-12-04 15:34] danpalmer opened #1557 "Codegen `OutputFormat` not respected"
## Bug report

Just came across a small sharp edge in the API for codegen – specifying the `OutputFormat` has no effect, and the output format (single vs multiple files) is only a property of the `URL` passed in.

This is noted in a comment in the source code, so seems to already be acknowledged as an issue. Given that the API provided affords that this would work in a particular way, and that it

[2020-12-04 15:39] alexander-larsson commented on #137
It was the former. Thank you! My code is so much more beautiful now! 😃

[2020-12-04 17:00] designatednerd commented on #1557
Option 2 would definitely be better, IMO. I considered option 1 but I felt like it didn't capture intent clearly enough - throwing an error if a folder URL is passed in for `singleFile` or if a file URL is passed in for `multipleFiles` seems like a totally reasonable way of enforcing that.

Would definitely welcome a PR!

[2020-12-04 22:03] alkincakiralar1996 commented on #1376
same crash on me at the latest version.

IOS 14.2 iPhone 12 how can i fix this ?

[2020-12-04 22:44] designatednerd commented on #1376
This should not be crashing in versions above 0.37.0 since it's checking to see if the session is still around before it tries to perform an operation - @alkincakiralar1996 can you confirm exactly which version you're using?

[2020-12-05 07:16] alkincakiralar1996 commented on #1376
Ah sorry yes i was using older version, i update and problem resolved thanks

[2020-12-07 00:52] yliu342 commented on #1544
@designatednerd Sorry I can't sent the complete project to you but I will try to create a stripped down version and hopefully I can still reproduce the issue. I will keep you posted once I'm done.

[2020-12-07 01:02] designatednerd commented on #1544
Great, thank you!

[2020-12-07 13:28] vfumin commented on #1544
Fixing with RequestChain.swift with commenting queue.async
[code]

[2020-12-07 19:50] designatednerd commented on #1544
That is...very strange. The callback queue is passed in the initializer, so in theory unless `self` gets deallocated it shouldn't disappear. Also in theory if `self` had somehow been deallocated, `self.isNotCancelled` would have crashed, and the call to the callback queue also would have crashed rather than just not doing anything.

Are you using any non-default interceptors besides the `RefreshTo

[2020-12-07 22:32] yliu342 commented on #1544
@designatednerd I've send the sample project to you, let me know if you haven't receive it.

[2020-12-07 23:45] designatednerd commented on #1544
Got it! Thank you so much, poking it with a stick now.

[2020-12-08 00:17] designatednerd commented on #1544
AHA! So in `requestChain` when you call `additionalErrorHandler` and do your retry from there, the chain was getting released, which made [this call](https://github.com/apollographql/apollo-ios/blob/b7a2edc642a1d317112ad99a9ac32815574d3dfb/Sources/Apollo/RequestChain.swift#L166) fail after the call to completion on the retry.

Working on a fix!

[2020-12-08 00:26] designatednerd commented on #1544
Band-aid is up at #1563. Will publish a patch once I get that merged.

[2020-12-08 03:40] designatednerd commented on #1544
Fix is shipped as `0.38.3`. @vfumin thank you SO much for the repro, it was super-helpful.

[2020-12-08 03:40] #1544 closed

[2020-12-08 06:52] vfumin commented on #1544
strange. 0.38.3 hasn't this fix

[2020-12-08 14:01] Thecrazyskull commented on #1523
I'm having a similar problem. Although @Trupti-nayak's fix works, it's not a good fix because it assumes that the JSON structure will be an array. What if I have an object (with key:value structure in the root). I would have to change the type in the server, which too, is not a good solution. How would you suggest handling a case where the returned JSON can both be an object and an array at the sa

[2020-12-08 19:48] designatednerd opened #1566 "2020 Developer survey (through 22 December)"
Hey folks! Last year's developer survey was hugely helpful in prioritization and figuring out where we needed to work on some stuff, so we've decided to do another round of it.

The survey is here: https://docs.google.com/forms/d/e/1FAIpQLSfu3-ChdZTKhvh9J_KRYb7nefOD74J4DcRHk4k5gercWacfMw/viewform?usp=sf_link

And we'll be accepting your feedback until December 22nd. We'd love to hear from you!

[2020-12-08 20:06] designatednerd commented on #1557
Let me know if you are planning to make a PR - don't want to step on your toes but I should probably close this loophole 😃

[2020-12-09 06:39] i1020242 opened #1567 "Fetch data in different iOS version"
Why I fetch data in ios13 or ios14 slower than iOS<13 about 5 seconds for first time.
For example.
[code]

This is my query .graphql

[code]

[2020-12-09 18:26] designatednerd commented on #1567
Moving this to discussions since this is a question and not an issue or enhancement request

[2020-12-09 18:26] #1567 closed

[2020-12-09 23:51] designatednerd opened #1568 "Field-level metadata for the cache"
## Feature request

We would like to add field-level metadata to the cache - for example, what is the date when this field was last updated? - to allow for more powerful querying and filtering of cached data, along with features like cache data expiration.

## Motivation

PRs #971 and #1498 took a stab at adding TTL support for the cache, but the problem is that they were working at the full recor

[2020-12-10 05:32] mmadjer opened #1570 "Cannot find module '@oclif/command'"
## Bug report

Build is failing with the following outcome.

[code]

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.38.3
- Xcode version: 12.2
- Swift version: 5
- Package manager: Cocoapods 1.10.0

## Steps to reproduce

Updated to the latest apollo-ios SDK, remove derived data, clean build folder and build.

[2020-12-10 16:54] designatednerd commented on #1570
Hi - can you please share what package manager you're using to integrate apollo?

[2020-12-10 20:10] malonehedges opened #1572 "Swift Codegen duplicates `__typename` in GraphQLSelection with mergeInFieldsFromFragmentSpreads = true"
Note: the Swift initializer doesn't duplicate `__typename` in the ResultMap, so I'm not sure if this causes any serious issues, just thought I'd share.

apollo-ios version: 0.36.0

query:
[code]

[code]

<img width="607" alt="image" src="https://user-images.githubusercontent.com/12092296/101823868-446cd300-3ae0-11eb-9da5-66b752ad1f1b.png">

[2020-12-10 21:06] mmadjer commented on #1570
Updated in initial comment

[2020-12-11 00:52] designatednerd commented on #1572
Interesting - is this new behavior to `0.36.0`+? Looking at the changelog, there hadn't been any changes to the CLI for a while until `0.37.0`.

Also worth knowing: Does this happen when `__typename` is explicitly specified as a field that should be fetched either on a fragment or on a particular query, or is this happening without that?

[2020-12-11 03:27] designatednerd commented on #1570
Cool - in theory everything necessary to run it should be bundled with it. I just tried this on my CocoaPods-based test project and was not able to reproduce the error you saw.

I don't *think* it's that I've got something `npm install`ed globally since I'm pretty sure we'd have had bugs on it ages ago since most iOS developers wish to avoid touching NPM with a 20 foot pole. (Not without reason)

[2020-12-11 04:06] malonehedges commented on #1572
I'm just switching to the Swift Codegen library so I'm not sure if this is a new issue or not. It appears to duplicate `__typename` with all combinations of` __typename` being added / omitted to the query and fragment (not explicitly in fragment or query, in fragment but not query, in query but not fragment, and in both query and fragment).

[2020-12-11 04:08] malonehedges commented on #1572
Issue is present in `0.38.3` as well

[2020-12-11 04:19] designatednerd commented on #1572
So that's presently calling through to the same underlying typescript CLI (we're working on the actual swift-based codegen now), so it shouldn't be anything related to that.

At a certain point, though, if this isn't actively causing problems, it may not be worth trying to hunt it down as we're working on transitioning off the old codegen. The only thing I can think of is mayyyybe it might mess wi

[2020-12-11 04:26] martijnwalraven commented on #1572
That's a known issue that's been in there for a long time. It doesn't have any real effect because we merge fields as part of GraphQL execution. So the only issue is that we generate slightly larger code. We should be able to fix this with the new codegen though.

[2020-12-11 05:20] malonehedges commented on #1572
Good to know it shouldn't affect anything, I'll turn on that flag for my builds going forward now. Thanks for the explanation! This is resolved for me so I'll close the issue but feel free to reopen if you want to keep tracking it here.

[2020-12-11 05:20] #1572 closed

[2020-12-11 14:12] john-lanticse commented on #287
I have to say, the Builder in Apollo-android does not send the one that was not included when building it. Wonder why this is not the case for Apollo-ios. Took me a while to finally see the issue.

[2020-12-11 17:27] designatednerd commented on #1572
Fair enough - I'd like to think this is a big enough bug that it should jump out pretty clearly

[2020-12-13 23:08] mmadjer commented on #1570
Deleting the zip and `apollo` folder seemed to do the trick.

However, strange is that it occurs on our CI/CD (Bitrise) platform at the same time as well.
`Pods` folder is included as part of the git repo but not the `node_modules` folder.
After deleting those files and folder and rebuilding (which should have been redownloaded), Git does not tell of any changes.
To get Bitrise working I had to co

[2020-12-13 23:16] mmadjer commented on #1570
Actually, it keeps failing on Bitrise with the same error. I had a test branch to try that abov scenario out. Which was green. Merged that to master and failing. Same Bitrise workflow. hmm...

[2020-12-14 01:12] mmadjer commented on #1570
If I exclude `zip` file and apollo folder in `Pods/Apollo/scripts` from git, then it works everytime.

So something odd is going on which was not the case before.
Let me know if you want/need more information to potentially trace it down.

[2020-12-14 02:22] designatednerd commented on #1570
I wonder if there's some weird caching happening on the bitrise end. In theory, the bash script or the swift script should be checking the hash of the zip file to determine if it needs to be deleted and replaced before it tries to run anything, so I'm not sure why that wouldn't be working.

[2020-12-14 03:53] mmadjer commented on #1570
Any particular order the build phase script should run?
Further to that, I just noticed the checkbox `Based on dependency analytics` is ticked on for that Apollo build phase script. The hint of that checkbox says `Will skip in incremental builds if inputs, context, or outputs haven't changed`.

[2020-12-14 04:23] designatednerd commented on #1570
it needs to run prior to trying to actually compile your classes, but that shouldn't have any effect on whether the CLI itself builds or not.

In theory the dependency analytics shouldn't have anything to do with the error you're seeing,  but it certainly could be worth unchecking to see if that's the problem.

[2020-12-14 05:44] Trupti-nayak commented on #1523
Hi i have tried creating my own type and using it like this.

[code]

Although this has not be tested for all types. Any improvements/suggestions are welcome @designatednerd @Thecrazyskull

[2020-12-14 23:04] designatednerd commented on #1523
OK, gave this a think and representing it as an enum should at least help a bit in terms of being able to stay kiiiinda type safe:

[code]

I've definitely got some things I want to be able to add if we can get things annotated locally long term, but that's unfortunately part of the codegen stuff which is taking me forever 😭

[2020-12-15 09:38] mmadjer commented on #1570
Well, now it doesn't occur / can't replicate it anymore.

[2020-12-15 23:40] designatednerd commented on #1570
Weird! That does sort of reinforce my hunch that there was some kind of caching issue going on.

Do you mind if we close this issue out?

[2020-12-16 00:04] mmadjer commented on #1570
Yeah very weird.

Sure close it off.

Thanks a lot for you help.

[2020-12-16 02:58] #1570 closed

[2020-12-17 00:22] designatednerd commented on #1547
@Dreamystify Were you ever able to figure this out?

[2020-12-17 00:43] Dreamystify commented on #1547
I was after I changed agent_id to agentId it worked

[code]

[2020-12-17 00:45] designatednerd commented on #1547
woo! Mind if we close this out?

[2020-12-17 00:52] designatednerd commented on #1523
@Trupti-nayak @Thecrazyskull did that help?

[2020-12-17 00:52] designatednerd commented on #1496
@Kevin94singh any progress?

[2020-12-17 00:53] designatednerd commented on #1486
Since I haven't heard back on examples in a few weeks, I'm going to close this out. @marioradonic if you have some examples please feel free to reopen. If anyone else has a similar problem, please open a new issue. Thank you!

[2020-12-17 00:53] #1486 closed

[2020-12-17 01:20] Dreamystify commented on #1547
Absolutely, thanks for all your help

[2020-12-17 04:09] #1547 closed

[2020-12-17 16:39] SzymonWojcikCrustlab opened #1581 "ApolloWebSocket cocoapods integration"
## Bug report

Hi there! I have a problem with the integration of ApolloWebSocket via cocoapods. When I create a brand new iOS project I get `No such module 'ApolloWebSocket'` error message. Not sure what information you would need but this is a basic setup: new project -> pod init -> apollo pods -> pod install -> no module error.

## Versions

Please fill in the versions you're currently using:

[2020-12-17 16:57] SzymonWojcikCrustlab commented on #1581
A similar configuration for a Swift Package Manager works just fine. (Apollo + ApolloWebSocket)

[2020-12-17 17:45] designatednerd commented on #1581
This is (presently) an issue because of how we have the pods set up. I should really look into fixing this but in the meantime all you have to do is remove `ApolloWebSocket` because CP merges all apollo subspecs into a single `Apollo` module.

[2020-12-17 17:57] SzymonWojcikCrustlab commented on #1581
Thanks for a quick response :) I'm aware of this workaround. However, in my particular case, it's more complicated since I'm trying to build a package that supports both SPM and Cocoapods and uses Apollo for a backend connection. So in one case (building with SPM) I have to use `ApolloWebSocket` and while building with cocoapods I'm unable to use it. Any suggestions on how to work around this issu

[2020-12-17 18:17] designatednerd commented on #1581
I'm a bit confused - in theory you should only be using Apollo through one or the other, so building in something that used both shouldn't cause an issue.

Can you tell me a bit more about your setup?

[2020-12-17 19:08] SzymonWojcikCrustlab commented on #1581
Sure. I want to support cocoapods and SPM to distribute MyPackage. I have to define package dependencies:
- for cocoapods, in podspec file: `spec.dependency "Apollo/WebSocket", "~> 0.36.0"`
- for SPM, in Package.swift file: `.package(name: "Apollo", url: "https://github.com/apollographql/apollo-ios.git", from: "0.36.0")`

Let's say I have just one file `Service.swift` which depends on these web so

[2020-12-17 21:04] designatednerd commented on #1581
Got it. What we do at the moment is gate things with an `#if COCOAPODS` macro [like so](https://github.com/apollographql/apollo-ios/blob/eb323375f4f9a4df90edf528945b7df399bb240a/Sources/ApolloCodegenLib/StaticString%2BApollo.swift#L2)

[2020-12-17 23:12] designatednerd commented on #1581
And, just confirmed - if we don't want to break it out into multiple pods instead of subspecs (which I don't), we'll need to keep doing that. So that is, in fact, what you should do.

[2020-12-17 23:54] designatednerd commented on #1581
Can you confirm the macro works for you in your dependent library, and then we can close this out?

[2020-12-18 10:44] SzymonWojcikCrustlab commented on #1581
Neat! That would do the job. Thanks for the quick responses. Fell free to close the issue :)

[2020-12-18 18:58] #1581 closed

[2020-12-21 20:18] jkastelicnov commented on #1030
Hey all, thanks for keeping this project running.

Just wanted to add that we are also locked into dependency conflict between apollo-ios and another library, over the starscream.

I know that adding just another +1 isn't helpful; I'd consider contributing a PR, but given I don't really have much context on how Apollo uses websockets and that @designatednerd couldn't get this done despite a relati

[2020-12-21 20:20] MatejBalantic commented on #1030
Hey all, thanks for keeping this project running.

Just wanted to add that we are also locked into dependency conflict between apollo-ios and another library, over the starscream.

I know that adding just another +1 isn't helpful; I'd consider contributing a PR, but given I don't really have much context on how Apollo uses websockets and that @designatednerd couldn't get this done despite a relati

[2020-12-21 20:55] MatejBalantic commented on #1030
For anyone in our situation: as a workaround, if you are not using the Apollo framework that relies on `starscream` (e.g. `ApolloWebSocket`) you can get away by forking the `apollo-ios`, bumping the `starscream` to `4.0` and then importing this fork as your dependency.

Obviously everything that is using `starscream` would be broken until this issue is closed, but at least you can unblock yourself

[2020-12-21 21:48] designatednerd commented on #1030
I would welcome a PR - my failure should not be interpreted as anything other than "I haven't worked with websockets much and I thought this was going to be a one-afternoon thing and got very frustrated when it became clear it wasn't because I have 37 million other things to do".

[2020-12-23 22:30] designatednerd commented on #1566
The survey is now closed - thank you very much for your responses! You'll see some stuff coming through on this once we do some analysis in the new year!

[2020-12-23 22:30] #1566 closed

[2020-12-24 19:05] designatednerd commented on #1557
Check on this has shipped with 0.39.0!

[2020-12-24 19:05] #1557 closed

[2021-01-03 06:25] Mordil opened #1600 "Codegen not respecting alias casing"
## Bug report

When creating an alias, the generated API does not respect the casing for the alias.

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.34
- Xcode version: 12.2
- Swift version: 5.3
- Package manager: SwiftPM

## Steps to reproduce

using the query

[code]

I get the generated API

[code]

[2021-01-04 15:13] designatednerd commented on #1600
Yeah unfortunately with the typescript codegen this is expected behavior - it uses the JS style of camel-casing even things that are all-caps. Will put this in the "enhancements for new codegen that are actually just leaving stuff alone" pile. 😆

[2021-01-04 17:49] theoks opened #1602 "Upload type is not being generated"
The problem I face is that the Upload type isn't being generated.

For example I have this mutation:

[code]

And the generated code is the following:

[code]

I have passed the `--passthroughCustomScalars` option.

Am I missing something?

## Versions

- `apollo-ios` SDK version: 0.39.0
- Xcode version: 12.3
- Swift version: 5.3.2
- Package manager: SPM

[2021-01-04 18:51] designatednerd commented on #1602
So`Upload` is defined as a custom scalar with an underlying type of `String` rather than as a particular type. The `upload` function of our SDK does the work to set up the multipart request with files you've handed it, while you have to pass a `String` to the upload parameter.

Honestly if this is what you're using `--passthroughCustomScalars` for, it's not worth it, it makes things far more confu

[2021-01-05 07:57] theoks commented on #1602
@designatednerd I inferred that could work by some other answers but I wasn't absolutely sure that that was the case. Thanks a lot for the clarification.

[2021-01-05 07:57] #1602 closed

[2021-01-05 14:48] danpalmer commented on #1557
@designatednerd thanks! Sorry for not getting around to doing a PR for this at the time, I have been off for a while. Thanks for going ahead with it though.

[2021-01-05 22:41] sam961 opened #1607 "Advanced: ResponseCodeInterceptor"
I was trying to inherit ResponseCodeInterceptor to intercept the status code but I am receiving error :
**Cannot inherit from non-open class 'ResponseCodeInterceptor' outside of its defining module**
Attached the image
Please let me know if iam implementing this in a good way
I need to intercept Status codes like 400,401,404
Is this the right way ?
<img width="834" alt="Screen Shot 2021-01-06 at 1

[2021-01-05 22:53] designatednerd commented on #1607
Since this is a question I'm going to move it to Discussions

[2021-01-05 22:59] designatednerd commented on #1607
Welp GH seems to have temporarily disabled that feature so I guess we're staying here: The included interceptors themselves are not designed to be subclassed. You can create your own interceptors by conforming to the `ApolloInterceptor` protocol and then placing them in the array of interceptors created in the `InterceptorProvider` as you'd like.

However, in this particular case I'd look at addin

[2021-01-05 23:04] sam961 commented on #1607
Thanks @designatednerd  for your quick response.
So mainly I should benefit from the exisiting interceptors or create my own protocol as you stated.

I will take this path and handle our custom reponse code especialle 401 errors

[2021-01-05 23:19] designatednerd commented on #1607
Not your own protocol, your own class or struct conforming to one of the two protocols, `ApolloInterceptor` or `ApolloErrorInterceptor`

[2021-01-05 23:21] sam961 commented on #1607
Oh I wrote protocol by mistake.
Thank you Ellen

[2021-01-05 23:35] designatednerd commented on #1607
@sam961  In the future if you've got a question, please open it in the Discussions tab. I'm going to go ahead and close this issue out. Thank you!

[2021-01-05 23:35] #1607 closed

[2021-01-06 12:12] LinusU opened #1611 "Codegen not working on Apple Silicon / M1 without Rosetta"
## Bug report

The `run-bundled-codegen.sh` script uses a bundled copy of `node` which is an Intel binary. This means that it cannot run on the new M1 Macs (without Rosetta), and fails with the following message:

I believe that an easy fix is to upgrade the bundled Node.js version to a universal binary.

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version:

[2021-01-06 12:15] LinusU commented on #1611
If anyone needs a quick workaround, it can be solved by simply replacing the bundled Node with your system binary (e.g. the one installed via Brew):

[code]

[2021-01-06 21:20] Kevin94singh commented on #1496
Hey @designatednerd,

just got it working! I had to add a script before the Fastlane step and change stacks on Bitrise.

script:

[code]

[2021-01-07 04:36] designatednerd commented on #1611
I'd respectfully disagree with "not working" as it's working when using rosetta.

I'll take a look at what we can do about getting a silicon binary to run natively though.

[2021-01-07 05:32] designatednerd commented on #1496
weird! I wonder why you had to do that given that the script should be automatically deleting old versions. In any case, I'm glad to hear you got it figured out. Mind if we close this out?

[2021-01-07 11:40] LinusU commented on #1611
Sure thing 👍 I've updated the title

[2021-01-07 17:09] designatednerd commented on #1611
Yeah I think the overwhelming majority of folks are going to have rosetta installed, at least to start with.

Unfortunately most of what I'd need to take a look at is on our end around the packaging, but thank you for the offer!

[2021-01-08 04:45] piemonte commented on #564
for anyone that may come across this discussion, see `UserManagementInterceptor` here:

📎 https://www.apollographql.com/docs/ios/initialization/#example-advanced-client-setup

[2021-01-08 15:34] Narayane commented on #1422
Hi,

any progress on my problem?

It begins to be disturbing to be stuck in v0.33 since v0.39 is the current...

[2021-01-08 19:23] designatednerd commented on #564
Yep that's the current recommendation - this issue is from well before the current interceptor setup was created.

[2021-01-08 19:28] designatednerd commented on #1422
At this point the recommended workaround remains creating your own custom network interceptor and using the `RequestChainNetworkTransport` rather than creating your own network transport - this should work in almost all cases, I would love to hear any cases where it doesn't so I can fix whatever needs to be fixed to make that work.

This is definitely something that needs to be revisited but at th

[2021-01-10 14:38] MarcoCarnevali opened #1616 "Can't make any request"
## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.39.0
- Xcode version: 12.3
- Package manager: SPM

## Steps to reproduce
Attempting to create a new request after the session has been invalidated!
1. Follow Apollo start guide:
[code]
2. run the `callAPI` function
3. You will see an error on the console:
`ERROR:  Attempting to create a new request afte

[2021-01-10 19:56] designatednerd commented on #1616
You'll need to hang on to the `GraphQL` class somewhere, or it'll get hammered by ARC and the underlying session will be invalidated when it `deinit`s.

This is why in the tutorial it's set up as a singleton, but as long as you've got somewhere you're hanging on to it, you should be good to go.

[2021-01-10 21:19] MarcoCarnevali commented on #1616
@designatednerd I'll try that and let you know... thank you !

[2021-01-12 20:05] Lizard381 commented on #1496
We're also having a problem with apollo client: check in bitrise all of a sudden, where it isn't finding the graphql files. We switched to using npm for apollo when we moved to SPM, if we were to use run-bundled-codegen, where does that live in an SPM world @designatednerd?

[2021-01-12 20:21] designatednerd commented on #1496
@Lizard381 Check out the [SPM run script in this section of the setup docs](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step)

[2021-01-12 20:44] Lizard381 commented on #1496
I haven't been able to get the SPM run script to work from the terminal, it just hangs, which means it won't work in bitrise either.

[2021-01-12 20:51] designatednerd commented on #1496
So the script is not designed to be run directly from the terminal since it depends on several variables that are passed through from the Xcode project to figure out where the derived data is. It should be run as part of a Run Script Build Phase.

Not 100% sure why it would sit and spin instead of just erroring out, though.

[2021-01-14 15:36] RolandasRazma commented on #1333
@designatednerd

Does this rly help? Subscription on server is per connection. Simply reconnecting socket is not enough. Apollo lib needs to resubscribe. Or I'm missing something?

[2021-01-14 19:08] casey-chow opened #1622 "graphql-ws Protocol Support"
## Feature request

Enable support for the [graphql-ws](https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md) protocol so servers can leverage the security and maintenance improvements.

## Motivation

subscriptions-transport-ws has fallen into disrepair in recent years, and its successor, graphql-ws, introduces a completely new [protocol](https://github.com/enisdenjo/graphql-ws/blob/ma

[2021-01-14 20:22] designatednerd commented on #1622
Can you help me understand what changes to our existing websocket library would be necessary for this? I know we're working on trying to figure some things out with WebSockets, but I think if there's a way to make this doable without having to build a completely parallel architecture we should at least consider it.

If it _does_ require a completely parallel architecture that's a bit of a differen

[2021-01-14 23:28] designatednerd commented on #1616
@MarcoCarnevali Any progress here?

[2021-01-15 02:38] designatednerd commented on #1555
This shipped with 0.39.0!

[2021-01-15 02:38] #1555 closed

[2021-01-15 19:43] AnthonyMDev commented on #1540
I think that the `@key` directive is going to be "key" 😎  to making this work. There is a lot of thought that has to go into what this will look like. I'm not for or against implementing something along these lines currently, but until we have got the new Codegen more stabilized, anything along these lines probably isn't too feasible. Any detailed discussion of this until we are closer to a positi

[2021-01-18 08:10] din commented on #467
Are there any estimates on how long this might take to be implemented?

[2021-01-18 13:15] joshuarobs opened #1627 "Bigint support"
## Feature request

Support for big integers (8 byte numbers)

## Motivation

Some tables in the database (e.g. postgres) may have bigints as the id type, instead of other common types such as strings, integers (4 bytes) and UUIDs. I'm not exactly sure if the iOS app will crash or not, if it somehow receives a bigint, which it won't know what to do with. Maybe if the app does somehow work, it may

[2021-01-18 18:16] designatednerd commented on #1627
So `BigInt` would have to be set up as a [custom scalar](https://www.apollographql.com/docs/ios/fetching-queries/#notes-on-working-with-custom-scalars), since it's not a base type of GraphQL. If you use the linked library and `passthroughCustomScalars`, you should be able to use a `typealias` to convert whatever you're calling your custom scalar to that library's `BigInt`.

Because this setup vari

[2021-01-18 18:18] designatednerd commented on #467
I mean, there _are_ estimates, it's just that every single one I've had has been comically wrong. 🙃

That said, while new codegen has been been stop and go for some time, we're hoping to get rolling in a more permanent fashion shortly. I will update this when there's an alpha to try out.

[2021-01-19 00:40] malonehedges commented on #1540
If you type your GraphQL id's, isn't this already possible? Make the id of a user a custom scalar type UserID, then do the normal Apollo decoding to make it into a Tagged type?

[code]

[2021-01-19 00:57] designatednerd commented on #1540
It's certainly possible if you use custom scalars for each individual `ID` type, yes.

I think @Mordil is talking about doing this as a wrapper around default `GraphQLID`s that the rest of your graph would not already be required to use, though.

[2021-01-19 02:08] Mordil commented on #1540
Yes, but also that several scalars are just being generated as `String` rather than a distinct type of its own that wraps a string.

For example:

[code]
is always translated as a `String` property, rather than a unique type of `NaiveDateTime`

Is this a codegen or schema issue?

[2021-01-19 08:25] asifiosdeveloper opened #1628 "Cannot convert value of type"

[2021-01-19 13:37] #1628 closed

[2021-01-19 16:50] designatednerd commented on #1540
@Mordil Are you using `passthroughCustomScalars`?

[2021-01-20 03:25] Mordil commented on #1540
Ah, looks like we aren't. We're using the default value of `.none` in the codegen settings.

I'll try that out!

[2021-01-20 15:58] francybiga commented on #914
I also noticed that globbing (as suggested by [Apollo docs](https://www.apollographql.com/docs/ios/installation/#prevent-unnecessary-recompilation) isn't working as expected (I'm using Xcode-12.3). I managed to obtain the desired result generating an `xcfilelist` and using it instead.

Also note that, as explained in this [WWDC video](https://developer.apple.com/videos/play/wwdc2018/408/), `xcfile

[2021-01-21 16:43] designatednerd commented on #914
Yeah i'm ages behind in updating this, thanks for the poke and for the detailed info!

[2021-01-22 04:07] designatednerd commented on #1627
@joshuarobs Any further thoughts here, or do you mind if I close this out?

[2021-01-22 04:08] designatednerd commented on #1616
Since I haven't heard back in a week and it very much seems like an ARC issue, I'm going to close this issue out. @MarcoCarnevali feel free to reopen with more detail if you're still having trouble; anyone else experiencing a similar problem that's not able to resolve it by checking that `ApolloClient` is actually being retained somewhere, please open a new issue.

[2021-01-22 04:08] #1616 closed

[2021-01-22 21:03] casey-chow commented on #1622
Here's a quick'n'dirty mapping of the two protocols based on their protocol documents:

| Direction        | subscriptions-transport-ws                                                                                                                                                                                                                                          | graphql-ws

[2021-01-22 21:35] designatednerd commented on #1622
OK. The next step would probably be finding a `GraphQL-ws` server we can write tests against, since our sample server is using Apollo Server and therefore `subscriptions-transport-ws`. Do you have any thoughts on how that would work to set up?

[2021-01-22 22:05] casey-chow commented on #1622
If you point me towards the existing server I'd be more than happy to put together the `graphql-ws` version in a fork!

[2021-01-22 23:02] designatednerd commented on #1622
Here ya go: https://github.com/apollographql/starwars-server

[2021-01-26 12:44] joshuarobs commented on #1627
@designatednerd You can close this out

[2021-01-26 14:28] euirim opened #1642 "GET queries include a Content-Type: application/json header"
## Bug report

After using the `useGETForQueries` option, the ApolloClient's requests include `Content-Type: application/json` header that triggers a `"POST body sent invalid JSON"` 400 error. Querying the URL used by the client without a request body and this header results in a successful 200 response. I think this is a bug, but I may be wrong and this could be expected behavior (noob to iOS dev

[2021-01-26 16:40] #1627 closed

[2021-01-27 01:35] designatednerd commented on #1642
Interesting! I guess this is technically a bug, we just haven't seen any issues with this previously since even though we're sending the header we aren't actually sending the body, and it appears most servers will ignore that if there is no body.

What server are you using?

[2021-01-27 11:53] euirim commented on #1642
Graphene-Python.

[2021-01-27 20:07] designatednerd commented on #1642
I will fix this the next time I have a little time to poke at bugs (because as I said, this is technically incorrect) but you've already found my suggestion for a workaround :)

[2021-01-29 11:50] Narayane commented on #1422
@designatednerd Ok, I don't have time for the moment but I would try.

I have another problem with last Xcode version 12.4 now in function signature which don't have with previous.

![Capture d’écran 2021-01-29 à 12 47 20](https://user-images.githubusercontent.com/4921308/106271925-812b8f80-6230-11eb-90eb-9094e84e4433.png)

Could you help me?

[2021-01-29 23:06] scfonowy opened #1645 "Make operationName a Type property"
## Feature request

We would like to be able to access the `operationName` of a GraphQL operation given just the type of the operation. We're happy to spend time creating a PR for this, but want to make sure it makes sense as a feature request. 😄

## Motivation

- Our understanding is that `operationName` will be the same across all instances of a `GraphQLOperation`, so we think it would be a good

[2021-01-31 18:49] designatednerd commented on #1645
🤔 I believe the operation name is always generated as a raw string without any kind of interpolation, so I don't think there's any real reason for this not to work.

Fair warning that to make this work at the moment you'd need to dive into [the typescript codegen](https://github.com/apollographql/apollo-tooling/tree/master/packages/apollo-codegen-swift) which is...in the process of being replaced.

[2021-02-01 06:56] Dara-To commented on #467
I have decided to go with Apollo to pair with Contentful as you can fetch nested data in a single query. However, I have hit a couple of roadblocks because of the missing decodable protocol conformity. The workaround I applied was to create another data model on top of the generated one in API.swift which defeats the purpose I must say. But on the plus side, I was able to unwrap optional them.

No

[2021-02-01 21:45] designatednerd commented on #467
Yes, these are still not decodable out of the box - we're still working on new codegen (and will be for a bit). In theory you should be able to deal with nested data using our code generation, though.

[2021-02-01 22:33] ketenshi commented on #1422
Hi all,

Is there a recommended way to deal with the subscriptions from the `WebSocketTransport` not publishing to the store?

[2021-02-02 00:33] designatednerd commented on #1422
@Narayane I don't have an example, but if you look at how the default network intercept provider is set up, you'll see it's fairly simple.

@ketenshi That's a more complicated issue, unfortunately - we don't presently have a recommended workaround but i'm working on some thoughts around it.

[2021-02-02 03:11] pavm035 opened #1647 "How does this caching works with subscription and mutation?"
## Question

Hi i'm new to this graphql and apollo client SDK,
Platform: iOS

I'm trying to use SQLite caching to store the server data in my disk so when user launch the app again we need to show the cached data immediately followed by api calls through subscriptions, but i'm not sure how to fetch cached data for subscriptions i went through apollo documentation but i didn't see anything specific

[2021-02-02 04:25] designatednerd commented on #1647
Converting to discussion since this is a question!

[2021-02-02 04:25] #1647 closed

[2021-02-02 15:25] Dara-To commented on #467
I wasn't able to use a collection in a List or ForEach, I don't know why. It says that it doesn't conform to random access collection, something like that.

[2021-02-02 16:52] designatednerd commented on #467
I think that's likely to do more with the lack of conformance for either `Hashable`, `Equatable`, or both. That is definitely something we're planning on addressing.

[2021-02-03 03:24] designatednerd commented on #1642
Fix has shipped with `0.41.0`

[2021-02-03 03:24] #1642 closed

[2021-02-05 14:51] zebganzo opened #1651 "Frozen UI while fetching"
## Bug report

I'm working on the integration of the Apollo client in our app, migrating from a networking layer that was based on "old fashion" POST requests. I'm facing some issues because the app freezes while performing fetch operations via the Apollo SDK.

## Versions

Please fill in the versions you're currently using:

- `apollo-ios` SDK version: 0.38.3
- Xcode version: 12.4
- Swift version

[2021-02-05 19:24] AnthonyMDev commented on #1651
Thanks for the great explanation of your issue. Are you creating your own `NetworkTransport` object, or are you just initializing the `ApolloClient` with `.init(url:)`? If you have created your own `NetworkTransport` it could be a bug there, or there might be a bug in our default `NetworkTransport` object otherwise.

[2021-02-06 00:28] GyroJoe commented on #205
It's now possible to implement this relatively easily with the new `Interceptor` chain infrastructure.

Just wrap the `LegacyCacheWriteInterceptor` and skip calling it for responses you don't want to cache.

Something like this:
[code]

Maybe this could be integrated into `LegacyCacheWriteInterceptor` with a constructor parameter to customize?

[2021-02-07 18:18] zebganzo commented on #1651
Nothing fancy over here:

[code]

[2021-02-08 19:52] AnthonyMDev commented on #1651
Alright, thanks for the info. I'll look into this today, but @designatednerd knows better than I do how the networking layer works right now. She's out for a few more days, so if I don't figure it out then I'll get her to look at it later this week.

[2021-02-08 20:09] AnthonyMDev commented on #1651
Can you set up a breakpoint in the `RequestChainNetworkTransport.send()` function for me and verify if that function is being called on the main thread? If `send()` is being called on a background thread, then we must be dispatching back to main accidentally somewhere. Trying to track down exactly where it moves to the main thread, so if you could help trace that back for me, it would make it easi

[2021-02-09 06:32] winstondu opened #1652 "iOS client not properly escaping "+" sign when using GET for queries"
## Bug report

When strings are an input variable to a query, that input is not correctly sent to the server. In particular, "+" characters are changed into " " characters when converting into the GET query.

See: https://stackoverflow.com/a/24888789/7612797

We had a very simple query our graphQL server was supporting.
[code]

Often, the `$phone` variable may include a "+" sign in front (e.g. "+1

[2021-02-09 11:58] zebganzo commented on #1651
Thanks for your time, unfortunately, the difference of timezones is not making this back and forth very smooth.
It's quite a blocker for us for the next release. At the same time, it sounds like a critical bug to me.

Here you are with the screenshot of the breakpoint:

<img width="996" alt="Screenshot 2021-02-09 at 12 55 27" src="https://user-images.githubusercontent.com/3023626/107360556-67166a8

[2021-02-09 15:14] zebganzo commented on #1651
I think the ~~issue~~ opportunity for improvement is in the `NetworkFetchInterceptor.interceptAsync` method, which is how a `RequestChain` is moved around from intercept to intercept (if I understood correctly). The completion handler of the `self.client.sendRequest(urlRequest)` is executed in the main thread.

Digging into the `URLSessionClient` class. The `session` is initialised in this way:
[c

[2021-02-09 15:29] zebganzo commented on #1651
On the other side, the app started crashing because of memory issues (it probably touched the 2GB of memory limit).

This is the graph of the app running with the change of the code above (1,65GB):

<img width="591" alt="Screenshot 2021-02-09 at 16 26 10" src="https://user-images.githubusercontent.com/3023626/107386028-bfa83080-6af3-11eb-9295-484c6e295c91.png">

The app without those couple of lin

[2021-02-09 19:23] AnthonyMDev commented on #1651
I'm glad you figured it out! Sorry about the timezone difference making it difficult to work on this.

I'd like to chat with @designatednerd this week about if we want to change the default here to be a background queue.

As for your memory issues, that is definitely an odd problem. Are you fetching a massive amount of data all at once? I can't imagine what would cause Apollo to use 500 MB of memo

[2021-02-09 20:09] zebganzo commented on #1651
Not really. It's quite some data, but it's all JSON. And the difference between Apollo and non-Apollo is massive. I'll keep digging into it and then, in case, I'll open another ticket.

[2021-02-09 20:14] AnthonyMDev commented on #1651
Okay, would definitely want to look into this with a different ticket. If you can post some memory analysis of what objects are being allocated and talking up all that space, we can start to dig!

[2021-02-09 21:20] AnthonyMDev commented on #1652
Thanks for bringing this to our attention. I'm working on a PR to correct this right now!

[2021-02-09 21:32] AnthonyMDev commented on #1652
@winstondu I've pushed up PR #1653 to fix this. Would you mind applying the fix locally and testing to confirm this fixes your issue? Assuming it does, we will push a new patch version with this fix in the next few days!

[2021-02-09 23:30] winstondu commented on #1652
@AnthonyMDev , it does not. I suspect there also needs to be a corresponding fix to the ApolloServer library to add decoding. The server now sees the string as a "%2b".

[2021-02-09 23:33] AnthonyMDev commented on #1652
Ahhhh, that's not great... haha. I was hoping it was just a simple client side fix. I'll have to get someone from our server team involved to see what the correct behavior for this is.

[2021-02-10 17:46] designatednerd commented on #205
Hi, thanks for sharing this! I would not recommend holding on to a reference to another interceptor because that could cause some retain cycle weirdness, but in general yes, you can do this.

I'd strongly recommend using your own interceptor to do this - the main reason being that different apps are going to have different policies on precisely what errors should cause something not to be written

[2021-02-10 17:54] designatednerd commented on #1651
@zebganzo Looks like you found the place where you can set this up to call back to a background queue. Do you mind if we close this issue out? We'll keep an eye out for your other ticket.

[2021-02-10 22:49] designatednerd commented on #1652
@winstondu I took another stab at it - I think maybe percent encoding the parameter before getting to the query level might do it. Can you pull that branch again and give it another shot?

[2021-02-11 04:59] winstondu commented on #1652
@designatednerd , this was actually what I tried to do as a workaround, but unfortunately the server just sees it as "%2b". It doesn't decode it at all.

[2021-02-11 05:18] designatednerd commented on #1652
wait, i thought you were saying that it was seeing `%2B` with @AnthonyMDev's original fix - or is it showing up as `%2B` in both places?

[2021-02-11 05:25] winstondu commented on #1652
@designatednerd , I will need to test your fix, but it looks substantially similar to something I tried before reporting the issue, and the server saw `%2B` instead of `+`

[2021-02-11 08:46] zebganzo commented on #1651
Hi @designatednerd, absolutely, fine for me. I would anyway consider changing that default main queue.

(Kate C from Berlin says hi!)

[2021-02-11 08:46] #1651 closed

[2021-02-11 17:01] designatednerd commented on #1651
Hi back @kcastellano!

[2021-02-11 17:05] designatednerd commented on #1652
OK - would appreciate it if you could confirm what you're seeing when using the double-encoded property - that'll help.

[2021-02-12 11:11] ghdany commented on #747
For me wrong schema downloaded.
Wrong: apollo schema:download --endpoint=YOUR_SERVER_URL/graphql schema.json
Right: apollo schema:download --endpoint=YOUR_SERVER_URL/query schema.json

[2021-02-15 09:14] m1entus commented on #1376
It is crashing for me for Apollo 0.38.3 - maybe because of cancelling the task?
![Zrzut ekranu 2021-02-15 o 10 11 12](https://user-images.githubusercontent.com/1565368/107926848-83068a00-6f76-11eb-8a8d-ce8e61418aa4.png)

[2021-02-15 11:52] Narayane commented on #1422
@designatednerd

https://github.com/apollographql/apollo-ios/blob/main/Sources/Apollo/NetworkFetchInterceptor.swift

[code]

In my previous implementation of `NetworkTransport`, I could make out cases like _not an httpResponse_ (client or server timeout), _no data_ and all httpResponse status codes to determine precisely what kind of error it was.
I guess I can make out anymore now, with this exam

[2021-02-15 16:43] designatednerd commented on #1376
That's certainly possible, but since this is an `assertionFailure` rather than a `fatalError`, it will only crash in development and not in production.

[2021-02-15 16:52] designatednerd commented on #1422
If you're using our `URLSessionClient`, it will return [a specific error](https://github.com/apollographql/apollo-ios/blob/b89f7c309adb72e75c17d5f8d80970ade2e0d168/Sources/Apollo/URLSessionClient.swift#L17) if no `HTTPURLResponse` is returned (the `TaskData` object does the work of [checking if it's an `HTTPURLResponse`](https://github.com/apollographql/apollo-ios/blob/b89f7c309adb72e75c17d5f8d809

[2021-02-15 17:53] Narayane commented on #1422
I don't know if I am currently using an `URLSessionClient`. In my code, I just instantiate an `ApolloClient` with an `ApolloStore` and a custom `NetworkTransport`.

[code]

Your other answers helps me.

[2021-02-15 18:18] designatednerd commented on #1422
You are not if you're providing the alternate network transport.

[2021-02-15 18:56] designatednerd commented on #1652
Hey @winstondu were you able to confirm what you get when you're using the double-encoded property? Thank you!

[2021-02-15 19:01] winstondu commented on #1652
I will test right now.

[2021-02-15 19:20] winstondu commented on #1652
@designatednerd , yup, when I log what I receive from the resolver , the server receives `%2B` in the corresponding graphQL resolver instead of `+`.

We're using `apollo-server-express` at `2.17.0`.

[2021-02-15 19:27] designatednerd commented on #1652
Interesting that it gets the same thing whether it's single or double encoded! I'll talk to server folk and get back to you.

[2021-02-15 19:32] winstondu commented on #1652
Thanks. I appreciate it. Again, it's only for GET queries. (POST works fine)

[2021-02-15 20:38] designatednerd opened #1658 "RFC: Swap out SQLite dependency"
`SQLite.swift` does not appear to still be actively developed, as it hasn't [received a new commit for the last year](https://github.com/stephencelis/SQLite.swift). We'd like to make sure we're using something that gets updates reasonably often, so I propose moving us to a different underlying SQLite dependency.

There are two big ones I can think of: [`FMDB`](https://github.com/ccgus/fmdb) and [`

[2021-02-16 00:38] designatednerd commented on #1652
yeah there's something goofy going on with the URL encoding, I'm not super-sure what though

[2021-02-16 00:39] designatednerd commented on #1030
Took a second stab with #1659, if anyone on this thread has thoughts on the issue I ran into but couldn't figure out, would love to hear them!

[2021-02-16 07:42] groue commented on #1658
Hello, I'm the maintainer of GRDB. Thanks for considering using it!

Applications can depend on both SQLite.swift and a future Apollo+GRDB without any conflict.

Now, mixing both the system SQLite and SQLCipher in a single binary is a recurrent pain point. The problem is that both libraries expose the same C symbols, and this trips up the linker. In an ideal world, Apollo would accept both, so tha

[2021-02-16 14:16] Narayane commented on #1422
Is it ok if I follow [this](https://www.apollographql.com/docs/ios/initialization/#example-network-singleton-setup) to make evolve the way I build my custom Apollo Client for resolving my watchers trigger problems with v0.34+?

[2021-02-16 16:33] zebganzo opened #1662 "App crashing because of high memory usage"
## Bug report

Hi there! As a follow up of another [bug](https://github.com/apollographql/apollo-ios/issues/1651) reported, @blizzd and I have gathered some info about the high memory usage when fetching the items.

## Versions

- apollo-ios SDK version: 0.38.3
- Xcode version: 12.4
- Swift version: Swift 5
- Package manager: CocoaPods

## Further details

Hi Apollo team!

I'm working on the integ

[2021-02-16 16:36] designatednerd commented on #1422
I'm not quite sure what the question is here - that is currently the recommended setup. Can you clarify a bit what the question is?

[2021-02-16 16:40] blizzd commented on #1662
Here are some more precise stacks.
![PossiblyDeferred_swift2](https://user-images.githubusercontent.com/2085575/108093421-ffd05b80-707d-11eb-93f5-a704a0009a66.png)
![PossiblyDeferred_swift1](https://user-images.githubusercontent.com/2085575/108093438-02cb4c00-707e-11eb-93f5-54dc9d690a9a.png)
![GraphQLExecutor_swift](https://user-images.githubusercontent.com/2085575/108093451-06f76980-707e-11eb-82a

[2021-02-16 17:10] designatednerd commented on #1662
Hm, that stack trace for a deferred operation definitely seems odd, since theoretically the thunk shouldn't be recursively calling `get`, and definitely something VERY goofy going on if there's 121k `Node` objects, which theoretically should be quickly gotten rid of.

We'll look into it, thank you!

[2021-02-16 17:33] eliperkins commented on #1658
Sweet! 👍  Given how modular using these stores are, migrating the Apollo-specific solution to another SQLite library seems completely fair to me!

We're using SQLite.swift in other parts of GitHub for iOS, where we need simple tables of data but don't need all the glitz and glamour of Core Data.

Reiterating the earlier point, all of these bits are pretty modular anyway, so swapping out the databa

[2021-02-16 18:14] AnthonyMDev commented on #1658
@eliperkins I've thought pretty extensively about integrating CoreData since I joined the Apollo team. It's doable, but it kind of works against the whole idea of GraphQL, to the point where I don't think it's valuable.

With GraphQL queries, you are usually fetching only the needed fields from an entity at any given time. (One of the big benefits of GraphQL is that it helps prevent overfetching.)

[2021-02-16 18:20] eliperkins commented on #1658
Oh, I really only meant a Core Data implementation of [`NormalizedCache`](https://github.com/apollographql/apollo-ios/blob/b89f7c309adb72e75c17d5f8d80970ade2e0d168/Sources/Apollo/NormalizedCache.swift) with the same SQL-ish structure of a single `Record` entity, [just as the current SQLite implementation has](https://github.com/apollographql/apollo-ios/blob/b89f7c309adb72e75c17d5f8d80970ade2e0d168

[2021-02-16 18:23] designatednerd commented on #1658
@eliperkins Completely reasonable question! I think it comes down to the fact that Core Data is a relational abstraction that maps onto a database rather than a relational database itself. Even though in practice it's mostly used with an underlying SQLite database, that isn't absolutely necessary. It's concentrated on figuring out how things are related, and abstracts all the actual work to fetch

[2021-02-16 18:56] designatednerd commented on #1658
I think there's a lot of reasons, not least that SQLite is heavily supported elsewhere, so you get things like "Someone wrote an encryption layer for this!" without us having to do anything. I think there's certainly room for other implementations if you find them to be more efficient, but from a standpoint of what we can realistically maintain for everyone, SQLite seems like a good place to start

[2021-02-16 20:34] designatednerd commented on #1662
One thing @martijnwalraven pointed out about the `PossiblyDeferred` structure is that every single field on an object will return a `PossiblyDeferred`, which is probably why you're seeing so many calls to `get()` there.

In regard to the many many `Node` instances, there definitely may be a lot - as @martijnwalraven put it to me:

And it does sound like you have a fair number of nested objects in

[2021-02-17 10:37] benoitletondor commented on #1422
@designatednerd

Taking the occasion to jump again on the conversation. Please let me know when you have news around the `WebSocketTransport` not publishing into the store bug, this is the last one preventing us from using the latest versions.

Many thanks!

[2021-02-17 12:13] zebganzo commented on #1662
Hi @designatednerd!

It is indeed nested, here is the `graphql` [file](https://github.com/apollographql/apollo-ios/files/5995531/Sale.graphql.zip).

Let me try to reply to your questions.

- there was no specific breakpoint, we pressed pause once noticed the memory leak and then dug into the threads
- the app needs to work offline, so we have to synch the local database with the remote one. This ~

[2021-02-17 14:32] m1entus commented on #1376
Yeah sure, but if we are deploing dev version to testers they have this kind of crash :< btw i think potential solution is that cancel, should cancel the task first and then remove it from tasks inside:

[code]

[2021-02-17 16:37] blizzd commented on #1662
Hi @designatednerd !

I hope to add some valuable insight in this. I may have found the reason why the memory does not get free.
This also made me dive a bit deeper :
![RetainCycle-GraphQLSelection](https://user-images.githubusercontent.com/2085575/108235074-c5ca8c80-7145-11eb-894e-e5583bb1f050.png)

Now, it looks like your `Zip3Accumulator` which is using `GraphQLResultAccumulator`
`GraphQLResult

[2021-02-17 18:33] designatednerd commented on #1422
Planning on tackling this soon!

[2021-02-17 18:50] designatednerd commented on #1376
🤔 My recollection is we tried to do it the opposite way before but it was causing _way_ more problems because the task would get cancelled before it was removed from the list of tasks, but I'd be curious to hear if flipping it solves your problem?

[2021-02-17 19:26] designatednerd commented on #1662
Associated **objects** (which are what's being used with enums, and what that SO link is about) and associated **types** (which are generally used with generic protocols, and what we're dealing with here) are two different things.

However, we'll definitely take a deeper look at the memory implications of these zip functions, particularly because I think there may be some `zip` functions we can ta

[2021-02-17 19:29] designatednerd commented on #1662
Honestly, this would probably be the most helpful option because we can then see _exactly_ what's going on. A call is an option but it sounds like this is buried pretty deep into things.

Have you tried to flush to Realm after each 300-item parse is done rather than waiting for all 1500 items to show up?

[2021-02-17 20:11] m1entus commented on #1376
I was only guessing, this is very random for me unfortunately :/

[2021-02-17 20:24] miradesne commented on #1658
I'm working on an app and using SQLite.swift because I saw Apollo using it. Now reading https://github.com/stephencelis/SQLite.swift/issues/1031#issuecomment-726924306 I'm a bit concerned if I should keep using SQLite.swift. For people that use ApolloSQLite -- have you had any issues with App Store submission?

[2021-02-17 21:11] designatednerd commented on #1658
I haven't heard of any trouble with App Store submission. And people are not shy about telling me their troubles.😜

[2021-02-17 22:12] m1entus commented on #1376
btw. what about checking if dataTask state == .cancelled and then asserting if not?

[2021-02-17 22:27] designatednerd commented on #1376
I'm not sure how that would help - the assertion exists right now in the function that adds data to the task, but it's checking to ensure a task is actually in the dictionary before doing anything. Adding an assert for something that was cancelled would still cause your same problem.

Honestly, I'd strongly recommend using TestFlight (which IIRC uses builds signed for release) rather than sending

[2021-02-17 23:40] javierupstack opened #1664 "Using Custom Directive Schema in iOS client, something like @product."
## Bug report

We've implemented our own Custom Directive Schema and we try use it on iOS.

## Versions

- `apollo-ios` SDK version: Up to Next Major = 0.41.0
- Xcode version: Version 12.4 (12D4e)
- Swift version: 5.0
- Package manager: SPM on  https://github.com/apollographql/apollo-ios

## Steps to reproduce

Our graphql query is working perfectly with postman:
[code]
In iOS we are using the fol

[2021-02-18 00:29] designatednerd commented on #1664
Right now we do not support custom directives for iOS code generation. We're hoping to be able to support it in the future, but it is not there yet.

TBH it also looks like you're using them in a way I haven't seen before, where you're using the custom directive as the API key rather than as some sort of supplement to your code. This is a structure I'm more familiar with:

[code]

And I think that

[2021-02-18 00:36] javiertile commented on #1664
Thanks @designatednerd

[2021-02-18 03:17] designatednerd commented on #1664
Is there anything else I can help with here, or do you mind if we close this issue out at the moment since this usage is unsupported?

[2021-02-18 04:51] crashtech commented on #1664
Hey there! I'm helping with this project. How hard it would be to implement a passthrough for this directive? Its purpose is server-only. When we do `query @product(key: "vpn")` (works with mutation and subscription) it provides access to a specific subpart of the application. We thought about using a field like `product(key: "vpn") { ... }` but that would require us to have the same field impleme

[2021-02-18 05:01] designatednerd commented on #1664
The biggest issue is that iOS doesn't support custom directives, so this just flat out won't work with the way we generate code.

Can you clarify what you mean here? What three operations are you referencing?

[2021-02-18 05:10] crashtech commented on #1664
The operations are `query`, `mutation`, and `subscribe`. Since each of them has its own type, the `product` field would have to be implemented in each one of them and it would be a bit weird for mutations.

It would not be possible to make it ignore custom directives? I know that by having them implemented, Apollo can save processing by smart associating requests and performing the directives with

[2021-02-18 05:37] designatednerd commented on #1664
It's not that simple:

- Our parser is not recognizing the setup you're using here, it's just erroring out.
- Even if it did parse, we generate strongly-typed code based on operations for iOS, we can't just "throw it to the server" because our codegen wouldn't understand how to generate something for it.
- I've seriously got no idea what you're talking about with "smart associating requests" - can

[2021-02-18 10:15] m1entus commented on #1376
But if you wil llook on line URLSessionClient:198 `// No completion blocks, the task has likely been cancelled. Bail out.` you already saing that if task is cancelled then would be removed from `tasks`. so anyway in `func urlSession(_ session: URLSession, dataTask: URLSessionDataTask, didReceive data: Data)` you should append additional data only if dataTask.state != .cancelling - then assertion w

[2021-02-18 17:02] designatednerd commented on #1664
Ran this past some coworkers and they suggested your syntax for adding the name of the query is not correct - this should at least parse:

[code]

[2021-02-18 17:02] zebganzo commented on #1662
@designatednerd where can I send you the project? I have created a fake one that only fetches the items. No (cool) UI,  no Realm, etc.

The app went up to 2.28GB of meemory.

[2021-02-18 17:10] designatednerd commented on #1662
ellen at apollographql dot com. Thank you!

[2021-02-18 17:16] designatednerd commented on #1376
The comment you're referring to is in `didCompleteWithError` rather than `didReceive data`.

It's reasonable to expect something that's been cancelled to call into a method that's around cancellation. In theory if the task has been cancelled, it should no longer be calling back into `didReceive data`. I'd be curious to hear if you throw a breakpoint in at the assertion failure what the state of th

[2021-02-18 17:20] m1entus commented on #1376
Yes this was exacly what i did - i triggered breakpoint or actually assertion triggers and state was == 2 so it was cancelled - thats why i wrote about this in lasy comment.

[2021-02-18 18:59] crashtech commented on #1664
Yup. This is the right syntax. The name of the query is not necessary, but that is what we are trying to achieve. And that should not impact the client on anything. It is just telling the server where to get the data. Something like `@readFromDb(name: "replica")`. The client does not need to do anything about that, and the types inside are just available as described in the schema. Maybe even some

[2021-02-18 20:19] designatednerd commented on #1664
The name of the query is not strictly necessary under GraphQL, but it is necessary for our code generation so we can generate a class with the proper name.

Making that change, are you at least able to generate code?

[2021-02-18 20:21] designatednerd commented on #910
Since I haven't heard back for quite some time on this, I'm going to close this out since #205 basically covers this same ground. Thank you!

[2021-02-18 20:21] #910 closed

[2021-02-18 20:38] designatednerd commented on #362
We recently added a very basic way to [delete individual objects from the store](https://www.apollographql.com/docs/ios/caching/#delete).

We do definitely need to do way more than that in the long term (for example addressing #142 about adding cache eviction and expiration), but that does at least solve the issue in this particular ticket, so I'm going to close it out.

[2021-02-18 20:38] #362 closed

[2021-02-19 02:22] qwkuah opened #1668 "graphQL response omits returning field causes missingValue error"
My graphql schema has a field which is nullable
transactionList: [Transaction!]

however when the graphql server omits "transactionList" field from the response, i get missingValue error.

From researching, it seems like omitting fields where fields are nullable is possible in graphql. Rightfully it should default to null. https://stackoverflow.com/questions/54977637/is-it-ok-to-omit-returning-fie

[2021-02-19 04:03] designatednerd commented on #1376
Great, that's super-helpful to know, I can make some changes tomorrow that take this into account. Thank you!

[2021-02-19 05:01] designatednerd commented on #1668
Poking around a bit in the code, it looks like parsing for iOS is set up so that you do have to explicitly pass `null` back rather than just omitting the field.

One thing to be aware of with using GraphQL with code generation into a type safe language in general is that there are a number of things that are perfectly legal GraphQL, but are very, very difficult to represent in a type-safe fashion.

[2021-02-19 07:33] mustafaysil opened #1671 "Naming Convention in Fragment"
## Question
Is it possible manually customising coding keys or naming convention fragment in variable name ?

I want to customize fragment in variable name. There are many different naming convention our backend team but I just want to use one naming convention.

For example:

[code]
as you can see in the example **_lastName** has an prefix an underscore. How can i change it to **lastName** ? I wa

[2021-02-19 07:34] m1entus commented on #1376
Cool thanks!

[2021-02-19 07:58] bartjacobs opened #1672 "Requests Time Out on iOS 11 and 12"
## Bug report

We are in the middle of updating Apollo from version **0.19.1** to version **0.39.0**. Since the minimum deployment target of the project is set to **iOS 11**, we are not able to upgrade to version **0.40.0** or later.

We are experiencing timeouts (error code **-1001**) on **iOS 11 and 12**, not on **iOS 13 and 14**. Requests complete successfully on iOS 11 and 12 up until the clie

[2021-02-19 13:33] zebganzo commented on #1662
Thanks Ellen!

I set it up in a way that it has only the bare minimum logic from my side and then the Apollo client. It has reproduced the same behaviours and memory usage and computational stress.

![Screenshot 2021-02-19 at 10 26 24](https://user-images.githubusercontent.com/3023626/108501131-1c080e80-72b1-11eb-8587-f8d582175849.png)
![Screenshot 2021-02-19 at 10 26 35](https://user-images.githu

[2021-02-19 19:50] javierupstack commented on #1664
Thanks @designatednerd the codegen script works now with:
[code]
At least now we need to figure out another issue:
[code]

[2021-02-20 17:46] designatednerd commented on #1671
Migrating to a discussion since this is a question rather than an issue

[2021-02-20 17:46] #1671 closed

[2021-02-20 17:47] designatednerd commented on #1662
Great, thank you, I got your email and I'll look at this Monday!

[2021-02-20 17:55] designatednerd commented on #1672
For what it's worth every device that can run iOS 11 can also run iOS 12 - this is why we dropped 11 support (and also why Apple annoys you every time there's an Xcode update to make your min SDK 12).

So yes, this behavior is quite weird, I haven't heard of anything remotely similar. There's not any cert pinning by default in `URLSessionClient` so I don't think that's going to be the issue. I'm n