[2019-01-15 15:46] halonsoluis opened #436 "Make GraphQLResult initialisers public"
Currently there's no way of creating a `GraphQLResult` due to every initialiser being internal.

[code]

Fails with message _Cannot convert value of type 'Query.Data?' to expected argument type '_?'_

and

`try GraphQLResponse(operation: query, body: json).parseResult()`

Fails due to `parseResult()` being internal

Reading the threads it's clear to me that at least one of those methods was public

[2019-01-15 20:45] diegorozen commented on #435
Thanks @martijnwalraven

Created a PR with your suggested changes

https://github.com/apollographql/apollo-ios/pull/437

[2019-01-16 10:06] mrrhysbutler commented on #386
Is there any update on this?

[2019-01-16 10:08] daoseng33 commented on #23
Remember to import Apollo and conform "JSONDecodable", not inherit "JSONDecoder"...
(I'm stuck for this for an hour... such a fool 😭)

[2019-01-16 17:31] #435 closed

[2019-01-17 12:38] wtrocki commented on #37
@MaxDesiatov Library is amazing and it is been used quite extensively from what I see. Are you open for collaboration on this? As chances to get this functionality to core is fairly limited maybe we could move that to some aggregator where more developers can join and actively maintain it. This will be also great way to discover it (which is why I think now we still have so many PR's to the core t

[2019-01-17 12:44] MaxDesiatov commented on #37
Sure, that's quite reasonable, I wouldn't mind having something like apollo-community and would greatly appreciate if it was somehow linked. Look forward to hearing more details on how this organization would be governed and if there are any additional criteria or requirements.

[2019-01-20 23:47] vlad57 opened #438 "API.swift file is empty"
iOS: 12.1
Xcode: 10.1
Swift: 4.2

Hi guys,

I have a problem with the implementation of Apollo. I tried 3 days with success, but when I tried with the new project I failed. I can generate de API.swift file when I'm building the first time but when I'm adding *.graphql files it doesn't generate the code in API.swift from *.graphql files.

I attach the screenshots with my configuration.

Thanks by a

[2019-01-21 02:57] paulmelnikow commented on #438
Probably it’s not finding your graphql files. Are they inside the folder for your target?

[2019-01-21 10:02] vlad57 commented on #438
That's right. I left them at the root of directory, I forgot to put them in the target directory...

Thank you very much !

[2019-01-21 10:02] #438 closed

[2019-01-21 10:15] gridNA opened #439 "Security vulnerabilities in package-lock.json"
Zalando team is using the Apollo client for the iOS app, and lately we started to receive vulnerabilities warning from GitHub located in package-lock.json:
Suggesting to update:
cryptiles ~> 4.1.2
hoek ~> 4.2.1
lodash ~> 4.17.5
randomatic ~> 3.0.0
sshpk ~> 1.13.2

Please take a look as we can not have issues according to our GDPR policies.

Thanks,
Kate

[2019-01-22 07:34] Eldhopj opened #440 "Cannot read property 'getMutationType' of undefined"
[code]
Getting this error
i researched a bit about it and i gone through many steps as per mentioned in internet
1. Moving schema.json file into the place where AppDelegate lies
2. `sudo npm install --save graphql` Updating graphQl dependencies
3. And i upgraded my apollo to using `sudo npm install -g apollo@2.1.8 ` and i checked it **apollo/2.1.8 darwin-x64 node-v10.14.2** (checked from the proje

[2019-01-22 17:46] jordanhbuiltbyhq opened #441 "Installing via CocoaPods: Undefined symbols for architecture x86_64"
1. Create a new Objective-C macOS project using Xcode 10
2. Add Podfile
3. pod install
4. Open workspace
5. Build app

Result: linker command failed with exit code 1

[code]

[2019-01-22 18:41] paulmelnikow commented on #441
Are you having this problem with other pods too, e.g. Alamofire or PromiseKit?

[2019-01-22 18:42] paulmelnikow commented on #440
Is that message followed with a stack trace?

[2019-01-22 18:46] jordanhbuiltbyhq commented on #441
I haven't tried other pods. Both of those are Swift 2 which isn't supported in Xcode 10, any others you'd like me to try?

[2019-01-22 18:51] jordanhbuiltbyhq commented on #441
Hmm. I just have pod 'PromiseKit', Installing PromiseKit (6.7.1), but when I open the workspace I get
The target “PromiseKit” contains source code developed with Swift 2.x. This version of Xcode does not support building or migrating Swift 2.x targets.

Use Xcode 8.x to migrate the code to Swift 3.

[2019-01-22 18:59] paulmelnikow commented on #441
It sounds like something is wrong with your Cocoapods installation.

[2019-01-22 19:10] jimisaacs opened #442 "Codegen requires all objects to implement equatable."
I'm pretty sure it's because of `public typealias ResultMap = [String : Any?]`. Because `Any?` is not Equatable. If it was `[String : AnyHashable?]`, this wouldn't be a problem. In reality, the objects should already be generated with equatable.

I'm generally concerned about the code quality codegen provides and would greatly appreciate an alternative solution.

[2019-01-22 19:11] jimisaacs commented on #442
An alternative solution would be, do only use codegen for the queries, not the responses.

[2019-01-22 21:49] jordanhbuiltbyhq commented on #441
Hm. Are you able to perform the steps to reproduce and build without error?

[2019-01-23 00:06] zigfreid5 commented on #399
I implemented a temporary workaround based on some other suggestions for similar issues.
You can add CaseIterable conformance in an extension and still validate proper implementation by using something like this:

`extension Gender: CaseIterable {
    public static var allCases: [Gender] {
        @available(*, unavailable)
        func _assertExhaustive(for gender: Gender) {
            switch ge

[2019-01-23 06:40] nguyen-nn commented on #334
It's worked for me

[2019-01-23 07:15] LucasLiao commented on #372
thank you, you solve my problem

[2019-01-23 13:09] g00m commented on #436
+1

[2019-01-25 04:38] stNamco opened #443 "I got 500 error response when i use default variable."

[2019-01-25 07:05] martijnwalraven commented on #421
If I understand your issue correctly, that behavior is as expected.

Even though the result of `groupQuery` is cached in the normalized cache, `objectQuery` is a different query and can't be resolved without going through the server. The underlying objects are cached, but there is no way for a GraphQL client to know what objects `GetTagsQuery` will return because that depends on its arguments.

On

[2019-01-28 14:22] SrdjanSpasojevic commented on #334
I removed the `Apollo` pod from the `PodFile`, removed the pod completely, installed pod again. After that command `npx --no-install apollo --version` doesn't return warning.

[2019-01-28 16:17] SrdjanSpasojevic commented on #440
I'm having the same issue

`›   Warning: apollo update available from 1.9.2 to 2.3.1
++ npx --no-install apollo codegen:generate '--queries=./Server Communication/Auth.graphql' --schema=schema.json API.swift
 ›   Warning: apollo update available from 1.9.2 to 2.3.1
[17:12:04] Loading Apollo config [started]
[17:12:04] Loading Apollo config [completed]
[17:12:04] Resolving GraphQL document sets and

[2019-01-28 20:06] semireg commented on #395
This error was happening for me because I tried to use Carthage but ran into a different error... switched to CocoaPods, but the Carthage build artifacts were not cleaned up. To fix, I removed these 4 files/directories.

[code]

[2019-01-29 14:33] g00m commented on #436
I want to mock the return value of the `resultHandler: OperationResultHandler<Query>?`

[2019-01-29 15:30] palpatim opened #444 "Cannot assign value of type 'EnumeratedSequence<[Key]>.Iterator' to type 'EnumeratedSequence<IndexingIterator<Array<Key>>>.Iterator'"
**Describe the bug**

Building Apollo with Xcode 10.2 beta generates an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the project in Xcode 10.2 beta, using Swift 4 mode
2. Build the project

**Expected behavior**
The project builds

**Environment(please complete the following information):**
- Apollo `master` branch
- Xcode 10.2 beta
- MacOS 10.14.3
- Swift Toolchain Ve

[2019-01-29 15:33] bpollock-vida commented on #421
Hey @martijnwalraven thanks for the great explanation.

I guess I became confused because of how the cache is documented in Apollo's ["GraphQL Concepts Visualized"](https://blog.apollographql.com/the-concepts-of-graphql-bc68bd819be3
) under "Use object identifiers when the path assumption isn’t enough"

There it looked like your second query with the identifier would correctly resolve the cache, b

[2019-01-29 20:23] zoufishanmehdi opened #445 "Code generation build phase script error when adding 'Apollo/WebSocket' cocoapod"
I added `pod 'Apollo/WebSocket'` to my Podfile which required a newer version of Apollo. After using pod update 'Apollo/WebSocket', Apollo updated from 0.8.0 to 0.9.5. and Starscream 3.0.6 got installed. Now when I run build in Xcode, I keep seeing the following error:

`find: /Users/zoufmehdi/Library/Developer/Xcode/DerivedData/Healthie-adbzyybfvvcneaboeastjqennmqn/Build/Products/Debug-iphoneos/S

[2019-01-29 21:21] paulmelnikow commented on #443
There's not enough information here for anyone to help you. Stack Overflow has [excellent guidelines on asking a good question](https://stackoverflow.com/help/how-to-ask).

[2019-01-30 08:58] francybiga commented on #230
I'm also getting leaks in version 0.9.4

[2019-01-30 15:39] palpatim commented on #444
Looks like this is fixed in #427.

[2019-01-30 15:39] #444 closed

[2019-01-30 19:49] zoufishanmehdi opened #447 "Errors when trying to update to Apollo 0.9.5"
I updated to Apollo 0.9.5, removed the previous schema.json and API.swift file, and regenerated the schema in order to re-add these two files to my Xcode project (Xcode 10.1). However, I'm still getting tons of errors saying 'Value of type query has no member..' in files where I'm parsing results from these queries. Please refer to the screenshot below. Also, I copied the new code generation scrip

[2019-01-30 20:12] martijnwalraven commented on #440
We haven't been able to reproduce this, which makes it hard to know where to look. Would anyone be able to share a project that exhibits this behavior?

[2019-01-30 20:15] martijnwalraven commented on #445
If you follow the instructions at https://www.apollographql.com/docs/ios/installation.html#adding-build-step, you will find an updated build script you can copy/paste that invokes `check-and-run-apollo-cli.sh` instead of `check-and-run-apollo-codegen.sh`. That should make your build work again.

[2019-01-30 20:32] martijnwalraven commented on #447
Hmmm, those errors could be due to changes in the handling of fragments. Could you try adding `--mergeInFieldsFromFragmentSpreads` to the `check-and-run-apollo-cli.sh` invocation in your build phase script?

[2019-01-30 20:44] zoufishanmehdi commented on #447
I modified my script to include `--mergeInFieldsFromFragmentSpreads` as you can see below.

`APOLLO_FRAMEWORK_PATH="$(eval find $FRAMEWORK_SEARCH_PATHS -name "Apollo.framework" -maxdepth 1)"

if [ -z "$APOLLO_FRAMEWORK_PATH" ]; then
echo "error: Couldn't find Apollo.framework in FRAMEWORK_SEARCH_PATHS; make sure to add the framework to your project."
exit 1
fi

cd "${SRCROOT}/${TARGET_NAME}"
$APOL

[2019-01-30 20:47] martijnwalraven commented on #447
Have there been changes to your schema or to `.graphql` files? It seems not all operations have code generated for them.

[2019-01-30 20:55] zoufishanmehdi commented on #447
I asked a web dev and he said no changes were made to the schema. I only added three `.graphql` files but it was all working fine in Apollo 0.8.0

[2019-01-30 20:58] martijnwalraven commented on #447
Can you see if operations from specific `.graphql` files are missing from `API.swift`? Maybe these aren't found by `$(find . -name '*.graphql')`?

What does the script output look like?

[2019-01-30 21:08] martijnwalraven commented on #447
Good to hear!

[2019-01-31 00:52] patgoley opened #448 "Shared Apollo Client and Cache for cross-platform code"
Hey there,

First of all thanks for a sweet library! I am attempting to write a cross-platform application and would like both Swift and JS code to share the same Apollo Client and local cache. I don't think I'm the first person to think of this based on this article from the Apollo Medium page:

https://blog.apollographql.com/one-graphql-client-for-javascript-ios-and-android-64993c1b7991

Presuma

[2019-01-31 01:04] martijnwalraven commented on #448
We actually discussed both options back in the days :) Both will require significant work though, just as a warning. We never got around doing this as intended, and it's not currently on any roadmap.

As for 1), the idea would be that we'd relax the current associated `Data` type and allow you to use a dynamic operation with a `JSONObject` result. There is some code for this in place already, [`Gr

[2019-01-31 05:05] patgoley commented on #448
Thanks for the quick reply!

I've done some more digging and think I might have a workable approach for option #2, but let me know what you think. Both the Swift and JavaScript libraries have an interface called `NormalizedCache` which seems to store cache data under arbitrary keys. While the JS Apollo store seems to use an in-memory implementation, I'm thinking I can inject an implementation that

[2019-01-31 05:56] patgoley commented on #448
After some more thought, I have a simpler solution. Since I have very few native queries and many queries in JS, I'm just going to use `apollo-client` and `apollo-cache-persist` in the JS environment. Native code will call into JS wrapper object through simple method calls, which will make queries against the JS Apollo client. It seems like getting native and JS clients working against a shared ca

[2019-01-31 13:14] Eldhopj commented on #440
Yes its from XCode 10

[2019-01-31 14:47] solimanjuanito commented on #440
Im getting the same issues after I upgrade my apollo version, is this solve already?

[2019-01-31 15:14] martijnwalraven commented on #440
@solimanjuanito No, we need a reproduction, see above:
https://github.com/apollographql/apollo-ios/issues/440#issuecomment-459091283

[2019-01-31 18:15] zoufishanmehdi commented on #360
I'm getting this error message when I set up subscriptions. I don't see any issues related to this.

Subscription:
` apollo.subscribe(subscription: OnNoteAddedSubscriptionSubscription(conversationId: conversationId)) { (result, apolloError) in
            if let errorFound = apolloError {
                print("ERROR \(errorFound)")
            }
            print("subscription result \(result?.da

[2019-01-31 19:53] zoufishanmehdi opened #449 "Subscriptions- websocket ping error"
I set up a subscription and I'm seeing this error message. I don't see much information about it online but I can see that my websocket is connected.

`Apollo.WebSocketError.ErrorKind.unprocessedMessage("{\"type\":\"ping\",\"message\":1548959702}"))`

`func fetchSubscriptionNotes(conversationId: String)  {
        var conversationMessages: [ConversationMessage] = []
        print("subscription not

[2019-01-31 22:04] jtrainer commented on #425
Is there any update on this ticket or associated PR?

[2019-02-01 07:18] LucasLiao opened #450 "Add support for Date Type"
Although it's not mandatory, it' better to support ISO8061DateTime, since handling date is annoying thing with JSON.

[2019-02-01 17:46] #448 closed

[2019-02-01 19:38] structAnkit commented on #423
I just updated from Apollo 0.8.x to 0.9.5 yesterday and started running into this issue.

When I run `fastlane` and don't have Apollo CLI installed (when I run my build phases on a fresh environment such as Bitrise CI), the `npm install` step doesn't run synchronously so the build phase is basically skipped. Since the Apollo CLI is not being installed, the codegen isn't running and the generated f

[2019-02-02 02:20] ivanhoe opened #451 "Apollo 0.9.5 supports Xcode 10.2 beta (10P82S)"
Hi guys im trying to create a new project from scratch using the last version of the  pod.
the next one is my podfile
**Pod:**

[code]

Now the podifile.lock

**Pod.lock:**
[code]

When im trying to compile the project the next exception is thrown

![screen shot 2019-02-01 at 8 10 20 pm](https://user-images.githubusercontent.com/138103/52158412-c460c100-265d-11e9-9fd2-c9b16f3e1999.png)

The compil

[2019-02-04 14:22] koenpunt commented on #442
I definitely agree, would make usage with IGListKit a lot more convenient.

[2019-02-04 21:17] ScottRobbins opened #453 "How to tell if fetch will return from cache or hit network"
I would like to display a loading state only if apollo is going to hit the network to avoid having a loading state quickly flash in the cases that apollo can pull the data from the cache.

I haven't found a way yet, without [manually reading from the cache](https://www.apollographql.com/docs/ios/watching-queries.html#direct-cache-access) before attempting a fetch,  to do this.

This relates to htt

[2019-02-05 00:44] zoufishanmehdi opened #454 "Subscriptions- not able to use actioncable protocols instead of graphql-ws to make iOS app work with ActionCable"
Hi! I tried to edit `private final let protocols = ["graphql-ws"]` to `["actioncable-v1-json", "actioncable-unsupporteduse"]` in `WebSocketTransport.swift` file in order to use action cable protocols being used on the server. However, I'm getting errors when doing that. How can I conform to action cable protocols to make my iOS app work with Action Cable?

[2019-02-05 12:41] Eldhopj commented on #440
Update :
When i downgrade to apollo codegen and to apollo 0.7.0 there is no issue , but the problem is that i cant able to use graphQl subscription on 0.7.0
Note : I am currently running Xcode 10 on Macos highSierra

[2019-02-05 21:19] SirensOfTitan commented on #442
We make very heavy usage of IGListKit in our app, so had to have this.  I ended up using a little Sourcery template to codegen Equatable for Apollo's entire generated API.  See below:
https://gist.github.com/SirensOfTitan/5f9feb2dca067e4b4152609e1851c028

... I am not sure if my work is 100% correct, but it works in practice pretty well.  I'd be willing to setup a PR for the official codegen clien

[2019-02-06 03:16] lane-faison commented on #386
Same.
macOS 10.13.6
Xcode 10.1 (10B61)

[2019-02-07 00:28] Lucashuang0802 commented on #380
Does anyone have any insights about this error?

[2019-02-07 18:11] zoufishanmehdi commented on #454
I explain the issue in more detail here: https://stackoverflow.com/questions/54576125/integrate-apollo-subscriptions-on-ios-with-action-cable-being-used-on-the-backen

[2019-02-11 08:44] martintjandra opened #455 "Apollo may be produce incorrect data type for field with "optional boolean" type."
Hi. I use Apollo 0.9.4 and use Graphcool service to store my data. I have an object with field type `Boolean` in `types.graphql` which means it's an optional boolean.

[code]

Apollo generated this code in the `API.swift` for the corresponding getter method.

[code]

I have confirmed that I can do mutation to create a data and the `isChecked` data is saved correctly as "true" / "false" in the grap

[2019-02-11 15:25] #447 closed

[2019-02-11 15:25] #445 closed

[2019-02-11 21:59] bachand commented on #451
This seems to be resolved on `master`. I am fairly certain https://github.com/apollographql/apollo-ios/commit/b28c3dcae50c36518bc75036948eda91aa54d6ec is what fixed this.

@martijnwalraven maybe we can bump the version to allow people to develop with Xcode 10.2 more easily?

[2019-02-12 16:49] allfou commented on #374
Yep, this is the only workaround that worked for me. Downgrade to 0.9.3 in podfile
`pod 'Apollo', '0.9.3'`

Remove module folder from my project root
`rm -rf node_modules`

Manually installed 1.8.3
`npm install -g apollo@1.8.3`

[2019-02-12 19:10] ivanhoe commented on #451
Hi @bachand so getting the master branch we could compile =D ?

[2019-02-12 19:18] bachand commented on #451
Yes. You could consider pinning your Apollo to the most recent SHA on `master` until a new version is released.

[2019-02-12 19:36] ivanhoe commented on #451
thanks so much @bachand!!

[2019-02-13 13:17] tarek903 commented on #374
@allfou i've been stuck with building the API.swift for two days , thanks a lot

[2019-02-13 17:49] Nomad-Go opened #457 "Seed ApolloStore with Subscription Results"
I wan't to keep my cache up to date with Subscriptions. I can't quite figure out the syntax to write the results of a subscription into the cache. I have a subscription in the form of:

[code]

My Swift code to use the subscription look like this.

[code]

This code always get caught with the error `Missing value` thrown from the `.updateObject` function.

Some notes and more context.

I start the

[2019-02-13 19:25] martijnwalraven commented on #457
[code]

Not sure if this solves all your issues, but this needs to be the actual key (so the value of `id` for a particular object).

[2019-02-13 20:57] Nomad-Go commented on #457
@martijnwalraven Thank you, I missed that. What do I do if I have nothing cached? This is the first call to my API on App launch. Also, I just read [this article](https://blog.apollographql.com/the-concepts-of-graphql-bc68bd819be3) about caching. Super helpful but i'm still uncertain about Cache Normalization. Just specifying "id" as a cache value does not seem to be enough because of collisions b

[2019-02-14 00:59] romainbiard commented on #412
still not working AFAIK

[2019-02-14 23:09] Mountainbrussells commented on #399
I also believe adding caseiterable to the generated enums would be a good idea

[2019-02-15 01:03] Nomad-Go commented on #457
Ok, so I had to download an SQLite inspector and inspect actual app data to really get what is going on with caching. Looks like I mis understood @martijnwalraven a second time.

I can see my cache is successfully normalized when I make the cache keys like this:
[code]
Still looking to figure out how to write the initial results of a subscription into the cache.

[2019-02-15 01:44] Nomad-Go commented on #457
Ok, figured it out. The Apollo library internally takes the Query you want to write to the cache and figures out its type, cache key and variables. You have to do this for a subscription. Working code looks like this:

[code]

[2019-02-15 04:24] ricsantos commented on #414
I have this same error with an empty project and similar settings (except Apollo 0.9.5).

Surely if `schema.json` was in the wrong location it should show an error saying so, instead of this stack trace?

[2019-02-17 19:46] the-scott-davis commented on #414
Moving the schema file to the same directory as the AppDelegate.swift file resolved the error for me as well.

[2019-02-17 19:47] the-scott-davis commented on #395
I was able to resolve this error by moving my schema.json file to the same directory as the AppDelegate.swift file. Previously I had put the file in a nested folded for code organization. As soon a I moved it, the project built without error.

[2019-02-18 03:27] gaoshanyu opened #459 "Can't use ApolloSQLite with CocoaPods"
[code]

Too many errors coming after `pod install`:

![screen shot 2019-02-18 at 11 21 48 am](https://user-images.githubusercontent.com/10546774/52926247-f6696700-336f-11e9-95ef-85fa888d2e5b.png)

Environment:

Xcode 10.1
macOS 10.14.3
CocoaPods 1.5.3

Apollo (0.9.5)
SQLite.swift (0.11.5)

[2019-02-18 07:40] gaoshanyu commented on #459
OK, I've fixed this error after I upgrade CocoaPods to 1.6.0.

[2019-02-18 07:49] #459 closed

[2019-02-18 17:26] knutaa commented on #457
Hi, I ended up doing something like the following - mostly for a trial and not really proven in production:

   // subscribe (here NewPostSubscription)
   // whenever new data
   // 0. within a ReadWrite transaction
   // 1. Query the cache for the data (here: AllPostQuery)
   // 2. Create a new instance of the query object
   // 3. Add the new instance to the query result

   newPostSubCancel = c

[2019-02-21 09:44] CodeAddictSebastianGolinski commented on #440
I had the same issue with "Cannot read property 'getMutationType' of undefined" on Xcode 10. For me, the solution was to install Apollo CLI version 1.8.3 and last version of Apollo cocoa pods and check schema.json path, because when the schema file isn't inside project there is no error about missing schema but the error with getMutationType. @martijnwalraven  maybe you can try this to reproduce t

[2019-02-21 09:45] PiotrMaleszczuk commented on #440
I had the same issue with "Cannot read property 'getMutationType' of undefined" on Xcode 10. For me, the solution was to install Apollo CLI version 1.8.3 and last version of Apollo cocoa pods and check schema.json path, because when the schema file isn't inside project there is no error about missing schema but the error with getMutationType. @martijnwalraven maybe you can try this to reproduce th

[2019-02-23 13:09] MaxGoh opened #460 "How to handle multiple environments?"
I'm using Apollo iOS for my application. I'm trying to simplify the development process, how can I manage multiple environments; development, staging and production?

It would be awesome if someone could provide an example.

Thank you

[2019-02-23 16:33] budjoskop commented on #384
Hi, have you success to resolve this issue, I'm facing same problem here:
1. Pod are installed, that is okay.
2. Scheme is generated, that is okay.
3. After first build, empty API is build, that is okay.
4. I've added empty .graphql in Xcode
5. Filled up with the query:
<img width="1265" alt="screen shot 2019-02-23 at 17 26 11" src="https://user-images.githubusercontent.com/31095126/53289030-ce736

[2019-02-24 16:40] budjoskop commented on #440
Hi all, same issue here.
`Now using node v8.15.0 (npm v6.4.1)
 ›   Warning: apollo update available from 1.9.2 to 2.5.1.
++ npx --no-install apollo codegen:generate --queries=./Test.graphql --schema=schema.json API.swift
 ›   Warning: apollo update available from 1.9.2 to 2.5.1.
[17:37:18] Loading Apollo config [started]
[17:37:18] Loading Apollo config [completed]
[17:37:18] Resolving GraphQL doc

[2019-02-25 21:07] Nomad-Go commented on #460
Ideally your backend resources have all three environments. In this case your backed is a GraphQL API.

You should store some sort of state in you application that represents the backend environment that you are testing. I persist this state in `NSUserDefaults`. Then when my app launches I can gather environment variables that represent the desired backend environment and initalize the Apollo clie

[2019-02-26 21:20] geeksweep opened #461 "Apollo API.swift file not generating"
Environment:

Xcode 10.1
Mac 10.13.6
apollo/2.5.1 darwin-x64 node-v10.15.1
npm 6.4.1

Having some issues generating the API.swift file from the schema.json. not sure if the command for this has been updated but not reflected in the docs. Since the script inside Xcode was not generating the API.swift file I decided to try it out manually

and i get the follow error:

other errors I get in the more

[2019-02-27 15:30] ruipfcosta opened #462 "JSON deserialization: option to allow fragments not set"
I'm experimenting Apollo by running a very simple query to get data from my server, but I'm getting the following error:

[code]

This is likely caused by the missing option `.allowFragments` when deserializing the JSON response, but is there any way to specify this through Apollo?

Thanks!

[2019-02-27 19:37] ataibarkai opened #463 "Builds are broken by enum cases with the same (textual) lowercase representation"
The GraphQL API I'm building against contains an enum with different cases which have the same (textual) lowercase representation (as an aside, this was the result of deprecating a PascalCase naming convention in favor of a SCREAMING_CASE naming convention -- but it doesn't really matter much, because this kind of configuration is legal under the GraphQL spec):
<img width="163" alt="playground_-_h

[2019-02-28 18:49] ScottRobbins commented on #453
If there's interest in this I can work on a solution and open a PR

[2019-02-28 19:09] stevenp opened #464 "Subscription/WebSocket support is undocumented -- is it production-ready?"
I've been attempting to figure out how to use subscriptions in Apollo, and it seems that there's a `WebSocket` subspec in the Podfile that is the key to making this work. My question is whether this functionality is considered ready for production, as there isn't anything in the docs to indicate how to use it, as it isn't even mentioned.

I'm digging through the test cases now to attempt to figure

[2019-03-01 15:16] tivadargyorgy commented on #145
Any news about this topic?
Is there any way to implement the pagination functionality?

[2019-03-03 10:41] MagdyZamel commented on #397
are there any updates for this issue?

[2019-03-04 02:45] fassko opened #465 "Update using newest Starscream for subscriptions"
I'm using GraphQL subscriptions and noticed that old version of https://github.com/daltoniam/Starscream websockets library is being used. I'm one of the maintainers of that library.

I can update the version where it's needed, but I would need some help with testing it.
Any tips & tricks?

Related to #60

[2019-03-04 03:06] fassko commented on #465
It seems that in Cartfile there is newest version, but not in podspec.

[2019-03-05 08:27] fassko commented on #360
@zoufishanmehdi My guess is that this can be server sending PING back?

[2019-03-06 01:33] ndizazzo opened #467 "Support for native Decodable Swift structs"
I'm not sure if this repository or the [tooling repository](https://github.com/apollographql/apollo-tooling) would be more appropriate for a discussion about this, but I've had a look in both for mentions of [Swift 4's `Codable` protocols](https://developer.apple.com/documentation/swift/codable), and was surprised to not see any discussions in either repository about it.

I was wondering if it wou

[2019-03-06 14:26] jorgeb12 commented on #417
Did anyone found a solution?

[2019-03-06 15:08] jorgeb12 commented on #412
Still not working. Any solutions?

[2019-03-06 15:56] jorgeb12 commented on #395
I'm still getting the error about 'not found: Apollo' but thanks anyways

[2019-03-06 18:03] jorgeb12 opened #468 "Apollo not found - cocoapods"
Hello,

I'm using cocoapods to install apollo but I'm getting this errors:

not found: apollo
warning: Apollo iOS requires version 1.9.x of the Apollo CLI to be installed either globally or in a local node_modules directory.
warning: Installing apollo@1.9 in your project directory to avoid version conflicts...
npm WARN saveError ENOENT: no such file or directory, open '/Users/loop/Desktop/Projects

[2019-03-07 15:15] jorgeb12 commented on #461
Did you find a solution?

[2019-03-11 00:31] AttilaTheFun commented on #425
@jtrainer @martijnwalraven @NeelSarwal Can we please merge one of these PRs? I just signed the Meteor contributor agreement and created my own PR. Swift 5 is almost out and this still hasn't been updated past Swift 4 which is pretty ridiculous.

https://github.com/apollographql/apollo-ios/pull/469

[2019-03-11 01:07] NeelSarwal commented on #425
@AttilaTheFun Sorry, I'm actually not apart of the Apollo Team, just a fellow user who wants this to be bumped. Would really like to get this in.

[2019-03-11 06:56] Abhijith-net opened #470 "Scaling of Cache on clients"
Hello,
     We currently have disk cache as a key-value store in SQLite. All the operations we do will be in one single table. This raises few concerns, wrt to query time performance + running out of storage.

In our case, we are planning to use aws-app sync which uses Apollo client, as a chat engine. With the chat engine, the growth of the number of conversations and messages will be extremely hi

[2019-03-12 23:08] tlextrait opened #473 "Callback called twice by .fetch() when cache policy is set to .returnCacheDataAndFetch"
The given code block is called twice by .fetch() when the cache policy is set to .returnCacheDataAndFetch

[2019-03-13 04:43] niraj1991 commented on #473
@tlextrait Please read below Cache policy.

[code]

If you use the **returnCacheDataAndFetch**  Then It will return first time from cache and second time from server. If want to data only from server **fetchIgnoringCacheData**  or If want to data only from cache **returnCacheDataDontFetch**

[2019-03-13 04:45] tlextrait commented on #473
Right but that comment didn't imply at all that my callback would be called more than once. It sounded more like I'd get data from cache, but that in parallel a data fetch would also update the cache afterwards.

[2019-03-13 11:05] kukkadapukarthik opened #474 "Build failed."
++ npx --no-install apollo codegen:generate '--includes=./PostTableViewCell.graphql
./PostListViewController.graphql' --schema=schema.json --target=swift API.swift
 ›   Warning: apollo update available from 1.8.3 to 2.6.0.
 ›   Error: Unexpected argument: API.swift
 ›   See more help with --help
Command /bin/sh failed with exit code 2

/*Run script was
APOLLO_FRAMEWORK_PATH="$(eval find $FRAMEWORK

[2019-03-13 11:12] kukkadapukarthik commented on #461
same issue here

[2019-03-13 11:25] jorgeb12 commented on #461
Did you installed Apollo cli global?

[2019-03-13 11:46] kukkadapukarthik commented on #461
Build failed. #474

[2019-03-13 14:08] rcresnik commented on #436
+1

[2019-03-13 14:29] halonsoluis commented on #436
Having an initialiser I can create my own responses in a middleware, as, for example, return a valid manually cached result when offline.

[2019-03-13 17:49] #460 closed

[2019-03-14 10:58] oabdelkarim commented on #412
Make sure there is no space in project path.

[2019-03-18 14:50] jamesbouker commented on #473
Would be nice if it only called the callback a second time if the data has changed

[2019-03-20 13:42] MaxOstPM commented on #465
@fassko Hi! Can you please help me? I don't understand for sure if subscription is working in Apollo Client. Seems that needed method is implemented but nothing happened, also could found any documentation for Apollo Subscriptions!
Waiting for response!
Best regards,
Max!

[2019-03-20 15:05] MaxOstPM commented on #360
@zoufishanmehdi have you already found the solution?
Also, should i make any additional Apollo Client setups for the proper work of the subscriptions?

[2019-03-21 02:56] fassko commented on #465
@MaxOstPM

Yeah documentation about subscriptions is missing, I totally agree.

To create a subscription I was using these resources:
https://github.com/hasura/graphql-engine/issues/503
https://stackoverflow.com/questions/51720378/how-to-implement-graphql-subscription-using-apollo-ios-client

I can't share my project because it ties down to closed source project GraphQL scheme.

[2019-03-21 02:58] fassko commented on #465
In general everything works (except it doesn't build for other platforms than iOS but for that there is another issue #386 )

With this issue and PR I created I just wanted to update Starscream library which is being used for subscriptions. I'm actually one of maintainers of Starscream library.

[2019-03-21 03:56] GiantBlue76 commented on #467
Basically, swift 4 supporting codable and coding keys completely removed the value of graphql imo.

[2019-03-21 13:44] ndizazzo commented on #467
@GiantBlue76 interested to hear your thoughts as to why? GraphQL still condenses API requests into one endpoint + a schema which is why I find it useful, but ymmv of course. `Codable` support would clean up a fairly hairy part of Apollo (in Swift) from what I can tell.

[2019-03-22 14:18] Developer-iOS-OSX opened #476 "long number -> Apollo.JSONDecodingError.couldNotConvert"
Hi All!
It is real data from server:

<img width="380" alt="Screenshot 2019-03-22 at 17 17 25" src="https://user-images.githubusercontent.com/7106523/54828996-829be080-4cc6-11e9-984c-f796415f9467.png">
I see error in XCode, Help me please?:

[code]

[2019-03-22 19:33] jordanhbuiltbyhq opened #477 "User-friendly localizedDescription from query fetch Error"
I'm fetching a query in Apollo and the result handler provides an optional result and error object.

`apollo.fetch(query: SampleQuery()) { (result, error) in`

If the error is non-nil I present this error's `localizedDescription` to the user (and if it's not then I check if the result's errors is not empty and use the first error's `localizedDescription`). At times the user can be shown a very unf

[2019-03-25 15:48] MaxOstPM commented on #465
@fassko I have a problem with a cancelation of subscription. When I want to reopen subscription, after I have canceled it, I'm receiving only errors, and no response

[2019-03-25 20:53] jordanhbuiltbyhq opened #478 "Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0 compiler"
Please add support for Swift 5 with Xcode 10.2 :)

[2019-03-26 01:56] fassko commented on #465
@MaxOstPM hard to tell anything without an example. Anyways I think this is out of the scope of this issue.

[2019-03-26 05:04] uyphanha commented on #478
Got the same problem..

[2019-03-26 08:45] aBuder commented on #478
Hey I found an workaround, if you use Cocoa pods try this.
The current master branch has fix, but is not released. See also the current commit

https://github.com/apollographql/apollo-ios/pull/427/commits/40b8186af68a6dccf108ef98c9d82b1a8f204a63

`pod 'Apollo', :inhibit_warnings => true, :git => 'https://github.com/apollographql/apollo-ios.git', :branch => 'master'`

[2019-03-26 08:53] uyphanha commented on #478
Thanks, will update my pod.

[2019-03-26 09:37] SRozhina commented on #478
Cannot use ```pod 'Apollo', :inhibit_warnings => true, :git => 'https://github.com/apollographql/apollo-ios.git', :branch => 'master'``` because of using Apollo in custom module with Cocoapods. There is no way to add git path dependency to podspec. Could you please release this feature?

[2019-03-26 11:39] indevizible commented on #478
it seems still error after execute script.
`Apollo.framework/check-and-run-apollo-cli.sh: line 71: npm: command not found`

[2019-03-26 16:26] BeshBashBosh commented on #478
#427 seems to have fixed this on 30th Jan but no tagged release has occurred since then so will have to point to master in podfile until then.

[2019-03-26 16:36] commanda opened #485 "Compiler error with Xcode 10.2 (10E125) with Apollo cocoapod 0.9.5"
Compiler error:
[code]

Repro steps:
* Update to Xcode 10.2 (10E125)
* Create a fresh Xcode project
* `pod init`
* Add `pod Apollo` to the Podfile
* `pod install`
* See that cocoapods installed `Apollo (0.9.5)`
* Open the .xcworkspace
* Attempt to compile the project
* See the compiler error

I tried setting the Swift language version to 4, 4.2, or 5, and also tried setting the same on the Apollo

[2019-03-26 18:26] commanda commented on #485
When I point my podfile at the latest from master at github instead of using the most recent release, the compiler error is fixed.
`pod 'Apollo', :git => 'https://github.com/apollographql/apollo-ios.git'`
I think this means a new release is due?

[2019-03-27 12:31] philipengberg commented on #485
Pointing to the `master` branch certainly works, but for me at least, it results in insanely slow compile times (from normally 15 seconds 👉 minutes). Now, I of course cannot say for sure that this is caused by Apollo specifically, but this is literally the only change I've made to get my project to compile in Xcode 10.2.

[2019-03-27 12:39] jnutting commented on #485
Yes, and pointing at master is never fun in the long run. It would really be great to have an official release that works with Swift 5!

[2019-03-27 13:25] martijnwalraven commented on #485
We're waiting for Travis to update to Xcode 10.2, so we can land #475.

[2019-03-27 13:53] philipengberg commented on #485
... The intricate dependency graph of the World Wide Web 😅

[2019-03-27 15:11] D-Link13 commented on #37
@martijnwalraven your thoughts about using [ApolloAlamofire](https://github.com/maxdesiatov/ApolloAlamofire)?

[2019-03-27 20:15] ex3ndr commented on #60
While subscriptions are received events are not merged to a storage, is it designed as intended?

[2019-03-28 01:25] GiantBlue76 commented on #485
What's your ETA on this?  I need this to work because I have a dependency that is failing.  Thanks!

[2019-03-28 01:47] mike-marcacci commented on #478
Is there any known workaround for those of us using Carthage? Just upgraded XCode on total autopilot 🤦🏻‍♂️

[2019-03-28 03:05] ernesto commented on #478
@SRozhina You can work with custom modules using the `s.dependecy 'Apollo'` on .podspec and overriding Apollo framework on the app podfile:
[code]

[2019-03-28 05:08] mike-marcacci commented on #478
OK, well... it took me WAY too long to figure this out, but I ended up simply going into the `Carthage/Checkouts/apollo-ios` directory, pulling, and building. I ended up using #475 instead of master.

Also make a note NOT to run `carthage update`, as it will upgrade to an incompatible version of Starscream and you'll chase your tail for a bit trying to get the build to work.

[2019-03-28 06:36] niraj1991 commented on #23
Hi @martijnwalraven

I am getting an error on iOS client. Incorrect code generation: String instead of Array.

The resulting API.swift that was generated using apollo-ios

[code]

The actual type from the schema file:

`{
            "name": "reactiondata",
            "description": null,
            "args": [],
            "type": {
              "kind": "SCALAR",
              "name": "Array",

[2019-03-28 06:40] martijnwalraven commented on #23
@niraj1991 The type in the schema you posted seems to be a custom scalar called `Array`, not an actual GraphQL list type. If `reactiondata` is meant to be represented as an array, you should change the type in the schema.

[2019-03-28 06:48] niraj1991 commented on #23
@martijnwalraven  Thanks for writing to me.
I am updating my above post. can you please check again?

[2019-03-28 07:02] martijnwalraven commented on #23
@niraj1991 You'll have to change `reactiondata` to be an actual list in your schema, not a scalar. You can't generate a scalar with the name `Array` and expect it to map to a Swift `Array`.

[2019-03-28 07:43] lizhuhuan opened #490 "How to use objective C?"

[2019-03-28 08:25] jnutting commented on #485
If you're in a really tight spot, @GiantBlue76, you can either point at master or do a temporary local fix - just change the type of the variable that it's complaining about in the 0.9.5 code to match what the compiler expects. I did so, and everything worked just fine.

[2019-03-28 10:22] niraj1991 commented on #23
@martijnwalraven I changed the schema file like below.

`         {
            "name": "details",
            "description": null,
            "args": [],
            "type": {
              "kind": "SCALAR",
              "name": "Json",
              "ofType": null
            },
            "isDeprecated": false,
            "deprecationReason": null
          }`

But I am Getting below error.

[2019-03-28 10:33] martijnwalraven commented on #23
@niraj1991 It seems you're returning an array from the server and trying to map this to a Swift`Dictionary` (`[String : Any?]`). If you need to use a JSON type (as opposed to changing the schema to something more specific), you'll have to use `public typealias JSON = Any`.

[2019-03-28 12:17] MaxDesiatov commented on #485
FIY Travis does support Xcode 10.2, I'm using it in graphql-community/ApolloAlamofire#3 test builds. I've just added created draft #491 in Apollo repository, but not sure how to start Travis build for that PR, can anyone help please?

[2019-03-28 12:19] martijnwalraven commented on #485
@MaxDesiatov I don't think that is Xcode 10.2 final yet, see https://travis-ci.community/t/update-to-xcode-10-2-release/2809/2. As far as I know, that's why #475 is still failing.

[2019-03-28 12:46] niraj1991 commented on #127
@martijnwalraven I'm getting this error

whenever I'm querying this:

[code]

I'm getting below response.

[code]

However get a successful response. **But When I write the data in catch, Then I get this error.**

`Fatal error: Dictionary is only JSONEncodable if Value is (and if Key is String): file /Volumes/Bapu-DATA-D/Niraj/Vabotu App/Developments/vabotu-ios/Vabotu/ThirdParty/Apollo/JSONStandar

[2019-03-28 13:06] niraj1991 commented on #23
@martijnwalraven if I am writing **public typealias Json = Any**  Then I get the below error.
`public typealias Json = Any`

![Screenshot 2019-03-28 at 6 31 22 PM](https://user-images.githubusercontent.com/26320636/55159791-d8b9c980-5187-11e9-8adf-ee9c575c11ad.png)

Here is schema file.
[code]
Please let me know if I need to change anything.

[2019-03-28 13:33] vandadnp commented on #485
Time to start using CircleCI perhaps? Travis has historically been quite slow in their support of new macOS/Xcode versions. CircleCI as of right now already supports Xcode 10.2!

[2019-03-28 13:51] commanda commented on #485
@vandadnp Nope, CircleCI is still on beta 3 of Xcode 10.2. I'm waiting on them to get the GM too.

[2019-03-28 13:54] vandadnp commented on #485
@commanda you're right. They didn't explicitly state that it's a beta but they did provide the build number of `10P99q` which *is* in fact beta!

[2019-03-28 15:28] vandadnp commented on #485
I contacted Travis' support and this is their reply:

[code]

[2019-03-28 18:33] GiantBlue76 commented on #485
Yep, but it doesn't help me for transient dependencies.  In other words, I have a pod that uses Apollo, but then I have an application that depends on that pod.  So that application just uses the podspec to manage the dependency, therefore it pulls the latest version.  Everytime I do a pod update, I need to change the code myself.  It's also a bit of a pain when attempting to document how to set u

[2019-03-28 20:17] martijnwalraven commented on #23
@niraj1991 Ah, my mistake, I don't think `Any` is supported as a custom scalar type. Honestly, this doesn't seem like a great use case for custom scalars, you should really give `reactiondata` a proper type.

[2019-03-29 09:40] bradleycwells commented on #485
Is there any way I can be notified on an update for this release? I got Apollo as an dependent in my podspec and it fails when I do  **pod repo push**

[2019-03-29 13:33] gbrixey commented on #485
@bradleycwells If you have an RSS feed you can subscribe to https://github.com/apollographql/apollo-ios/releases.atom

[2019-03-29 13:35] ileitch commented on #485
GitHub support watching only for releases:
<img width="313" alt="Screen Shot 2019-03-29 at 2 34 22 PM" src="https://user-images.githubusercontent.com/48235/55236233-cb581a00-522f-11e9-8a26-95082abfaf10.png">

[2019-03-29 21:57] karlisl commented on #485
@martijnwalraven Update is out! https://blog.travis-ci.com/2019-03-29-xcode-10-2-gm-is-now-available

[2019-03-30 10:53] victormihaita commented on #485
Since the update for travis is out, do we have any news for the new pod version?

[2019-03-30 10:55] martijnwalraven commented on #485
@victormihaita I merged #475, but I wanted to get #466 in before publishing a new release.

[2019-03-31 02:03] jorgeb12 commented on #468
Update:

I fixed doing this things:
- Clean up derivedData folder.
- Uninstall pods.
- Install pods.
- Restart Xcode.

I'm not sure what I did but it works now. Btw, the script that I'm using is:

`FIXED_FRAMEWORK_SEARCH_PATHS=\"$(echo $FRAMEWORK_SEARCH_PATHS | tr -d '"' | sed -e 's/ \//" "\//g')\"
IFS=$'\n'
APOLLO_FRAMEWORK_PATH="$(eval find $FIXED_FRAMEWORK_SEARCH_PATHS -name "Apollo.framework"

[2019-03-31 02:03] #468 closed

[2019-04-01 02:18] chrisabbod opened #495 "Unable to build my Swift project after Swift 5 update"
Ever since the update to Swift 5 I get the following error when I build:

Cannot assign value of type 'EnumeratedSequence<[Key]>.Iterator' to type 'EnumeratedSequence<IndexingIterator<Array<Key>>>.Iterator'

This error occurs in Collections.swift line 65

init(base: GroupedSequence<Key, Value>) {
    self.base = base
    keyIterator = base.keys.enumerated().makeIterator()  //Line with error
  }

[2019-04-01 05:45] victormihaita commented on #495
The pod has to be updated to support swift 5.0. This should be done quite soon. I’m also waiting for this :)

[2019-04-01 08:56] victormihaita commented on #490
Maybe this will help:
https://stackoverflow.com/questions/27995691/how-to-import-and-use-swift-pod-framework-in-objective-c-project
* And enjoy the 1st of April UI from StackOverflow :)

[2019-04-01 13:39] GiantBlue76 commented on #485
This is great news.  Is the release going to be out today?

[2019-04-02 09:42] ultranano commented on #495
the same problem... need a pod update with swift 5.0 support.

[2019-04-03 05:20] #465 closed

[2019-04-03 05:35] martijnwalraven commented on #495
This should be fixed in 0.10.0.

[2019-04-03 05:35] #495 closed

[2019-04-03 05:35] martijnwalraven commented on #485
This should be fixed in 0.10.0.

[2019-04-03 05:35] #485 closed

[2019-04-03 05:36] martijnwalraven commented on #478
This should be fixed in 0.10.0.

[2019-04-03 05:36] #478 closed

[2019-04-03 05:52] niteshtak commented on #485
when the release will go out for XCode 10.2 support ?

[2019-04-03 05:53] chrisabbod commented on #495
Is there a timeline for the release of 0.10.0?

[2019-04-03 06:08] martijnwalraven commented on #495
@chrisabbod I just released it!

[2019-04-03 06:08] martijnwalraven commented on #485
@niteshtak I just released it!

[2019-04-03 06:09] chrisabbod commented on #495
Thank you so much for the support!!

[2019-04-03 06:48] niteshtak commented on #485
@martijnwalraven I noticed the build time increased significantly after the `0.10.0` release :(

[2019-04-03 06:58] philipengberg commented on #485
Exactly as I noted with the pre-release https://github.com/apollographql/apollo-ios/issues/485#issuecomment-477130636

[2019-04-03 07:06] martijnwalraven commented on #485
@niteshtak @philipengberg I have no idea what could be causing this, so all insight is welcome!

[2019-04-03 07:08] philipengberg commented on #485
Me neither, and I don't know if Xcode 10.2 itself has equal fault in it. I've reverted to Xcode 10.1, since I won't have time to troubleshoot in a foreseeable future 😞

[2019-04-03 09:15] antonbremer commented on #485
Thanks for all the hard work you put in it @martijnwalraven . Likewise @philipengberg unfortunately I am not in a position to help troubleshoot at the moment. I will also roll back to Xcode 10.1. Keep up the good work though!

[2019-04-04 00:33] mochimoshi opened #498 "Linker error when using ApolloSQLite with bitcode enabled"
#475 was merged recently, which made Apollo + ApolloSQLite compatible on Xcode 10.2. However, this also included changes in build settings to explicitly enabling Bitcode and setting Bitcode generation modes on physical iOS devices in Apollo and ApolloSQLite in Configuration/Shared/Workspace-Universal-Framework.xcconfig. This leads to a linker error:

[code]

The best solution seems to be submittin

[2019-04-04 01:56] kcarriedo opened #500 "Unable to Deploy App after upgrading Apollo 0.10.0"
Deployment error after upgrading apollo, `App Store Connect Operation Error
Invalid Bundle. The bundle at '/Frameworks/Apollo.framework' contains disallowed file 'Frameworks'.`

Xcode: 10.2
Swift: 5
Apollo build: 0.10.0

[2019-04-04 02:17] kcarriedo commented on #500
It appears to be building nested frameworks. Was able to workaround it by removing the nested framework and deploy.
![image](https://user-images.githubusercontent.com/323828/55525185-1a51e500-565e-11e9-9c0a-d1db70141f91.png)

[2019-04-04 06:56] martijnwalraven commented on #500
@tonyarnold Do you know what might be going on here?

[2019-04-04 07:36] xploit42 commented on #500
What version of apollo codegen do you use with this apollo 0.10.0?

And did you see a changelog somewhere?

Thanks

[2019-04-04 07:57] tonyarnold commented on #500
@martijnwalraven looks like I've enabled `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` in `Workspace-Packaging.xcconfig`. Setting it to `NO` should solve the problem.

@kcarriedo can you try this on your local copy of the project and verify that it works?

[2019-04-04 07:59] martijnwalraven commented on #500
@tonyarnold Thanks for your help, unfortunately this is an area I haven't been able to keep up with :) Could this be related to https://github.com/apollographql/apollo-ios/issues/485#issuecomment-479362202 as well?

[2019-04-04 08:02] tonyarnold commented on #500
That's OK - I'll pull together a PR for this.

#485 is a separate issue - I've commented over there to try to get some more info.

[2019-04-04 13:13] jdrydn commented on #60
Also worth noting there's no documentation at all for subscriptions, doesn't appear to be a part of #220 🤷‍♂️

[2019-04-05 11:20] #500 closed

[2019-04-05 16:42] bpollock-vida opened #502 "Don't want to pass optional parameters in Query"
Intended outcome:

Given:

Query {
   fooQuery(argOne: String, argTwo: String) {
      bar
   }
}
I want to only pass the arguments I have values for:
FooQuery(argTwo: "someString")

Actual outcome:
Swift compiler will complain with 'missing argument for parameter argOne in call'

The Apollo-client generated constructor is
public init(argOne: String?, argTwo: String?)

How to reproduce the issue:

[2019-04-05 16:49] mochimoshi commented on #498
Fixed by #499

[2019-04-05 16:49] #498 closed

[2019-04-10 14:59] kcatigbe commented on #376
Is there any movement on adding this as a Feature to Apollo? Would like to see this as we want to optimize our calls as much as possible.

[2019-04-11 06:32] webberwang commented on #386
macOS 10.14.4
Xcode 10.2 (10E125)

[2019-04-12 16:34] stonestclair opened #509 "CocoaPods can't install Apollo"
Podfile:

    target 'jet' do
        use_frameworks!

          pod 'Socket.IO-Client-Swift', '~> 13.3.0'
          pod 'Apollo', '~> 0.10'
          pod 'AppAuth'
    end

Error:
    CocoaPods could not find compatible versions for pod "Apollo":
    In Podfile:
    Apollo (~> 0.10)

    None of your spec sources contain a spec satisfying the dependency: `Apollo (~> 0.10)`.

    You have either:

[2019-04-12 17:38] OrestNazarewycz commented on #372
Whoah super late to the response on this one sorry. I ended up actually pulling things out into separate private cocoapods that manage their own schemas and services and built clients around them. It allowed me to easily version and branch individually which was becoming a pain too.

[2019-04-15 14:08] #509 closed

[2019-04-16 13:04] MrBoog commented on #490
I'm also looking for an alternative written by OC.  I just don't really want to import swift right now since that might increase the size of our App.. (lots of our users are under iOS12.0)

[2019-04-16 17:59] bpollock-vida opened #511 "Apollo not found - cocoapods (Not Fixed)"
I have the same issue as https://github.com/apollographql/apollo-ios/issues/468

However, pod deintegrate + remove derived data + clean + restart xcode did not fix for:
Swift 4.2
Xcode 10.2
Apollo 0.10.1

Previously working with:
Swift 4.2
Xcode 10.1
Apollo 0.9.0

I followed update guide in https://www.apollographql.com/docs/ios/installation#adding-build-step

Error:
[code]

I do see node_modules

[2019-04-16 20:44] lilyball commented on #276
At this point the changelog lists 0.9.4 as the latest release, but there's been 3 releases since then.

[2019-04-17 03:22] ayaseeri commented on #371
I solve this problem by update npm  and  node  to the latest version

[2019-04-18 07:28] carloxavier commented on #287
what about sending a wrapper class in the place of this param?
from the android side this is how we solve it, it gets serialized to json and looks like
 `{"value": <Any>, defined: Boolean }`

[2019-04-18 17:16] thonydam commented on #192
Hey guys,

Do we have any plans on supporting query batching? Is there a doc we can refer to about the roadmap of Apollo-iOS?

[2019-04-19 15:26] Ded77 commented on #485
I haved the build time issue too with Xcode 10.2 but It's fixed for me with Xcode 10.2.1 😊

[2019-04-19 22:03] coreygrunewald opened #514 "Cancellation logic causing non-determinism when invoking result handler."
Hello,

We are seeing some non-deterministic behavior in a unit test from cancelling a `.fetch()` call with a cache policy of `.returnCacheDataAndFetch`.

Most of the time, our result handler callback is never called. I'm assuming this is because we are hitting this line in the `FetchQueryOperation`: https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/ApolloClient.swift#L192.

O

[2019-04-23 07:30] mltbnz commented on #439
At what point do you get these errors?

[2019-04-23 17:20] postmechanical commented on #37
Came to this issue via https://www.apollographql.com/docs/ios/initialization#adding-headers. Will that doc ever be updated with the conclusions here? Will this issue actually ever turn into changes in the SDK?

[2019-04-23 18:00] AnthonyMDev opened #516 "GraphQLQueryWatcher retained by ApolloStore"
I might be missing something here, but it seems to me like a `GraphQLQueryWatcher` that is not cancelled explicitly is retained by the `ApolloStore` and will continue to receive updates, even if the object that created the watcher (by calling `watch()`) releases it.

Do I need to be ensuring that I manually `cancel()` my `GraphQLQueryWatcher` every time I'm done with it? It would be nice if, when

[2019-04-23 18:00] wtrocki commented on #37
I think there is wider discussion now in community about forking the project under graphql-community organization and merge all overdue changes to provide community package.

[2019-04-23 18:02] postmechanical commented on #37
@wtrocki What does that mean with respect to this particular issue? Which specific solution will be chosen?

[2019-04-23 18:07] wtrocki commented on #37
ApolloAlamofire reaolves a lots of issues and IMHO should be listed in documentation as alternative to internal transports.

[2019-04-23 18:43] postmechanical commented on #37
There's plenty of us who don't want yet another dependency, particularly `AlamoFire`. Not an acceptable solution at all. @wtrocki

[2019-04-23 18:50] wtrocki commented on #37
Yes. It is just alternative that has features that still did not landed in core library.

[2019-04-23 19:29] tsaarva commented on #436
+1

[2019-04-24 08:48] MaxDesiatov commented on #37
I'm wondering if anyone would be interested in using a new potential package similar to ApolloAlamofire without Alamofire as a dependency, which would use NSURSession directly?

[2019-04-24 09:17] RolandasRazma commented on #37
would be great if it would build in as any auth requires it. Don't want to reply on another "package"...

[2019-04-24 10:44] RolandasRazma commented on #450
all you need to do is:

[code]

where `DateTime` is your date scalar

[2019-04-24 10:57] RolandasRazma commented on #397
how are you clearing?

[2019-04-24 18:33] JinkProject commented on #440
Same problem with my team. Anybody find anything out?

[2019-04-25 01:57] lmramirez commented on #511
Having the same issue.

[2019-04-25 07:42] DarkDust opened #520 "How to unsubscribe?"
`ApolloClient.subscribe(subscription:, queue:, resultHandler:)` returns a `Cancellable` but it seems this is not used to actually unsubscribe and there's no `unsubscribe` call, either. So, is there a way to unsubscribe with Apollo-iOS?

[2019-04-25 08:40] budjoskop commented on #440
Hey, still having this issue? @JinkProject

[2019-04-25 08:42] SrdjanSpasojevic commented on #440
I removed the POD and wrote simple HTTP calls and with that parameters with the query and it’s working fine

[2019-04-25 11:21] jayasme commented on #511
[code]

This information is to tell you that you hadn't passed any parameters to the `check-and-run-apollo-cli`.
With more investigations, I found that the last line `$APOLLO_CLI "$@"` in file `check-and-run-apollo-cli.sh`, "$@" is empty and it has been reset at line 36 which is `. "$HOME/.nvm/nvm.sh"`.
I tried to fix `. "$HOME/.nvm/nvm.sh"` up to `./"$HOME/.nvm/nvm.sh"` it seems "$@" has not bein

[2019-04-25 11:57] jayasme commented on #511
Try first of all
[code]

[2019-04-25 12:10] GenaroMarmolejo opened #521 "Code generation fails when adding a new query or mutation"
I have been working with apollo client for iOS for a while, I have my queries and mutations in different files (as it is supposed to be) and it have generated the API.swift file correctly all this time, until yesterday that I added a new mutation to one of my files.

After I added this new mutation, the other queries are not being generated, thus the API.swift file is empty now. If I delete that q

[2019-04-25 14:41] #521 closed

[2019-04-25 21:48] lmramirez commented on #511
I had already run `npm intall -g apollo`. It seems like `apollo-ios` is asking specifically for version `1.9.2` of the CLI. Even after running `npm install -g apollo@1.9.2` I get the same error.

I verified that I have the correct version on my machine using the following:

[code]

Even after verifying this, I still see the same error if I "cleanly" build the xcode project by deleting the `node_mo

[2019-04-25 21:56] aaronkchsu commented on #440
Did you guys find a version that solved this?

[2019-04-26 16:52] michaelnisi commented on #450
👍 I like your approach, @RolandasRazma. Be aware though that creating date formatters is not cheap.

Converting many objects, this can become relevant. Sharing the formatter is 85% better, according to Xcode, in a quick test I just ran.

[code]

Here, that’s 2.074 seconds vs 0.631 seconds for passing a test with 1000 conversions.

[2019-04-26 17:28] RolandasRazma commented on #450
I’m not doing that, this was just simplified example

Sent from my iPhone

[2019-04-26 17:33] LeeWong commented on #145
Any news about this topic?

[2019-04-26 21:43] bpollock-vida commented on #511
tried the npm global install instead of user.
"npm install -g apollo@1.9.2"

No change. Breaking down the wierdness:

== Wants apollo 1.9.2 instead of latest and hates prefix but commands to abide by it don't work ==
nvm is not compatible with the npm config "prefix" option: currently set to "/usr/local/Cellar/nvm/0.33.8/versions/node/v8.15.0"
Run `npm config delete prefix` or `nvm use --delete-pr

[2019-04-27 09:36] michaelnisi commented on #514
You should be able to use [Operation’s](https://developer.apple.com/documentation/foundation/operation/1408085-completionblock) `completionBlock: (() -> Void)?` for cleanup, it should get called after the operation is finished, successfully or not.

Another thought. Considering that a cancelled operation doesn’t *really* have a result and cancellation isn’t *really* an error, how about introducing

[2019-04-27 09:51] michaelnisi commented on #514
Forget the first part, `Cancellable` doesn’t expose `completionBlock`.

[2019-04-29 20:19] AshleyDeng commented on #384
I had the same problem but later I found out that I didn't update the `schema.json` after our backend team updates it.

Some suggestions to resolve it are:
- Make sure download the latest `schema.json` from the endpoint you are supposed to communicate with
- Make sure Build Phases include the a step which generates the GraphQL `API.swift` from `xx.graphql`
- Make sure API.swift has declarations of

[2019-04-30 11:56] tonespy opened #529 "Upgrading From version 0.7.0 to latest version"
I inherited a project that is using `Apollo-iOS version 0.7.0`, and the first thing I experienced while trying to upgrade from Swift 4 to Swift 5 is this error:

#444
[code]

To fix the above, I have to update the Apollo-iOS to the latest version, which I did. But now, I am experiencing a different issue.

* I noticed a lot has changed over the years, i.e:
**Version 0.7.0** Build Phase in 0.7.0 lo

[2019-04-30 20:22] bmunge commented on #461
I'm having the same issue, did you make any headway on this?

[2019-04-30 21:44] bmunge opened #530 "Application crashes when accessing fields in API.swift"
I'm having issues with the double optionals on many of the generated fields. When an object is instantiated and I attempt to access a value I get the following crash:

[code]

The code in question is the get block here:

[code]

My `graphQLMap` looks fine with an optionally wrapped nil value in place for this value. Here's the output for this key:

[code]

These double optionals are creating a lot

[2019-05-01 00:35] erikstrottmann opened #531 "Trailing newline thrash with Xcode 10.2"
I’m setting up Apollo in an app for the first time, and I have noticed that Apollo and Xcode 10.2 disagree about whether a file should end in a trailing newline, causing the file to be modified every time it is opened or the project is built.

**Intended outcome:**
Apollo should generate an `API.swift` with a newline `\n` character at the end of the file.

**Actual outcome:**
Apollo generates an `

[2019-05-02 09:30] michaelnisi commented on #531
What Text Editing Preferences are you using? I could not reproduce this with Xcode Version 10.2.1 (10E1001).

![Screenshot 2019-05-02 at 11 14 19](https://user-images.githubusercontent.com/108903/57066511-a7737280-6ccc-11e9-8b03-4259d0437360.png)

Anyone else seeing this issue?

[2019-05-02 17:35] erikstrottmann commented on #531
It looks like, while Xcode automatically modifies the file when it’s opened (see screenshot indicating modified file), I still have to save the file for the additional whitespace to be reflected on the filesystem.

<img width="190" alt="modified file" src="https://user-images.githubusercontent.com/2874864/57094167-b35b3680-6cc4-11e9-8053-2c4132a05b2e.png">

I have “Automatically trim trailing whit

[2019-05-02 20:51] Leonif commented on #440
Same issue, somebody found solution?

[2019-05-03 09:44] michaelnisi commented on #531
Thank you for the detailed follow-up. Sounds like I should be able to reproduce it.

[2019-05-03 11:24] kukkadapukarthik opened #533 "Type does not conform to protocol 'Hashable'"
while I am using enums in grpahql, API.swift file generated but the following error shown on API.Swift file.

Type 'CountryCode' does not conform to protocol 'Hashable'
Do you want to add protocol stubs?

[2019-05-03 11:28] kukkadapukarthik commented on #461
$APOLLO_FRAMEWORK_PATH/check-and-run-apollo-cli.sh codegen:generate --includes="./**/*.graphql" --endpoint='https://xxx.com/graphql' --target=swift API.swift

the issue will be solved by using the above command on build phase.

[2019-05-03 16:55] erikstrottmann commented on #531
When I use Vim with `:set list!`, my freshly generated file shows a newline `$` too, but if I save the file from Vim, Git shows that there’s now a new line. It looks like Vim also inserts the newline if it isn’t already present.

I think that’s default behavior, but just in case, here’s my `~/.vimrc`:

[code]

[2019-05-03 17:20] michaelnisi commented on #531
Confirmed 😅

![Screenshot 2019-05-03 at 19 18 54](https://user-images.githubusercontent.com/108903/57154103-50f35a80-6dd8-11e9-809d-4fd135920256.png)

[2019-05-03 17:45] michaelnisi commented on #531
Although, from a quick glance, I reckon this is not Swift specific, I will try expose this issue with a test for [apollographql/apollo-tooling/packages/apollo-codegen-swift](https://github.com/apollographql/apollo-tooling/tree/master/packages/apollo-codegen-swift).

[2019-05-04 05:59] michaelnisi commented on #531
I guess writing TypeScript is a thing I do now. 🤷‍♂️

[2019-05-05 16:20] vtamnh14 opened #535 "Config for cache list object from query"
Hi Apollo,
I have a query like that
"query ListPriceRanges($limit: Int, $nextToken: String) {\n  listPriceRanges(limit: $limit, nextToken: $nextToken) {\n    __typename\n    items {\n      __typename\n      id\n      maxPrice\n      minPrice\n    }\n    nextToken\n  }\n}"

apolloClient?.cacheKeyForObject = { $0["id"] }

But after getting response success, I try to get it from cache but the cache i

[2019-05-06 14:11] michaelnisi commented on #476
You should transport these Floats as Strings, rounding is not fun.

[2019-05-06 16:42] michaelnisi commented on #414
Missing schema should exit with helpful error message instead of, for example:

[code]

[2019-05-07 12:56] DarkDust opened #536 "Subscriptions create retain cycle"
I've seen retain cycles and then leaked ApolloClient instances when using subscriptions. The WebSocketClient still being alive and trying to reconnect was causing issues for me.

The cycle seems to happen like this:

* ApolloClient.subscribe calls `ApolloClient.send(operation:, context:, handlerQueue:, resultHandler:)`
* Here, a closure is created [which captures `self`](https://github.com/apollog

[2019-05-07 14:58] DarkDust commented on #520
To answer my own question… calling `cancel()` on the object returned by `ApolloClient.subscribe(subscription:, queue:, resultHandler:)` is supposed to trigger unsubscribing and is actually required to [break a retain cycle](https://github.com/apollographql/apollo-ios/issues/536).

[2019-05-07 14:59] #520 closed

[2019-05-08 13:29] shamilton-pandora opened #537 "Set a strict version number for the `SQLite` dependency"
Using a strict version number of the SQLite dependency on 'Apollo/SQLite' would help the issue of having swift compatibility across versions. Right now we need to migrate back to 0.9.5 but can't because the SQLite dependency will auto pull the latest patch version. This latest patch version contains XCode 10.2 updates that are not backwards compatible with Xcode 10.1. So we are stuck.

[2019-05-08 14:21] aivcec opened #538 "Multiple subscriptions over the same client"
I've been using apollo in my ios project and so far I had no issues with mutations and queries. But subscriptions leave me a bit perplexed.

During my initial attempts, Apollo seemed to open a subscription and I was able to receive data just fine. But I now realized that only the initial subscription on my apollo client works and all the later subscriptions never receive any events.

That leaves m

[2019-05-09 11:53] sam961 opened #540 "Multiple Schema - Production and Development Issue"
Iam trying to create multiple schema for my project; one for development and one for production
I followed this url :
https://thoughtbot.com/blog/let-s-setup-your-ios-environments
All working fine but when I compile iam stuck on this :
**Couldn't find Apollo.framework in FRAMEWORK_SEARCH_PATHS; make sure to add the framework to your project.**
Any idea ?

[2019-05-10 07:29] chopper6667 opened #541 "High price acquisition apple enterprise developer account"
公司项目紧急高价收购一个苹果企业账号，出手的可以加我QQ 542357086
Company project urgent ，need one apple enterprise developer account ，if you want to sell ，Feel free to contact me
skype 634242887@qq.com
email 634242887@qq.com
telegram  ypjovi

[2019-05-11 06:51] PoeticPete commented on #461
Seems like the `$APOLLO_FRAMEWORK_PATH/check-and-run-apollo-cli.sh` command doesn't actually run the local version of apollo.

_This is what is run under the hood._
[code]
They do this to make sure a known working version of the cli is used for the code-gen, which breaks with newer versions (https://github.com/apollographql/apollo-ios/issues/334).

@kukkadapukarthik posted a working command for th

[2019-05-14 08:13] sebastiannicklas commented on #205
Hi,
is there any update on this topic?

[2019-05-16 08:19] #538 closed

[2019-05-16 08:20] aivcec commented on #538
The framework works fine, the issue was on the backend.

[2019-05-16 16:21] dannyhertz commented on #436
+1

[2019-05-17 05:19] sovannarithsok commented on #511
I have the same issue with Apollo 0.10.0

[2019-05-20 06:05] shamshiranees commented on #395
After wasting hours, I found out the fix.
Enable automatically manage signing and development signing in targets.

[2019-05-21 12:53] jonnyjorvik opened #547 "Result enum in Result.swift overrides default Swift 5 implementation"
The `Result` type enum declared in `Result.swift` overrides the new Swift 5 implementation, meaning you have to explicitly specify `Swift.Result` in files that `import Apollo`.

**Intended outcome:**
I can use `Swift.Result` without the `Swift` namespace in a file that imports Apollo.

**Actual outcome:**
I have to explicitly specify `Swift.Result`

**How to reproduce the issue:**
Create a new `sw

[2019-05-21 14:55] esanchezaxa commented on #511
same here

[2019-05-21 17:39] Aldoukfm commented on #521
I have the exact same issue. How did you manage to solve it?

[2019-05-21 17:49] GenaroMarmolejo commented on #521
I had a "," after the last attribute of my query.

For example I had something like:
`query contries {
countries {
name,
capital,
flagURL,
}
}`

The weird thing is that I had another queries with the "," at the end and it didn't caused me any issue before. But check if you have something like that, delete it and check if it generates the API file (maybe it may be another syntax issue).

[2019-05-22 09:28] esanchezaxa commented on #511
Solved

The script checks if you have Apollo 1.9.X with **Node v8.15.0**

If you have Apollo@1.9.X installed on nodejs newer version you must change to 8.15.0 and install apollo again.

`nvm use 8.15.0`
`npm i -g apollo`

[2019-05-22 12:29] louaydhyeb commented on #395
@shamshiranees Hello , please can u tell me how to do it ?

[2019-05-23 04:47] shamshiranees commented on #395
@louaydhyeb
![screenshot](https://user-images.githubusercontent.com/34855187/58226346-edf44400-7d43-11e9-916c-22f78792ab82.png)

[2019-05-23 23:49] bpollock-vida commented on #511
Thanks for the contribution @esanchezaxa

I don't have npm in my iOS directory... so this did not work for me. :(

[2019-05-24 03:21] khacdai37 opened #548 "Query with null field in Swift language"
I want query the categories with parent = null but It sill return parent != null in result.
This's I want to
`query ParentCategories {
  categories(where: { parent : null }) {
    id
    name
}
`
I try with
`query ParentCategories($where: CategoryWhereInput) {
  categories(where: $where) {
    id
    name
}`

Swift:

`var filter = CategoryWhereInput()

filter.parent = nil

apollo.ParentCategories(

[2019-05-24 05:56] HareshGediya commented on #395
I was able to resolve this error by remove file in Pods -> Targets Support Files -> Pods-<AppName> -> Pods-<AppName>-frameworks.sh. After removing that file again install pod using command **pod install**.

[2019-05-24 07:25] esanchezaxa commented on #511
You can go to the directory where you have npm and install Apollo globally

[2019-05-24 08:10] gaoshanyu opened #549 "Fatal error: 'try!' expression unexpectedly raised an error: database is locked (code: 5)"
My app has met `database is locked` crash issue, please help to find the root cause. It's caused 2% crash rate for my customers.

* I've get the error message which from Fabric:

crash_info_entry_0 | Fatal error: 'try!' expression unexpectedly raised an error: database is locked (code: 5): file .../SQLite.swift/Sources/SQLite/Core/Statement.swift, line 211

## Environment:
### Xcode version:
10.2.

[2019-05-24 08:33] gaoshanyu commented on #549
Here is the code shows my how to generate ApolloClient:

[code]

Because I need write unit tests for all of my APIs, so I generate the ApolloClient in every page which need request data. I do it like:

`let client = ApolloNetworking()`

[2019-05-27 14:17] sirghi commented on #467
Indeed would be very useful. Would relieve us from converting into custom Decodable types to store these objects in a cache, for instance.

[2019-05-29 11:38] pskow commented on #230
It's been more than year and this issue is still there :(

[2019-05-29 14:44] hariszaman opened #554 "ApolloStore is not public on ApolloClient"
Following the instructions here for the direct access to cache of the store.
https://www.apollographql.com/docs/ios/watching-queries.

But the variable "store" on "ApolloClient" is not publicly available making the method "withinReadTransaction" unavailable.

This should be made public to be accessible from outside of Apollo

[2019-05-29 19:56] xlexi commented on #386
Any update to this?

[2019-05-30 09:40] crabman448 opened #558 "Deprecated enum cases"
In our schema some enum cases were deprecated. And even if these case are not used in the project, `Api.swift` shows warnings like on the screenshot. Is it possible somehow to avoid that on the client side without creating a new enum in the schema?
![Screenshot 2019-05-30 at 11 38 43](https://user-images.githubusercontent.com/7022709/58623998-7be5a700-82cf-11e9-806b-5b26e302981f.png)

[2019-05-31 05:41] attheodo opened #560 "GraphQLResultNormalizer crash"
Hey,

we're seeing a bunch of those lately in our crash logs. Let me know how we can help debug this further. We are on Apollo `10.0.0`.

Thanks

[code]

[2019-05-31 18:01] AnthonyMDev opened #562 "Feature Request: Add documentation to initializer of generated Input Structs"
If our schema has an input data structure that has documentation for fields, that documentation is present in the generated swift structs above the fields. It would be nice if it was also added to the struct initializer. This would improve the Xcode inline documentation window usage for these input structs.

## Example
Given this struct:
[code]

The schema field documentation would also exist for

[2019-06-04 00:30] mcai1 commented on #436
+1

[2019-06-04 07:23] DmitriyTerekhin opened #564 "How to use refresh token with apollo?"
Is it possible to use refresh token? How? I can't find any solutions...

[2019-06-04 12:03] hardikdarji commented on #395
I have tried
-> quit xcode,
-> install pod(again),
-> start xcode and works:)

[2019-06-04 16:58] jnwagstaff opened #565 "Feature Request: fetchMore()"
Other apollo clients for the web have the option to fetch more items for a given query.  This keeps those additional items cached with the original request.  Right now there is no way to cache additional fetches with the original fetch.

[2019-06-05 09:01] #529 closed

[2019-06-05 20:53] AnthonyMDev opened #566 "Initializing data with selection set always throws an error."
Taking a `GraphQLSelectionSet` and trying to initialize a Data object with it always throws this error.

`GraphQLResultError(path: ["rootContent", "__typename"], underlying: Apollo.JSONDecodingError.missingValue)`

I've checked and "__typename" is set in my selection set data. There is also a "rootContent` in the `resultMap` that is empty. It looks like JSON Encoding and Decoding are using this `r

[2019-06-05 21:40] AnthonyMDev opened #567 "BUG: Writing to cache not throwing execution errors"
When there is an error executing a write to the cache, the error is being suppressed, even though the function is meant to throw.

In `ApolloStore.swift` on line 246, it should use `await()` instead of `wait()`.

[2019-06-05 21:50] AnthonyMDev commented on #566
I realized this was an issue with something in my implementation. Ignore.

[2019-06-05 21:50] #566 closed

[2019-06-05 23:12] juanpdelat commented on #388
@jxltom is right, using the proper field fixed it for me. I believe the error message should be improved.

[2019-06-06 20:46] MKGitHub opened #568 "Build failed with Xcode 11.0 beta (11M336w) + Swift 5.1"
Please fix ASAP!

[2019-06-06 22:12] jtrainer commented on #511
We're now seeing this issue when building on our CI (BuddyBuild). Everything works fine on local dev machines.

[code]

[2019-06-06 23:56] dannymout commented on #568
This is the error I get attempting to build using Xcode 11.

[code]

[2019-06-07 08:17] MKGitHub commented on #568
Yeah the workspace will crash, but the projects can open. But then there are other compiler errors.
In cases like this it is quite abvious that a new version of Xcode/Swift would break. Just download and compile…

[2019-06-07 16:23] jtrainer commented on #511
For anyone who runs into the same issue on BuddyBuild, we fixed the problem with a "pre build" script:

Add a file named "buddybuild_prebuild.sh" in the root of your repo:
[code]

[2019-06-07 17:35] dmandarino opened #570 "GET request could be a fetch option"
We are not able to use GET request as a fetch option like we do in others platforms. So, when we want to fetch information from an API that only allows this method, it fails. Also, we are not able to help API with cache, as most of them don't implement a specific header to allow cache with POST.

[2019-06-07 23:29] CraigSiemens opened #573 "Codegen should handle Int32 JS limit better"
On iOS `Int` defaults to `Int64` but Apollo Server only accepts `Int32`. If you try passing a int larger that what can fit in a `Int32`, Apollo Server will fail with an internal server error.

[code]

[2019-06-08 01:39] dannymout commented on #568
@MKGitHub I'm not using cocoapods, so it's not a workspace... that's the error I get trying to build the framework w/carthage.

[2019-06-08 11:11] MKGitHub commented on #568
@dannymout You get the workspace even with Carthage. Try to open and compile the workspace and all the projects manually – what happens?

[2019-06-08 13:09] blommegard commented on #568
Open `Apollo.xcworkspace` in Xcode 10 and remove the reference to the `Configurations` folder in the bottom of the Project Navigator. Xcode 11 seems to have problems with that reference for some reason.
When removed Xcode 11 will build the project just fine without errors.

[2019-06-09 02:10] dannymout opened #576 "How to get the result as a Swift Data object from a query?"
Is there anywhere I can get a normal Swift `Data` object in a fetch callback. I'd like to be able to use the data for `Decodable`...

[2019-06-09 14:39] boardmain opened #577 "Help with codegen swift"
hi all
im unable to create the code for this query
`
{
  search_cooker_near_user(args: {distance_kms: 100, userlocation: {type: "Point", coordinates: [44.712586, 10.232267]}}, limit: 10, offset: 0, order_by: {distance: asc}) {
    cooker {
      name
      photo
    }
    distance
    position
  }
}
`
codegen ignore it

can some one help?

[2019-06-10 01:19] #576 closed

[2019-06-10 06:43] sam961 commented on #230
same issue here ... I tried to fixed the issue ... but I didn't get any solution :(

[2019-06-11 06:25] SpaceHeroGuide opened #579 "Build phase script stops SwiftUI automatic preview"
When using Apollo with the build phase script as stated in the [docs](https://github.com/apollographql/apollo-ios/blob/0.10.1/docs/source/installation.md#adding-a-code-generation-build-step) the automatic preview of SwiftUI is paused every time the script was executed and has to be resumed manually.

### Intended outcome
Even with the build phase script active, automatic preview should not be paus

[2019-06-11 07:05] sam961 opened #580 "Very High Memory Allocation"
I have been working on a project using graphql since 3 month.
I noticed at the time being there is a massive memory allocation when iam using the Apollo
Attached is the image
<img width="215" alt="Screen Shot 2019-06-11 at 10 02 26 AM" src="https://user-images.githubusercontent.com/4921874/59250539-41b1c900-8c30-11e9-9436-e8ab2f2ecfd4.png">
I couldn't figure out the issue, but it is a very critica

[2019-06-11 08:51] js commented on #573
Sadly the GraphQL spec specified that [integers should be 32 bits](https://graphql.github.io/graphql-spec/June2018/#sec-Int), because Javascript I suppose…

If the codegen was change to use Int32 it would be correct, but UX/ergonomics wise it would a regression as most interoperability with existing code would suffer, since most swift code would use `Int` and would have to attempt to convert it to

[2019-06-11 08:59] js commented on #580
Use the allocation instrument to see what objects you're allocating

[2019-06-11 09:00] js commented on #579
Have you set up the Input/Output Files of the build phase?

[2019-06-11 11:12] sam961 commented on #580
after tracking, it seems  that loading image  inside the app is taking much memory.
Problem solved by reducing image size.
But also  the apollo has memory leaks that is not solved yet .
#230

[2019-06-11 12:09] guilhermereis1 commented on #395
Exec in your project "sudo chmod -R 777 YourProjectFolder"

[2019-06-11 14:59] ScottRobbins commented on #549
I'm also seeing this. @gaoshanyu have you been able to identify a workaround or know what exactly is causing it?

[2019-06-12 06:21] niraj1991 commented on #516
Hi @AnthonyMDev,

I have same issue do you find any solution?

Thanks

[2019-06-12 06:44] niraj1991 commented on #329
Hello @qalvapps and @liamjdouglas

I have same issue in version 0.10.1.

When I am using custom scalar types at that time Watcher is not calling while update the Cache. Do you have any solution?

Thanks

[2019-06-12 18:28] xzenon commented on #62
Bump

[2019-06-13 08:07] Arthurius opened #582 "Feature Request: Support for Automatic persisted queries"
To improve network performance with GraphQL, it would really be nice to have the option to enable APQ in the iOS ApolloClient. On Android this feature is already implemented like this:
[code]

[2019-06-13 09:55] Codebear98 commented on #582
Hi, I'm actively working on this.

[2019-06-13 20:22] JosephHosf commented on #454
Facing the same issue. @zoufishanmehdi any luck in finding a solution?

[2019-06-14 08:58] gaoshanyu commented on #549
@ScottRobbins Actually, no. I'm still trying to find the root cause. Some thoughts for you refer:
1. Before we use ApolloNetworking(as my code above), we use singleton to manage ApolloClient, it's meaning we only have an ApolloClient in our app life cycle, we didn't meet this issue;
2. When we using ApolloNetworking, every ViewController has they owned ApolloClient, and the ApolloClient will be re

[2019-06-14 09:06] hariszaman commented on #554
Can anybody comment on this issue?

[2019-06-14 19:22] ScottRobbins commented on #549
@gaoshanyu

This is a similar setup to what we have. I"m guessing that 3. is what is causing the issue for whatever reason. We usually see this crash when the app is first launched and several things will immediately start making queries.

We'll try keeping a singleton of the client and see if that helps. I appreciate the extra context!

[2019-06-17 09:16] fassko commented on #386
@xlexi It does work with Cocoapods, but if you want to integrate this library in your library of framework, then Carthage is the option to use.

[2019-06-17 12:16] xlexi commented on #386
Indeed Carthage is preferred, I just provided a temporary solution for others who come across this, since all we're getting from Apollo is tumbleweeds.

[2019-06-17 16:08] sebastiannicklas commented on #436
+1

[2019-06-18 09:26] Codebear98 commented on #582
Better merge #572 first, as it will need `useGetMethodForPersistedQueries` for APQs with Couldflare support.

[2019-06-18 11:08] niraj1991 commented on #127
Hello @martijnwalraven

@martijnwalraven Can you please see my above commented?

[2019-06-19 05:10] michaelnisi commented on #62
Try [CFNetwork Diagnostic Logging](https://developer.apple.com/documentation/network/debugging_https_problems_with_cfnetwork_diagnostic_logging) for development. The `CFNETWORK_DIAGNOSTICS` environment variable lets you configure  verbosity (0, 1, 2, or 3).

[2019-06-19 10:02] kukkadapukarthik commented on #562
any luck?

[2019-06-19 13:03] yurishevtsov opened #585 "ee"

[2019-06-19 13:04] #585 closed

[2019-06-20 09:29] aaalveee opened #586 "How do I pass objects or dictionary or array into mutation or query?"
I have a mutation like this.

[code]

And the Json represents this,

[code]

How can I pass this as JSON or dictionary into the mutation? The Json is a scalar type defined by the Prisma. So it comes with the schema.json. But the Apollo generates the API.swift file, and in this, the Json has a type of String.

I can't pass the JSON value as a string, because it would give error from the server. The

[2019-06-23 15:19] #586 closed

[2019-06-23 17:14] aaalveee opened #587 "The Json type value is not accepted by the server"
I have a mutation like this.

[code]

This is my Run Script
[code]

And I have this code in one of the Swift files.

[code]

And the server expects this JSON format from the client side,

[code]

I don't know what's happening. I'm directly passing the dictionary object into the mutation. I am getting this error "**arg.data.event is not iterable**" from the server.

Have you come across any situati

[2019-06-24 15:27] #587 closed

[2019-06-25 11:23] designatednerd commented on #62
CFNetwork Diagnostic logging as mentioned above, Charles Proxy, or MITM proxy are great workarounds until we get to this.

But yes adding this at the lib level would be real helpful.

[2019-06-25 11:37] designatednerd commented on #76
I've seen issues with this around `@IBDesignable` all over the place. One workaround that I've found which works consistently is ironically the thing Apple used to make you do with `IBDesignable` in early betas of it: Put all your `IBDesignable` objects in their own framework. That way, only that framework has to rebuild when the designables are reloading.

I'll definitely be looking into a way to

[2019-06-25 11:53] designatednerd commented on #276
This is now up to date with changes for 0.9.5, 0.10.0, and 0.10.1. Please feel free to tag me on a new bug if I forget to do this for the next release 🙃

[2019-06-25 11:53] #276 closed

[2019-06-25 12:12] designatednerd commented on #102
We should probably update to use Swift 5's `Result` type instead of our own custom one where possible - that would probably help reduce some of these conflicts

[2019-06-25 12:17] designatednerd commented on #112
@alvinvgeorge This is tied to the issues around #37 - at this point you'd need to configure a new client with the updated header query, or just set up the headers when the client is set up.

We'll be working in that issue around getting that working better. Is there anything else we can help with here?

[2019-06-25 12:18] #117 closed

[2019-06-25 12:22] designatednerd commented on #125
@horaciosolorio I'm guessing this was Xcode 9 Beta given the date of this post. Obviously this was a while ago, sorry we weren't able to help you at the time!

If you are still having similar issues with Xcode 10 or 11, please open a new issue and mention:
- Xcode version
- Operating system version
- How are you installing the Apollo framework?

[2019-06-25 12:22] #125 closed

[2019-06-25 12:23] designatednerd commented on #106
Sorry we weren't able to respond to this at the time of your request!

Unfortunately, since we're now dealing with the iOS 13 betas, we will not be adding support for iOS 8 - iOS 9 will remain our minimum at this time. Please feel free to reach out to me if you have any questions or problems!

[2019-06-25 12:23] #106 closed

[2019-06-25 12:29] designatednerd commented on #121
@KieranLafferty Thanks for your work on that!

At this point we do not plan to integrate first-party support for Realm into the Apollo iOS SDK, although I've got some long-term plans to make it easier to choose what persistence you want to use at the user level without the Apollo framework having to know or care what you plug in. Watch this space, but it'll likely take a while to get up and runnin

[2019-06-25 12:29] #121 closed

[2019-06-25 12:34] designatednerd commented on #132
The `URLSessionConfiguration` is the correct place to set this timeout interval for now.

Closing this issue, please let me know if you have further questions!

[2019-06-25 12:34] #132 closed

[2019-06-25 12:35] designatednerd commented on #136
Since @horaciosolorio indicated this issue was resolved, I'm going to close this issue. Please feel free to reopen if you're still having issues here. Thanks!

[2019-06-25 12:35] #136 closed

[2019-06-25 12:41] designatednerd commented on #140
Hey all - going to be doing some spelunking in this stuff and I was wondering: Are folks still experiencing this crash?

[2019-06-25 12:42] designatednerd commented on #143
I think there are some ways to set this up without being quite as much of a pain in the ass with SPM/Xcode 11. Going to look into it.

[2019-06-25 12:43] designatednerd commented on #145
This is definitely something we should support, especially for larger queries.

[2019-06-25 13:00] designatednerd commented on #189
@kishinmanglani Would #572 address this for you?

[2019-06-25 13:02] designatednerd commented on #195
Since @MaximusMcCann noted he got this working, I'll close this out. Please open a new issue if you run into anything similar with newer versions!

[2019-06-25 13:02] #195 closed

[2019-06-25 13:08] designatednerd commented on #167
@MaximusMcCann Can you confirm this is no longer happening on newer builds? I'd like to close this issue out as stale but would prefer confirmation before closing.

[2019-06-25 13:08] kishinmanglani commented on #189
I was able to accomplish this by using a custom `NetworkTransport`, but looks like `FetchOptions` would make that a lot easier!

[2019-06-25 13:09] designatednerd commented on #169
@MaximusMcCann Any idea what version this was? I'd love to add that for future reference.

Am I correct in assuming this has been fixed or is this still an issue?

[2019-06-25 13:11] designatednerd commented on #159
Closing this as a dupe of #140, please follow changes there as I try to figure out what's going on here.

[2019-06-25 13:11] #159 closed

[2019-06-25 13:15] designatednerd commented on #160
We're not planning on supporting this at this time, so I'll close this out. We may revisit when we start looking at some architecture stuff later on, but for now, this is not on our priority list.

[2019-06-25 13:15] #160 closed

[2019-06-25 13:16] designatednerd commented on #179
Looks like a PR was never opened for this but I'm definitely interested in doing this for the sake of my own sanity.

[2019-06-25 13:18] designatednerd commented on #183
@iishabrawy Were you ever able to find a solution for this? I'd like to close this as outdated, but I'd like to confirm that you were able to find a solution. Thanks!

[2019-06-25 15:54] designatednerd commented on #579
This is probably related to #76 - we need a better "Did anything change? No? Then don't regenerate." mechanism.

[2019-06-25 15:58] designatednerd commented on #443
@stNamco Could you please provide some more details here, it's awfully hard to tell from the description what happened. Thanks!

[2019-06-25 15:59] designatednerd commented on #530
@martijnwalraven Do you have some background as to why this is using double optionals here?

[2019-06-25 16:38] bmunge commented on #530
@martijnwalraven given insight in other issues:

I understand that approach and agree, however I think if possible we should address the crash that occurs when accessing these parameter objects in the client.

[2019-06-25 19:50] designatednerd commented on #530
Ahhhh got it (sorry, second day on the project 😛).  To be clear, this is crashing in the getter, on the `as!`, correct? Do you have any context in terms of what you're trying to do with the value - hand it to UI or some other structure, or something else?

[2019-06-26 05:59] fawad-khalil commented on #386
Hi, is this issue resolved as Carthage is already in use in our project and we can't use Cocoapods? This is a serious blocker for us :'(

[2019-06-26 06:52] designatednerd commented on #386
Sorry about the earlier tumbleweeds and thanks for bringing this to my attention - I'll take a look and see what I can figure out.

[2019-06-26 08:47] designatednerd commented on #193
@lilyball Is this issue still occurring? The reserved keywords list has moved to here: https://github.com/apollographql/apollo-tooling/blob/master/packages/apollo-codegen-swift/src/language.ts#L41 and it does still contain both `self` and `Self` as reserved keywords.

[2019-06-26 14:30] bmunge commented on #530
Yep, the crash is occurring on the get block.

We have a page building various inputs that ultimately populate a single object that is used as a query parameter. I was attempting to use the parameter object to be able to set and change values as the user interacted with the UI before sending the query. Additionally, we often need to get the value to perform some client side validation.

[2019-06-26 21:11] designatednerd commented on #530
@martijnwalraven Correct me if I'm wrong but from our discussion earlier today this doesn't sound like the use case this was designed for - it sounded like this was more designed to be an `as!` since it's using things which are validated at compile time as valid for a request rather than being used for a builder-type object.

@bmunge Can you discuss a little why you'd like to use this object to bu

[2019-06-26 21:44] bmunge commented on #530
That's the solution I ultimately went with, but I found it odd that using the getter always resulted in a crash. It seems like the underlying object being retrieved supported the structure so I didn't expect to see a crash.

[2019-06-27 16:03] designatednerd commented on #440
@gmoraleda Or anyone else - is anyone willing to share either here or by email a query which is causing this? It'd be most helpful if you can show the before and after of a query that was working but then started freaking out on this issue.

[2019-06-27 16:18] designatednerd commented on #530
Yeah, I think the architecture as it stands is more for create-then-send rather than ongoing usage. It still probably shouldn't crash though 🙃

[2019-06-28 06:49] gmoraleda commented on #440
Hi @designatednerd !
I created a sample project to test Apollo. I'm using the mutations/queries from our Android app (already working with Apollo): https://github.com/ios-cluno/GraphQL
So the project is pretty much empty. Was created using Xcode11-beta2.

[2019-06-28 08:00] mohammedshahid opened #593 "Swift 5 support"
Hi Guys,

Is there support for Swift 5 , if not please mention if it's in the timeline.
We want it to support SWIFT ABI in our app, which helps in reduction of app size.

[2019-06-28 10:31] designatednerd commented on #593
@mohammedshahid: Yes! The lib is actually already migrated but a step got missed with updating the swift version in the Podspec. When #592 is merged, that should stop the whining from CocoaPods.

[2019-06-28 10:31] pranita-mindstix opened #594 "Getting compiler error on archiving for Apollo 0.10.1 version"
I have installed the latest Apollo - '0.10.1' for my iOS project. Building and running of an application work perfectly. But getting a compile-time error while archiving the project :(
Attached screenshot for error.

<img width="1110" alt="Screenshot 2019-06-28 at 3 38 49 PM" src="https://user-images.githubusercontent.com/8039894/60336259-81f9a100-99bd-11e9-9572-a0c6e9357fd8.png">

I am using -
Xc

[2019-06-28 10:34] designatednerd commented on #594
@pranita-mindstix Weird that it works for build + run but not for archive - have you tried altering the `-maxdepth` parameter to something else (or omitting it altogether)?

[2019-06-28 10:40] designatednerd commented on #440
OK cool. One thing that jumped out at me just taking a quick look: [Deal.graphql](https://github.com/ios-cluno/GraphQL/blob/master/Deal.graphql) is not indented the way the other queries and mutations are. If you update the indentation there, does the CLI stop freaking out?

[2019-06-28 10:52] pranita-mindstix commented on #594
@designatednerd Sorry, I might be asking a stupid question, but what to change for maxdepth parameter? I mean do I really need to change this script?

[2019-06-28 11:04] designatednerd commented on #594
No such thing as a stupid question!

So where it currently says:

[code]

I would try updating it to something like

[code]

My suspicion is that `maxdepth` is not looking far enough down the tree to find the framework. If that doesn't work then something else is going on.

[2019-06-28 11:26] pranita-mindstix commented on #594
Nope, altering maxdepth didn't work.. :(

[2019-06-28 11:29] designatednerd commented on #594
:sad-trombone: - can you let me know what you're using to integrate - cocoapods, carthage, or manual? I'll see if i can repro.

[2019-06-28 11:31] pranita-mindstix commented on #594
I am using cocoapods and I am on the version - 1.5.3

[2019-06-28 13:23] gmoraleda commented on #440
I put all the graphql files through http://toolbox.sangria-graphql.org/format but the issue remains the same:

[code]

[2019-06-28 13:55] designatednerd commented on #440
OK! That helps at least throw that out as a possibility. Will take a look into it!

[2019-06-28 17:49] SirensOfTitan commented on #582
I hacked together really super basic support for APQ today on this branch here (It is pointing to my forked master branch though): https://github.com/SirensOfTitan/apollo-ios/tree/sirensoftitan/jun-28/apq

I didn't build subscription support yet, and haven't added GET support for queries yet.  I essentially just created an APQNetworkTransport that wraps another network transport and handles persis

[2019-06-29 04:34] Dfmarulanda commented on #511
got same issue after changing brew node to nvm node.

[2019-06-29 21:14] ZevEisenberg commented on #369
It would be nice if Apollo generated a .xcfilelist file, which could be used to declare all the .swift files it generates. (This is in cases where you’re generating a folder of files, rather than just a single API.swift file.)

[2019-06-30 19:19] dmandarino commented on #582
@SirensOfTitan a branch that supports GET method is already merged. What do you think of updating your branch to continue your work?

It would be great to have persisted queries.

[2019-06-30 19:25] dmandarino commented on #570
This was done in issue #572

[2019-06-30 20:05] designatednerd commented on #570
Yep! Holding off on closing this until it gets released 🤓

[2019-07-01 08:05] fawad-khalil commented on #386
Hi @designatednerd , thanks for your consideration. Any updates on this one?

[2019-07-01 08:24] designatednerd commented on #386
On my list for this (shortened due to 🇺🇸holiday) week!

[2019-07-01 10:05] designatednerd commented on #380
Confirmed that this is working for `macos` on Carthage 0.33. I'm gonna close this out - thanks @tonyarnold!

[2019-07-01 10:05] #380 closed

[2019-07-01 11:14] designatednerd commented on #386
Still looking into what's going on with TV + Watch OS, but if you only need to use either iOS, macOS, or both, you can use `carthage update --platform ios,macos` that currently builds with `0.10.1`.

[2019-07-01 12:38] designatednerd commented on #386
Unfortunately, it appears [this is a Carthage issue](https://github.com/Carthage/Carthage/issues/2735).

So the problem is that when things are compiled by Carthage, Carthage is setting the version of a dependent project being compiled incorrectly for both watchOS and tvOS.

For example, though the `SQLite` dependency is clearly declared as having a 2.2 minimum `watchOS` SDK in its own `xcodeproj`

[2019-07-01 12:39] designatednerd commented on #386
Note: Updated the title of this issue to reflect that macos is now working fine

[2019-07-01 14:16] designatednerd opened #600 "Look into TSAN failures"
In #551 @martijnwalraven tried turning on the Thread Sanitizer, and that's led to some maddeningly inconsistent failures on CI. I was suddenly able to reproduce a bunch of times this morning, but when working with him today, I was not able to reproduce using exactly the same laptop/simulator/code. Martijn can't repro on his end either.

After trying and trying to repro this afternoon, our strong h

[2019-07-01 14:19] SirensOfTitan commented on #582
I plan on working more on this today, so hopefully I’ll get to something I find PR worthy today! I’ll check back in soon.

Sent from ProtonMail Mobile

On Sun, Jun 30, 2019 at 3:19 PM, dmandarino <notifications@github.com> wrote:

[2019-07-01 18:21] SirensOfTitan commented on #582
#601

[2019-07-01 20:52] designatednerd commented on #37
Very much still subject to change but a draft on cancel-before-flight and swap-out-info-on-the-request stuff is up as #602

[2019-07-01 21:02] lilyball commented on #193
Yes it's still occurring. I just added a `self` field to a query and regenerated using Apollo 2.15.0 and while it escaped the tokens in most places, it didn't do it in all places. In particular, in the diff I see

[code]

and the usage of the unescaped `Self` here is wrong.

[2019-07-01 23:56] Jarred-Sumner opened #604 "Missing API reference link?"
Is there a link to the API reference anywhere? The link to "API reference" from https://www.apollographql.com/docs/ios points to http://cocoadocs.org/docsets/Apollo/0.7.0/ which doesn't show the list of classes:
![image](https://user-images.githubusercontent.com/709451/60473382-b1a8e300-9c21-11e9-8634-b0f5e8acd613.png)

![out](https://user-images.githubusercontent.com/709451/60473346-8a521600-9c21

[2019-07-02 07:13] designatednerd commented on #604
Unfortunately this is a dupe of #171. CocoaPods deprecated CocoaDocs ages ago, so I'm going to be looking for a way to regenerate the docs in something more sustainable. I'm leaving this one open too as a reminder to get on this sooner rather than later.

[2019-07-02 09:10] Vuong-Dao opened #606 "How to assign nil to a graphQL property"
Hi All.
I got the schema file from backend and in the API.swift (Auto-generated) I had this property
[code]

How I can assign that pictureUrl with nil?

[2019-07-02 09:54] designatednerd opened #607 "Update codegen script finder"
Need to update the build script finder for CocoaPods to account for the fact that the `.sh` scripts are now `preservePaths` rather than embedded in the framework directly. This needs to be done prior to the next release of the lib and should probably incorporate stuff from #387 and #420 as well.

[2019-07-02 10:37] Codebear98 commented on #582
Ops. Actually I was testing it for weeks, anyway I made a PR too #608
It supports fetchOption and also `useGetMethodWithPersistedQueries` which sync up the changes on Android project for CDN support.

Please see if it's useful for you.

[2019-07-02 10:41] Codebear98 commented on #376
Just made a PR for this #608
which support GET for CDN too, fallback to POST if APQs not cache for avoiding 2k length limitation of query string.

[2019-07-02 16:38] designatednerd commented on #606
It slightly depends on what you're trying to do, but the short answer is that if you want the value of `pictureURL` to be sent as `nil`, you need to set it as `.some(nil)`.

Essentially with the double-optional, we're saying "Is this missing here, or is the value nil?". If you set a double optional directly to `nil`, it thinks the value simply was not provided and won't send it to the server. If y

[2019-07-02 21:26] MKGitHub commented on #568
No need to open it in Xcode 10 since you have Xcode 11 installed and set as current, switching back and forth is a pian in the …
Just edit the "contents.xcworkspacedata" and remove the file reference to the "Configurations" section.

[2019-07-02 21:52] MKGitHub commented on #568
But Version 11.0 beta 3 (11M362v) break again…

[2019-07-03 01:45] Vuong-Dao commented on #606
Thank you for your answer.
I wanted to pass the nil value for `pictureUrl ` and pass it to the server again.

I tried with your way
_If you set it to .some(nil) you're telling it explicitly that it needs to send a value of null to the server._

but It didn't work. I got this issue
`Could not cast value of type 'Swift.Optional<Swift.String>' (0x105f2c488) to 'Swift.String' (0x105ef6190).`

[2019-07-03 07:55] designatednerd commented on #606
Hm, where are you seeing that latter issue? It'd help if I could have a little context of what's happening as well. It seems like the runtime is expecting a `String` somewhere it should be expecting an `Optional<String>`, and the compiler's not catching it.

[2019-07-03 09:35] Vuong-Dao commented on #606
If I drop the schema.json file. Could you run a new project with it and see what I mean?

[2019-07-03 10:01] designatednerd commented on #606
Yeah if you can send the `schema.json` and the query that's not working, that'd be awesome. You can upload here or email ellen at apollographql dot com

[2019-07-03 11:06] designatednerd commented on #594
@pranita-mindstix Can you try replacing your script with the following:

[code]

[2019-07-04 05:32] pranita-mindstix commented on #594
@designatednerd I have replaced the script with your suggested code. Able to archive now.
Thanks for your quick help. :) 👍
One more question, issue was with the path which we were passing for getting check-and-run-apollo-cli.sh script file, correct?

[2019-07-04 08:34] krin-san commented on #414
I got the same error because I downloaded schema.json via GraphQL in-browser playground and it's structure and size was completely different to one you get when download it via `apollo schema:download` command.

[2019-07-04 09:24] ni4ka opened #611 "Public initializers for nested fragments"
After update to Apollo 0.10.0 / 0.10.1 public initializers for nested fragments had changed.
Example of fragments below

[code]

And the query

[code]

In my ApolloGraphAPI.swift file previously `ProductFrag` had `public init(id: GraphQLID, name: String, ...)` but this initializer was removed and only `public init(unsafeResultMap: ResultMap)` left.
I used `ProductFrag(id:name:)` before but now I s

[2019-07-04 10:40] alistra commented on #530
`  public var completedAt: Swift.Optional<DateTime?> {
    get {
      return graphQLMap["completedAt"] as! Swift.Optional<DateTime?>
    }
    set {
      graphQLMap.updateValue(newValue, forKey: "completedAt")
    }
  }
`

We're having the same issue with a double optional property. We're getting crashes when accessing the property.

We use the getter to serialize the input and send it later in

[2019-07-04 16:17] designatednerd commented on #594
Basically, yes - there have been some recent changes which made it better to go with the method you're using here, but I have a sneaking suspicion there was a space in a directory somewhere that was making Xcode freak out, which this should (theoretically) alleviate

[2019-07-04 16:18] designatednerd commented on #594
Closing this out - updated instructions will be released with 0.11.0

[2019-07-04 16:18] #594 closed

[2019-07-04 16:18] designatednerd commented on #607
#610 addresses this one.

[2019-07-04 16:19] designatednerd commented on #593
This is merged to master and will officially be released (probably early next week) with 0.11.0. Gonna close this one out.

[2019-07-04 16:19] #593 closed

[2019-07-04 16:21] designatednerd commented on #414
@krin-san Which one worked and which one didn't?

[2019-07-04 16:24] designatednerd commented on #530
Definitely related to #606 - I'll try to get a look at this next week. At the very least we shouldn't be force-unwrapping there.

[2019-07-04 16:47] krin-san commented on #414
@designatednerd, the latter one, downloaded using `apollo schema:download` command

[2019-07-05 06:16] michaelnisi commented on #414
Tooling should really report more details with its errors – these seem generic.

[2019-07-05 08:08] designatednerd commented on #414
Yeah unfortunately I think that's a TypeScript error - I'll see if there's a way to get more details on these in the future though

[2019-07-05 08:48] MrAlek commented on #143
Awesome! Super glad you're onboard the project @designatednerd 👏 As for my end, I'm no longer using Apollo in case any follow-up questions arise but the original issue is probably still valid.

[2019-07-05 12:11] lekz112 commented on #287
Issue is still not fixed - `variable` dictionary always contains all input variables even if they were not passed as an argument.

[2019-07-08 21:17] jacobmoncur commented on #140
@designatednerd I am! Just started digging into it today. Don't have much more than a stacktrace at the moment, but hoping to find something more palatable to help.

[code]

[code]

[2019-07-08 21:58] jacobmoncur commented on #140
Here is an attempt to fix the root cause in SQLite: https://github.com/stephencelis/SQLite.swift/pull/785

[2019-07-08 23:06] stevenp opened #615 "Code generation is broken due to missing scripts"
This change to the podspec breaks code generation, as the scripts are no longer included in the framework. In order to work around this, I had to fork the repo and revert this change. I'd suggest reverting this commit.

https://github.com/apollographql/apollo-ios/commit/46eff59f63fe5b931911e2d5a04921e28e43017c#diff-658ca52a7048d1269f543238db0bfc9e

cc @cltnschlosser

[2019-07-08 23:31] cltnschlosser commented on #615
@stevenp Why are you using the scripts from within the framework? Instead of just using the ones in the scripts directory?

I don't use the default scripts, so maybe there is some documentation that mentions using the scripts from within the framework. I don't think the scripts should be included in the framework. It doesn't make sense to ship build scripts in every app that uses this pod.

[2019-07-08 23:39] stevenp commented on #615
The recommended way to generate code on iOS, according to the documentation, is to execute the script inside the framework as a build step.

https://www.apollographql.com/docs/ios/installation/#adding-build-step

I'm happy to do this in a different way, but the docs should be updated if this is no longer the recommended approach. If this change were deployed in a release, most projects that are us

[2019-07-08 23:48] stevenp commented on #464
I was successful in getting this to work by searching Stack Overflow, but there is still no documentation, and no answer as to whether this is production ready. Maybe @designatednerd can provide some context?

[2019-07-08 23:54] cltnschlosser commented on #615
For cocoapods I would use this path `${PODS_ROOT}/Apollo/scripts/check-and-run-apollo-cli.sh` I believe that should work.

Weird to me that the scripts were ever included in the framework. I really don't like shipping the script in production apps, so I'd be sad to see this reverted.

The script in the documentation could be updated to check if PODS_ROOT environment variable is defined, so that th

[2019-07-09 02:27] acarrera94 opened #616 "support for swift package manager within xcode 11"
As of Xcode 11 (which is currently in beta) swift package manager is embedded into xcode.

I can add apollo ios as a dependency no problem but there is an issue while building. The script refers to "FRAMEWORK_SEARCH_PATHS".

**Intended outcome**
Be able to use SPM within xcode to generate code.

**Actual outcome**

I can change the script in Build Phases to:
[code]
also note that `FRAMEWORK_SEARCH

[2019-07-09 02:27] acarrera94 commented on #616
Possibly related: https://github.com/apollographql/apollo-ios/issues/615

[2019-07-09 05:47] cltnschlosser commented on #615
Looks like https://github.com/apollographql/apollo-ios/pull/610 is already updating the documentation to use PODS_ROOT.

[2019-07-09 13:41] stevenp opened #617 "Release schedule & the future of Apollo iOS"
@designatednerd I'm confused about the maintenance and release schedule of this project. There hasn't be a release since April, so we've been needing to build against master and there have been a massive number of changes, including breaking changes like the one I mentioned in https://github.com/apollographql/apollo-ios/issues/615. It turns out that https://github.com/apollographql/apollo-ios/pull

[2019-07-10 09:06] designatednerd commented on #615
This is addressed in version 0.11.0, which is tagged and I'm presently in the process of pushing to trunk.

[2019-07-10 09:06] #615 closed

[2019-07-10 09:15] designatednerd commented on #617
Hi Steven - in general it's better to ask more general questions like this on our [Spectrum chat](https://spectrum.chat/apollo) but I know the repo's been in a bit of a state for a while so I wanted to address this here before closing out this issue.

I started working at Apollo at the end of June. I was hoping to get the 0.11.0 release out before the July 4th holiday and a conference I was at the

[2019-07-10 09:15] #617 closed

[2019-07-10 09:20] designatednerd commented on #464
Unfortunately this predates my time on the project by a goodly ways, but I'll talk to my team and try to get some context.

[2019-07-10 09:35] designatednerd commented on #62
With the changes in 0.11.0, you should now be able to hook in to both the request as it's about to go out so you can log it and/or change it, as well as the raw response data from the URLSession. Please see the new [`HTTPNetworkTransportDelegate` and its various sub-protocols](https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/HTTPNetworkTransport.swift) to see where you can ho

[2019-07-10 09:35] #62 closed

[2019-07-10 09:36] designatednerd commented on #37
Shipped with v0.11.0!

[2019-07-10 09:36] #37 closed

[2019-07-10 09:36] designatednerd commented on #607
Shipped with 0.11.0!

[2019-07-10 09:36] #607 closed

[2019-07-10 09:38] designatednerd commented on #33
This should be addressed by updates to the build scripts from #610 pushed with 0.11.0. Please open a new issue if you are still having problems!

[2019-07-10 09:38] #33 closed

[2019-07-10 09:39] designatednerd commented on #616
@acarrera94 Can you try it with the changes to the build script which were merged in #610 please and let me know the result?

[2019-07-10 11:19] designatednerd commented on #189
Support for this has been added in v0.11.0 - just pass in the parameter to `useGETForQueries` when setting up your `HTTPNetworkTransport`!

[2019-07-10 11:19] #189 closed

[2019-07-10 11:20] designatednerd commented on #140
@jacobmoncour - 0.11.0 Adds support for swapping out headers via a `PreflightDelegate` - are you able to avoid this crash by using that and not needing to repeatedly tear down the client?

[2019-07-10 11:23] designatednerd commented on #148
This is now possible in v0.11.0 - use the `HTTPNetworkTransportTaskCompletedDelegate` to grab info your server has returned and use `HTTPNetworkTransportPreflightDelegate` to set the cookie on an outgoing query.

[2019-07-10 11:23] #148 closed

[2019-07-10 11:23] designatednerd commented on #570
Shipped with 0.11.0!

[2019-07-10 11:23] #570 closed

[2019-07-10 11:25] designatednerd commented on #564
You should be able to set this up with the `HTTPNetworkTransportPreflightDelegate` and/or the `HTTPNetworkTransportRetryDelegate` added in 0.11.0. Please see the docs in [`HTTPNetworkTransport.swift`](https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/HTTPNetworkTransport.swift) for details.

[2019-07-10 11:25] #564 closed

[2019-07-10 11:28] designatednerd commented on #22
Just as a heads up: Given that it's been a few years and Swift has finally reached ABI stability (and module stability when 5.1 lands), we've officially decided not to move forward with Objective-C code generation on our end. You're definitely welcome to work on it on your own, but at this point it's just not on the priority list for Apollo directly.

Thanks very much for your patience, and sorry

[2019-07-10 11:28] #22 closed

[2019-07-10 11:30] designatednerd commented on #36
Closing this out with @rickycpadilla's [solution](https://github.com/apollographql/apollo-ios/issues/36#issuecomment-452515484) as the present recommended one.

[2019-07-10 11:30] #36 closed

[2019-07-10 11:34] designatednerd commented on #137
This is a good one - I know I've been wanting to do some stuff with CodeGen to get fragments annotated as protocols so you can pass those fragments regardless of the query - I'll have to do some digging to see what we can do in terms of potentially making the response types also conform to that.

[2019-07-10 11:35] designatednerd commented on #537
This is definitely a good idea going forward. I'll look to include this in a future release.

[2019-07-10 11:38] designatednerd commented on #65
@Nuke- is this still an issue you need help with? I'm trying to clean up old issues and if there's a particular solution you used here, it'd probably be helpful to share with the community before I close this out. Thanks!

[2019-07-10 11:42] designatednerd commented on #112
The updated client that allows you to set headers in preflight is now available in 0.11.0 - I'm going to close this issue out, but please feel free to open a new issue if you're still encountering any problems using that!

[2019-07-10 11:42] #112 closed

[2019-07-10 11:45] Nuke- commented on #65
@designatednerd no longer an issue. I settled on using a giant switch for all my queries and mutation.

[2019-07-10 11:45] #65 closed

[2019-07-10 12:01] designatednerd commented on #65
`switch` ftw! 😃

[2019-07-10 12:36] designatednerd commented on #158
@freedoom1984 Can you please try the updated build script in 0.11.0? There's definitely still going to be some issues that aren't fully logged out due to them being in our TypeScript code gen, but it could help with some of the issues here.

[2019-07-10 12:38] designatednerd commented on #167
Since I haven't heard back from anyone here in two weeks, I'm going to close this out as stale. If this is still a problem, please open a new issue. Thank you!

[2019-07-10 12:38] #167 closed

[2019-07-10 12:39] designatednerd commented on #169
Since I haven't heard back from anyone on this issue in two weeks, I'm going to close it out as stale. Please open a new issue if this is still a problem. Thank you!

[2019-07-10 12:39] #169 closed

[2019-07-10 12:40] designatednerd commented on #188
Yes I *definitely* want to get us handling this case better.

[2019-07-10 12:41] designatednerd commented on #190
Yeah this seems like it could be helpful for a couple issues people are running into on CI as well.

[2019-07-10 15:34] rygood commented on #616
The framework now gets added to the the project; but it still has issue building. See attached.
<img width="1381" alt="Screen Shot 2019-07-10 at 11 05 52 AM" src="https://user-images.githubusercontent.com/99569/60982745-b5fe8b80-a306-11e9-8a30-5e13bce4ba12.png">

[2019-07-10 16:07] designatednerd commented on #616
Hmm, I bet there's a few things missing a `Foundation` import... I'll take a look!

[2019-07-10 16:11] designatednerd commented on #511
@Dfmarulanda @jtrainer and everyone: Can you see if the solution suggested in #190 of adding a line to the top of your run script telling it to use your `~/.bash_profile` file?

I'm not sure this will work for CI because I'm not entirely sure how they're setting up where node lives and all that, but I believe this should at least work locally.

[2019-07-10 16:12] designatednerd commented on #193
Innnnteresting. I'll have a look! Thanks for confirming.

[2019-07-10 16:14] designatednerd commented on #611
It looks like the `id` might be something internal to what we're doing - where were you getting that `id` previously?

[2019-07-10 16:16] designatednerd commented on #533
Weird, that certainly shouldn't be the case. Can you give more details about the enum - are all cases unique, are they all backed by strings, etc?

[2019-07-10 18:04] designatednerd commented on #577
@boardmain Does that query work in other GraphQL clients? If not, there are tools like [GraphiQL](https://github.com/graphql/graphiql) that can help you get that query sorted.

If it does work in other clients, please let me know - that's a bug.

[2019-07-10 18:08] designatednerd commented on #183
Given that I haven't heard back in a couple of weeks, I'm going to close this out as outdated. Please open a new issue if you're still having problems with this!

[2019-07-10 18:08] #183 closed

[2019-07-10 18:36] designatednerd commented on #562
Ooh, this is a great idea! Definitely going to look into this

[2019-07-10 18:39] designatednerd commented on #547
Yeah I'm definitely going to be working on this - the original implementation is from well before Swift 5.

[2019-07-10 18:45] designatednerd commented on #178
Closing this out as it was fixed - please open a new issue if you are still running into problems here. Thanks!

[2019-07-10 18:45] #178 closed

[2019-07-10 19:08] designatednerd commented on #325
Gonna close this one out with @RolandasRazma's [solution for installing NPM](https://github.com/apollographql/apollo-ios/issues/325#issuecomment-422960481) as the recommended one.

[2019-07-10 19:08] #325 closed

[2019-07-10 19:10] designatednerd commented on #254
I'm going to close this one out - we've got a few folks taking stabs at APQs, and we're probably going to be switching to a multiline literal for these queries that'll make it easier to see exactly what's in there.

[2019-07-10 19:10] #254 closed

[2019-07-10 19:13] designatednerd commented on #317
@intoxicated Can you please try this with the [updated build script that is now in the docs](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step)? Thanks!

[2019-07-10 19:14] designatednerd commented on #305
Going to close this one out - current build steps can be found [here](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step).

[2019-07-10 19:14] #305 closed

[2019-07-10 19:21] designatednerd commented on #232
You should be able to use the new `HTTPNetworkTransportTaskCompletedDelegate` inspect both the request as it went out (which would include the body) and the response. Docs are now up as #618.

I'm going to close this out, if there's further issues you think aren't addressed by that, please open a new issue. Thank you!

[2019-07-10 19:21] #232 closed

[2019-07-10 21:16] designatednerd commented on #549
Yeah I would definitely recommend using a singleton rather than creating a new client for every view controller. We're not doing a super-awesome job at the moment with concurrency on the SQLite wrapper.

[2019-07-10 21:18] designatednerd commented on #580
I'm going to close this as a dupe of #230 and track through that issue, but thanks for filing this and bringing that one to my attention!

[2019-07-10 21:18] #580 closed

[2019-07-10 21:20] designatednerd commented on #230
I'll try to get a look at this - there's definitely some weirdness due to our promises implementation that I want to try to get a better handle on.

[2019-07-10 21:21] designatednerd commented on #560
@attheodo Are you still seeing these on either 0.10.1 or 0.11.0?

[2019-07-10 21:25] designatednerd commented on #554
I would recommend [using the Client's initializer that allows you to pass in a store](https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/ApolloClient.swift#L52) - that way you can hang onto the store separately so you can watch the queries.

Does that help?

[2019-07-10 21:39] ScottRobbins commented on #549
Thank you @designatednerd! Just for anyone that's trying to solve this and reads the issue, here's basically what my solution atm is and seems to be working (warning: haven't put in production yet). Here i'm just making a singleton around the cache and not the apollo client because until recently you had to create a new apollo client to change headers (thanks for that change Ellen), but you could

[2019-07-11 02:54] gabrielvincent opened #619 "Generate Apollo GraphQL API script fails for project not using CocoaPods"
The Run Script Phase necessary to compile the `schema.json` file and generate the API.swift file fails with the error:  
```Couldn't find Apollo.framework in FRAMEWORK_SEARCH_PATHS; make sure to add the framework to your project.```

I found that there is an extra space in the script that makes it fail. After removing the space, the build happens successfully:

This:
[code]

Has to be changed to:

[2019-07-11 10:31] designatednerd commented on #619
🤦‍♀️🤦‍♀️🤦‍♀️🤦‍♀️🤦‍♀️

Have I mentioned recently I suck at bash? Oh wait, [yes I have](https://speakerdeck.com/designatednerd/thinking-outside-the-box-with-swift-package-manager-hacking-with-swift-live-bath-uk-july-2019?slide=31)!

I'll fix this in my open docs PR, good catch.

[2019-07-11 10:34] designatednerd commented on #616
Looks like #620 should address the foundation imports issue - let me know if there are still some missing!

[2019-07-11 11:18] designatednerd commented on #604
I've at least managed to update the API reference file to no longer send people to a dead link in #618. I'll open a new issue to get those docs regenerating in a useful fashion.

[2019-07-11 11:22] designatednerd opened #622 "Regenerate API docs in markdown"
Our API docs used to point to CocoaDocs, which has been deprecated. We need to find a new way to output our documentation in Markdown to match our existing documentation style - it looks like [SourceDocs](https://github.com/eneko/SourceDocs) might be the way to go, but any other suggestions are welcome.

[2019-07-11 11:23] designatednerd commented on #604
I'm going to close this one out and track through #622. Thanks for reporting!

[2019-07-11 11:23] #604 closed

[2019-07-11 11:25] designatednerd commented on #171
Going to close this one out in favor of #622 - in #618 I've at least removed the reference to CocoaDocs  so people don't get pointed in the wrong direction.

[2019-07-11 11:25] #171 closed

[2019-07-11 11:36] Drusy commented on #37
Hey @designatednerd, from what I understand, this will work only in case of malformed response or netwok error ?
The delegate `HTTPNetworkTransportRetryDelegate` won't be called in case of correct GraphQL response but functional errors filled in `GraphQLResult.errors`?

[2019-07-11 11:36] kimdv commented on #622
I have used [Jazzy](https://github.com/realm/jazzy).
It takes documentation from the code a generate a nice site. 💪

[2019-07-11 14:14] designatednerd commented on #622
Yeah Jazzy's great if there's not already a system in place since it does all the CSS/HTML/JS stuff for you.

However, we've got a system through our website that translates Markdown and puts it straight into the [iOS Docs site](https://www.apollographql.com/docs/ios/) automatically, so generating markdown is the preferred way to go for this project.

[2019-07-11 14:18] designatednerd commented on #37
Yes, that's correct - because the same request is retried, there's no reason to think that if you get errors back from the server, you won't get those same errors sending again.

The only exception I can think of is for Automatic Persisted Queries, which will be special cased. Right now #608 is looking like the most promising implementation for that.

[2019-07-11 14:20] designatednerd commented on #253
This should be addressed with the changes to the build script in 0.11.0 (caveat: Watch out for the stray whitespace I fixed in #618). I'm going to close this, please open a new issue if you're still having problems. Thank you!

[2019-07-11 14:20] #253 closed

[2019-07-11 14:22] designatednerd commented on #226
I'm going to close this out since it appears the issue was with configuration. If you're still having problems, please open a new issue (although be aware that the SQLite stuff needs a bit of love at the moment).

[2019-07-11 14:22] #226 closed

[2019-07-11 14:30] designatednerd commented on #287
What @mdilaveroglu describes [here](https://github.com/apollographql/apollo-ios/issues/287#issuecomment-407687039) as a workaround is actually expected behavior: If you do not want to send a particular parameter, you should omit it entirely from the GraphQL request.

Basically, there are three states for anything:

- Present, has a value
- Present, null value
- Absent

When the code is generated f

[2019-07-11 14:32] designatednerd commented on #287
@klanchman or anyone else here: If you've got further questions around this, please stop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) and I'll try to answer them there. I'm trying to keep the issues here for either feature requests or bugs, so I'm going to close this one out. Thank you!

[2019-07-11 14:32] #287 closed

[2019-07-11 14:36] designatednerd commented on #327
Hey all, just as a heads up, we've officially decided not to do official Obj-C support at this time since Swift is (finally!) ABI stable and is about to be module stable.

There's probably some ways to work around this by creating an `@objc` wrapper that exposes some method to the Obj-C runtime, but unfortunately that won't be something we're supporting directly at the moment.

I'm gonna close thi

[2019-07-11 14:36] #327 closed

[2019-07-11 14:40] designatednerd commented on #268
@gianlucapisati I think this is probably an issue with double-optionals. The getter in the generated code expects the double-optional to have been set as either `.some(value)` or `.none`, and force-unwraps this. If it's `nil`, it crashes, which is obviously not ideal.

Basically what's probably causing this is that the value hasn't been set yet when you're trying to access it.

Are there any furth

[2019-07-11 14:41] designatednerd commented on #264
Closing this out as the PR with the fix has been merged 🎉

[2019-07-11 14:41] #264 closed

[2019-07-11 14:50] designatednerd commented on #245
I'm definitely looking at switching to the `Swift.Result` which allows you to more easily see if there's an error or a result from a particular request. But until I do that, what you've got should work!

I'm going to close this out. If you have further questions, please drop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) and fire away!

[2019-07-11 14:50] #245 closed

[2019-07-11 14:51] designatednerd commented on #222
This is now supported via the `HTTPNetworkTransportTaskCompletedDelegate` released in 0.11.0 - you can hook in through that and access your headers from there.

[2019-07-11 14:51] #222 closed

[2019-07-11 14:53] designatednerd commented on #535
Hey @vtamnh14 - can you let us know how you're setting up your client so we can get a clearer idea of which cache you're using?

[2019-07-11 14:55] designatednerd commented on #565
Yep, will look into this.

[2019-07-11 15:03] designatednerd commented on #567
@AnthonyMDev Wanna put a PR together for this one? Would love to see this with a test that confirms an error is actually being thrown.

[2019-07-11 15:06] designatednerd commented on #192
Marking this as an enhancement - I don't have a timeline for this but it does seem like a useful thing to add support for to reduce the number of round-trips necessary if possible.

@thonydam Right now we don't have a roadmap doc, but I'll be working on that at some point in the next few months once I get the open issues a bit more under control.

[2019-07-11 15:10] designatednerd commented on #536
Ha, that's the most classic retain cycle diagram I've ever seen. I'll try to look into this.

[2019-07-11 15:14] Drusy commented on #37
In our case, the missing authentication error (401) is located in `body["errors"]` and the `HTTPNetworkTransportRetryDelegate` would allow us to refresh the JWT token and retry the request.

[2019-07-11 15:29] designatednerd commented on #37
Dammit, I love that I wrote this code last week and I already forgot what it does 🙃.

Wherever the error is created when dealing with a response, it hits the [`handleErrorOrRetry `](https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/HTTPNetworkTransport.swift#L181) method, which will hit the retrier if it exists. Only if the retrier determines a retry should not be done will it

[2019-07-11 15:38] designatednerd commented on #548
Can you give a bit more context here? I've got a few questions:

- What, precisely is not working - is it not building, is it not returning the correct data, or something else?
- What is `apollo` here, your `ApolloClient`?
- What's the full name of the query class, something like `ParentCategoriesQuery`?
- How are you sending your query to the server, with `fetch`?
- It looks like `CategoryWhereIn

[2019-07-11 15:41] designatednerd commented on #540
Can you try replacing your build script with the one in the docs that went out with 0.11.0 (caveat: I did miss a space in the iOS not-Cocoapods build script fixed in #618)? Please let me know whether this works or not.

[2019-07-11 15:43] #619 closed

[2019-07-11 15:44] dmandarino opened #623 "GET is not working in 0.11.0"
GET method released in `0.11.0` is not passing variables correctly, so it always fails when you have a variable in your query.

[2019-07-11 15:56] designatednerd commented on #623
@dmandarino Can you please give an example of how it's failing - is it a more complex variable that's not working or is it just a single variable?

[2019-07-11 15:57] designatednerd commented on #490
Hello - @victormihaita is about correct, although you'd probably also need to create some kind of swift wrapper within your project that was `@objc` annotated. We are not planning on directly supporting Obj-C at this time.

Going to close this question out.

[2019-07-11 15:57] #490 closed

[2019-07-11 16:03] dmandarino commented on #623
@designatednerd Yes, of course! Sorry about it.
I've just opened a PR proposing a solution. #624.

When we use GET with queryVariable the class `GraphQLGETTransformer` makes a cast of ```self.body.jsonObject[self.variablesKey] as? [String: AnyHashable]```. But if always fails and return the url as if there weren't any variable.

So the request fails and returns a BadRequest, as the server is expec

[2019-07-11 16:07] designatednerd commented on #623
Yeah that makes more sense. If you can add tests around that, it'd be super helpful.

[2019-07-11 16:09] designatednerd commented on #196
This is a bit against the design of the `watch` feature, which is supposed to let you not care which records are updated, but just allow you to receive updates on all updated records on that query.

I'm going to close this out since I'm trying to keep the GH issues to more behavior problems with the SDK, but please feel free to check in with our [Spectrum Chat](https://spectrum.chat/apollo/apollo-

[2019-07-11 16:09] #196 closed

[2019-07-11 16:12] designatednerd commented on #197
@MrAlek Obviously this question predates my joining the project, but I'm curious: Is the JSON you're showing above what you're actually getting back, or what you propose to get back? Are you still seeing issues around this?

[2019-07-11 16:31] designatednerd commented on #436
This was released with 0.11.1!

[2019-07-11 16:31] #436 closed

[2019-07-11 16:31] #616 closed

[2019-07-11 16:54] designatednerd commented on #273
What you're seeing is essentially expected behavior. While `CacheKeyForObject` does state that `If it returns `nil`, a default cache key based on the field path will be used`, it doesn't really have a great way of saying "If anything in this JSON object is nil, bail out", but as you've seen that can cause some issues.

Unfortunately, I think forcing the returned key to be a `String` would probably

[2019-07-11 16:54] #273 closed

[2019-07-11 16:56] designatednerd commented on #383
Please see the updated codegen script setup instructions [here](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) - these have been updated in 0.11.0 and 0.11.1. Gonna close this one out!

[2019-07-11 16:56] #383 closed

[2019-07-11 16:59] designatednerd commented on #356
Hello, please try the new [docs for setting up the build step](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) that went out with 0.11.0. I'm going to close this issue out, but please feel free to open a new issue if you continue to run into problems. Thank you!

[2019-07-11 16:59] #356 closed

[2019-07-11 17:02] designatednerd commented on #377
Yeah this seems like a reasonable request - I'll see what I can do.

[2019-07-11 17:04] designatednerd commented on #573
I agree with @js - It'd be a pretty significant hit to usability to switch from `Int` to `Int32`. I might see if there's a way to add some kind of assertion failure or something though.

[2019-07-11 17:07] designatednerd commented on #228
Apologies for the long radio silence on this issue. I'm going to be chatting with @martijnwalraven next week about the implications of giving up the ability to use the session delegate internally.

[2019-07-11 17:10] designatednerd commented on #205
Yeah this was mentioned in [a Big Nerd Ranch article about GraphQL](https://www.bignerdranch.com/blog/using-graphql-in-production-ios-applications-part-2/) before I got hired and I agree, allowing some granularity on this would probably be a much better idea.

[2019-07-11 17:24] rajkhatri opened #627 "handleErrorOrRetry does not work when errors are returned in GraphQL response body"
@designatednerd I want to first thank you for getting out the latest HTTPNeworkTransport Delegates.

I just am not sure if the below function works

[code]

According to [graphQL](https://www.graph.cool/docs/faq/api-eep0ugh1wa/#how-does-error-handling-work-with-graphcool)

Here is a screenshot from my GraphQL server with an invalid token error, returns a 401 in the errors array, but because it ret

[2019-07-11 17:29] designatednerd commented on #90
Couple things.

Looks like on your iOS string, you're passing in an extra closing bracket. Try `{ \"buildingId\": 1 }` as your query. The extra bracket might be causing your server to just throw everything out since it doesn't decode as valid JSON.

The other thing is that I'm not quite sure what's on your fragment. Do you get the correct response when you put something like this into GraphiQL:

[

[2019-07-11 18:45] MrAlek commented on #197
@designatednerd The JSON represents what's usually returned by a GraphQL server, all errors are received at root level. In the example above, `data.items[1].someField` is `null` because it couldn't be fetched, server-side.

What I was proposing was to, in the Swift structs generated by Apollo codegen, propagate errors down the chain to the leaf responsible for the error (`items.1.someField`), so y

[2019-07-11 19:26] AnthonyMDev commented on #567
I would love to, but my companies policy requires me to submit a form for approval on open source libraries we contribute to. I'm sending in that form today, so hopefully I'll be able to start contributing shortly. I'll get a test and a fix in place as soon as that goes through.

[2019-07-11 19:49] designatednerd commented on #567
Godspeed with the bureaucracy

[2019-07-12 01:35] klanchman commented on #287
Thanks for the reply @designatednerd! I figured I'd still follow up here in case people land on this issue in the future.

Unfortunately I have 6 parameters in this mutation right now, and the list may get larger in the future. I don't always know what attributes will be present until I'm making the request, so I'd have to make multiple permutations of this mutation to omit fields, which could get

[2019-07-12 05:03] thonydam commented on #192
@designatednerd Thanks for the update and your work! Glad to see that this repo will get more love!

[2019-07-12 10:28] designatednerd commented on #287
Yeah - i'm definitely going to be looking at ways we can handle this better in the future, but that's going to be a bit as I'm still gonna be in 🐛🔨 mode for a while. Thanks for sharing your solution!

[2019-07-12 10:35] gaoshanyu commented on #549
@ScottRobbins Hope your solution is working, if so, please reply here. I'm trying to back to use singleton.

[2019-07-12 14:16] designatednerd commented on #627
ARGH. Yeah we're getting everything up to [parsing errors](https://github.com/apollographql/apollo-ios/blob/master/Sources/Apollo/HTTPNetworkTransport.swift#L165) but because GQL can potentially return a partial result and a partial error, I'll have to think through how to handle this.

For clarity, are you using an Apollo server or a different server?

[2019-07-12 14:33] #623 closed

[2019-07-12 17:47] skanev opened #630 "Watching specific objects in the cache"
Hey. Maybe I'm missing something, but I can't figure out how to solve this problem neatly, and I decided to ask. So here it goes.

I'd like to subscribe to changes to specific records in Apollo's normalized cache. I can't figure out how to do it. `ApolloStoreSubscriber` and friends are not public and I cannot figure out why.

Here's the full context of what I'm trying to accomplish:

I'd like to i

[2019-07-12 20:07] designatednerd commented on #197
OK thank you for the clarification - this one is probably going to be a bit lower on the priority list but it does seem quite useful, I'll tag it as an enhancement.

[2019-07-12 20:46] designatednerd commented on #630
You are not missing anything in terms of watching individual records - right now the only thing we really support watching is Queries, not individual objects. Right now our support for fetching more on an existing query is an open issue (#565), so unfortunately that's not terribly helpful for pagination.

The store is designed for framework-internal use, which is why `ApolloStoreSubscriber` is not

[2019-07-12 20:46] #630 closed

[2019-07-12 21:49] rajkhatri commented on #627
Yea, wondering if parsing through each response for a non-empty error array is effective. Thats currently what we do on iOS on the response of each specific call.

We use absinthe and the elixir language on phoenix to run GraphQL. And of course Apollo-iOS 0.11.0 for our app.

Right now as a workaround for 401’s, we are checking the expiry for auth before sending the call, authenticating and then m

[2019-07-13 09:22] designatednerd commented on #627
Checking the auth expiration using the pre-flight delegate is better if you have access to it - that way you don't burn the data/battery of making a call just to have to make two more calls (re-auth and retry).

The problem with offering retry on a non-empty error array is that a non-empty error array doesn't necessarily indicate a total failure. Because GraphQL can return a partial result with pa

[2019-07-15 01:20] bidluo opened #634 "Support for other WS protocols (ActionCable, Phoenix Channels, etc)"
As per Contributing Guidelines, just opening up a forum to discuss the solution before starting work on the change.

Backends like Rails and Phoenix don't easily allow the changing of protocols or a way to rewrite incoming WS messages AFAIK so client side handling seems to be the way to go.
Now that the concept of preflight rewriting is in this project, we could use the same principle with Subscri

[2019-07-15 09:19] designatednerd commented on #634
This seems like an interesting idea, but I gotta admit, I'm not super familiar with these additional protocols. I have a few questions:

- What are the advantages of using these additional protocols?
- Are any of these used on top of the Apollo Server stack directly, or are they more generally used across GraphQL clients? (This isn't necessarily a dealbreaker, just trying to figure out how deep a

[2019-07-15 09:21] designatednerd commented on #375
I think we've got a couple things looking into this - we'll have to make sure those fields were generated but this seems reasonable to add.

[2019-07-15 09:23] designatednerd commented on #313
@attheodo Are you still experiencing this issue? Would love to know before I start breaking out the pickaxe to figure out what's going on here

[2019-07-15 09:24] designatednerd commented on #288
@attheodo Can you please let us know if you are still experiencing this crash after updating to a more recent version of Apollo?

[2019-07-15 09:26] designatednerd commented on #294
This is definitely something we're looking at including -  I have to see where things are with our current setup with the typescript stuff, but this is a totally reasonable request.

[2019-07-15 09:30] designatednerd commented on #322
Hey @mitesh53, I'm sorry we didn't get to this question until now. Usually you have to have a GraphQL statement that accepts an array of objects in order to have code generate in Swift that allows you to pass an array of objects.

I'm going to close this out and ask you to post any follow-ups in our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) if you're still having issues. U

[2019-07-15 09:30] #322 closed

[2019-07-15 09:38] designatednerd commented on #378
@GitMAM Not at the moment, as far as I can tell - I'm still familiarizing myself with the TypeScript codegen stuff but it doesn't seem like it.

Can you elaborate on why you'd want classes instead of structs?

[2019-07-15 09:44] designatednerd commented on #330
This very much appears to be the same issue as #386  - that issue has links to the bug in Carthage that's causing the problem. I'm going to close this one in favor of #386. Thanks very much for reporting!

[2019-07-15 09:44] #330 closed

[2019-07-15 09:45] attheodo commented on #313
@designatednerd tbh, can't really know since we've since then entirely disabled caching. I'll re-open the issue if we see something being off. Thanks!

[2019-07-15 09:45] GitMAM commented on #378
@designatednerd  I think it's safe to say that i don't need this anymore. I needed it before because I was using the diffable protocol on the model which only works with classes. Since Apple has introduced diffing in CollectionView in iOS 13, it won't be needed anymore in my use case.

[2019-07-15 09:46] designatednerd commented on #329
There's definitely some gooberyness going on with this, I'll have to do some excavating to figure out what's going on.

[2019-07-15 09:48] designatednerd commented on #334
Sounds like this was resolved earlier this year - I'm going to close this issue out, but please open a new issue if you're still having problems!

[2019-07-15 09:48] #334 closed

[2019-07-15 09:50] designatednerd commented on #336
I've started adding release notes to each release tag and actually updating [CHANGELOG.md](https://github.com/apollographql/apollo-ios/blob/master/CHANGELOG.md) when we do a release.

Hopefully that addresses this issue - I'm going to close it out but please feel free to open a new issue if there's more granular information you need!

[2019-07-15 09:50] #336 closed

[2019-07-15 09:51] designatednerd commented on #342
Since this appears to be an issue on the server side library, I'm going to go ahead and close this issue out. Please feel free to re-open or open a new issue if you're still encountering problems!

[2019-07-15 09:51] #342 closed

[2019-07-15 09:53] designatednerd commented on #351
Yes this is absolutely something we need to do - this is related to #579, among others. Definitely planning on improving the "Wait do we need to regenerate things?" logic.

Don't have an ETA but particularly around SwiftUI this seems like it'd be very helpful.

[2019-07-15 09:54] designatednerd commented on #354
@ashiemke Are you still seeing this issue? There's definitely some weridness with the cache I need to dive into but I'm trying to figure out which issues are still valid. Thanks!

[2019-07-15 09:57] designatednerd commented on #355
@lilyball Have you seen this cause issues in practice? I can see where the theoretical issue lies, but I'm curious as to whether it's actively causing issues or is more of a "This may someday blow up in our faces and we should be aware of that"

[2019-07-15 09:59] designatednerd commented on #357
@Nickersoft Since #413 Got merged, can this issue now be closed?

[2019-07-15 10:00] designatednerd commented on #360
@wtrocki Are you still seeing problems here, or can this issue be closed out? I know our websocket implementation needs a bit of love but it'd be helpful to know if this is one of the places where it needs said love.

[2019-07-15 10:01] designatednerd commented on #362
Definitely something we need to look into

[2019-07-15 10:03] designatednerd commented on #364
Yeah we've definitely got some memory leak issues - I'm going to close this one as a dupe and track through #230. Thanks very much for including this detail though!

[2019-07-15 10:03] #364 closed

[2019-07-15 10:06] designatednerd commented on #369
Hey all - the build scripts have been updated in the [docs](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) - I'm going to close this one out but @ZevEisenberg thank you for the suggestion, I'm going to open that as a separate enhancement.

[2019-07-15 10:06] #369 closed

[2019-07-15 10:08] designatednerd opened #636 "Generate .xcfilelist from codegen"
Great suggestion from @zeveisenberg in #369:

[2019-07-15 10:09] designatednerd commented on #384
hey @AlYehorov Are you still facing this issue, particularly after applying @AshleyDeng's suggestions?

[2019-07-15 10:11] designatednerd commented on #382
Woof, yeah that almost certainly should never have been made public- it was built as an internal dependency and not for external use. I may look at doing this as a breaking change, but it's probably going to be a bit lower on my priority list.

[2019-07-15 10:14] designatednerd commented on #60
Hey all, I'm going to close this as we do have the subscriptions method through the `Apollo-Websocket` subspec.

If there's separate issues with the `Apollo-Websocket` implementation I'd ask you to please re-file them so that when I get a chance to give that implementation some love I know what's still a problem. Thank you!

[2019-07-15 10:14] #60 closed

[2019-07-15 10:15] designatednerd commented on #378
Got it - I'll close this out. Thank you, and sorry it took so long to get back to you!

[2019-07-15 10:15] #378 closed

[2019-07-15 10:19] designatednerd commented on #313
Sounds like a plan - sorry it's been a bit of a pain. I'll close this one out.

[2019-07-15 10:19] #313 closed

[2019-07-15 10:25] designatednerd commented on #34
I've recently updated the setup instructions for the build phase setup [here](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) - I'm going to close this out since that should solve a fair number of these issues. Please open a new issue if you're still encountering problems. Thank you!

[2019-07-15 10:25] #34 closed

[2019-07-15 10:29] designatednerd commented on #90
@roymckenzie I'm going to close this out - if you've got follow-ups please start a thread on our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts), which is where we're trying to direct questions from here out so we can keep the issues tab more for problems. Thank you!

[2019-07-15 10:29] #90 closed

[2019-07-15 10:30] bidluo commented on #634
- More necessity than advantage since certain websocket backends only use their own protocol (with no option to customise it) so it makes it difficult to have conformance across different ecosystems. I imagine the reason being is since Rails/Phoenix/etc also deal with frontend they just provide a JS abstraction and leave native implementation up to whoever.
- Any GraphQL client that communicates w

[2019-07-15 10:32] designatednerd commented on #216
Since this involves a pretty old version of our SDK, I'm going to close this out as outdated. If you're still having issues around this, please open a new issue and I'll get a look at it!

[2019-07-15 10:32] #216 closed

[2019-07-15 10:34] designatednerd commented on #388
Unfortunately the error message is coming from Swift rather than from us. I know Swift has been working to make its error messages from generics a bit less opaque, but there's not a lot we can do about it.

I'm going to close this one out, but please feel free to open a new issue if you run into any further problems!

[2019-07-15 10:34] #388 closed

[2019-07-15 10:36] designatednerd commented on #441
@jordanhbuiltbyhq Hi! Sorry for the long radio silence. We've recently updated our [setup steps for the build phase](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step), and particularly the CocoaPods one is way simpler. Please give that a try, and open a new issue if you're still running into the same problems. Thank you!

[2019-07-15 10:36] #441 closed

[2019-07-15 10:38] designatednerd commented on #439
These issues were tied to the JS code which generates our documentation website rather than to anything actively used in this particular repo. We've now got @renovate-bot going through and updating these things on a regular basis, though, so the issues should be gone now.

If you're still seeing errors on that, please let us know by opening a new issue. Thank you!

[2019-07-15 10:38] #439 closed

[2019-07-15 10:39] designatednerd commented on #423
Hey @adamirowe - were you ever able to resolve this issue? I know some folks had success running a pre-build step that used `npm install - g` with our CLI client on Circle.

[2019-07-15 10:40] designatednerd commented on #418
This should be addressed via #475. Please open a new issue if you continue to experience problems. Thank you!

[2019-07-15 10:40] #418 closed

[2019-07-15 10:42] designatednerd commented on #433
This might be something to do in the future but for now I'd like to hammer through everything manually since due to some staffing issues on our end, there's quite a few things that are "stale" but still legit issues.

I'll close this request out for now, but once our issues are more under control I make consider using something like this.

[2019-07-15 10:42] #433 closed

[2019-07-15 10:43] designatednerd commented on #425
We've now even been updated to Swift 5! Going to close this one out.

[2019-07-15 10:43] #425 closed

[2019-07-15 10:44] designatednerd commented on #392
Good question! I think it's just not been implemented. I think this would be a solid enhancement though. I'll put it on the list, but it's a bit of a long list so I don't have an ETA for you.

[2019-07-15 10:46] designatednerd commented on #399
I'm fairly new so I have to make sure that we're not doing anything too nuts that would make non-automatic `CaseIterable` conformance impossible, but `CaseIterable` is my jam and I'd love to make everything conform to it.

[2019-07-15 10:48] designatednerd commented on #395
Hey everyone, we've recently updated the [setup instructions for the codgen step in build phases](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step), which should address issues like this without having to do anything bonkers with `chmod` or anything like that. I'm going to close this out, please open a new issue if you're having any problems from the new set

[2019-07-15 10:48] #395 closed

[2019-07-15 10:50] designatednerd commented on #404
I'm going to close this out as there's absolutely no detail in this issue - in the future, if you have questions please stop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts), and if you have bugs, please make sure to include a detailed description so we can try to help you out. Thank you!

[2019-07-15 10:50] #404 closed

[2019-07-15 10:52] designatednerd commented on #397
@hankhong1205 How are you clearing the sqlite cache? My thought is maybe there's some async operation that hasn't finished yet but I'm not super familiar with the sqlite lib to be sure.

[2019-07-15 10:53] designatednerd commented on #634
OK cool - I'll keep an eye out for your PR!

[2019-07-15 10:54] designatednerd commented on #429
@paulmelnikow, the correct solution here would be to use a Fragment.

If you've got any follow up questions, please feel free to stop by our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) - I'm gonna close this question out. Thank you!

[2019-07-15 10:54] #429 closed

[2019-07-15 10:56] designatednerd commented on #412
Hey all, we've recently updated the [build script phase setup instructions](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) and the scripts so that you should not have to worry about things like whether your path has a space or not.

I'm going to close this issue out but if you have problems after following those instructions, please open a new issue. Than

[2019-07-15 10:56] #412 closed

[2019-07-15 10:57] designatednerd commented on #406
Hey there - we've recently updated [our instructions for setting up the Codegen build phase](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step), which should address this issue.

If after following those instructions you're still having problems, please open a new issue. Thank you!

[2019-07-15 10:57] #406 closed

[2019-07-15 10:59] designatednerd commented on #398
@tspecht The `ApolloClient.clearCache()` method is the recommended method, although bear in mind that if you're using the SQLite cache there have been a couple reports of issues around this.

I'm going to close this one out with that as the recommendation, but if you run into other problems around this, please open a new issue. Thank you!

[2019-07-15 10:59] #398 closed

[2019-07-15 11:01] designatednerd commented on #400
I'll have to take a deeper look into how we're generating this code but yeah, it at least shouldn't crash 🙃

[2019-07-15 11:03] designatednerd commented on #432
Yeah unfortunately at the moment this is probably more of a problem with our [apollo-tooling](https://github.com/apollographql/apollo-tooling) repo than here, as this is handled in typescript - Can you please open an issue there and close this one out please?

[2019-07-15 11:48] wtrocki commented on #360
@designatednerd Thank you for following this up. This was an issue with actual release. Subsequent releases fixed the problem in my automation tests. Version 0.11.1 to be precise works with the subscription code I have put for testing previous release. Thank you so much for improving the state of Apollo-IOS. All the work is really really appreciated.

[2019-07-15 12:43] designatednerd commented on #360
Thank YOU! 😁 And since it's fixed I'll go ahead and close this out.

[2019-07-15 12:43] #360 closed

[2019-07-15 12:47] designatednerd commented on #401
This definitely seems like something that'd require an updated build script. I am looking at making some *significant* changes around this because we want to handle things like not regenerating if it's not required, but I don't have an ETA. I'll definitely keep this in mind as I make those changes though.

[2019-07-15 12:51] designatednerd commented on #421
@bpollock-vida Yep, that's basically what it's saying. I'm going to close this out as expected behavior. Please feel free to ask any follow up questions in our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts). Thank you!

[2019-07-15 12:51] #421 closed

[2019-07-15 12:53] designatednerd commented on #442
@SirensOfTitan Hi I'm the fulltime iOS engineer who was (finally) hired, let me know if I can be of help here!

[2019-07-15 12:58] designatednerd commented on #430
@michelekorell Are you still seeing these issues with 0.11.1? Would love to know before I go spelunking.

[2019-07-15 13:00] designatednerd commented on #443
Since we haven't received any further details, I'm going to close this out as stale. If you run into issues in the future, please make sure to include as much information as possible so we can try to help you figure out what's going wrong. Thank you!

[2019-07-15 13:00] #443 closed

[2019-07-15 13:01] designatednerd commented on #511
Anyone have anything to report back here? I've also updated the [build phase setup instructions](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step), so that's something to check if your issue isn't directly related to NPM.

[2019-07-15 13:03] designatednerd commented on #449
It looks like your server is sending an occasional ping to ensure your app is still connected. Are you using an Apollo server or a different server?

[2019-07-15 13:04] designatednerd commented on #467
Yes I would *way* prefer to do things this way as it would eliminate huge swaths of errors, but it's going to require some significant refactoring. No ETA but definitely looking into getting it done sooner rather than later.

[2019-07-15 13:07] designatednerd commented on #461
Hey all, I've recently updated [the setup instructions for the codegen build phase](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) - please try those out and if you're still experiencing problems, open a new issue with details and I'll dig into it. Meanwhile, I'll close this issue out.

[2019-07-15 13:07] #461 closed

[2019-07-15 13:12] designatednerd commented on #502
I think that would require us providing a default value of `nil` for optional parameters, which I don't really want to do as I'd like people to explicitly tell us if they don't want to use a particular parameter by passing `nil`.

Would making an extension within your code that wrapped your desired behavior in a `convenience init` work for you?

[2019-07-15 13:21] designatednerd commented on #450
The problem with making a standardized formatter is that there isn't really a standardized `Date` representation in the GraphQL spec (I recall @jbaxleyiii talking about a VERY long meeting around this issue recently with the GQL working group). Unfortunately, this means you never know quite what format you're getting back from a server -- is it an ISO8601 string? An integer with seconds since Y2k?

[2019-07-15 13:21] #450 closed

[2019-07-15 13:24] designatednerd commented on #476
I have to agree with @michaelnisi's recommendation - float precision is a hell of a thing, especially around some of the limitations of JS.

Going to close this as the official recommendation, but please hit up our [Spectrum Chat](https://spectrum.chat/apollo/apollo-ios?tab=posts) if you have any further questions. Thank you!

[2019-07-15 13:24] #476 closed

[2019-07-15 13:26] designatednerd commented on #474
Hi there! We've recently updated our [setup steps for the codegen build phase](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step). Please give those updated steps a shot, and open a new issue if you are still running into problems. Thank you!

[2019-07-15 13:26] #474 closed

[2019-07-15 13:27] designatednerd commented on #451
New versions that support Swift 5 and Xcode 10.2 have been released! Please update to anything > 0.11.1. Thanks, and I'll close this one out.

[2019-07-15 13:27] #451 closed

[2019-07-15 13:29] designatednerd commented on #453
Does the `returnCacheDataAndFetch` method not do this already? It's possible it was added since this issue was opened but if it doesn't do this, that's likely a bug

[2019-07-15 13:30] michelekorell commented on #430
Hello, actually we put in standby the project, tomorrow I have some time to check and I give you an answer. Thanks a lot to ask for some news 👍

[2019-07-15 13:31] designatednerd commented on #454
Looks like the person behind #634 is going to be taking a look at this problem - @zoufishanmehdi do you mind if we close this issue out and let that one be the representative issue?

[2019-07-15 13:34] designatednerd commented on #473
I'll have to take a look at this - right now it seems like the best course of action is to actually document that this will return twice, because I think making it only return if the data's changed would break some existing implementations.

[2019-07-15 13:40] designatednerd commented on #470
Oof yeah that's going to be a gargantuan table if it's one table. Unfortunately, my expertise in the underlying features of SQL is not super strong.

This is likely a better question for the developer behind [SQLite.swift](https://github.com/stephencelis/SQLite.swift), which we use for the `Apollo/SQL` subspec. Stephen's probably got a much better idea of what needs to happen here in terms of setu

[2019-07-15 13:40] #470 closed

[2019-07-15 13:42] designatednerd commented on #463
Ooh, hairy one! I'll have to take a look at some options for handling this.

[2019-07-15 13:44] designatednerd commented on #455
Yeah the double optional is intentional - basically we're trying to determine "Was this not returned at all, or was this returned as `nil`?", since those are different cases in a graphQL response. We definitely shouldn't be using that `as!` in the graphql map though.

[2019-07-15 13:46] designatednerd commented on #457
@Nomad-Go Were you able to resolve your issues with the above suggestions, or are there additional problems?

[2019-07-15 13:47] designatednerd commented on #462
There's not a way to set it directly at the moment - can you talk a little bit about why you need this? In theory this shouldn't be necessary but of course theory and practice are two different things 🙃

[2019-07-15 13:48] designatednerd commented on #477
@jordanhbuiltbyhq - I think I saw some changes around this recently - can you let us know how this is working for you on version 0.11.1 or higher?

[2019-07-15 13:53] designatednerd commented on #464
In talking to the team it seems like this support was added by a community contributor, and there hasn't been a ton of time available from Apollo's end to clean this stuff up until I started about three weeks ago.

It needs better docs, but it's definitely being used out in the wild, and there is a set of tests around this. I'm going to try to get a better look at this in the medium term after fix

[2019-07-15 13:55] designatednerd commented on #516
Yeah not having to manually cancel would certainly be ideal, but I don't think that's how things are set up at the moment. I'll have to see how plausible that is, though I don't have an ETA for you at the moment.

[2019-07-15 13:58] designatednerd commented on #514
@coreygrunewald Are you still seeing this issue on 0.11.1 or higher? We've added some methods which should be helpful for this, but I'm not positive it'd totally fix the whole issue here. Let me know what happens after you upgrade. Thanks!

[2019-07-15 15:23] ScottRobbins commented on #549
@gaoshanyu so far no crashes when developing. This app won't be put into production for a month though.

[2019-07-15 16:45] interstateone opened #637 "Update required Apollo CLI version to latest"
[scripts/check-and-run-apollo-cli.sh](https://github.com/apollographql/apollo-ios/blob/master/scripts/check-and-run-apollo-cli.sh#L2) specifies version 1.9.x of the Apollo CLI tools as a requirement of running codegen. The current version of this package is [2.15.0](https://www.npmjs.com/package/apollo). I would expect that the required version of apollo-ios is closer to the latest version (at lea

[2019-07-15 16:51] interstateone opened #638 ""Downloading a schema" documentation is unclear which version of Apollo CLI should be used"
https://www.apollographql.com/docs/ios/downloading-schema/

The command provided on this page is `apollo schema:download`, and there aren't any details about what version to install here or on the [apollo-tooling](https://github.com/apollographql/apollo-tooling) page that's linked to.

It's not clear if the version that's used for downloading the schema is important or not (similar to #637), but f

[2019-07-15 17:26] designatednerd commented on #637
Yeah absolutely this needs to get updated - I'm waiting for a couple changes to land in the Swift codegen on the CLI and then I'm going to update it. The CLI made some pretty significant changes while Apollo was a bit shorthanded on the iOS side, but that's why they hired me 😁

[2019-07-15 17:27] designatednerd commented on #638
I can't say with 100% certainty but I would strongly suspect using the same version of the CLI as you're using to generate the code is probably going to run the smoothest.

[2019-07-15 19:38] gbrixey opened #640 "Dynamic linker error when executing `ApolloClient.fetch`"
After updating to version 0.11.0 and 0.11.1 via Carthage, I started to experience a crash at runtime whenever executing `ApolloClient.fetch` or `ApolloClient.perform`. I downgraded to 0.10.1 and the issue stopped occurring. I can't figure out if there is something on my side that should be changed to fix this issue. Any ideas?

Crashing with the following message when using `ApolloClient.fetch`
[c

[2019-07-15 19:45] lilyball commented on #355
This may someday blow up in our faces and we should be aware of that.

Or more accurately, this will likely be a source of very infrequent bad behavior or crashes, which is hard to diagnose and debug, but may possibly show up in high-usage apps.

[2019-07-15 20:23] designatednerd commented on #355
Yeah, fair point. There's definitely a lot of stuff where we need to get some much better practices in here, I'm just trying to figure out where to apply the duct tape first 😄

[2019-07-15 20:28] designatednerd commented on #640
Seems like [on PromiseKit a similar issue was solved by nuking the Carthage folder and building again](https://github.com/mxcl/PromiseKit/issues/1006) - can you give that a shot and let me know if it works?

[2019-07-15 22:12] gbrixey commented on #640
I tried deleting the Carthage folder and running `carthage bootstrap` again, but I am experiencing the same issue.

[2019-07-16 08:07] designatednerd commented on #640
Weird! We haven't had any other reports of this, so it does seem like there's a build artifact that's borked somewhere in your system. I assume you've done a `Clean Build Folder` at some point?

If you haven't already tried it, try closing Xcode, deleting your `DerivedData` folder (usually in `/Users/[your user]/Library/Developer/Xcode/DerivedData/`), doing the delete / reinstall Carthage dance, t

[2019-07-16 09:19] designatednerd commented on #627
I decided I'm going to leave this open, but it will probably be a bit before I address it. I need to take a deeper look at how we're handling results, especially with partial failure/partial success, since that has a ton to do with how to handle issues like this.

For now, I'd keep doing what you're doing - like I said, checking that expiration pre-flight is usually a much better way of making sur

[2019-07-16 13:20] designatednerd commented on #114
Please take a look at #626 if you're interested in this feature and let us know if there's anything there which is missing!

[2019-07-16 17:47] dmandarino commented on #623
Hi @designatednerd, do you have any idea will be the next release with this fix?
I can't use 0.11.0 because of this error and I really need this GET feature :/

[2019-07-16 18:25] gbrixey commented on #640
OK, I have deleted and rebuilt pretty much everything, and the crash has stopped happening. Something I neglected to mention before is that the app I am working on receives the Apollo dependency through another internal framework. I also rebuilt that internal framework and all its Carthage dependencies, which I had not tried before, and created a new binary of the internal framework. I'm not sure,

[2019-07-16 18:25] #640 closed

[2019-07-16 21:42] adamirowe commented on #423
Yes but I do not remember how honestly. Let me know if you need anything else from me.

[2019-07-16 21:42] #423 closed

[2019-07-17 05:35] jimisaacs commented on #442
Hello @designatednerd! I haven't looked at what is being generated in a while, but if it's still the same, then I'd assume what I put in the issue description is still relevant. There's some higher level difficulties I have had with the codegen, but those would be off topic here, as this issue is pretty explicit.

[2019-07-17 07:12] bidluo commented on #634
Bit of a hurdle, the current implementation relies on the server sending back an ID which refers to a subscriber on the client side. If the server doesn't, it just errors out, and most non apollo servers don't do this anyway.
I tried implementing this mechanism on the server side but the point of this client change is to reduce friction and the server changes was getting complex as is.

I've been

[2019-07-17 10:04] designatednerd commented on #640
No bother! Sorry I don't have better advice than "Have you tried turning this that and the other thing off and on again?" 😆

[2019-07-17 10:07] designatednerd commented on #623
Will be in 0.12.0 - you can point Carthage or Cocoapods at the specific commit where this is fixed if you're really stuck in the meantime!

[2019-07-17 15:19] designatednerd commented on #547
Shipping with 0.12.0!

[2019-07-17 15:19] #547 closed

[2019-07-17 15:21] designatednerd commented on #102
Swift 5 Result shipping with 0.12.0!

[2019-07-17 15:21] #102 closed

[2019-07-17 15:36] michelekorell commented on #430
Hello, after some test it seem to be ok with 0.11.1 I didn't found anymore duplicated values. But i had a lot of problems to generate code with proposed build step because actually i'm working with nvm
Finally i resolve my problems by switching on node 8 and running manually apollo codegen command.

Thanks for all!

[2019-07-17 15:36] #430 closed

[2019-07-17 16:09] designatednerd commented on #537
Shipping with 0.12.0!

[2019-07-17 16:09] #537 closed

[2019-07-17 16:13] designatednerd commented on #442
We are going to have a few changes landing soonish, but I'll put this in to take a look at when we're dealing with that.

[2019-07-17 20:51] designatednerd opened #645 "Create Roadmap document"
I realize this is a `TODO` to make more `TODO`s, but I should really write up the longer term plans I have for this repo at some point soon once I've got existing issues a little more under control.

[2019-07-18 02:40] jacobmoncur commented on #140
@designatednerd Bumping to 0.11.0, implementing the `PreflightDelegate`, and not tearing down our client worked marvelously and we are no longer getting the crash. Thanks!

[2019-07-18 08:23] designatednerd commented on #140
Huzzah! I'm gonna close this out then. Thanks for letting us know!

[2019-07-18 08:23] #140 closed

[2019-07-18 08:31] designatednerd commented on #634
I agree the first option sounds like it could be a serious tangle in terms of error handling.

I'd say a flag is probably the better option - you'll know when you create the client whether you're going to want to check for IDs or not, and that almost certainly won't change through the lifecycle of the client. If it's known at creation time and never changes, that's a much better case for a flag pa

[2019-07-18 09:28] ni4ka commented on #611
Mostly, we are using those initializers for tests, but also we can get `id` from the other request and use the `ProductFrag` with just a few fields for the query to get the full product info

[2019-07-18 20:54] designatednerd commented on #637
This was addressed by #647, and will ship with 0.13.0. I'll close this out as soon as that version ships.

[2019-07-18 20:55] designatednerd commented on #638
I'm going to close this out as #637 has gotten us back on track with the current `apollo-tooling` CLI client.

In the future if there's any divergence, I stand by `using the same version of the CLI as you're using to generate the code is probably going to run the smoothest.`

[2019-07-18 20:55] #638 closed

[2019-07-18 20:59] designatednerd commented on #549
@gaoshanyu Does either @ScottRobbins suggestion for implementing a wrapper to make sure there's only ever one cache, my suggestion to use a singleton, or the ability to change headers without having to change clients address this issue?

[2019-07-18 21:04] designatednerd commented on #225
Changes changes we made recently to the [docs for adding a code generation build step](https://www.apollographql.com/docs/ios/installation/#adding-a-code-generation-build-step) should address this - I tested it out with a project I super-creatively named "Carthage Test" and it worked great.

(Note that there's a couple changes in there of parameter names that won't work until 0.13.0 ships, but I'm

[2019-07-18 21:05] designatednerd commented on #225
I'm gonna close this out - if you run into further codegen issues, please open a new issue and let us know!

[2019-07-18 21:05] #225 closed

[2019-07-18 21:17] eliotfowler commented on #225
Thanks, Ellen! And thanks for all your hard work on Apollo. I'm excited to see all the forthcoming changes.

[2019-07-19 01:27] rval commented on #464
Thanks @designatednerd, appreciate the update.

I’m not sure what Apollo Client for iOS uses for websockets, but just a note that [iOS 13 introduces built in support for websockets](https://developer.apple.com/videos/play/wwdc2019/712/), in case it’s helpful for any future updates.

[2019-07-19 03:20] rajkhatri commented on #627
sounds good! thanks for keeping it open and addressing it when you are able to

[2019-07-19 08:03] designatednerd commented on #464
@rval It uses [Starscream](https://github.com/daltoniam/starscream) under the hood. Unfortunately we have to support several versions back (currently all the way back to 9) so it'll be a bit before we're able to use any of the New Hotness™ for iOS 13.

@stevenp Does all this feedback answer your question?

[2019-07-19 08:17] designatednerd commented on #231
I believe output file path *should* be relative to the directory where you're running the command. In theory if you want to run the command in your `SRCROOT` and then have the `API.swift` file output to `SRCROOT/Models`, you should be able to just say `--output "Models/API.swift"`

I'm gonna go ahead and close this out since we've had some pretty significant changes to the instructions for buildin

[2019-07-20 00:40] ZevEisenberg opened #650 "Clearing SQLite cache leaves traces of information"
Steps to reproduce:

1. Include the SQLite cache subspec in your Podfile like this:
[code]
1. Create an Apollo Client like this:
[code]

1. Run the app.
1. Before making any requests, observe the size of the cache SQLite file on disk. It’s probably about 20 KB.
1. Make some GraphQL requests.
1. Observe that the SQLite file has grown, let’s say to 100 KB.
1. Call `client.clearCache()`, which calls

[2019-07-20 16:40] designatednerd commented on #622
Opened a [PR on SourceDocs](https://github.com/eneko/SourceDocs/pull/20) to get the full behavior we're looking for.

[2019-07-22 07:01] bidluo commented on #634
Yeah nah I honestly don't think this is feasible at all, multiple WebSocket clients just straight didn't work and I can't think of any other way to get server -> client working. I have a feeling that it's related to https://github.com/daltoniam/Starscream/issues/551 which has fix but is yet to be merged

I'm tempted to go down the first route with a flag and let the subscriptions figure out what t

[2019-07-22 08:29] designatednerd commented on #634
Yeah any info you can share there would be helpful - the WebSocket stuff was contributed by the community and I'm still honestly wrapping my head around it.

[2019-07-22 09:42] designatednerd commented on #101
@jync Does the documentation for [Caching and Watching Queries](https://www.apollographql.com/docs/ios/watching-queries/) help at all here?

[2019-07-22 11:32] Dino4674 opened #656 "Can not build project, run script fails"
I am following instructions on: https://www.apollographql.com/docs/ios/installation/

I installed newest Apollo pod (0.12.0)
I installed apollo version 1.9.0 so that I don't get another version installed locally in my Xcode project.

I added new run script phase as described but I am getting this issue:

[code]

I tried multiple Apollo pod versions and Apollo CLI versions and can not make it to wo

[2019-07-22 12:24] designatednerd commented on #656
Ah yeah - you need the 1.9.x version until `0.13.0` is released. [Here is the documentation as of when `0.12.0` was released](https://github.com/apollographql/apollo-ios/blob/0.12.0/docs/source/installation.md#adding-a-code-generation-build-step) - that should work a lot better.

Sorry, updated those docs at the same time as I updated stuff that's going out with 0.13.0 but it's not shipped yet!

[2019-07-22 12:45] Dino4674 commented on #656
Thanks for the response!
I got it working now and have API.swift file generated. Only difference was in the run script.
I can continue my GraphQL tutorial now :D

[2019-07-22 12:46] designatednerd commented on #511
Since I haven't heard anything back here in a couple weeks and we're about to make some significant changes to codegen steps in `0.13.0` (particularly that we're going to catch back up with the current version of the Apollo CLI, which should make everyone's lives way easier), I'm gonna close this one out.

Once that ships, please open new issues for any problems you run into here. Thank you!

[2019-07-22 12:46] #511 closed

[2019-07-22 12:47] designatednerd commented on #397
@hankhong1205 You also may want to look at changes in #652 for cache clearing - please let us know if that helps at all!

[2019-07-22 12:51] designatednerd commented on #392
So after some looking into this, there is the `returnCacheDataAndFetch` option for caching. This immediately returns cached data and then attempts to fetch fresh data from the server. That's a bit of the reverse of what you were discussing, but it has the same effect of "If the fetch from the server fails, still show whatever local data exists, and then if both fail show the server error".

Does t

[2019-07-22 12:53] designatednerd commented on #656
Hooray! I'm going to leave this open until 0.13.0 ships for anyone else who runs into the same problem

[2019-07-22 12:54] designatednerd commented on #317
Hey there - since I haven't heard back in a couple weeks, I'm going to close this issue out. Please keep an eye out for some updated stuff going out with `0.13.0` including the ability to use an up-to-date Apollo CLI version. Please open a new issue if you're still running into problems. Thank you!

[2019-07-22 12:54] #317 closed

[2019-07-22 12:56] designatednerd commented on #540
Hey there - haven't heard back in a bit so I'm going to close this issue out.

Please keep an eye out for some of the changes that are about to ship with 0.13.0, that should help things a bit since it'll have the updated instructions and a more modern version of the CLI.

Please open a new issue if you're still having problems. Thank you!

[2019-07-22 12:56] #540 closed

[2019-07-22 12:57] designatednerd commented on #554
Since I haven't heard back in a couple weeks, I'm going to go ahead and close this issue out. Feel free to reopen or open a new issue if you're still encountering problems. Thank you!

[2019-07-22 12:57] #554 closed

[2019-07-22 13:05] rafalur commented on #656
@designatednerd I'm facing same issue. When do you plan to release 0.13.0?

[2019-07-22 13:07] designatednerd commented on #656
Shooting for tomorrow (23 July), but that depends on finishing up a couple PRs that are tagged with the `0.13.0` tag - those same instructions should get you up and running as well.

[2019-07-22 13:30] designatednerd commented on #268
Since I haven't heard back in a couple weeks on this, I'm going to close this one out. If you run into further problems, please open a new issue. Thank you!

[2019-07-22 13:30] #268 closed

[2019-07-22 13:31] ValCanBuild commented on #392
@designatednerd `returnCacheDataAndFetch` will first show cached data to the user and then update with the new one. I don't want that behaviour. I rather show a loading state, while the new data is fetched, and only fallback to the old data if fetching the new one fails.

Does that make sense?

[2019-07-22 13:54] victormihaita commented on #114
@designatednerd In our API we are using the `Upload` type-alias as an attribute in the mutation. So for example when updating a profile, we can pass the image file in the mutation as one of the parameters so we can update the profile image and the rest of the info in one step. Unfortunately, on our iOS client we cannot use it because Apollo doesn't support this `Upload` type for now.
Is it possibl

[2019-07-22 14:29] radekcep commented on #461
No luck, the same error... Did anyone find some solution?

[2019-07-22 14:37] designatednerd commented on #392
The **what** definitely makes sense - I'm not quite clear on why that's a better user experience than starting with old data and refreshing. I think getting a better understanding of that would probably help me prioritize this.

[2019-07-22 14:45] amol-c commented on #611
@designatednerd We require to create mock objects for unit testing. There is a related issue in the previous version of Apollo with the same issue that was resolved. Please find it below.

https://github.com/apollographql/apollo-ios/issues/52

[2019-07-22 14:53] designatednerd commented on #461
@radekcep What is the command you are using within Xcode to run the build phase?

[2019-07-22 14:55] designatednerd commented on #114
@victormihaita I'd certainly take a look at a PR implementing that addition, but as far as I can tell, it's not part of the [final multi-part request spec](https://github.com/jaydenseric/graphql-multipart-request-spec), which is what we're adding support for with #626.

[2019-07-22 15:03] victormihaita commented on #114
@designatednerd I know is not. Is just a topic related to this PR and I thought it would be the best place to mention it :)

[2019-07-22 15:08] designatednerd commented on #114
Fair enough - I think one thing to be aware of in terms of a PR is looking at how this functionality is handled on other clients - not just for iOS but other GraphQL clients, especially in the absence of a spec for stuff like this. We can discuss further on [Spectrum](https://spectrum.chat/apollo/apollo-ios?tab=posts) if you'd like!

[2019-07-22 15:10] designatednerd commented on #611
I'll need to dive into some of the codegen on this one - that seems to be where the change was made.

[2019-07-22 15:14] radekcep commented on #461
@designatednerd I'm running exactly what is stated in the setup:
`
SCRIPT_PATH="${PODS_ROOT}/Apollo/scripts"
cd "${SRCROOT}/${TARGET_NAME}"
"${SCRIPT_PATH}"/check-and-run-apollo-cli.sh codegen:generate --target=swift --includes=./*.graphql --localSchemaFile="schema.json" API.swift
`

I have clean versions of Apollo CLI (-g 2.16.0) and pod (0.12.0) installed.

Yet I always end up with:
`
›   Warnin

[2019-07-22 15:18] designatednerd commented on #461
If you're on v0.12.0 of the pod, it'll ignore your global install and try to locally install `1.9.x` of the CLI client. Please check out [my response here](https://github.com/apollographql/apollo-ios/issues/656#issuecomment-513769291) on changes to the build script that are shipping with `0.13.0` (hopefully tomorrow 23 July) - if you use the build script linked there, that should work well with `0

[2019-07-22 15:34] radekcep commented on #461
Yes, that seems to help a little, but now the script just hangs on different error: `Cannot read property 'getMutationType' of undefined`

[2019-07-22 15:52] designatednerd commented on #461
Yeah that seems like a different error - can you open a new issue for that @radekcep and we'll try to figure out what's going on?

[2019-07-22 15:55] radekcep commented on #461
@designatednerd you're right. And big thank you for your help with this one!

[2019-07-22 16:15] cameroncooke commented on #188
When we investigated GraphQL as a solution and alternative to a Restful API  to be consumed by native and web clients we mistakenly assumed mocking was out of the box due to this article https://www.apollographql.com/docs/graphql-tools/mocking/ and others in Google.

Only when we went all in did we realise that only the web folks are able to take advantage of...

Well, only if you're using JavaScr

[2019-07-22 16:21] cameroncooke commented on #188
Two issues with this:

1. With anything other than a trivial graph as shown in the example is going to be unwieldy to maintain using the literal dictionary Swift syntax.
2. A UI test can't change the system under test, that's kind of the point so injected mocked data into the cache is not an option from the test runner.

[2019-07-22 16:29] designatednerd commented on #188
One thing I'm going to be looking at after we get 0.13 out the door is potentially making it possible to pass in a `URLSession`. That way you can mock out responses with tools like [OHHTTPStubs](https://github.com/AliSoftware/OHHTTPStubs) or [VOKMockURLProtocol](https://github.com/vokal/VOKMockUrlProtocol), or some other URL protocol of your own design.

Easier mocking is a lower-down reason on th

[2019-07-22 16:51] cameroncooke commented on #188
We already do this, we've got our own networking framework which has stubing built-in and we've got our own custom `NetworkTransport` that uses our networking framework.

But it still has the following disadvantages:

1. It's not much use for UI tests unless we somehow change the app under test which kind of defeats the purpose of UI black box testing.
2. Works okay for Unit Testing but is very fr

[2019-07-22 18:56] dmandarino commented on #656
Same here

[2019-07-22 19:59] designatednerd commented on #656
@dmandarino Are you able to build with the [instructions from 0.12.0](https://github.com/apollographql/apollo-ios/blob/0.12.0/docs/source/installation.md#adding-a-code-generation-build-step)?

[2019-07-22 20:34] dmandarino commented on #656
@designatednerd this one worked for me. But I had to uninstall apollo, install 1.9. Then, using those [instructions from 0.12.0](https://github.com/apollographql/apollo-ios/blob/0.12.0/docs/source/installation.md#adding-a-code-generation-build-step) it worked. But if I update apollo to 2.14 it doesn't work. Also, if I follow [this Apollo's doc](https://www.apollographql.com/docs/ios/installation/)

[2019-07-22 20:45] designatednerd commented on #656
Yeah this one's on me - in the future I'll make sure to leave old docs up, especially around build stuff, until the new stuff ships. Got a couple more things I'm going to try to shove in 0.13.0 tomorrow morning but then I'm shipping it and everything will be on the same page.

[2019-07-23 07:32] designatednerd commented on #188
Personally I'd call anything where you're mocking out the API layer gray-box testing rather than black-box testing, but that's probably more of a philosophical argument than a relevant point here.

In terms of purely black-box testing, especially if you're using XCUI, you're right, this is a total pain in the ass because XCUI tests run out of process and changes have to be made within the shipping

[2019-07-23 07:59] ni4ka commented on #611
Thank you! Can you please specify when approximately you can get back to us regarding this?

[2019-07-23 08:12] hariszaman commented on #554
Thank you for your help. I was using the same method but an older version of Apollo that didn't have store as public variable on client. After the update I can access it and everything works fine.

[2019-07-23 10:29] designatednerd commented on #656
0.13.0 is now available! Closing this out, please open a new issue if you're still having problems with 0.13.0!

[2019-07-23 10:29] #656 closed

[2019-07-23 10:29] designatednerd commented on #375
Shipped with 0.13.0!

[2019-07-23 10:29] #375 closed

[2019-07-23 10:30] designatednerd commented on #114
Uploads conforming to the multi-part request spec have shipped with 0.13.0 - if you have further needs, please open a new issue or even better, open a PR 😄

[2019-07-23 10:30] #114 closed

[2019-07-23 10:31] designatednerd commented on #650
Optional support for `VACUUM;` has shipped with 0.13.0 - please open a new issue if there are any additional problems. Thank you!

[2019-07-23 10:31] #650 closed

[2019-07-23 10:31] designatednerd commented on #622
Shipped with 0.13.0!

[2019-07-23 10:31] #622 closed

[2019-07-23 10:33] designatednerd commented on #637
This has shipped with 0.13.0!

[2019-07-23 10:33] #637 closed

[2019-07-23 10:34] designatednerd commented on #577
Hello! Since I haven't heard back on this question in a couple weeks I'm going to close it out - please feel free to reopen or open a new issue if you're still having problems!

[2019-07-23 10:34] #577 closed

[2019-07-23 10:50] designatednerd commented on #611
I don't have an exact timeline (partly because I am The Suck at Typescript, where everything is presently generated) but I'll see what I can figure out this week.

[2019-07-23 11:20] Dino4674 opened #660 "Downloading schema.json from schema defined by SDL"
I am serving this file on a local server:
`schema.graphql`
[code]

and I use this command to download it in `.json` format.

`apollo schema:download --endpoint=http://localhost:8080/schema.graphql schema.json`

This is the response I get:

[code]

Is there a way to use schema defined by SDL inside Apollo library or only JSON format is supported? Thanks

[2019-07-23 11:23] designatednerd commented on #660
Can you try this with v0.13.0- looks like you're running 0.12 or lower there, and we've updated things to use the current version of the Apollo CLI, which I *think* will work better with this.

[2019-07-23 11:24] Dino4674 commented on #660
I tried to update Apollo pod but it still installed version 0.12. Is v0.13 published?

[2019-07-23 11:27] cameroncooke commented on #188
Yeah Apple have never seemed that invested in testing in general. I kind of understand the reasons for the out-of-process approach `XCUITest` uses, it's basically the closest to how a user will interact with an app. They have no access to the process of inner workings but it's a pain for feature testing. Will take a look at `KIF` might be an option.

[2019-07-23 11:31] designatednerd commented on #660
Yep, just published a couple hours ago - try running `pod outdated` - that forces a fetch of the up to date specs repo from `trunk`. If it's not showing up there, please let me know. I should have screenshotted the little 🚀bit 😃

[2019-07-23 11:36] designatednerd commented on #188
It basically comes from XCUI being adapted from a black-box JS testing framework they used to use for QA, which to me is a *wholly* different use case than developer testing. I've probably complained about it enough in this thread already though 😛

[2019-07-23 11:43] Dino4674 commented on #660
I got the 0.13 pod now and also I updated apollo to 2.16.0.
I updated my Build script and get this error if I use `schema` file like in my first post above:

[code]

[code]

Am I missing something here?

[2019-07-23 12:09] designatednerd commented on #660
`Long` is a custom scalar for GraphQL - can you try using the `--passthroughCustomScalars` parameter?

[2019-07-23 12:50] Dino4674 commented on #660
I tried with adding that parameter, I get the same error:

[code]

[2019-07-23 13:06] designatednerd commented on #660
Checked in with a colleague and he recommended making sure that the schema includes a `scalar Long` to actually define `Long` as a custom scalar. Is that in there?

[2019-07-23 13:16] Dino4674 commented on #660
I tried with adding `scalar Long`. Here is the complete `schema.gql`:

[code]

This is the error I am seeing now:
[code]

[2019-07-23 13:18] designatednerd commented on #660
Do you have any `.graphql` files in your project? That seems to be what it's complaining about.

[2019-07-23 13:35] Dino4674 commented on #660
I do have one and it is empty. I tried with adding a custom scalar to it `scalar SomeCustomScalar` but I still get the same error (0 files associated...).

The script I am using:
[code]

Looks like it just does not sees the `.graphql` files.

[2019-07-23 14:06] Dino4674 commented on #660
If I rename `schema.gql` to `schema.graphql` and update script with `--localSchemaFile="schema.graphql"` I get different errors (pasted bellow). In what format is apollo script expecting schema file?

[code]

[2019-07-23 14:13] victormihaita commented on #660
I get the same error by modifying the build phase. We have many `.graphql` files and it used to work before updating the pod and the build phase.

[2019-07-23 14:23] Dino4674 commented on #660
@victormihaita what is the format of your `schema` file?

[2019-07-23 16:50] designatednerd commented on #660
`.graphql` is for the files which contain queries/mutations/fragments/subscriptions which need to be added, not for the schema. You should keep the `schema` as a `.json` file, but if it doesn't see any queries to use to generate code, you'll get the `No operations or fragments found to generate code for` error.